<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head th:fragment="mainHead">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<th:block layout:fragment="customHead"></th:block>
    <!-- <title>Main</title> -->

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
    $(document).ready(function(){
    	let SESSION_EMP_NO = '[[${session.EMP_NO}]]';
    	if(SESSION_EMP_NO == ''){
    		alert('로그인 해주세요.');
    		location.href="/loginView";
    	}else{}
    });
	</script>
  </head>
</html>