<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>거래처코드 등록</title>
</th:block>
<th:block layout:fragment="customBody">

	<!-- 검색부분 start -->
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="x_panel">
			<div class="x_content">
				<label for="ex3">검색조건</label><br>
				<table>
					<tr>
						<td>고객구분</td>
						<td><select>
								<option value="">ALL</option>
								<option value="1">건설사</option>
								<option value="2">시행사</option>
								<option value="3">공사/공단</option>
								<option value="3">정부기관</option>
								<option value="1">건축설계사무소</option>
								<option value="2">외주협력업체</option>
								<option value="3">조합(재개발,재건축)</option>
						</select></td>
						<!-- <td>
						<input type="number">
					</td> -->
					</tr>
					<tr>
						<td>고객명</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>사업자등록번호</td>
						<td><input type="text"></td>
						<td><button>검색</button></td>
					</tr>
				</table>
				<!-- 검색부분 end -->

				<div class="x_title"></div>
<!-- 결과부분 start -->
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="30%">사업자등록번호</th>
							<th>고객명</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="background-color: #fff9df">1370324950</td>
							<td>(주)가우디자인</td>
						</tr>
						<tr>
							<td style="background-color: #fff9df">12345647</td>
							<td>(주)건일엠이씨</td>
						</tr>
						<tr>
							<td style="background-color: #fff9df">33018454</td>
							<td>(주)건원도시건축</td>
						</tr>
					</tbody>
				</table>
				<!-- 결과부분 end -->
				<div class="x_title"></div>
			</div>
		</div>
	</div>
	
	
<!-- start -->

<div class="col-md-9 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bars"></i> 거래처코드등록 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">기본정보</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">인적사항</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                            synth. Cosby sweater eu banh mi, qui irure terr.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                            booth letterpress, commodo enim craft beer mlkshk aliquip</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
<!-- end -->
	

</th:block>
</html>