<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>카드결재내역입력</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
	 <div class="col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>카드결재내역입력 화면</h3>
              </div>
		 <div class="x_panel">
              <div class="x_title">
              
             	<h4>검색조건</h4>

                <div class="clearfix"></div>
              <div class="x_content">
                <div class="row">
                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                           청구년월 <input type="date" placeholder="청구년월">
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                  	  카드사  <select>
                        
                            <option>== 결재카드 선택 ==</option>
                            <option>카카오뱅크</option>
                            <option>롯데카드</option>
                            <option>비씨카드</option>
                            <option>삼성카드</option>
                            <option>신한카드</option>
                            <option>우리카드</option>
                            <option>하나카드</option>
                            <option>현대카드(다이너스 클럽)</option>
                            <option>KB국민카드</option>
                            <option>IBK기업은행</option>
                            <option>NH농협은행</option>
                            <option>전북은행</option>
                    </select>
                  </div>

                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                   	 카드번호  <input type="text"><button class="fa-sort-desc"></button>
                  </div>

                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                              사원번호  <input type="text"><button class="fa-sort-desc"></button>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                           전체 적용check <input type="checkbox">
                  </div>
              </div>
            </div>
            </div>
            <div>
                <h4>&nbsp;전표이관</h4>
	                <div class="col-md-6 col-sm-6 col-xs-12">
	                  <div id="gender" class="btn-group" data-toggle="buttons">
	                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
	                      <input type="radio" name="slip" value="exist"> &nbsp; 유 &nbsp;
	                    </label>
	                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
	                      <input type="radio" name="slip" value="noneexist"> 무
	                    </label>
	                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
	                      <input type="radio" name="slip" value="all"> ALL
	                    </label><br><br>
	                    <button type="submit" >이관전표생성</button>
	                  </div>
	                </div>
             </div>
                </div>
             <div class="x_panel">
              <div class="x_title">
             	 <h4>엑셀파일 업로드</h4>
              </div>
              <div class="x_content">

                <div class="row">
                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                   <input type="text" placeholder="엑셀파일첨부" class="form-control" name="excel-file" ><input type="file">
                  </div>
				</div>
              </div>
             </div>
             <div class="x_panel">
              <div class="x_title">
              <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    	전표일자<input type="date" class="col-right-3 form-group">
                      <thead>
                      <tr class="headings">
                      		<th>
                              	전체선택<input type="checkbox" id="check-all" class="fa-check">
                            </th>
                        <tr>
                          	<td>적용 check</td>
                          	<td>부서명</td>
                          	<td>사원명</td>
                          	<td>카드번호</td>
                          	<td>이용일자</td>
                          	<td>가맹점</td>
							<td>승인금액</td>
							<td>계정과목</td>
							<td>PJT명</td>
							<td>적요</td>
							<td>과세정보</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="m : ${list}">
							<td th:text="${m.empNo}"></td>
							<td th:text="${m.korName}"></td>
							<td th:text="${m.sexGb}"></td>
						</tr>
                      </tbody>
                    </table>
					
					
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
