<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>2.1.1 사업수행 결정서 입력 화면</title>
	</th:block>
	<th:block layout:fragment="customBody">
	
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>좌 <small>사업수행 결정서 입력 화면</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>일련번호</th>
                          <th>11111</th>
                          <th>11111</th>
                          <th>     </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">프로젝트</th>
                          <td>(프로젝트번호)</td>
                          <td><input type="text"></td>
                          <td></td>
                        </tr>
                        <tr>
                        
                        
                        
                          <th scope="row">의뢰일자</th> 
                          <td><input type="date"></td>
                          <td>정보취득자</td>
                          <td>취득자 검색버튼</td>
                        </tr>
                        <tr>
                          <th scope="row">완료예정일</th> 
                          <td><input type="date"></td>
                          <td>수주책임자</td>
                          <td>수주책임자 검색버튼</td>
                        </tr>
                        <tr>
                          <th scope="row">완료예정일</th> 
                          <td><input type="date"></td>
                          <td>수주책임자</td>
                          <td>수주책임자 검색버튼</td>
                        </tr>
                        <tr>
                          <th scope="row">사업분류</th> 
                          <td><select>
                          	<option>신축</option>
                          	<option>증축</option>
                          	<option>리모델링</option>
                          	<option>재건축</option>
                          	<option>재개발</option>
                          </select></td>
                          <td>관리임원</td>
                          <td>관리임원 검색버튼</td>
                        </tr>                                                                           
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>


              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>우 <small>사업수행 결정서 입력 화면</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>입력일자</th>
                          <th>07/08/25</th>
                          <th>승인일자</th>
                          <th>07/08/17</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">발주처</th>
                          <td>거래처코드검색 버튼</td>
                          <td><select>
                          	<option>건설사</option>
                          	<option>시행사</option>
                          	<option>공사/공단</option>
                          	<option>정부기관</option>
                          	<option>건축설계사무소</option>
                          	<option>외주협력업체</option>
                          	<option>조합(재개발,재건축)</option>
                          	<option>기타</option>
                          </select>
                          </td>
                          <td>발주처 이름</td>
                        </tr>
                        <tr>
                          <th scope="row">담당자</th>
                          <td><input type="text"></td>
                          <td></td>
                          <td>전화<input type="text"></td>
                        </tr>
                        <tr>
                          <th scope="row">수주구분</th>
                          <td><select>
                          	<option>공공사업</option>
                          	<option>민간사업</option>
                          </select></td>
                          
                          <td>  </td>
                          
                          <td><select>
                          	<option>발주의뢰</option>
                          	<option>저가심의</option>
                          	<option>적격심사</option>
                          	<option>현상설계</option>
                          	<option>지명현상</option>
                          	<option>TK</option>
                          	<option>기술제안</option>
                          	<option>대안입찰</option>
                          	<option>PF</option>
                          	<option>BTL</option>
                          </select></td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              
              
              <div class="x_panel">
              <div class="x_title">
                <h2>Form Input Grid <small>form input </small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-6" class="form-control">
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-6" class="form-control">
                  </div>


                  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-4" class="form-control">
                  </div>

                  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-4" class="form-control">
                  </div>

                  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-4" class="form-control">
                  </div>


                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-3" class="form-control">
                  </div>

                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-3" class="form-control">
                  </div>

                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-3" class="form-control">
                  </div>

                  <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-3" class="form-control">
                  </div>


                  <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-2" class="form-control">
                  </div>

                  <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-2" class="form-control">
                  </div>

                  <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-2" class="form-control">
                  </div>

                  <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-2" class="form-control">
                  </div>

                  <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-2" class="form-control">
                  </div>

                  <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-2" class="form-control">
                  </div>


                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>

                  <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-1" class="form-control">
                  </div>
                </div>

              </div>
            </div>
	</th:block>
</html>