<!-- 4.05 휴가 신청 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>휴가신청 List</title>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		
		<th:block th:include="layout/customHead"></th:block>
<head>

	<script>
	
	// 한 행 클릭 시 이름, 직급, 사원번호 출력
	function detail2(SESSION_EMP_NO) {	
		console.log('개인정보 조회 =>'+SESSION_EMP_NO);
		$.ajax({
            url:'/person/personInsaEmployeeView',
            type:'GET',           	           
        	data :{OUT_DT3:"",EMP_NO:SESSION_EMP_NO,KOR_NM:"",AUDIT_TM:"",JIKGUP_NM:"",JIKCHK_NM:"",IN_PHONE_NO:"",DEPT_NM:"",SEX_GB:""},
    		 	success:function(data){  
            	console.log('사원 정보 data=>'+data);
            	$('#JIKGUP_NM1').val(data[0].JIKGUP_NM);
            	$('#JIKGUP_NM2').val(data[0].JIKGUP_NM);
            	$('#EMP_NO1').val(data[0].EMP_NO);
            	$('#EMP_NO2').val(data[0].EMP_NO);
            	$('#KOR_NM1').val(data[0].KOR_NM);  	
            	$('#KOR_NM2').val(data[0].KOR_NM);  	
            	$('#DEPT_NM1').val(data[0].DEPT_NM);  
            	$('#DEPT_NM2').val(data[0].DEPT_NM);  
            }
        });
	} 
	// 한 행 클릭 시 detail
	function detail(emp_NO){
		console.log('직원번호 '+emp_NO);
		$.ajax({
			url:'/kuntae/breakApplyView2',
			type:'GET',
			data:{EMP_NO:emp_NO},
			success:function(data){
				$('#detail').empty();
				$(data).each(function(index,item){
					console.log(data);						
					$('#detail').append('<tr><td>'+item.APP_DATE1.substring(0,4)+'년'+item.APP_DATE1.substring(4,6)+'월'+item.APP_DATE1.substring(6,8)+'일'+' ~ '+item.APP_DATE2.substring(0,4)+'년'+item.APP_DATE2.substring(4,6)+'월'+item.APP_DATE2.substring(6,8)+'일'+'</td><td>'+item.APP_RMK+'</td><td>'+item.CONFIRM+'</td></tr>');			
					
					
				});
			}
		});
	}	
		// 휴가 신청 리스트 출력  
		$(document).ready(function(){			
			let SESSION_EMP_NO = '[[${session.EMP_NO}]]';
			console.log('로그인 한 사원번호 : '+SESSION_EMP_NO); 
			if(SESSION_EMP_NO == '') {
				SESSION_EMP_NO = '없음';
				alert('로그인 후 신청 가능합니다');
			//2.2 사원정보가 있으면 세션값 정보로 검색	
			}else{	
				detail2(SESSION_EMP_NO);
				
				$.ajax({
					url:'/kuntae/breakApplyView2',
					type:'GET',
					data:{EMP_NO:SESSION_EMP_NO},
					success:function(data){	
						if(SESSION_EMP_NO==''){
							alert('휴가신청 내역이 없습니다.');
						}
					console.log('개인리스트 data =>'+data[0].EMP_NO);
					$('#list').empty();
					$(data).each(function(index,item){	
						$('#list').append('<tr><td data-toggle="modal" data-target="#ok" onclick="detail('+item.EMP_NO+')">'+item.APP_DATE1.substring(0,4)+'년'+item.APP_DATE1.substring(4,6)+'월'+item.APP_DATE1.substring(6,8)+'일'+' ~ '+item.APP_DATE2.substring(0,4)+'년'+item.APP_DATE2.substring(4,6)+'월'+item.APP_DATE2.substring(6,8)+'일'+'</td>'+'</td><td data-toggle="modal" data-target="#ok" onclick="detail('+item.EMP_NO+')">'+item.APP_RMK+'</td><td data-toggle="modal" data-target="#ok" onclick="detail('+item.EMP_NO+')">'+item.CONFIRM+'</td></tr>');				
			
					});
					}
				});
			
			console.log('휴가 신청 List 불러오기 ');
			}
			
			 // 휴가 신청으로 값가지고 넘어가기 
			 // url이 모델이 담겨있을 때에는 datType='json'을 쓰면 안 넘어감.
		     $('#btn_apply').click(function(){
				let EMP_NO = $('#EMP_NO1').val();		
				console.log('휴가 신청 값 담기 성공!!'+EMP_NO);
	    		location.href="/kuntae/breakApplyWriteView?EMP_NO="+EMP_NO;
		    }); 	 
		});	    	 

	
	</script>
</head>
	</th:block>
	<th:block layout:fragment="customBody">
<font color="black">
	<div class="col-md-9 col-xs-12" style="color:black;">
        <div class="page-title">
			<div class="title_left">
				<h2><b>휴가 신청</b></h2>
				<h5></h5>
				<h5><font color= "gray"><b>4.근태 관리 &nbsp;&gt;&nbsp;&nbsp;4.5 휴가 신청</b></font></h5>
			</div>
		</div>
    </div>
	<div class="x_content" style="text-align: right">
			<div class="btn-group" >
				<button class="btn btn-default" type="reset" disabled="disabled">조회</button>
				<button class="btn btn-default" type="reset" disabled="disabled">입력</button>
				<button class="btn btn-default" type="button" disabled="disabled">수정</button>
				<button class="btn btn-default" type="button" disabled="disabled">삭제</button>
				<button class="btn btn-default" type="button" disabled="disabled">저장</button>
				<button class="btn btn-default" type="button" disabled="disabled">출력</button>
			</div>
	</div>
	
	<div class="x_panel" style="">
	 <div class="col-md-3 col-sm-3 col-xs-12">
<div class="x_panel">
        	<div class="x_title">	               	                                    	
            	<div class="x_content">
            		<div class="row">
            		 	<form >
              			<table class="table table-bordered" style="color:black;">
							<tbody><tr>
								<th>
	                  				<div class="col-md-12 col-sm-12 col-xs-12 form-group">          	
	                  					검색조건                
	                  				</div>                               				
		                  			<div class="col-md-4 col-sm-12 col-xs-12 form-group">
 										기간	 
 									<input type="date" id="WORK_DT" name="WORK_DT"> ~ <input type="date" id="END_DT" name="END_DT">
	                  				</div>                                    
			                  		<div class="col-md-2 col-sm-12 col-xs-12 form-group">
			                  		</div>
			             		</th>
		          			</tr>
             			</tbody>
             			</table>
         			</form>
         			</div>                                  
       			</div>
       		</div>
     	</div>
     </div>
     
	<div class="col-md-9 col-sm-12 col-xs-12">     
	    <div class="x_content">
        <div class="container">
	        <ul class="stats-overview">
	          <li>
	          	<span class="name" > 본부 </span>
	            <input type="text" style="width: 100px; text-align: end; border: none; background: transparent;" id="DEPT_NM1" name="DEPT_NM1" readonly> 
	           
	          </li>
	           
	          <li>
	            <span class="name"> 직급 </span>
	             <input type="text" style="width: 100px; text-align: end; border: none; background: transparent;" id="JIKGUP_NM1" name="JIKGUP_NM1" readonly>
	          </li>
	          <li class="hidden-phone">
	             <span class="name"> 사번 </span>
	           <input type="text" style="width: 100px; text-align: end; border: none; background: transparent;" id="EMP_NO1" name="EMP_NO1" readonly>
	          </li>
	          
	        </ul>
	        <ul class="stats-overview">
	          <li>
	            <span class="name"> 성명 </span>
	            <input type="text" style="width: 100px; text-align: end; border: none; background: transparent;" id="KOR_NM1" name="KOR_NM1" readonly>
	          </li>
	          <li>
	            <span class="name">  </span>
	           <input type="text" style="width: 100px; text-align: end; border: none; background: transparent;" id="LATE_TIME" name="LATE_TIME" readonly> 
	          </li>
	          <li class="hidden-phone">
	            <span class="name"> </span>
	            <span class="value text-success"></span>
	          </li> 
	        </ul>
			<br> 

			<br> 
	      
        </div>
       </div>
       </div>

     
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">

                  
                  <div class="x_content">
                    <!-- <p class="text-muted font-13 m-b-30">
                      DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                    </p> -->
                    
                    <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr>
                          <th>휴가신청날짜</th>
						  <th>사유</th>
						  <th>승인여부</th>
                        </tr>
                      </thead>
                      <tbody id="list">
                        <tr> <!-- th:each="b : ${data}" -->
	                          <!-- <td>
								 <th><input type="checkbox" id="check-all" class="flat"></th>
							  </td> 
	                          <td th:text="${b.DEPT_NM}"></td>
	                          <td th:text=${b.JIKGUP_NM}></td>
	                          <td th:text="${b.EMP_NO}"></td>
	                          <td th:text="${b.KOR_NM}"></td>
	                          <td th:text="${b.APP_GB_NM}"></td>
							  <td th:text="${b.APP_GB_NM_T}"></td>
							  <td th:text="${b.CONFIRM}"></td>-->
                        </tr>
                      </tbody>
                    </table>
                    <!--  <a href="/kuntae/breakApplyWriteView">
                    <button type="button" class="btn btn-success btn-sm" href="/kuntae/breakApplyWriteView">휴가신청</button>
					</a>  -->
                  </div>
                </div>
              </div>
             </div>
			</div>

	<!-- 디테일 modal -->

<div class="modal fade bs-example-modal-lg1"  tabindex="-1" role="dialog" aria-hidden="true" id="ok" >
   <div class="modal-dialog modal-lg" >
     <div class="modal-content modal-lg" >
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>

         </button>
         <h3 class="modal-title">휴가신청 List</h3>
       </div>     
       <table class="table table-striped table-bordered table-hover" style="text-align:center">	     	
	     	<thead style="text-align:center">
				<tr>
	        		<th>직급</th>
	        		<th>사번</th>
	        		<th>성명</th>
	        	</tr>
			</thead>
				<tr>
	        		<td><input type="text" style="width: 100px; text-align:center; border: none; background: transparent;" id="JIKGUP_NM2"></td>
	        		<td><input type="text" style="width: 100px; text-align:center; border: none; background: transparent;" id="EMP_NO2"></td>
	        		<td><input type="text" style="width: 100px; text-align:center; border: none; background: transparent;" id="KOR_NM2"></td>
	        	</tr>
			</tbody>
	     	<thead style="text-align:center">
	        	<tr>
	        		<th>휴가신청날짜</th>
	        		<th>사유</th>
	        		<th>승인여부</th>
	        	</tr>	        		        	        		
	        </thead>		              		
			<tbody id="detail" style="font-size: 14px; line-height: 25px">						
			
			<tbody id="detail2" style="font-size: 14px; line-height: 25px">						
				<tr>
	        	</tr>
			</tbody> 			
			
			</tbody>
			<tbody id="detail3" style="font-size: 14px; line-height: 25px">						
			</tbody> 
			
			</tbody>
			<tbody id="detail4" style="font-size: 14px; line-height: 25px">						
			</tbody>      				
       </table> 
       <div class="modal-footer">
		   <!-- <a href="/kuntae/breakApplyWriteView">  -->
          <button type="button" class="btn btn-success" id="btn_apply">휴가신청</button>
       	  <!-- </a> 
       </div>   	
     </div>	
   </div>
 </div>	
 	                               
<!-- / 디테일 modals -->			
			
			
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>	
</html>