<!-- 4.05.01휴가 신청 입력 Form -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>휴가신청서</title>
	<th:block th:include="layout/customHead"></th:block>
	
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script>

	
	$(document).ready(function(){
	// 1. 오늘날짜 넣기
	let date = new Date();
	let year = date.getFullYear();	//년도
	let month = date.getMonth()+1;	//월
	let day = date.getDate();		//일
	if((month+"").length<2) {
		month = "0" + month;
	}
	if((day+"").length<2) {
		day = "0" + day;
	} 
	let getToday = year+"-"+month +"-"+day;	// 오늘 날짜 (0000-00-00)

	// 검색날짜에 대입
	$('#WORK_DT1').val(getToday);   
	$('#WORK_DT2').val(getToday);
	
	let url = $(location).attr('href');
	console.log(url);
	let empNo = url.substring(url.length, url.length-8);
	
	console.log('휴가 신청 값 담기 성공!!'+empNo);
	$.ajax({
		url:'/person/personInsaEmployeeView',
		type:'GET',
		data :{OUT_DT3:"",EMP_NO:empNo,KOR_NM:"",AUDIT_TM:"",JIKGUP_NM:"",JIKCHK_NM:"",IN_PHONE_NO:"",DEPT_NM:"",SEX_GB:""},
		success:(data)=>{
			console.log("data =>"+data[0]);
        	$('#EMP_NO').val(data[0].EMP_NO);
        	$('#KOR_NM').val(data[0].KOR_NM); 
        	$('#JIKGUP_NM').val(data[0].JIKGUP_NM);
        	$('#DEPT_NM').val(data[0].DEPT_NM);    	
		}
	});
     
 });
	


	</script>
	</th:block>
	<th:block layout:fragment="customBody">
<font color="black">
	<div class="col-md-9 col-xs-12" style="color:black;">
        <div class="page-title">
			<div class="title_left">
				<h2><b>휴가 신청서</b></h2>
				<h5></h5>
				<h5><font color= "gray"><b>4.근태 관리 &nbsp;&gt;&nbsp;&nbsp;4.5 휴가 신청</b></font></h5>
			</div>
		</div>
    </div>
	<div class="x_content" style="text-align: right">
			<div class="btn-group" >
				<button class="btn btn-default" type="reset" disabled="disabled">조회</button>
				<button class="btn btn-default" type="reset">입력</button>
				<button class="btn btn-default" type="button" disabled="disabled">수정</button>
				<button class="btn btn-default" type="button" disabled="disabled">삭제</button>
				<button class="btn btn-default" type="button" disabled="disabled">저장</button>
				<button class="btn btn-default" type="button" disabled="disabled">출력</button>
			</div>
	</div>
	
	
	
<!-- 휴가신청서 -->
	<font color="black">	
	<div class="clearfix"></div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
			<h1>휴가신청서<small></small></h1>
				<div class="x_content" style="text-align: right">
					<span>신청일자</span>
					<input type="date" class="btn" style="color:black" name="WORK_DT2" id="WORK_DT2" readonly>				
				</div>
				<table class="table">
					<tbody id="list">
						<tr>
							<th>성명</th>
							<td >
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" id="KOR_NM" name="KOR_NM" readonly>	
								</div>
							</td>
							
							<th>사원번호</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" id="EMP_NO" readonly>
								</div>
							</td>
							
						</tr>

						<tr>
							<th>직급</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" id="JIKGUP_NM" readonly>
								</div>
							</td>

							<th>부서</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" id="DEPT_NM" readonly>
								</div>
							</td>
						</tr>

					</tbody>
				</table>
				
						<table class="table table-bordered">
							<tbody>
							<tr>
								<th>근태구분</th>
								<th class="sorting_asc" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 35%;" aria-sort="ascending" aria-label="First name: activate to sort column descending">
										<div class="radio">
											<label style="padding-left: 50px;"><input type="radio">휴가</label>
											<label style="padding-left: 50px;"><input type="radio">휴직</label>
											<label style="padding-left: 50px;"><input type="radio">교육훈련</label>
											<label style="padding-left: 50px;"><input type="radio">출장</label>
										</div>
										
									</th>
								<th>기간</th>
								<th><input type="date" max="2020-12-31" name="">부터
									<input type="date" max="2020-12-31" name="">까지
								</th>
								
							</tr>
							<tr>
								<th>프로젝트</th>
								<th>
									<div class="form-group">
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" ><button data-toggle="modal" data-target="#pjt"><i class="fa fa-search"></i></button>
									</div>
									</div>
								</th>
								<th>출장지</th>
								<th></th>
							</tr>
							<tr>
								<th>작업단계</th>
								<th></th>
								<th></th>
								<th><label style="padding-left: 50px;"></label></th>
							</tr>
							<tr>
								<th>사유(자세히 기록)</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr>
								<th>연락처</th>
								<th><input type="text" ></th>
								<th>비고</th>
								<th></th>
							</tr>
							
						</tbody></table>
			</div>
		</div>
<!-- /휴가신청서 -->


<!-- <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>휴가신청내역</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                    </p>
                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                      <thead>
                        <tr>
                         
                          <th>일자</th>
                          <th>근태구분</th>
                          <th>기간</th>
                          <th>사유</th>
                          <th>행선지</th>
                          <th>휴가일수</th>
                         
                        </tr>
                      </thead>


                      <tbody>
                        <tr>
                          
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                         
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          
                        </tr>
                        <tr>
						
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
 -->

			
<!-- 프로젝트 modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="pjt">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
         </button>
         <h4 class="modal-title" id="myModalLabel2">프로젝트 검색</h4>
       </div>
       <form action="/#" method="get">
			        <div class="modal-body">프로젝트 : <input type="text" name="profit" value=""></div>
			        
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <!-- <button type="submit" class="btn btn-success" >Save changes</button> -->
       </div>
       </form>
     </div>
   </div>
 </div>		                 
<!-- / 프로젝트 modals -->			
		
	</th:block>
		<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
	