<!-- 출퇴근기록부(개인별) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>kuntae</title>
		
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<th:block th:include="layout/customHead"></th:block>
	<!-- FullCalendar -->
	<link href="/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
	<link href="/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
	<head>
<script>



	/* 사원번호 검색*/
	$(document).ready(function(){
		console.log('출,퇴근(Total) 리스트 출력')
	     $('#btn_empno').click(function(){
	    	var EMP_NO = $('#EMP_NO').val();
	    	 $.ajax({
	            url:'/kuntae/recordTotal',
	            type:'GET',
	            dataType:'json',	           
	         	data : {EMP_NO : EMP_NO},
	            success:function(data){
	            	console.log('사원 번호 쿼리 성공!');
	                $('#list').empty();
	                $(data).each(function(index,item){ //each = foreach (반복문)
	                    $('#list').append('<tr>');
	                    $('#list').append('<td>'+item.dept_NM+'</td>');
	                    $('#list').append('<td>'+item.jikgup_NM+'</td>'); 
	                    $('#list').append('<td>'+item.kor_NM+'</td>'); 
	                    $('#list').append('<td>'+item.work_DT.substring(0,4)+'</td>');
	                    $('#list').append('<td>'+item.work_DT.substring(4,6)+'</td>');
	                    $('#list').append('<td>'+item.work_DT.substring(6,8)+'</td>');
	                    $('#list').append('<td>'+item.start_TIME+'</td>');
	                    $('#list').append('<td>'+item.end_TIME+'</td>');
	                    $('#list').append('<td>'+item.end_DT+'</td>');
	                    $('#list').append('</tr>'); 
	                });                   
	            }
	        });
	    });
	 });		
	
	/* 날짜 검색 */
	$(document).ready(function(){
		console.log('출,퇴근(Total) 날짜 출력')
		$("#btn_day").click(function(){
			let work_dt_format = $('#WORK_DT').val();
			let end_dt_format = $('#END_DT').val();
			
			let WORK_DT = work_dt_format.substr(0,4)+work_dt_format.substr(5,2)+work_dt_format.substr(8,2);
			let END_DT = end_dt_format.substr(0,4)+end_dt_format.substr(5,2)+end_dt_format.substr(8,2);
			console.log(WORK_DT +"날짜"+ END_DT);		
			
		$.ajax({
			url:'/kuntae/recordDateSearchProcess',
            type:'GET',
            dataType:'json',
			data:{WORK_DT:WORK_DT,END_DT:END_DT},
			success : function(data) {
            	console.log('날짜 검색 쿼리 성공!');
                $('#list').empty();
                $(data).each(function(index,item){ //each = foreach (반복문)
                    $('#list').append('<tr>');
                    $('#list').append('<td>'+item.dept_NM+'</td>');
                    $('#list').append('<td>'+item.jikgup_NM+'</td>'); 
                    $('#list').append('<td>'+item.kor_NM+'</td>'); 
                    $('#list').append('<td>'+item.work_DT.substring(0,4)+'</td>');
                    $('#list').append('<td>'+item.work_DT.substring(4,6)+'</td>');
                    $('#list').append('<td>'+item.work_DT.substring(6,8)+'</td>');
                    $('#list').append('<td>'+item.start_TIME+'</td>');
                    $('#list').append('<td>'+item.end_TIME+'</td>');
                    $('#list').append('<td>'+item.end_DT+'</td>');
                    $('#list').append('</tr>'); 
                });                   			
			}
		});
	});
});
	
	
	/* 전체 검색 */
	$(document).ready(function(){
		console.log('전체  검색')
		$("#btn_search").click(function(){
			let work_dt_format = $('#WORK_DT').val();
			let end_dt_format = $('#END_DT').val();
			let EMP_NO = $('#EMP_NO').val();
	
			let WORK_DT = work_dt_format.substr(0,4)+work_dt_format.substr(5,2)+work_dt_format.substr(8,2);
			let END_DT = end_dt_format.substr(0,4)+end_dt_format.substr(5,2)+end_dt_format.substr(8,2);
			console.log("날짜=>" + WORK_DT + END_DT +"사원번호=>" + EMP_NO);		
			
		$.ajax({
			url:'/kuntae/recordTotalSearch',
            type:'GET',
            dataType:'json',
			data:{WORK_DT:WORK_DT,END_DT:END_DT,EMP_NO:EMP_NO},
			success : function(data) {
            	console.log('날짜 검색 쿼리 성공!');
                $('#list').empty();
                $(data).each(function(index,item){ //each = foreach (반복문)
                    $('#list').append('<tr>');
                    $('#list').append('<td>'+item.dept_NM+'</td>');
                    $('#list').append('<td>'+item.jikgup_NM+'</td>'); 
                    $('#list').append('<td>'+item.kor_NM+'</td>'); 
                    $('#list').append('<td>'+item.work_DT.substring(0,4)+'</td>');
                    $('#list').append('<td>'+item.work_DT.substring(4,6)+'</td>');
                    $('#list').append('<td>'+item.work_DT.substring(6,8)+'</td>');
                    $('#list').append('<td>'+item.start_TIME+'</td>');
                    $('#list').append('<td>'+item.end_TIME+'</td>');
                    $('#list').append('<td>'+item.end_DT+'</td>');
                    $('#list').append('</tr>'); 

                });                   			
			}
		});
	});
});
	
	
	</script> 
	
	</head>
	</th:block>
	<th:block layout:fragment="customBody">

<font color="black">
	<div class="col-md-9 col-xs-12" style="color:black;">
        <div class="page-title">
			<div class="title_left">
				<h2><b>4. 근태 관리</b></h2>
				<h5></h5>
				<h5><font color= "gray"><b>4.3 출퇴근 기록부(개인별)&nbsp;</b></font></h5>
			</div>
		</div>
    </div>
	<div class="">

<div class="x_panel" style=""> 	
    <div class="x_title">
        <h2>기본내역 </h2>
        	<!-- 검색 버튼 -->
			<div class="x_content" style="text-align: right">
				<button type="button" id="btn_search" class="btn" style="color:black">전체검색</button>
			</div>
	   <!-- 박스내의 상단 -->
	<div class="clearfix"></div>
</div>




 <div class="clearfix"></div>
 	<form action="/kuntae/recordTotalSearch">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<form action="/kuntae/recordDateSearchProcess">
				<table class="table">
					<tbody>
					
						<tr>
							<th>시작일</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="date" id="WORK_DT" name="WORK_DT">
								</div>
							</td>
							
							<th>끝난일</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="date" id="END_DT" name="END_DT">
								</div>
							</td>
							
							
						</tr>
					</form>
						<tr>
							<th>사원번호</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" id="EMP_NO" name="EMP_NO">
									<button type="button" id="btn_empno"><i class="fa fa-search"></i></button>
								</div>
							</td>

							<th></th>
							 <td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<!-- <input type="text" class="form-control"> -->
								</div>
							</td> 
						</tr>

					</tbody>
				</table>
				</div>
				</div>
			</form>
	
				
				
		<div class="col-md-12 col-sm-6 col-xs-12" style="width:100%">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					<div style="overflow:scroll; width:100%; height:650px; padding:10px; background-color:;">
						 <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr>
                          <th>부서</th>
                          <th>직급</th>
                          <th>성명</th>
                          <th>년</th>
                          <th>월</th>
                          <th>일</th>
                          <th>출근</th>
                          <th>퇴근</th>  
                          <th>퇴근날짜</th>                                                  

                        </tr>
									</thead>
						
									<!-- <tbody id="list">
										<tr th:each="s : ${singleList}">
											<td></td>
											<td th:text="${s.KOR_NM}"></td>
											
											<td th:text="${s.WORK_DT.substring(0,6)}"></td>
											<td th:text="${s.WORK_DT.substring(6,8)}+'일'"></td>
											<td th:text="${s.START_TIME.substring(0,2)}+':'+${s.START_TIME.substring(2,4)}"></td>
											<td th:text="${s.END_TIME}"></td>	
											<td></td>
											<td></td>
											
													
																		
										</tr>										
									</tbody> -->
									<tbody id="list">	
									<tr class="even pointer">
                            		
                            
                            
                          			</tr>											
									</tbody>									

						</table>
					</div>
					

                  </div>
                </div>
              
              </div>
             </div>
			</div>
			
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
</html>