<!-- 출퇴근기록부(개인별) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>kuntae</title>
		
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<th:block th:include="layout/customHead"></th:block>
	<!-- FullCalendar -->
	<link href="/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
	<link href="/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
	<head>
	<script>

	/* 사원번호 검색*/
	$(document).ready(function(){
		console.log('출,퇴근(개인별) 리스트 출력')
	     $('#btn_list').click(function(){
	    	var EMP_NO = $('#EMP_NO').val();
	    	/* var KOR_NM = $('#KOR_NM').val(); */
	    	 $.ajax({
	            url:'/kuntae/recordSingle',
	            type:'GET',
	            dataType:'json',	           
	         	data : {EMP_NO : EMP_NO},
	            success:function(data){
	            	console.log('사원 번호 쿼리 성공!');
	                $('#list').empty();
	                $(data).each(function(index,item){ //each = foreach (반복문)
	                    $('#list').append('<tr>');
	                    $('#list').append('<td>'+item.kor_NM+'</td>');
	                   	/*  $('#list').append('<td>'+item.emp_NO+'</td>'); */
	                    $('#list').append('<td>'+item.work_DT.substring(0,6)+'</td>');
	                    $('#list').append('<td>'+item.work_DT.substring(6,8)+'</td>');         
	                    $('#list').append('<td>'+item.start_TIME+'</td>'); 
	                    $('#list').append('<td>'+item.end_TIME+'</td>');
	                    $('#list').append('</tr>'); 
	                });                   
	            }
	        });
	    });
	 });
	
	/* 이름 검색 */
	$(document).ready(function(){
		console.log('출,퇴근(개인별) 리스트 출력')
		 $('#btn_name').click(function(){
		    	var KOR_NM = $('#KOR_NM').val();
		    	 $.ajax({
		            url:'/kuntae/recordSingleName',
		            type:'GET',
		            dataType:'json',	           
		         	data : {KOR_NM : KOR_NM},
		            success:function(data){
		            	console.log('이름 검색 쿼리 성공!');
		                $('#list').empty();
		                $(data).each(function(index,item){ //each = foreach (반복문)
		                    $('#list').append('<tr>');
		                    $('#list').append('<td>'+item.kor_NM+'</td>');
		                   	/*  $('#list').append('<td>'+item.emp_NO+'</td>'); */
		                    $('#list').append('<td>'+item.work_DT.substring(0,6)+'</td>');
		                    $('#list').append('<td>'+item.work_DT.substring(6,8)+'</td>');         
		                    $('#list').append('<td>'+item.start_TIME+'</td>'); 
		                    $('#list').append('<td>'+item.end_TIME+'</td>');
		                    $('#list').append('</tr>'); 
		                });                   
		            }
		        });
		    });
	 	});

/* 날짜 검색 
	$(document).ready(function(){
		console.log('출,퇴근(개인별) 리스트 출력')
		 $('#btn_day').click(function(){
		    	var WORK_DT_format = $('#WORK_DT').val();
		    	var END_DT_format = $('#END_DT').val();
		    	
		    	var WORK_DT = WORK_DT_format.substr(0,4)+WORK_DT_format.substr(5,2)+WORK_DT_format.substr(8,2);
		    	var END_DT = END_DT_format.substr(0,4)+END_DT_format.substr(5,2)+END_DT_format.substr(8,2);
			    	
		    	
		    	 $.ajax({
		            url:'/kuntae/recordSingleDateSearchProcess',
		            type:'GET',
		            dataType:'json',	           
		         	data : {WORK_DT:WORK_DT, END_DT:END_DT},
		            success:function(data){
		            	console.log('날짜 검색 ');
		                $('#list').empty();
		                $(data).each(function(index,item){ //each = foreach (반복문)
		                    $('#list').append('<tr>');
		                    $('#list').append('<td>'+item.kor_NM+'</td>');
		                   	/*  $('#list').append('<td>'+item.emp_NO+'</td>'); 
		                    $('#list').append('<td>'+item.work_DT.substring(0,6)+'</td>');
		                    $('#list').append('<td>'+item.work_DT.substring(6,8)+'</td>');         
		                    $('#list').append('<td>'+item.end_DT.substring(0,6)+'</td>');
		                    $('#list').append('<td>'+item.end_DT.substring(6,8)+'</td>');
		                    $('#list').append('<td>'+item.start_TIME+'</td>'); 
		                    $('#list').append('<td>'+item.end_TIME+'</td>');
		                    $('#list').append('</tr>'); 
		                });                   
		            }
		        });
		    });
	 	}); 
	 	  */

	 	 function searchResult(WORK_DT, END_DT){
	 			
	 			console.log("날짜별 검색 시작");	
	 			$.ajax({
	 				url:'/kuntae/recordSingleDateSearchProcess',
	 				data:{WORK_DT:WORK_DT,END_DT:END_DT},	
	 			});	
	 		};
	 	  
	 	  $(document).ready(function() {	
	 		
	 		$("#btn-search").click(function(){		
	 			let work_date_format = $('#WORK_DT').val();
	 			let end_date_format = $('#END_DT').val();
	 			
	 			let WORK_DT = work_date_format.substr(0,4)+work_date_format.substr(5,2)+work_date_format.substr(8,2);
	 			let END_DT = end_date_format.substr(0,4)+end_date_format.substr(5,2)+end_date_format.substr(8,2);
	 			
	 			console.log(WORK_DT+"날짜야 나오니?"+END_DT);
	 			searchResult(WORK_DT,END_DT);		
	 		});
	
	
	
</script> 
	
	</head>
	</th:block>
	<th:block layout:fragment="customBody">

	          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>근태관리 <small><a href="/kuntae/recordTotal">출퇴근기록부(개인별)</a></small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
      
   

           
	
<div class="clearfix"></div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<form>
				<table class="table">
					<tbody>


						<tr>
							<th>사원번호</th>
							
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" id="EMP_NO" name="EMP_NO">
                   						<button type="button" id="btn_list"><i class="fa fa-search"></i></button>
								</div>
							</td>
		
                   						
							<th>이름</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" id="KOR_NM" name="KOR_NM">
									<button type="button" id="btn_name"><i class="fa fa-search"></i></button>	
								</div>
							</td>
						</tr>
					
					</tbody>
				</table>
				
				</form>
				</div>
				</div>
	   <div class="x_panel">
				
		<div class="x_content">

			<div class="col-md-12 col-sm-6 col-xs-12" style="width: 100%">
			
					<br>
					<div class="x_content">
						<form action="/kuntae/recordSingleDateSearchProcess">
							<table class="table table-bordered">
								<thead>
									<tr style="font-size: 15px">
										
										<th>시작년월 &emsp;&emsp;&emsp; 
										<input type="date" id="WORK_DT" name="WORK_DT"> &emsp;&emsp;										
										</th>
										<th>마감년월 &emsp;&emsp;&emsp; 
										<input type="date" id="END_DT" name="END_DT"> &emsp;&emsp;										
											<button id="btn_day" class="btn" style="color:black">검색</button>
										</th>
									</tr>									
								</thead>
							</table>
						</form>
						
						
					</div>
				
			</div>        
              
              
            </div>	
	
				
				
		<div class="col-md-12 col-sm-6 col-xs-12" style="width:100%">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					<div style="overflow:scroll; width:100%; height:650px; padding:10px; background-color:;">
						<table class="table">
									<thead>
										<tr class="headings">
											<!-- <th class="column-title" rowspan="2">직급</th> -->
											<th class="column-title" rowspan="2">성명</th>
											<th class="column-title" rowspan="2">년월</th>
											<th class="column-title" rowspan="2">일자</th>
											<th class="column-title" rowspan="2">출근</th>
											<th class="column-title" rowspan="2">퇴근</th>
											<!-- <th class="column-title" colspan="1">연차</th>
											<th class="column-title" colspan="1">PJT</th>	 -->													
										</tr>
										<!--  <tr>
											<th>휴가</th>
											<th>일자</th>				
										</tr>  -->
									</thead>
						
									<!-- <tbody id="list">
										<tr th:each="s : ${singleList}">
											<td></td>
											<td th:text="${s.KOR_NM}"></td>
											
											<td th:text="${s.WORK_DT.substring(0,6)}"></td>
											<td th:text="${s.WORK_DT.substring(6,8)}+'일'"></td>
											<td th:text="${s.START_TIME.substring(0,2)}+':'+${s.START_TIME.substring(2,4)}"></td>
											<td th:text="${s.END_TIME}"></td>	
											<td></td>
											<td></td>
											
													
																		
										</tr>										
									</tbody> -->
									<tbody id="list">	
									<tr class="even pointer">
                            		
                            
                            
                          			</tr>											
									</tbody>									

						</table>
					</div>
					

                  </div>
                </div>
              
              </div>
             </div>
			</div>
			
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
	</th:block>
</html>