<!-- 근태현황(일, 월) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>근태현황</title>
		<th:block th:include="layout/customHead"></th:block>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		 console.log('근태현황list 출력해보자');	
		//검색버튼 클릭 시 근태현황 출력
		 $('#btn_list').click(function(){
			 let FRDATE =$('#FRDATE').val();
			 let TODATE =$('#TODATE').val();
			 let DEPT_CD =$('#DEPT_CD').val();
			 $.ajax({				
					url:'/kuntae/searchView2',
					type:'GET',
					data:{FRDATE:FRDATE,TODATE:TODATE,DEPT_CD:DEPT_CD},
					success:(data)=>{
						
						$('#list').empty();
						
						console.log("나와라"+data);
						$(data).each(function(index,item){
							
							
							
								
							if(item.GUBUN==9){
								$('#list').append('<tr >');	
								$('#list').append('<td style="background-color:#E6F8E0">'+item.DEPT_NM+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.JIKGUP_NM+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.KOR_NM+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.JIGAK+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.KYULGUN1+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.KYULGUN2+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.SAYU_NM+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.HOLI_WORK+'</td>');
								//잔여휴가일수 (YEARLY_DAY)
								$('#list').append('<td style="background-color:#E6F8E0">'+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.HOLI_1+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.HOLI_2+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.HOLI_3+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.HOLI_4+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.HOLI_5+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.HOLI_6+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.HOLI_7+'</td>');
								$('#list').append('<td style="background-color:#E6F8E0">'+item.KYUL_TOT+'</td>');
								//연차휴가발생 (YEARLY_CHA)
								$('#list').append('<td style="background-color:#E6F8E0">'+'</td>');
								$('#list').append('</tr>');	
							}else if(item.GUBUN==5){
								$('#list').append('<tr >');	
								$('#list').append('<td style="background-color:#F8E0E0">'+item.DEPT_NM+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.JIKGUP_NM+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.KOR_NM+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.JIGAK+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.KYULGUN1+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.KYULGUN2+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.SAYU_NM+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.HOLI_WORK+'</td>');
								//잔여휴가일수 (YEARLY_DAY)
								$('#list').append('<td style="background-color:#F8E0E0">'+'</td>');
								
								$('#list').append('<td style="background-color:#F8E0E0">'+item.HOLI_1+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.HOLI_2+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.HOLI_3+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.HOLI_4+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.HOLI_5+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.HOLI_6+'</td>');
								$('#list').append('<td style="background-color:#F8E0E0">'+item.HOLI_7+'</td>');
						
								$('#list').append('<td style="background-color:#F8E0E0">'+item.KYUL_TOT+'</td>');
								//연차휴가발생 (YEARLY_CHA)
								$('#list').append('<td style="background-color:#F8E0E0">'+'</td>');
								
								$('#list').append('</tr>');	
							}else if(item.GUBUN==4){
								$('#list').append('<tr >');	
								$('#list').append('<td style="background-color:#ffeeaa">'+item.DEPT_NM+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.JIKGUP_NM+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.KOR_NM+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.JIGAK+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.KYULGUN1+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.KYULGUN2+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.SAYU_NM+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.HOLI_WORK+'</td>');
								//잔여휴가일수 (YEARLY_DAY)
								$('#list').append('<td style="background-color:#ffeeaa">'+'</td>');
								
								$('#list').append('<td style="background-color:#ffeeaa">'+item.HOLI_1+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.HOLI_2+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.HOLI_3+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.HOLI_4+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.HOLI_5+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.HOLI_6+'</td>');
								$('#list').append('<td style="background-color:#ffeeaa">'+item.HOLI_7+'</td>');
								
								$('#list').append('<td style="background-color:#ffeeaa">'+item.KYUL_TOT+'</td>');
								//연차휴가발생 (YEARLY_CHA)
								$('#list').append('<td style="background-color:#ffeeaa">'+'</td>');
								
	
								$('#list').append('</tr>');									
							}else{
								$('#list').append('<tr >');	
								$('#list').append('<td>'+item.DEPT_NM+'</td>');
								$('#list').append('<td>'+item.JIKGUP_NM+'</td>');
								$('#list').append('<td>'+item.KOR_NM+'</td>');
								$('#list').append('<td>'+item.JIGAK+'</td>');
								$('#list').append('<td>'+item.KYULGUN1+'</td>');
								$('#list').append('<td>'+item.KYULGUN2+'</td>');
								$('#list').append('<td>'+item.SAYU_NM+'</td>');
								$('#list').append('<td>'+item.HOLI_WORK+'</td>');
								$('#list').append('<td>'+item.YEARLY_DAY+'</td>');
								
								$('#list').append('<td>'+item.HOLI_1+'</td>');
								$('#list').append('<td>'+item.HOLI_2+'</td>');
								$('#list').append('<td>'+item.HOLI_3+'</td>');
								$('#list').append('<td>'+item.HOLI_4+'</td>');
								$('#list').append('<td>'+item.HOLI_5+'</td>');
								$('#list').append('<td>'+item.HOLI_6+'</td>');
								$('#list').append('<td>'+item.HOLI_7+'</td>');
								
								$('#list').append('<td>'+item.KYUL_TOT+'</td>');
								$('#list').append('<td>'+item.YEARLY_CHA+'</td>');
								

								$('#list').append('</tr>');	
							}

						});
						
					}					
			 }); 				
		 });
		 

	});
	
	
	</script>
	
	
	
	</th:block>
	<th:block layout:fragment="customBody">
	<div class="col-md-12 col-xs-12" style="color: black;">
		<div class="page-title">
	
	<div class="title_left">
					
		<h2><b>근태현황</b></h2>
		<h5><font color="gray"><b>4.근태 관리</b></font></h5>
		
	</div>
	</div>
	

          
            
            
            <div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
			
				
				

				<table class="table" >
					

						<div class="form-group">
							<label>년월</label>
							
								
									<input type="month" name="FRDATE" id="FRDATE">
								
									~
							
								
									<input type="month" name="TODATE" id="TODATE">
								
							
						</div>
						
						<div class="form-group">
							<label>부서코드</label>
							<select id="DEPT_CD">
							<option></option>
							<th:block th:each="deptCd : ${result}">
							
										<option th:value="${deptCd.DEPT_CD}">[[${deptCd.DEPT_NM}]]</option>
										
											
											
											
							</th:block>
							
							</select>
						</div>
						
					
				</table>
				<button type="button" class="btn" style="color:black" id="btn_list">검색</button>
			</div>
			</div>
            

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                   
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <!-- <p class="text-muted font-13 m-b-30">
                      DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                    </p> -->
                    <table id="datatable-checkbox" class="table table-striped jambo_table bulk_action" style="text-align:center">
                      <thead>
                        <tr>                         
                          <th rowspan="2">부서명</th>
                          <th rowspan="2">직급</th>
                          <th rowspan="2">성명</th>
                          <th rowspan="2">지각</th>
                          <th colspan="2">결근</th>
                          <th rowspan="2">결근사유</th>
                          <th rowspan="2">휴일근무일수</th>
                          <th rowspan="2">연차휴가발생</th>
                          <th colspan="7">휴가사용일수</th>
                          <th rowspan="2">무단결근</th>
                          <th rowspan="2">잔여 휴가일수</th>
                        </tr>
                        <tr>
                          <th>사고계 제 출</th>
                          <th>무단결근</th>
                          <th>휴가</th>
                          <th>경조</th>
                          <th>철야</th>
                          <th>공상</th>
                          <th>포상</th>
                          <th>출산</th>
                          <th>휴직</th>
                        </tr>
                      </thead>


                      <tbody id="list">
                        

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
             </div>
			</div>

	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>