<!-- 출퇴근 정정신청 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>worktime_in.html</title>
	</th:block>
	<th:block layout:fragment="customBody">
	
	<head>

    <!-- bootstrap-daterangepicker  -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link href="../vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
       
  	</head>
  	
  			<div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>근태관리</h3>
              </div>	
            </div>
            </div>

                  
<!-- 근태정정신청 start -->
                  <div class="x_content">
                  	<!-- 나란히 놓아줌 -->
                    <div class="col-md-3 col-sm-3 col-xs-12">
					  <!-- 박스  panel은 경계선 없음-->
                      <section class="x_panel">
                        <div class="x_title">
                          <h2>출근일자</h2>                         
                          <div class="clearfix"></div>
                        </div>
                        
                        
                   <div class="x_content">
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">3월</p>
                        <p class="day">20</p>
                      </a>
                      <div class="media-body">                     
                        <a class="title" href="#">2019/03/20</a>
                        <p>백승한</p>
                        <p> <small>어제</small></p>
                      </div>
                    </article>
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">3월</p>
                        <p class="day">19</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">2019/03/19</a>
                        <p>백승한</p>
                        <p> <small>2일 전</small></p>
                      </div>
                    </article>
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">3월</p>
                        <p class="day">18</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">2019/03/18</a>
                        <p>백승한</p>
                        <p> <small>3일 전</small></p>
                      </div>
                    </article>
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">3월</p>
                        <p class="day">17</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">2019/03/17</a>
                        <p>백승한</p>
                        <p> <small>4일 전</small></p>
                      </div>
                    </article>
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">3월</p>
                        <p class="day">16</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">2019/03/16</a>
                        <p>백승한</p>
                        <p> <small>5일 전</small></p>
                      </div>
                    </article>
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">3월</p>
                        <p class="day">15</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">2019/03/15</a>
                        <p>백승한</p>
                        <p> <small>6일 전</small></p>
                      </div>
                    </article>
                    <article class="media event">
                      <a class="pull-left date">
                        <p class="month">3월</p>
                        <p class="day">14</p>
                      </a>
                      <div class="media-body">
                        <a class="title" href="#">2019/03/14</a>
                        <p>백승한</p>
                        <p> <small>7일 전</small></p>
                      </div>
                    </article>
                  	</div>
                   </section>
                  </div>
<!-- 근태정정신청 end -->


<div class="col-md-9 col-sm-9 col-xs-12">                     
<div class="x_panel" style="">
    <div class="x_title">
        <h2>기본정보</h2> 
            
<div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="container">
	        <ul class="stats-overview">
	          <li>
	            <span class="name"> 부서 </span>
	           <span class="value text-success">경영지원본부</span>
	          </li>
	          <!-- <input type="text" name="grade" value="경영지원본부 "> -->
	          <li>
	            <span class="name"> 직급 </span>
	            <span class="value text-success"> 이사 </span>
	          </li>
	          <li class="hidden-phone">
	            <span class="name"> 성명 </span>
	            <span class="value text-success"> 임홍근 </span>
	          </li>
	          
	        </ul>
	        <ul class="stats-overview">
	          <li>
	            <span class="name"> 지각횟수 </span>
	            <span class="value text-success"> 0 </span>
	          </li>
	          <li>
	            <span class="name"> 지각누계 </span>
	            <span class="value text-success"> 0분 </span>
	          </li>
	          <li class="hidden-phone">
	            <span class="name"> 년차차감일수 </span>
	            <span class="value text-success"> 0 </span>
	          </li> 
	        </ul>
			<br>       
        </div>
    </div>	     
</div>

  
  
  
<div class="x_panel" style="">
    <div class="x_title">
        <h2>기본내역 <small> 정정구분 및 신청일자</small></h2>
   <div class="clearfix"></div>
    </div>
    <div class="x_content">
	
       <div class="row">
       
       <div class="col-sm-4">
               
				<div class="form-group">
					<div class="radio">
					<label>
					  <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">승인
					</label>
					<label>
					  <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> 미승인
					</label>
					<label>
					  <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> All
					</label>
					</div>   
				</div>
			</div>
       <div class="col-md-4" style="text-align: right">
                    <div class="form-group">
                        <div class="input-group date" id="myDatepicker4">
                            <input type="text" class="form-control" readonly="readonly">
                            <span class="input-group-addon">
                               <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
	</div>	
	
					
         <table class="table">         
                      <tbody>
                      
                        <tr>
	                        <th>출근일시</th>
	                        <td>  
	                        <div class="col-md-7 col-sm-12 col-xs-12 form-group">
							<input type="date">
							</td>
							
		                    <th>출근일시</th>
		                    <td>
		                    <div class="col-md-7 col-sm-12 col-xs-12 form-group">
		                    <input type="date">
		                    </td>
                        </tr>
                        
                        <tr>
                          <th>퇴근일시</th>
                          <td>
                          <div class="col-md-7 col-sm-12 col-xs-12 form-group">
                          <input type="date">
                          </td>
                        
						  <th>퇴근일시</th>
                          <td>
                          <div class="col-md-7 col-sm-12 col-xs-12 form-group">
                          <input type="date">
						  </td>
                        </tr>

						<tr>
							<th>직급</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text"><button data-toggle="modal" data-target="#no"><i class="fa fa-search"></i></button>
									</div>
								</div>
							</td>
							<th></th>
							<td>
								<div class="form-group">
									<div class="col-md-4">
												
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<th>정정 사유</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-9 col-xs-12">
										
									</div>
								</div>
								
							<th></th>
                          	<td></td>
	
						</tr>
					</tbody>
                    </table>
            </div>
        </div>
    </div>






           <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>작업내역</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">수정시 삭제후 다시 입력하십시오!</p>
                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                      <thead>
                        <tr>
                          <th>
							 <th><input type="checkbox" id="check-all" class="flat"></th>
						  </th>
                          <th>PJT코드</th>
                          <th>PJT명</th>
                          <th>작업단계</th>
                          <th>작업내용</th>
                          <th>작업시간</th>
                          <th>상세내용</th>
                        </tr>
                      </thead>


                      <tbody>
                        <tr>
                          <td>
							 <th><input type="checkbox" id="check-all" class="flat"></th>
						  </td>
                          <td>0000</td>
                          <td>어마어마한 3팀의 프로젝트</td>
                          <td>진행중</td>
                          <td>어마어마함</td>
                          <td>365시간</td>
                          <td>어마어마하게 진행중</td>
                        </tr>
                        <tr>
                          <td>
							 <th><input type="checkbox" id="check-all" class="flat"></th>
						  </td>
                          <td>Zenaida Frank</td>
                          <td>Software Engineer</td>
                          <td>New York</td>
                          <td>63</td>
                          <td>2010/01/04</td>
                          <td>$125,250</td>
                        </tr>
                        <tr>
                          <td>
							 <th><input type="checkbox" id="check-all" class="flat"></th>
						  </td>
                          <td>Zorita Serrano</td>
                          <td>Software Engineer</td>
                          <td>San Francisco</td>
                          <td>56</td>
                          <td>2012/06/01</td>
                          <td>$115,000</td>
                        </tr>
                        <tr>
                          <td>
							 <th><input type="checkbox" id="check-all" class="flat"></th>
						  </td>
                          <td>Jennifer Acosta</td>
                          <td>Junior Javascript Developer</td>
                          <td>Edinburgh</td>
                          <td>43</td>
                          <td>2013/02/01</td>
                          <td>$75,650</td>
                        </tr>
                        <tr>
                          <td>
							 <th><input type="checkbox" id="check-all" class="flat"></th>
						  </td>
                          <td>Cara Stevens</td>
                          <td>Sales Assistant</td>
                          <td>New York</td>
                          <td>46</td>
                          <td>2011/12/06</td>
                          <td>$145,600</td>
                        </tr>
                        <tr>
                          <td>
							 <th><input type="checkbox" id="check-all" class="flat"></th>
						  </td>
                          <td>Hermione Butler</td>
                          <td>Regional Director</td>
                          <td>London</td>
                          <td>47</td>
                          <td>2011/03/21</td>
                          <td>$356,250</td>
                        </tr>
                        <tr>
                          <td>
							 <th><input type="checkbox" id="check-all" class="flat"></th>
						  </td>
                          <td>Lael Greer</td>
                          <td>Systems Administrator</td>
                          <td>London</td>
                          <td>21</td>
                          <td>2009/02/27</td>
                          <td>$103,500</td>
                        </tr>
                        <tr>
                          <td>
							 <th><input type="checkbox" id="check-all" class="flat"></th>
						  </td>
                          <td>Jonas Alexander</td>
                          <td>Developer</td>
                          <td>San Francisco</td>
                          <td>30</td>
                          <td>2010/07/14</td>
                          <td>$86,500</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
             </div>
			</div> 

<!-- 사원번호 modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="no">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
         </button>
         <h4 class="modal-title" id="myModalLabel2">사원번호 검색</h4>
       </div>
       <form action="/#" method="get">
			        <div class="modal-body">번호 : <input type="text" name="profit" value=""></div>
			        <div class="modal-body">번호 : <input type="text" name="pay" value=""></div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <!-- <button type="submit" class="btn btn-success" >Save changes</button> -->
       </div>
       </form>
     </div>
   </div>
 </div>		                 
<!-- / 사원번호 modals -->


<!-- x~x까지의 달력 -->

<!--    <div class="col-md-4">
			<fieldset>
				<div class="control-group">
					<div class="controls">
						<div class="input-prepend input-group">
						<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
						<input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="01/01/2016 - 01/25/2016">
						</div>
					</div>
				</div>
			</fieldset>	
</div> -->	

<!-- /x~x까지의 달력 -->

	    <!-- jQuery -->
	    <script src="/vendors/jquery/dist/jquery.min.js"></script>
	    <!-- bootstrap-daterangepicker -->
	    <script src="/vendors/moment/min/moment.min.js"></script>
	    <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
	    <!-- bootstrap-datetimepicker -->    
	    <script src="/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	
	    <!-- Initialize datetimepicker -->
		<script>
		    $('#myDatepicker').datetimepicker();
		    
		    $('#myDatepicker2').datetimepicker({
		        format: 'DD.MM.YYYY'
		    });
		    
		    $('#myDatepicker3').datetimepicker({
		        format: 'hh:mm A'
		    });
		    
		    $('#myDatepicker4').datetimepicker({
		        ignoreReadonly: true,
		        allowInputToggle: true
		    });
		
		    $('#datetimepicker6').datetimepicker();
		    
		    $('#datetimepicker7').datetimepicker({
		        useCurrent: false
		    });
		    
		    $("#datetimepicker6").on("dp.change", function(e) {
		        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
		    });
		    
		    $("#datetimepicker7").on("dp.change", function(e) {
		        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
		    });
		</script>
	</th:block>
</html>