<!-- 출퇴근 정정신청 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>출퇴근 정정 신청</title>
		<th:block th:include="layout/customHead"></th:block>
		<!-- Jquery, Ajax 선언 -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
	<script>
	/* 지각 횟수와 지각 누계 출력*/
	function jigak (empNo) {	
		$.ajax({
            url:'/kuntae/workTimeJigakSearch',
            type:'GET',
            dataType:'json',	           
         	data : {EMP_NO : empNo},
            success:function(data){  
            	console.log(data);
            	$('#LATE_CNT').val(data[0].late_CNT);
            	$('#LATE_TIME').val(data[0].late_TIME);
            }
        });
	}
	
	// 정정리스트 한 행 클릭시 정보 화면에 출력
	$(document).ready(function(){
		console.log('정정 리스트 이름 검색 ');
		$("#list").delegate('tr', 'click', function(){
			$('#test').val('6:00');
			// 행과 각각의 값들을 담아옴
			let tr = $(this);
			let td = tr.children();
		
			console.log(td);
			let empNo = td.eq(0).text();
			console.log(td.eq(0).text());
			$('#KOR_NM').val(td.eq(1).text());		// 이름
			$('#DEPT_NM').val(td.eq(2).text());		// 부서 이름
			$('#JIKGUP_NM').val(td.eq(3).text());	// 직급
			$('#WORK_DT3').val(td.eq(4).text());	// 작업 날짜 다른 폼에서 쓰기 위해 아이디 값을 다르게 지정.
			$('#WORK_DT4').val(td.eq(4).text());	// 작업 날짜 1
			$('#WORK_DT5').val(td.eq(4).text());	// 작업 날짜 2
			$('#START_TIME').val(td.eq(5).text());	// 시작 시각 1
			$('#START_TIME1').val(td.eq(5).text());	// 시작 시각 2
			$('#END_DT').val(td.eq(6).text());		// 끝난 날짜
			$('#END_TIME').val(td.eq(7).text());	// 끝난 시각

			console.log("클릭된 행의 값 :" + tr.text());
			
			jigak(empNo);	// 지각 정보 
		});
		
		 // 이름, 기간으로 조건 검색 
	     $('#btn_KORNM').click(function(){
	    	var KOR_NM = $('#INPUT_KOR_NM').val();
	    	console.log(KOR_NM);
			let work_dt_format = $('#WORK_DT').val();
			console.log(work_dt_format);
			let work_dt1_format = $('#WORK_DT1').val();	
			console.log(work_dt1_format);
			let WORK_DT = work_dt_format.substr(0,4)+work_dt_format.substr(5,2)+work_dt_format.substr(8,2);
			let WORK_DT1 = work_dt1_format.substr(0,4)+work_dt1_format.substr(5,2)+work_dt1_format.substr(8,2); 
	    	 $.ajax({
	            url:'/kuntae/workTimeSearch',
	            type:'GET',
	            dataType:'json',	           
	         	data : {KOR_NM:KOR_NM,WORK_DT:WORK_DT,WORK_DT1:WORK_DT1},
	            success:function(data){
	            	console.log('사원 번호 쿼리 성공!');
	                $('#list').empty();
	                $(data).each(function(index,item){ //each = foreach (반복문)
	                    $('#list').append('<tr><td style="display : none">'+item.emp_NO+'</td><td>'+item.kor_NM+'</td><td style="display : none">'+item.dept_NM+'</td><td style="display : none">'+item.jikgup_NM+'</td><td>'+item.work_DT+'</td><td>'+item.start_TIME+'</td><td>'+item.end_DT+'</td><td style="display : none">'+item.end_TIME+'</td></tr>');
											
				});                   
	           }
	       });
	    });
	     
		// 1. 오늘날짜 넣기
		let date = new Date();
		let year = date.getFullYear();	//년도
		let month = date.getMonth()+1;	//월
		let day = date.getDate();		//일
		if((month+"").length<2) {
			month = "0" + month;
		}
		if((day+"").length<2) {
			day = "0" + day;
		} 
		let getToday = year+"-"+month +"-"+day;	// 오늘 날짜 (0000-00-00)

		// 검색날짜에 대입
		$('#WORK_DT1').val(getToday);   
		$('#WORK_DT2').val(getToday);
	     
	 });
	

	
	</script>
	</th:block>
	<th:block layout:fragment="customBody">

  	
<font color="black">
	<div class="col-md-9 col-xs-12" style="color:black;">
        <div class="page-title">
			<div class="title_left">
				<h2><b>근태 정정 신청</b></h2>
				<h5></h5>
				<h5><font color= "gray"><b>4.근태 관리 &nbsp;&gt;&nbsp;&nbsp;4.4 근태정정신청</b></font></h5>
			</div>
		</div>
    </div>
	<div class="x_content" style="text-align: right">
			<div class="btn-group" >
				<button class="btn btn-default" type="button" id="btn_search" style="color:black" disabled="disabled">조회</button>
				<button class="btn btn-default" type="reset" >입력</button>
				<button class="btn btn-default" type="button" disabled="disabled">수정</button>
				<button class="btn btn-default" type="button" disabled="disabled">삭제</button>
				<button class="btn btn-default" type="button" disabled="disabled">저장</button>
				<button class="btn btn-default" type="button" disabled="disabled">출력</button>
			</div>
	</div>


		<div class="clearfix"></div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="x_panel" style="color:black;" >
					<div class="form-inline">
					
					<table class="table table-bordered jambo_table bulk_action">	
						<thead>
							<tr>
								<td colspan="2">검색조건</td>
							</tr>
						</thead>
						<tbody>
							<form action="/kuntae/workTimeSearch">
							<tr>
								<td style="text-align: center">
									사원명
								</td>
								<td>
									<input type="hidden" id="User_ID">
									<input type="text" id="INPUT_KOR_NM">
								</td>
							</tr>
							<tr>
								<td style="text-align: center">
									기간
								</td>
								<td>
									<input type="date" style="width: 130px" id="WORK_DT" name="WORK_DT">
								</td>
							</tr>
							<tr>
								<td style="text-align: center" >
								</td>
								<td>
									<input type="date" id="WORK_DT1" name="WORK_DT1">
								</td>
							</tr>						
						</tbody>				
					</form> 
				</table>	
				<div class="x_content" style="text-align: right">
				<button type="button" class="btn" style="color:black" id="btn_KORNM" >검색</button>			
				</div>
			</div>
		</div> 
				<div class="x_panel" style="color: black;">
					<div class="x_content">
						<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" style="overflow: scroll; height: 600px; padding: 10px; color:black;">
							<table class="table table-bordered jambo_table bulk_action">
								<thead>
									<tr>
										<td style="text-align: center">성명</td>
										<td style="text-align: center">일자</td>
										<td style="text-align: center">출근시간</td>
										<td style="text-align: center">구분</td>
									</tr>
								</thead>
								<tbody id="list">
									<tr th:each="t : ${data}">
									<td style="display: none" th:text="${t.EMP_NO}"></td>
									<td style="text-align: center" th:text="${t.KOR_NM}"></td>
									<td style="display: none" th:text="${t.DEPT_NM}"></td>
									<td style="display: none" th:text="${t.JIKGUP_NM}"></td>
									<td style="text-align: center" th:text="${t.WORK_DT}"></td>
									<td style="text-align: center" th:text="${t.START_TIME}"></td>
									<td style="text-align: center" th:text="${t.END_DT}"></td>
									<td style="display: none" th:text="${t.END_TIME}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


<div class="col-md-9 col-sm-9 col-xs-12">                     
<div class="x_panel" style="">
   
    <div class="x_content">
        <div class="container">
	        <ul class="stats-overview">
	          <li>
	          	<span class="name" > 성명 </span>
	            <input type="text" style="width: 100px; text-align: end; border: none; background: transparent;" id="KOR_NM" name="KOR_NM" readonly> 
	           
	          </li>
	           
	          <li>
	            <span class="name"> 직급 </span>
	            <input type="text" style="width: 100px; text-align: end; border: none; background: transparent;"id="JIKGUP_NM" name="JIKGUP_NM" readonly>
	          </li>
	          <li class="hidden-phone">
	             <span class="name"> 부서 </span>
	           <input type="text" style="width: 100px; text-align: end; border: none; background: transparent;" id="DEPT_NM" name="DEPT_NM" readonly>
	          </li>
	          
	        </ul>
	        <ul class="stats-overview">
	          <li>
	            <span class="name"> 지각횟수 </span>
	            <input type="text" style="width: 100px; text-align: end; border: none; background: transparent;" id="LATE_CNT" name="LATE_CNT" readonly>
	          </li>
	          <li>
	            <span class="name"> 지각누계 </span>
	           <input type="text" style="width: 100px; text-align: end; border: none; background: transparent;" id="LATE_TIME" name="LATE_TIME" readonly> 
	          </li>
	          <li class="hidden-phone">
	            <span class="name"> </span>
	            <span class="value text-success"></span>
	          </li> 
	        </ul>
			<br> 
	      
        </div>
        
    </div>	     
</div>

  
  
  
<div class="x_panel" style="">

        <h2> <small> 정정구분 및 신청일자</small></h2>
		
		
		<div class="x_content" style="text-align: right">
			<span>신청일자</span>
			<input type="date" class="btn" style="color:black" name="WORK_DT2" id="WORK_DT2" readonly>
							
			</div>

    <div class="x_content">
	
       <div class="row">
       
       <div class="col-sm-4">
	</div>	
	
					
         <table class="table table-striped jambo_table bulk_action"	>
                      <thead>
                        <tr>
                          <th>수정전↓</th>
                          <th></th>
                          <th>수정후↓</th>
                          <th></th>
                          <th></th>

                        </tr>
                      </thead>
                      <tbody>
                      	<tr>
							<td>출근일 <input type="text" id="WORK_DT3" style="width: 100px;" readonly></td>
							<td>시간 <input type="text" id="START_TIME" name="START_TIME" style="width: 75px;" readonly></td>	
						
							<td>출근일 <input type="text" id="WORK_DT4" style="width: 100px;" readonly></td>
							<td>시간 <input type="text" id="START_TIME1" style="width: 75px;" readonly></td>	
						</tr>

                        <tr>
                       		<td>퇴근일 <input type="text" id="END_DT" style="width: 100px;" readonly></td>
                          	<td>시간 <input type="text" id="END_TIME" name="END_TIME" style="width: 75px;" readonly></td>

                          	<td>퇴근일 <input type="text" id="WORK_DT5" style="width: 100px;" readonly></td>
                          	<td>시간 <input type="text" id="test" style="width: 75px;" readonly></td>
                        </tr>

						<tr>
							<td>사유</td>
								<td ><textarea></textarea></td>											
							<th></th>
                          	<td></td>
						</tr>
					</tbody>
                    </table>
            </div>
        </div>
    </div>
<!-- <!--  급여 등록 (오른쪽)
		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="x_panel" style="color:black;">
				<h4>급여 계산 처리</h4>
				<div class="x_title">
				</div>
				<div class="form-inline">
					<table class="table table-bordered jambo_table bulk_action">
						<thead>
							<tr>
								<td colspan="2">• 필수 입력 사항</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="text-align: center">
									사원명
								</td>
								<td>
									<input type="text">
								</td>
							</tr>
							<tr>
								<td style="text-align: center">
									기간
								</td>
								<td>
									<input type="date" style="width: 130px" id="GIVE_DATE">
								</td>
							</tr>
							
							<tr>
								<td style="text-align: center">
								</td>
								<td>
									<input type="date">
								</td>
							</tr>
						</tbody>
						
					</table>		                       				                      	
					
				</div>	
				  
			</div>
		</div>
	</div>
 -->

<!-- 작업내역 -->
<!--            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>작업내역</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">수정시 삭제후 다시 입력하십시오!</p>
                    <table class="table table-striped jambo_table bulk_action"	>
                      <thead>
                        <tr>
                          <th>PJT코드</th>
                          <th>PJT명</th>
                          <th>작업단계</th>
                          <th>작업내용</th>
                          <th>작업시간</th>
                          <th>상세내용</th>
                        </tr>
                      </thead>


                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
             </div>
			</div>  -->
<!--  /작업내역 -->

<!-- 사원번호 modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="no">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
         </button>
         <h4 class="modal-title" id="myModalLabel2">사원번호 검색</h4>
       </div>
       <form action="/#" method="get">
			        <div class="modal-body">번호 : <input type="text" name="profit" value=""></div>
			        <div class="modal-body">번호 : <input type="text" name="pay" value=""></div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <!-- <button type="submit" class="btn btn-success" >Save changes</button> -->
       </div>
       </form>
     </div>
   </div>
 </div>		                 


		
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
