<!-- 출퇴근 정정신청 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>출퇴근 정정 신청</title>
		<th:block th:include="layout/customHead"></th:block>
		<!-- Jquery, Ajax 선언 -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
	<script>
	/* 사원번호 검색*/
	$(document).ready(function(){
		console.log('정정 리스트 이름 검색 ')
	     $('#btn_KORNM').click(function(){
	    	var KOR_NM = $('#KOR_NM').val();
	    	 $.ajax({
	            url:'/kuntae/workTimeNameSearch',
	            type:'GET',
	            dataType:'json',	           
	         	data : {KOR_NM : KOR_NM},
	            success:function(data){
	            	console.log('사원 번호 쿼리 성공!'+KOR_NM);
	                $('#list').empty();
	                $(data).each(function(index,item){ //each = foreach (반복문)
	                    $('#list').append('<tr>');
	                    $('#list').append('<td>'+item.kor_NM+'</td>'); 
	                    $('#list').append('<td>'+item.start_TIME+'</td>');
	                    $('#list').append('<td>'+item.end_TIME+'</td>');
	                    $('#list').append('<td>'+item.end_DT+'</td>');
	                    $('#list').append('</tr>'); 
	                });                   
	            }
	        });
	    });
	 });
	
	
	$(document).ready(function(){
		 console.log('정정신청 list 출력해보자');	
		 let KOR_NM = $('#KOR_NM').val();
		$.ajax({
			url:'/kuntae/workTimeView',
			type:'GET',
			dtat:{KOR_NM:KOR_NM},
			success:(data)=>{				
			}
		});
});
		 
	</script>
	</th:block>
	<th:block layout:fragment="customBody">

  	
<font color="black">
	<div class="col-md-9 col-xs-12" style="color:black;">
        <div class="page-title">
			<div class="title_left">
				<h2><b>4. 근태 관리</b></h2>
				<h5></h5>
				<h5><font color= "gray"><b>4.4 출퇴근 정정신청&nbsp;</b></font></h5>
			</div>
		</div>
    </div>

                    

		<div class="x_content" style="text-align: right">
		
				<div class="btn-group" >
						<button class="btn btn-default" id ="btnWrite"type="reset">입력</button>
						<button class="btn btn-default" type="button">수정</button>
						<button class="btn btn-default" type="button">삭제</button>
						<button class="btn btn-default" type="button">출력</button>
				</div>
		</div>
		
		
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="x_panel" style="color: black;">
					<div class="x_content">
						<form>
							<form>
								• 사원명
								<input type="hidden" id="User_ID">
								<input type="text" name="KOR_NM" id="KOR_NM">
								<button type="button" class="btn" style="color:black" name="PERSON_LIST" id="btn_KORNM"><i class="fa fa-search"></i></button>

								<br>
							</form>
						</form>
					</div>
				</div> 
				<div class="x_panel" style="color: black;">
					<div class="x_content">
						<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" style="overflow: scroll; height: 600px; padding: 10px; color:black;">
							<table class="table table-bordered jambo_table bulk_action">
								<thead>
									<tr>
										<td style="text-align: center">성명</td>
										<td style="text-align: center">일자</td>
										<td style="text-align: center">출근시간</td>
										<td style="text-align: center">구분</td>
									</tr>
								</thead>
								<tbody id="list">
									<tr th:each="t : ${data}">
									<td style="text-align: center" th:text="${t.KOR_NM}"></td>
									<td style="text-align: center" th:text="${t.WORK_DT}"></td>
									<td style="text-align: center" th:text="${t.START_TIME}"></td>
									<td style="text-align: center" th:text="${t.END_DT}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


<div class="col-md-9 col-sm-9 col-xs-12">                     
<div class="x_panel" style="">
    <div class="x_title">
        <h2>기본정보</h2> 
            
<div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="container">
	        <ul class="stats-overview">
	          <li>
	            <span class="name"> 부서 </span>
	           <span class="value text-success">경영지원본부</span>
	          </li>
	          <!-- <input type="text" name="grade" value="경영지원본부 "> -->
	          <li>
	            <span class="name"> 직급 </span>
	            <span class="value text-success"> 이사 </span>
	          </li>
	          <li class="hidden-phone">
	            <span class="name"> 성명 </span>
	            <span class="value text-success"> 임홍근 </span>
	          </li>
	          
	        </ul>
	        <ul class="stats-overview">
	          <li>
	            <span class="name"> 지각횟수 </span>
	            <span class="value text-success"> 0 </span>
	          </li>
	          <li>
	            <span class="name"> 지각누계 </span>
	            <span class="value text-success"> 0분 </span>
	          </li>
	          <li class="hidden-phone">
	            <span class="name"> 년차차감일수 </span>
	            <span class="value text-success"> 0 </span>
	          </li> 
	        </ul>
			<br>       
        </div>
    </div>	     
</div>

  
  
  
<div class="x_panel" style="">
    <div class="x_title">
        <h2>기본내역 <small> 정정구분 및 신청일자</small></h2>
   <div class="clearfix"></div>
    </div>
    <div class="x_content">
	
       <div class="row">
       
       <div class="col-sm-4">
               
				<div class="form-group">
					<div class="radio">
					<label>
					  <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">승인
					</label>
					<label>
					  <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> 미승인
					</label>
					<label>
					  <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> All
					</label>
					</div>   
				</div>
			</div>
       <div class="col-md-4" style="text-align: right">
                    <div class="form-group">
                        <div class="input-group date" id="myDatepicker4">
                            <input type="text" class="form-control" readonly="readonly">
                            <span class="input-group-addon">
                               <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
	</div>	
	
					
         <table class="table">         
                      <tbody>
                      
                        <tr>
	                        <th>출근일시</th>
	                        <td>  
	                        <div class="col-md-7 col-sm-12 col-xs-12 form-group">
							<input type="date">
							</td>
							
		                    <th>출근일시</th>
		                    <td>
		                    <div class="col-md-7 col-sm-12 col-xs-12 form-group">
		                    <input type="date">
		                    </td>
                        </tr>
                        
                        <tr>
                          <th>퇴근일시</th>
                          <td>
                          <div class="col-md-7 col-sm-12 col-xs-12 form-group">
                          <input type="date">
                          </td>
                        
						  <th>퇴근일시</th>
                          <td>
                          <div class="col-md-7 col-sm-12 col-xs-12 form-group">
                          <input type="date">
						  </td>
                        </tr>

						<tr>
							<th>직급</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text"><button data-toggle="modal" data-target="#no"><i class="fa fa-search"></i></button>
									</div>
								</div>
							</td>
							<th></th>
							<td>
								<div class="form-group">
									<div class="col-md-4">
												
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<th>정정 사유</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-9 col-xs-12">
										
									</div>
								</div>
								
							<th></th>
                          	<td></td>
	
						</tr>
					</tbody>
                    </table>
            </div>
        </div>
    </div>






           <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>작업내역</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">수정시 삭제후 다시 입력하십시오!</p>
                    <table class="table table-striped jambo_table bulk_action"	>
                      <thead>
                        <tr>
                          <th>PJT코드</th>
                          <th>PJT명</th>
                          <th>작업단계</th>
                          <th>작업내용</th>
                          <th>작업시간</th>
                          <th>상세내용</th>
                        </tr>
                      </thead>


                      <tbody>
                        <tr>
                          <td>0000</td>
                          <td>어마어마한 3팀의 프로젝트</td>
                          <td>진행중</td>
                          <td>어마어마함</td>
                          <td>365시간</td>
                          <td>어마어마하게 진행중</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
             </div>
			</div> 

<!-- 사원번호 modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="no">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
         </button>
         <h4 class="modal-title" id="myModalLabel2">사원번호 검색</h4>
       </div>
       <form action="/#" method="get">
			        <div class="modal-body">번호 : <input type="text" name="profit" value=""></div>
			        <div class="modal-body">번호 : <input type="text" name="pay" value=""></div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <!-- <button type="submit" class="btn btn-success" >Save changes</button> -->
       </div>
       </form>
     </div>
   </div>
 </div>		                 


		
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>