<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>11.시스템 관리 - User-ID 등록</title>
		<th:block th:include="layout/customHead"></th:block>

		<!-- Jquery, Ajax 선언 -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- 직원 검색 -->
		<script>
		$(document).ready(function(){
			// 1. 검색버튼 클릭 시 전체 직원조회
			$("#PERSON_LIST").click(function(){		
				let KOR_NM2 = $('#KOR_NM_SEARCH').val(); 
				console.log('직원  검색조건 (이름) : '+ KOR_NM2);

				$.ajax({				
						url:'/person/personInsaEmployeeView',
						type:'GET',
						data:{OUT_DT3:"",EMP_NO:"",KOR_NM:KOR_NM2,AUDIT_TM:"",JIKGUP_NM:"",JIKCHK_NM:"",IN_PHONE_NO:"",DEPT_NM:"",SEX_GB:""},
						success:function(data){
							$('#LIST').empty();
							$(data).each(function(index,item){
								//한 행을 클릭시 사원번호	
								console.log(data);						
								$('#LIST').append('<tr><td style="width:2%;"></td>'+
								'<td style="text-align: center" onclick="click2('+item.EMP_NO+')">'+item.EMP_NO+'</td>'+				// 사원번호
								'<td style="text-align: center" onclick="click2('+item.EMP_NO+')">'+item.KOR_NM+'</td>'+				// 사원명
								'<td style="text-align: center" onclick="click2('+item.EMP_NO+')">'+item.JIKGUP_NM+'</td>'+ 		// 직급명
								'<td style="text-align: center" onclick="click2('+item.EMP_NO+')">'+item.JIKCHK_NM+'</td>'+			// 직책명
								'<td style="text-align: center" onclick="click2('+item.EMP_NO+')">'+item.DEPT_NM+'</td></tr>');	// 부서이름				
							});
						}					
				}); 				
			});
			// 2. 등록 및 수정 처리
			$('#USER_Id').click(function(){
				// 비밀번호 입력 유효성검사
				if($('#PASS_WD').val()==""){
					$('#PASS_WD').focus();
					$('#PASS_WD').attr('placeholder','비밀번호를 입력해주세요.');
					return false;
				}else if($('#PASS_WD_CHECK').val()==""){
					$('#PASS_WD_CHECK').focus();
					$('#PASS_WD_CHECK').attr('placeholder','비밀번호를 한번 더 입력해주세요.');
					return false;
				}else{
					let EMP_NO = $('#EMP_NO').val();
					let PASS_WD = $('#PASS_WD').val();
					let PASS_WD_CHECK = $('#PASS_WD_CHECK').val();
					$.ajax({
						url:'/system/userIdWriteProcess',
						type:'GET',
						data:{EMP_NO:EMP_NO,PASS_WD:PASS_WD,PASS_WD_CHECK:PASS_WD_CHECK},
						success:function(data){
							let userId = data;
							// 비밀번호 불일치 -> 등록 수정 처리중단
							if(userId.result == 0){
								alert('비밀번호가 일치하지 않습니다. 다시 입력해주세요.');
								$('#PASS_WD').val('');
								$('#PASS_WD').attr('placeholder','');
								$('#PASS_WD_CHECK').val('');
								$('#PASS_WD_CHECK').attr('placeholder','');
								click2(EMP_NO);
							// 비밀번호 일치 -> 수정처리인 경우
							}else if(userId.result == 1){
								alert('수정처리 하였습니다.');
								$('#PASS_WD').val('');
								$('#PASS_WD').attr('placeholder','');
								$('#PASS_WD_CHECK').val('');
								$('#PASS_WD_CHECK').attr('placeholder','');
								click2(EMP_NO);
							// 비밀번호 일치 -> 등록처리인 경우
							}else if(userId.result == 2){
								alert('등록처리 하였습니다.');
								$('#PASS_WD').val('');
								$('#PASS_WD').attr('placeholder','');
								$('#PASS_WD_CHECK').val('');
								$('#PASS_WD_CHECK').attr('placeholder','');
								click2(EMP_NO);
							}
						}
					});
				}
			});
		});
		function click2(emp_NO){
		console.log('직원번호 '+emp_NO);
			// 1. 회원정보로 가져오기(User-ID, 사용자명)
			$.ajax({
				url:'/person/personInsaEmployeeDetailView',
				type:'GET',
				data:{EMP_NO:emp_NO},
				success:function(data){
					$(data).each(function(index,item){
						console.log("회원정보 : " + data);
						$('#EMP_NO').val(item.emp_NO);	// User-ID
						$('#KOR_NM').val(item.kor_NM);	// 사용자명				
					});			
				}	
			});
			// 2. 입력(자,일자)과 수정(자,일자)정보 가져오기
			$.ajax({
				url:'/system/userIdView',
				type:'GET',
				data:{EMP_NO:emp_NO},
				success:function(data){
					let userId = data;
					console.log("입력, 수정 정보 : " + userId.emp_NO);
					// 결과값이 없다면
					if(userId.emp_NO == undefined){
						console.log("undifined 임");
						$('#CRT_MAN').val('');		// 생성자
						$('#CRT_DATE').val('');		// 생성일자	
						$('#UPD_MAN').val('');			// 수정자
						$('#UPD_DATE').val('');		// 수정일자	
					// 결과값이 있다면
					}else if(userId.emp_NO != undefined){
						console.log("undifined 아님");
						$('#CRT_MAN').val(userId.crt_MAN);		// 생성자
						$('#CRT_DATE').val(userId.crt_DATE);	// 생성일자	
						$('#UPD_MAN').val(userId.upd_MAN);		// 수정자
						$('#UPD_DATE').val(userId.upd_DATE);	// 수정일자		
					}		
				}	
			});
		}
		</script>
	</th:block>
	<th:block layout:fragment="customBody">
		<div class="page-title">
			<div class="col-md-12 col-xs-12">
				<div class="page-title">
					<div class="title_left">
						<h2><b style="color:black;">User-ID등록</b></h2>
						<h5><fontcolor="gray"><b>11.시스템 관리&nbsp;>&nbsp;&nbsp;11.1 User_ID관리 &nbsp;>&nbsp;&nbsp;11.1.1 User_ID등록</b></h5>
					</div>
				</div>
			</div>
		</div>
		<div class="x_content" style="text-align: right">
				<div class="btn-group" >
						<button class="btn btn-default" id="USER_Id">저장</button>
						<button class="btn btn-default" type="button" disabled>삭제</button>
						<button class="btn btn-default" type="button">출력</button>
				</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="x_panel" style="color: black;">
					<div class="x_content">
						<form>
							<form>
								<h5 style="color:black;">⊙ 시스템 사용가능 대상 정보</h5>
								<!--
								• 사용자 구분
								<input type="radio" name="#" value="1" checked>직원
								<input type="radio" name="#" value="0">직원 외 
								<br>
								-->
							</form>
							<form>
								• 사원명
								<input type="hidden" id="User_ID">
								<input type="text" name="KOR_NM_SEARCH" id="KOR_NM_SEARCH">
								<button type="button" class="btn" style="color:black" name="PERSON_LIST" id="PERSON_LIST">검색</button>
								<br>
							</form>
							<!-- 							
							<form>
								• 정렬순서
								<input type="radio" name="#" value="0" checked>사원명
								<input type="radio" name="#" value="1">직급
								<input type="radio" name="#" value="2">부서
							</form> 
							-->
						</form>
					</div>
				</div>
				<div class="x_panel" style="color: black;">
					<div class="x_content">
						<div class="col-md-12 col-sm-12 col-xs-12 table-responsive" style="overflow: scroll; height: 600px; padding: 10px; color:black;">
							<table class="table table-bordered jambo_table bulk_action">
								<thead>
									<tr>
										<td style="width:2%;"></td>
										<td style="text-align: center">사원번호</td>
										<td style="text-align: center">성명</td>
										<td style="text-align: center">직급</td>
										<td style="text-align: center">직책</td>
										<td style="text-align: center">부서명</td>
									</tr>
								</thead>
								<tbody id="LIST">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="x_panel" style="color: black;">
					<div class="x_content">
					<div class="col-md-7 col-sm-12 col-xs-12 table-responsive" style="color:black;">
						<h5 style="color:black;">⊙ 사용자 등록정보</h5>
						<table class="table table-bordered jambo_table bulk_action">
							<tbody>
								<tr>
									<td style="width:20%; text-align: center">User ID</td>
									<td style="width:50%">
										<input type="text" name="EMP_NO" id="EMP_NO" readonly>
									</td>
								</tr>
								<tr>
									<td style="width:20%; text-align: center">사용자명</td>
									<td style="width:50%">
										<input type="text" name="KOR_NM" id="KOR_NM" readonly>
									</td>
								</tr>
								<tr>
									<td style="width:20%; text-align: center">새 비밀번호</td>
									<td style="width:50%">
										<input type="password" name="PASS_WD" id="PASS_WD">
									</td>
								</tr>
								<tr>
									<td style="width:20%; text-align: center">새 비밀번호 확인</td>
									<td style="width:50%">
										<input type="password" name="PASS_WD_CHECK" id="PASS_WD_CHECK">
									</td>
								</tr>
								<tr>
									<td style="width:20%; text-align: center">등록자</td>
									<td style="width:50%">
										<input type="text" name="CRT_MAN" id="CRT_MAN" readonly>
									</td>
								</tr>
								<tr>
									<td style="width:20%; text-align: center">등록일자</td>
									<td style="width:50%">
										<input type="text" name="CRT_DATE" id="CRT_DATE" readonly>
									</td>
								</tr>
								<tr>
									<td style="width:20%; text-align: center">수정자</td>
									<td style="width:50%">
										<input type="text" name="UPD_MAN" id="UPD_MAN" readonly>
									</td>
								</tr>
								<tr>
									<td style="width:20%; text-align: center">수정일자</td>
									<td style="width:50%">
										<input type="text" name="UPD_DATE" id="UPD_DATE" readonly>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>