<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team02.account.mapper.SlipMapper">
	<!-- 8.1.전표입력
	   @file     SlipMapper.xml
	   @brief    전표입력 XML
	   @author  ksmart30 박찬업
	-->
	
	<!-- 8.1.전표입력-전표리스트 조회
	  @param  ksmart30.team02.account.domain.SlipDetailDomain 
	  @brief    전표리스트 SELECT 쿼리문
	  @return  ksmart30.team02.account.domain.SlipDetailDomain
	-->
	<select id="getSlipInfo"
			resultType="ksmart30.team02.account.domain.SlipDetailDomain">
		SELECT 
			SLIP_SEQ,
			ACC_CD,
			ACC_DTL_CD,
			(SELECT ACC_LONG_NM FROM T_AC0100 A WHERE A.ACC_CD = B.ACC_CD AND A.ACC_DTL_CD = B.ACC_DTL_CD) AS ACC_NM,
			BELONG_DEPT_CD,
			(SELECT DEPT_NM FROM T_SC1010 WHERE DEPT_CD = BELONG_DEPT_CD) AS BELONG_DEPT_NM,
			DRCR_GB,
			ACC_AMT,
			DESCR,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD1 FROM T_AC0100 a WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM1,
			CONT_CD1,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD2 FROM T_AC0100 a WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM2,
			CONT_CD2,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD3 FROM T_AC0100 a WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM3,
			CONT_CD3,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD4 FROM T_AC0100 a WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM4,
			CONT_CD4,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD5 FROM T_AC0100 a WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM5,
			CONT_CD5,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD6 FROM T_AC0100 a WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM6,
			CONT_CD6,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD7 FROM T_AC0100 a WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM7,
			CONT_CD7,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD8 FROM T_AC0100 a WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM8,
			CONT_CD8,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD9 FROM T_AC0100 a WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM9,
			CONT_CD9,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD10 FROM T_AC0100 a WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM10,
			CONT_CD10
		FROM
			T_AC1120 B
		WHERE 									
			SLIP_DATE=#{SLIP_DATE}
		AND
			SLIP_NO=#{SLIP_NO}
		ORDER BY SLIP_SEQ				
	</select>
	
	<!-- 8.1.전표입력-관리항목 조회
	  @param  ksmart30.team02.account.domain.SlipDetailDomain 
	  @brief    관리항목 SELECT 쿼리문
	  @return  ksmart30.team02.account.domain.SlipDetailDomain
	-->
	<select id="getControlItemInfo"
			resultType="ksmart30.team02.account.domain.SlipDetailDomain">
		SELECT 
			SLIP_SEQ,
			ACC_CD,
			ACC_DTL_CD,
			(SELECT DEPT_NM FROM T_SC1010 WHERE DEPT_CD = BELONG_DEPT_CD) AS BELONG_DEPT_CD,
			DRCR_GB,
			ACC_AMT,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD1 FROM T_AC0100 b WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM1,
			CONT_CD1,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD2 FROM T_AC0100 b WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM2,
			CONT_CD2,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD3 FROM T_AC0100 b WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM3,
			CONT_CD3,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD4 FROM T_AC0100 b WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM4,
			CONT_CD4,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD5 FROM T_AC0100 b WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM5,
			CONT_CD5,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD6 FROM T_AC0100 b WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM6,
			CONT_CD6,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD7 FROM T_AC0100 b WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM7,
			CONT_CD7,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD8 FROM T_AC0100 b WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM8,
			CONT_CD8,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD9 FROM T_AC0100 b WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM9,
			CONT_CD9,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=(SELECT DR_CONT_CD10 FROM T_AC0100 b WHERE a.ACC_CD=b.ACC_CD 
				AND a.ACC_DTL_CD=b.ACC_DTL_CD)) AS CONT_NM10,
			CONT_CD10			
		FROM
			T_AC1120 a
		WHERE 									
			ACC_CD=#{ACC_CD}
		AND
			ACC_DTL_CD=#{ACC_DTL_CD}
		AND
			SLIP_DATE=#{SLIP_DATE}
		AND
			SLIP_NO=#{SLIP_NO}		
	</select>
	
	<!-- 8.1.전표입력-기본내역 조회
	  @param  ksmart30.team02.account.domain.SlipDetailDomain 
	  @brief    전표헤더 SELECT 쿼리문
	  @return  ksmart30.team02.account.domain.SlipHeaderDomain
	-->
	<select id="getSlipHeaderInfo"
			parameterType="ksmart30.team02.account.domain.SlipDetailDomain"
			resultType="ksmart30.team02.account.domain.SlipHeaderDomain">
		SELECT 
			SLIP_CASH_GB,
			SLIP_DATE,
			SLIP_NO,
			INIT_DATE,
			INIT_DEPT_CD,
			(SELECT DEPT_NM FROM T_SC1010 WHERE DEPT_CD = INIT_DEPT_CD) AS INIT_DEPT_NM, 			
			INIT_EMP_NO,
			(SELECT KOR_NM FROM T_HM1000 WHERE EMP_NO = INIT_EMP_NO) AS INIT_EMP_NM
		FROM T_AC1110
		WHERE 
			SLIP_DATE =#{SLIP_DATE}
		AND
			SLIP_NO=#{SLIP_NO}		
	</select>
	
	<!-- 8.1.전표입력-전표번호 조회
	  @param  ksmart30.team02.account.domain.SlipHeaderDomain 
	  @brief    전표번호 SELECT 쿼리문
	  @return  ksmart30.team02.account.domain.SlipHeaderDomain
	-->
	<select id="getSlipNoInfo"
			parameterType="ksmart30.team02.account.domain.SlipHeaderDomain"
			resultType="ksmart30.team02.account.domain.SlipHeaderDomain">
		SELECT 
			SLIP_NO, 
			(SELECT DEPT_NM FROM T_SC1010 WHERE DEPT_CD = INIT_DEPT_CD) AS INIT_DEPT_CD, 
			SLIP_CASH_GB, 
			CONFIRM_YN, 
			DR_AMT 
		FROM 
			T_AC1110 
		WHERE 
			SLIP_DATE=#{SLIP_DATE}		
	</select>
</mapper>