<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>search</title>
</th:block>
<th:block layout:fragment="customBody">
	<!-- 검색부분 start -->
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="x_panel">
			<div class="x_content">
				<label for="ex3">검색조건</label><br>
				<table>
					<tr>
						<td>년도</td>
						<td><input type="number"></td>
					</tr>
					<tr>
						<td>부서</td>
						<td><select>
								<option>전 사</option>
								<option>설계1본부</option>
								<option>설계2본부</option>
								<option>설계3본부</option>
								<option>설계4본부</option>
								<option>설계5본부</option>
						</select></td>
					</tr>
					<tr>
						<td>코드명</td>
						<td>
							<button>검색</button>
						</td>
					</tr>
				</table>
				<!-- 검색부분 end -->
				<div class="x_title"></div>
				<!-- 결과부분 start -->
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>PJT코드</th>
							<th>프로젝트명</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="background-color: #fff9df">19005</td>
							<td>ksmart1팀</td>
						</tr>
						<tr>
							<td style="background-color: #fff9df">19009</td>
							<td>bonobonoPorori</td>
						</tr>
					</tbody>
				</table>
				<!-- 결과부분 end -->
			</div>
		</div>
	</div>
</th:block>
</html>