<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team00.baseinfo.mapper.AccountCodeMapper">
	<!-- 10.2.5.계정과목코드
	   @file   AccountCodeMapper.xml
	   @brief   계정과목코드 XML
	   @author  ksmart30 박찬업
	-->
	<!-- 10.2.5.계정과목코드
		  @brief    계정과목리스트 SELECT쿼리문
		  @return  ksmart30.team00.baseinfo.domain.AccountCodeDomain
	-->
	<select id="selectAccountCodeList"
			resultType="ksmart30.team00.baseinfo.domain.AccountCodeDomain">
		SELECT 
			ACC_CD,
			ACC_DTL_CD,
			ACC_LONG_NM,
			ACC_SHRT_NM,
			ACC_CLAS,
			DRCR_GB,
			ACC_LEVEL,
			SLIP_EXIST_YN,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=DR_CONT_CD1) AS DR_CONT_CD1,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=DR_CONT_CD2) AS DR_CONT_CD2,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=DR_CONT_CD3) AS DR_CONT_CD3,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=DR_CONT_CD4) AS DR_CONT_CD4,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=DR_CONT_CD5) AS DR_CONT_CD5,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=DR_CONT_CD6) AS DR_CONT_CD6,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=DR_CONT_CD7) AS DR_CONT_CD7,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=DR_CONT_CD8) AS DR_CONT_CD8,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=DR_CONT_CD9) AS DR_CONT_CD9,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=DR_CONT_CD10) AS DR_CONT_CD10,
			DR_MUST_YN1,
			DR_MUST_YN2,
			DR_MUST_YN3,
			DR_MUST_YN4,
			DR_MUST_YN5,
			DR_MUST_YN6,
			DR_MUST_YN7,
			DR_MUST_YN8,
			DR_MUST_YN9,
			DR_MUST_YN10,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=CR_CONT_CD1) AS CR_CONT_CD1,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=CR_CONT_CD2) AS CR_CONT_CD2,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=CR_CONT_CD3) AS CR_CONT_CD3,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=CR_CONT_CD4) AS CR_CONT_CD4,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=CR_CONT_CD5) AS CR_CONT_CD5,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=CR_CONT_CD6) AS CR_CONT_CD6,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=CR_CONT_CD7) AS CR_CONT_CD7,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=CR_CONT_CD8) AS CR_CONT_CD8,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=CR_CONT_CD9) AS CR_CONT_CD9,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=CR_CONT_CD10) AS CR_CONT_CD10,
			CR_MUST_YN1,
			CR_MUST_YN2,
			CR_MUST_YN3,
			CR_MUST_YN4,
			CR_MUST_YN5,
			CR_MUST_YN6,
			CR_MUST_YN7,
			CR_MUST_YN8,
			CR_MUST_YN9,
			CR_MUST_YN10,
			DR_FUND_CD,
			CR_FUND_CD,
			BUDG_YN,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=BK_CONT_CD1) AS BK_CONT_CD1,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=BK_CONT_CD2) AS BK_CONT_CD2,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=BK_CONT_CD3) AS BK_CONT_CD3,
			UN_MANA_YN,
			UN_MANA_ST,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=UN_CONT_CD1) AS UN_CONT_CD1,
			(SELECT CONT_NM FROM T_AC0200 WHERE CONT_CD=UN_CONT_CD2) AS UN_CONT_CD2,
			HIGH_ACC_CD1,
			HIGH_ACC_CD2,
			HIGH_ACC_CD3,
			HIGH_ACC_CD4,
			HIGH_ACC_CD5,
			HIGH_ACC_CD6	
		 FROM
			T_AC0100
	</select>
	<!-- 10.2.5.계정과목코드
		  @brief    관리항목코드리스트 SELECT쿼리문
		  @return  ksmart30.team00.baseinfo.domain.ControlItemCodeDomain
	-->
	<select id="selectControlItemCodeList"
			resultType="ksmart30.team00.baseinfo.domain.ControlItemCodeDomain">
		SELECT 
			CONT_CD, 
			CONT_NM
		FROM t_ac0200
	</select>
	
</mapper>