<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team00.baseinfo.mapper.AssetClassifyCodeMapper">
	<!-- 자산분류코드 리스트 SELECT쿼리문 -->
	<select id="assetClassifyCodeList"
			resultType="ksmart30.team00.baseinfo.domain.AssetClassifyCode">
		SELECT 
			ASSET_CD, 
			CODE_NM, 
			LAW_YY, 
			ACC_CD, 
			ACC_DTL_CD 
		FROM t_ac4100
	</select>
</mapper>