<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team00.baseinfo.mapper.ControlItemCodeMapper">
	<!-- 관리항목코드리스트 SELECT쿼리문 -->
	<select id="ControlItemCodeList"
			resultType="ksmart30.team00.baseinfo.domain.ControlItemCode">
		SELECT 
			CONT_CD, 
			CONT_NM, 
			CODE_FORMAT, 
			CODE_KIND, 
			ABLE_YN, 
			PRT_NM 
		FROM t_ac0200	
	</select>
</mapper>