<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @file Client.java @brief 기준정보관리-거래처등록 Controller @author ksmart30 YSM -->
<mapper namespace="ksmart30.team00.baseinfo.mapper.InsureSanMapper">
    <!-- 산재보험 대분류 리스트 조회 -->
    <select id="getInsureSanjeLargeList"
            resultType="ksmart30.team00.baseinfo.domain.InsureSan">
            SELECT
                INSURE_SAN_NO,
                INSURE_SAN_GUBUN1
            FROM T_INSURE_SET2
            WHERE 
                INSURE_SAN_NO = 100 
            OR INSURE_SAN_NO = 200 
            OR INSURE_SAN_NO = 300 
            OR INSURE_SAN_NO = 400 
            OR INSURE_SAN_NO = 500 
            OR INSURE_SAN_NO = 600 
            OR INSURE_SAN_NO = 700 
            OR INSURE_SAN_NO = 800 
            OR INSURE_SAN_NO = 901
            OR INSURE_SAN_NO = 0 
    </select>
    <!-- 산재보험 중분류 리스트 조회 -->
    <select id="getInsureSanjeMiddleList"
            parameterType="ksmart30.team00.baseinfo.domain.InsureSan"
            resultType="ksmart30.team00.baseinfo.domain.InsureSan">
            SELECT
                INSURE_SAN_NO,
                INSURE_SAN_GUBUN2,
                INSURE_COM_RATE
            FROM T_INSURE_SET2
            WHERE
                INSURE_SAN_GUBUN1 = #{INSURE_SAN_GUBUN1}
    </select>
</mapper>