<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ksmart30.team03.mh.mapper.ResultMapper">
	<!-- 5.1 M/H 입력 -->
	<insert id="resultWriteView"
			parameterType="ksmart30.team03.mh.domain.Result">
		INSERT INTO
			T_PM1020_BNT(
					EMP_NO,
					WORK_DT,
					PJT_CD,
					WORK_STEP,
					WORK_SPEC,
					DEPT_CD,
					WORK_TIME,
					ETC_SPEC,
					JIKGUP_CD
			) VALUES(
					#{EMP_NO},
					#{WORK_DT},
					#{PJT_CD},
					#{WORK_STEP},
					#{WORK_SPEC},
					#{DEPT_CD},
					#{WORK_TIME},
					#{ETC_SPEC},
					#{JIKGUP_CD}
				)
	</insert>
	
	<!-- M/H실적 리스트 -->
	<select id="getListView"
			resultType="ksmart30.team03.mh.domain.Result">
			SELECT  TOP 20
				A.EMP_NO,
				A.WORK_DT,	
				ISNULL(E.PJT_NM,'-') AS PJT_CD,
				A.WORK_SPEC,	
				ISNULL(D.DEPT_NM,'-') AS DEPT_CD,
				A.WORK_TIME,
				A.ETC_SPEC,		
				ISNULL(C.LEVEL2_NM,'-') AS WORK_STEP,
				ISNULL(B.LEVEL2_NM,'-') AS JIKGUP_CD	
			FROM T_PM1020_BNT A, 
				 T_SC9100 B,
				 T_SC9100 C,
				 T_SC1010 D,
				 T_SM3000_2016 E
				 WHERE ((A.WORK_STEP *= C.LEVEL2_CD) AND (C.LEVEL1_CD='110' AND C.BUSI_GB = 'J'))
				 AND((A.JIKGUP_CD *= B.LEVEL2_CD) AND (B.LEVEL1_CD='110' AND B.BUSI_GB = 'H'))
				 AND(A.DEPT_CD *= D.DEPT_CD)  AND(A.PJT_CD *= E.PJT_CD)
				 
	</select>
	
	<!-- M/H실적 리스트 검색 -->
	<select id="getListSearch"
			parameterType="String"
			resultType="java.util.Map">
		SELECT  TOP 25
				A.EMP_NO,
				A.WORK_DT,	
				ISNULL(E.PJT_NM,'-') AS PJT_CD,
				A.WORK_SPEC,	
				ISNULL(D.DEPT_NM,'-') AS DEPT_CD,
				A.WORK_TIME,
				A.ETC_SPEC,		
				ISNULL(C.LEVEL2_NM,'-') AS WORK_STEP,
				ISNULL(B.LEVEL2_NM,'-') AS JIKGUP_CD	
			FROM T_PM1020_BNT A, 
				 T_SC9100 B,
				 T_SC9100 C,
				 T_SC1010 D,
				 T_SM3000_2016 E
				 WHERE ((A.WORK_STEP *= C.LEVEL2_CD) AND (C.LEVEL1_CD='110' AND C.BUSI_GB = 'J'))
				 AND((A.JIKGUP_CD *= B.LEVEL2_CD) AND (B.LEVEL1_CD='110' AND B.BUSI_GB = 'H'))
				 AND(A.DEPT_CD *= D.DEPT_CD)  AND(A.PJT_CD *= E.PJT_CD)
	 			 AND A.WORK_DT<![CDATA[>=]]>#{WORK_DT} AND A.WORK_DT<![CDATA[<=]]>#{WORK_DT2}
	 			 
	</select>
	
	<!-- M/H실적 리스트 검색 값이 없을 때 -->
	<select id="getListSearch2"
			parameterType="String"
			resultType="java.util.Map">
		SELECT  TOP 25
				A.EMP_NO,
				A.WORK_DT,	
				ISNULL(E.PJT_NM,'-') AS PJT_CD,
				A.WORK_SPEC,	
				ISNULL(D.DEPT_NM,'-') AS DEPT_CD,
				A.WORK_TIME,
				A.ETC_SPEC,		
				ISNULL(C.LEVEL2_NM,'-') AS WORK_STEP,
				ISNULL(B.LEVEL2_NM,'-') AS JIKGUP_CD
		FROM T_PM1020_BNT A, 
			 T_SC9100 B,
			 T_SC9100 C,
			 T_SC1010 D,
			 T_SM3000_2016 E
		 WHERE ((A.WORK_STEP *= C.LEVEL2_CD) AND (C.LEVEL1_CD='110' AND C.BUSI_GB = 'J'))
		 AND((A.JIKGUP_CD *= B.LEVEL2_CD) AND (B.LEVEL1_CD='110' AND B.BUSI_GB = 'H'))
		 AND(A.DEPT_CD *= D.DEPT_CD)  AND(A.PJT_CD *= E.PJT_CD)
				 
	</select>
	
	
	<!-- M/H실적 디테일 쿼리 -->
	<select  id="getResultListDetailView"
	resultType="ksmart30.team03.mh.domain.Result" parameterType="String">
		SELECT 
				A.EMP_NO,
				A.WORK_DT,	
				ISNULL(E.PJT_NM,'-') AS PJT_CD,
				A.WORK_SPEC,	
				ISNULL(D.DEPT_NM,'-') AS DEPT_CD,
				A.WORK_TIME,
				A.ETC_SPEC,		
				ISNULL(C.LEVEL2_NM,'-') AS WORK_STEP,
				ISNULL(B.LEVEL2_NM,'-') AS JIKGUP_CD
		FROM T_PM1020_BNT A, 
			 T_SC9100 B,
			 T_SC9100 C,
			 T_SC1010 D,
			 T_SM3000_2016 E
		 WHERE ((A.WORK_STEP *= C.LEVEL2_CD) AND (C.LEVEL1_CD='110' AND C.BUSI_GB = 'J'))
		 AND((A.JIKGUP_CD *= B.LEVEL2_CD) AND (B.LEVEL1_CD='110' AND B.BUSI_GB = 'H'))
		 AND(A.DEPT_CD *= D.DEPT_CD)  AND(A.PJT_CD *= E.PJT_CD)
		 AND A.EMP_NO LIKE '%'+#{EMP_NO}+'%';
	</select>
	
	
	
	
	
	
	
	<select id = "getSelectListView"
				  resultType="ksmart30.team03.mh.domain.Result">
	SELECT PJT_CD,PJT_NM FROM T_SM3000
		WHERE 	
			PJT_CD = 17001 
	 		OR PJT_CD = 17002 OR PJT_CD = 17003 OR PJT_CD = 17004 OR PJT_CD = 17005
			OR PJT_CD = 17006 OR PJT_CD = 17007 OR PJT_CD = 17008 OR PJT_CD = 17009
	 		OR PJT_CD = 18001 OR PJT_CD = 18002 OR PJT_CD = 18003 OR PJT_CD = 18004
			OR PJT_CD = 18005 OR PJT_CD = 18006 OR PJT_CD = 18007 OR PJT_CD = 18008
			OR PJT_CD = 18009 OR PJT_CD = 18010 OR PJT_CD = 18011 OR PJT_CD = 18012
			OR PJT_CD = 18013 OR PJT_CD = 18014 OR PJT_CD = 18015 OR PJT_CD = 18016
			OR PJT_CD = 18017 OR PJT_CD = 18018 OR PJT_CD = 18019 OR PJT_CD = 18020
			OR PJT_CD = 18021 OR PJT_CD = 18022 OR PJT_CD = 18023 OR PJT_CD = 18024
			OR PJT_CD = 18025 OR PJT_CD = 18026 OR PJT_CD = 18027 OR PJT_CD = 18028
			OR PJT_CD = 18029 OR PJT_CD = 18030 OR PJT_CD = 18031 OR PJT_CD = 19001
			OR PJT_CD = 19002 OR PJT_CD = 19003 OR PJT_CD = 19004 OR PJT_CD = 19005
			OR PJT_CD = 19006 OR PJT_CD = 19007 OR PJT_CD = 19008 OR PJT_CD = 19009
			OR PJT_CD = 19010 OR PJT_CD = 19011 OR PJT_CD = 19012 OR PJT_CD = 19013
			OR PJT_CD = 19014 OR PJT_CD = 19015 OR PJT_CD = 19016 OR PJT_CD = 19017
			OR PJT_CD = 19018 OR PJT_CD = 19019 OR PJT_CD = 19020 OR PJT_CD = 19021
	</select>
</mapper>