<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ksmart30.team03.mh.mapper.ResultNugaeMapper">

	<!-- 
	5.2.2M/H 계획/실적(프로젝트 누계) - 프로젝트별 계획,실적 M/H list 출력 	
	  -->
 
	<select id="getResultNugaeList" resultType="ksmart30.team03.mh.domain.ResultList">
	SELECT
			g.WORK_STEP,f.WORK_TIME,d.DEPT_NM,b.pjt_cd PJT_CD, e.SVC PJT_NM ,b.PLAN_A,b.PLAN_B,b.PLAN_C,b.PLAN_D,
			b.PLAN_E,b.PLAN_F,b.PLAN_G,b.TOT_MD,
			(CASE g.WORK_STEP WHEN 'A' THEN b.PLAN_A WHEN 'B' THEN b.PLAN_A+b.PLAN_B 
			WHEN 'C' THEN b.PLAN_A+b.PLAN_B+b.PLAN_C WHEN 'D' THEN b.PLAN_A+b.PLAN_B+b.PLAN_C+b.PLAN_D
			WHEN 'E' THEN b.PLAN_A+b.PLAN_B+b.PLAN_C+b.PLAN_D+b.PLAN_E
			WHEN 'F' THEN b.PLAN_A+b.PLAN_B+b.PLAN_C+b.PLAN_D+b.PLAN_E+b.PLAN_F 
			WHEN 'G' THEN b.PLAN_A+b.PLAN_B+b.PLAN_C+b.PLAN_D+b.PLAN_E+b.PLAN_F+b.PLAN_G END) TOT_PLAN,
			(CASE g.WORK_STEP WHEN 'A' THEN '기획' WHEN 'B' THEN '심의'WHEN 'C' THEN '허가'
			WHEN 'D' THEN '착공'WHEN 'E' THEN '실시'WHEN 'F' THEN 'A/S'WHEN 'G' THEN '준공'END) WORK_NM
			FROM T_P11080 g
			JOIN 
			(SELECT pjt_cd, 
			SUM(PLAN_A)AS PLAN_A,SUM(PLAN_B)AS PLAN_B,SUM(PLAN_C)AS PLAN_C,
			SUM(PLAN_D)AS PLAN_D,SUM(PLAN_E)AS PLAN_E,SUM(PLAN_F)AS PLAN_F,
			SUM(PLAN_G)AS PLAN_G, SUM(TOT_MD)AS TOT_MD 
		FROM T_P11050 
		GROUP BY pjt_cd) b 
		ON b.PJT_CD=g.PJT_CD
		JOIN T_P11000 a 
		ON a.pjt_cd=b.pjt_cd 
		JOIN T_HM1000 AS c 
		ON c.EMP_NO=a.EMP_NO 
		JOIN T_SC1010 AS d
		ON c.DEPT_CD=d.DEPT_CD
		JOIN T_PS1000 AS e
		ON a.PJT_CD=e.PJT_CD
		JOIN (SELECT PJT_CD, SUM(FLOOR(WORK_TIME)) WORK_TIME FROM T_PM1020 GROUP BY PJT_CD) AS f
		ON a.PJT_CD=f.PJT_CD
	 WHERE g.START_DAY <![CDATA[ <]]> GETDATE() AND g.PLAN_END_DAY <![CDATA[ >]]> GETDATE()
		ORDER BY d.DEPT_NM
		
	</select>
	
	<!-- 
	5.2.2M/H 계획/실적(프로젝트 누계) - 프로젝트 클릭 시 상세 계획,실적 list 출력	
	  -->
	<select id="getResultNugaeList2" resultType="ksmart30.team03.mh.domain.ResultList" parameterType="String">
	SELECT *
	FROM ( 
	 /* 계약프로젝트 일정계획 단계별 계획 대 실적 M/D작성 */
	 SELECT #{PJT_CD} PJT_CD, '' PJT_TYPE, WORK_STEP, ISNULL(LEVEL1_NM,'합  계') WORK_NM, 
	   FLOOR(YEA_MD) YEA_MD, SIL_TM
	 FROM (
		  SELECT 'A' WORK_STEP, ISNULL(SUM(A.PLAN_A),0) YEA_MD,
		   (SELECT CAST(ISNULL(SUM(B.WORK_TIME),0) AS INT)
		    FROM T_PM1020 B
		    WHERE B.PJT_CD    = #{PJT_CD}
		    AND B.WORK_STEP = 'A' ) SIL_TM
	  FROM T_P11050 A
	  WHERE A.PJT_CD    = #{PJT_CD}
	  UNION ALL
	  SELECT 'B' WORK_STEP, ISNULL(SUM(A.PLAN_B),0) YEA_MD,
		   (SELECT CAST(ISNULL(SUM(B.WORK_TIME),0) AS INT)
		    FROM T_PM1020 B
		    WHERE B.PJT_CD    = #{PJT_CD}
		    AND B.WORK_STEP = 'B' ) SIL_TM
	  FROM T_P11050 A
	  WHERE A.PJT_CD    = #{PJT_CD}
	  UNION ALL
	  SELECT 'C' WORK_STEP, ISNULL(SUM(A.PLAN_C),0) YEA_MD,
		   (SELECT CAST(ISNULL(SUM(B.WORK_TIME),0) AS INT)
		    FROM T_PM1020 B
		    WHERE B.PJT_CD    =#{PJT_CD}
		    AND B.WORK_STEP = 'C' ) SIL_TM
	  FROM T_P11050 A
	  WHERE A.PJT_CD    = #{PJT_CD}
	  UNION ALL
	  SELECT 'D' WORK_STEP, ISNULL(SUM(A.PLAN_D),0) YEA_MD,
		   (SELECT CAST(ISNULL(SUM(B.WORK_TIME),0) AS INT)
		    FROM T_PM1020 B
		    WHERE B.PJT_CD    = #{PJT_CD}
		    AND B.WORK_STEP = 'D' ) SIL_TM
	  FROM T_P11050 A
	  WHERE A.PJT_CD    = #{PJT_CD}
	  UNION ALL
	  SELECT 'E' WORK_STEP, ISNULL(SUM(A.PLAN_E),0) YEA_MD,
		   (SELECT CAST(ISNULL(SUM(B.WORK_TIME),0) AS INT)
		    FROM T_PM1020 B
		    WHERE B.PJT_CD    = #{PJT_CD}
		    AND B.WORK_STEP = 'E' ) SIL_TM
	  FROM T_P11050 A
	  WHERE A.PJT_CD    =#{PJT_CD}
	  UNION ALL
	  SELECT 'F' WORK_STEP, ISNULL(SUM(A.PLAN_F),0) YEA_MD,
		   (SELECT CAST(ISNULL(SUM(B.WORK_TIME),0) AS INT)
		    FROM T_PM1020 B
		    WHERE B.PJT_CD    = #{PJT_CD}
		    AND B.WORK_STEP = 'F' ) SIL_TM
	  FROM T_P11050 A
	  WHERE A.PJT_CD    =#{PJT_CD}
	  UNION ALL
	  SELECT 'G' WORK_STEP, ISNULL(SUM(A.PLAN_G),0) YEA_MD,
		   (SELECT CAST(ISNULL(SUM(B.WORK_TIME),0) AS INT)
		    FROM T_PM1020 B
		    WHERE B.PJT_CD    = #{PJT_CD}
		    AND B.WORK_STEP = 'G' ) SIL_TM
	  FROM T_P11050 A
	  WHERE A.PJT_CD    = #{PJT_CD}
	  UNION ALL
	  SELECT 'T' WORK_STEP, ISNULL(SUM(A.PLAN_A + A.PLAN_B + A.PLAN_C + A.PLAN_D +
		                                           A.PLAN_E + A.PLAN_F + A.PLAN_G),0) YEA_MD,
		   (SELECT CAST(ISNULL(SUM(B.WORK_TIME),0) AS INT)
		    FROM T_PM1020 B
		    WHERE B.PJT_CD    = #{PJT_CD}
		    AND B.WORK_STEP IN ('A','B','C','D','E','F','G')) SIL_TM
	  FROM T_P11050 A
	  WHERE A.PJT_CD    = #{PJT_CD}
	  ) A,
	  T_SC9000 B
	 WHERE WORK_STEP *= LEVEL1_CD
	 AND BUSI_GB   = 'J') A 
		
	</select>
</mapper>

