<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>외주비 분석현황(용도별)</title>
	<th:block th:include="layout/customHead"></th:block>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function startYearCall() {
	//날짜 초기화(적용하기)
	let today = new Date();
	let dd = today.getDate();
	let mm = today.getMonth()+1; 
	let yyyy = today.getFullYear();
	if(dd<10) {//2자리수만들기
	    dd='0'+dd
	} 
	if(mm<10) {
	    mm='0'+mm
	} 
	today = yyyy+'-' + mm+'-'+dd;
	startYear = yyyy+'-01-01';//올해 첫월 첫일
	$('#STRAT_DATE').val(startYear);
	$('#END_DATE').val(today);
}
function searchCall() {
	let STRAT_DATE = $('#STRAT_DATE').val();//기간검색 시작
	let END_DATE = $('#END_DATE').val();//기간검색 끝
	let BUILD_CD = $('#BUILD_CD').val();// 건축물 용도
	let BIZ_CD = $('#BIZ_CD').val(); // 수주구분
	let Y_P_STRAT = $('#Y_P_STRAT').val(); //연면적 시작
	let Y_P_END = $('#Y_P_END').val(); // 연면적 끝
	let DG_P_STRAT = $('#DG_P_STRAT').val();//대지면적 시작
	let DG_P_END = $('#DG_P_END').val();//대지면적 끝
	
	$.ajax({
        url:'/cooperationDragonHyunhwang',//호출할 메소드
        type:'POST',//송신 방식 
        data:{STRAT_DATE:STRAT_DATE,END_DATE:END_DATE,BUILD_CD:BUILD_CD,BIZ_CD:BIZ_CD,
        	Y_P_STRAT:Y_P_STRAT,Y_P_END:Y_P_END,DG_P_STRAT:DG_P_STRAT,DG_P_END:DG_P_END},//넘길 데이터
        success:(data)=>{
        	console.log(data);
        	$('#searchList').empty();
        	 $(data).each((index,item)=>{
        		 if(item.BUILD_GBN=='Z'){
        			 $('#searchList').append(
   	        			'<tr style="background-color: #f9dfff"><td>'
   	        			+item.BUILD_NM+'</td><td></td><td></td><td></td><td>'
   	        			+item.G_AREA_P+'</td><td>'
   	        			+item.G_YAREA_P+'</td><td>'+item.CONTRACT_AMT+'</td><td>'
   	        			+item.CONTRACT_DAN+'</td><td>'+item.CONTRACT_RAT+'</td><td>'
   	        			+item.OUT_01+'</td><td>'+item.DAN_01+'</td><td>'
   	        			+item.OUT_02+'</td><td>'+item.DAN_02+'</td><td>'	        			
   	        			+item.OUT_03+'</td><td>'+item.DAN_03+'</td><td>'	        			
   	        			+item.OUT_04+'</td><td>'+item.DAN_04+'</td><td>'        			
   	        			+item.OUT_05+'</td><td>'+item.DAN_05+'</td><td>'        			
   	        			+item.OUT_08+'</td><td>'+item.DAN_08+'</td><td>'	        			
   	        			+item.OUT_11+'</td><td>'+item.DAN_11+'</td><td>'	        			
   	        			+item.OUT_14+'</td><td>'+item.DAN_14+'</td><td>'	        			
   	        			+item.OUT_29+'</td><td>'+item.DAN_29+'</td><td>'	        			
   	        			+item.OUT_04+'</td><td>'+item.DAN_04+'</td><td>'	        			
   	        			+item.OUT_05+'</td><td>'+item.DAN_05+'</td><td>'	        			
   	        			+item.OUT_10+'</td><td>'+item.DAN_10+'</td><td>'
   	        			+item.OUT_12+'</td><td>'+item.DAN_12+'</td><td>'	        			
   	        			+item.COST2_01+'</td><td>'+item.COST2_02+'</td><td>'
   	        			+item.WORK_STEP_NM+'</td><td>'
   	        			+item.PLAN_MH1+'</td><td>'+item.PLAN_MH2+'</td><td>'
   	        			+item.PLAN_TOT+'</td><td>'+item.SIL_MH1+'</td><td>'
   	        			+item.SIL_MH2+'</td><td>'+item.SIL_TOT+'</td><td>'+item.COST_AMT1.toLocaleString()+'</td><td>'
   	        			+item.SIL_COST1.toLocaleString()+'</td><td>'+item.CHA_COST1.toLocaleString()+'</td><td></tr>')
        		 }else if(item.PJT_CD=='ZZZZZZ'){
     			 $('#searchList').append(
   	        			'<tr style="background-color: #fff9df"><td>'
   	        			+item.BUILD_NM+'</td><td></td><td></td><td></td><td>'
   	        			+item.G_AREA_P+'</td><td>'
   	        			+item.G_YAREA_P+'</td><td>'+item.CONTRACT_AMT+'</td><td>'
   	        			+item.CONTRACT_DAN+'</td><td>'+item.CONTRACT_RAT+'</td><td>'
   	        			+item.OUT_01+'</td><td>'+item.DAN_01+'</td><td>'
   	        			+item.OUT_02+'</td><td>'+item.DAN_02+'</td><td>'	        			
   	        			+item.OUT_03+'</td><td>'+item.DAN_03+'</td><td>'	        			
   	        			+item.OUT_04+'</td><td>'+item.DAN_04+'</td><td>'        			
   	        			+item.OUT_05+'</td><td>'+item.DAN_05+'</td><td>'        			
   	        			+item.OUT_08+'</td><td>'+item.DAN_08+'</td><td>'	        			
   	        			+item.OUT_11+'</td><td>'+item.DAN_11+'</td><td>'	        			
   	        			+item.OUT_14+'</td><td>'+item.DAN_14+'</td><td>'	        			
   	        			+item.OUT_29+'</td><td>'+item.DAN_29+'</td><td>'	        			
   	        			+item.OUT_04+'</td><td>'+item.DAN_04+'</td><td>'	        			
   	        			+item.OUT_05+'</td><td>'+item.DAN_05+'</td><td>'	        			
   	        			+item.OUT_10+'</td><td>'+item.DAN_10+'</td><td>'
   	        			+item.OUT_12+'</td><td>'+item.DAN_12+'</td><td>'	        			
   	        			+item.COST2_01+'</td><td>'+item.COST2_02+'</td><td>'
   	        			+item.WORK_STEP_NM+'</td><td>'
   	        			+item.PLAN_MH1+'</td><td>'+item.PLAN_MH2+'</td><td>'
   	        			+item.PLAN_TOT+'</td><td>'+item.SIL_MH1+'</td><td>'
   	        			+item.SIL_MH2+'</td><td>'+item.SIL_TOT+'</td><td>'+item.COST_AMT1.toLocaleString()+'</td><td>'
   	        			+item.SIL_COST1.toLocaleString()+'</td><td>'+item.CHA_COST1.toLocaleString()+'</td><td></tr>')
	     		 }else{
	     			 $('#searchList').append(
  	        			'<tr><td>'
  	        			+item.BUILD_NM+'</td><td>' //건축물용도	        			
  	        			+item.PJT_NM+'</td><td>'//프로젝트명
  	        			+item.BIZ_NM+'</td><td>'//수주구분
  	        			+item.CUST_NM+'</td><td>'//발주처
  	        			+item.G_AREA_P+'</td><td>'//대지평
  	        			+item.G_YAREA_P+'</td><td>'//연면적평	        			
  	        			+item.CONTRACT_AMT.toLocaleString()+'</td><td>'//계약금액
  	        			+item.CONTRACT_DAN.toLocaleString()+'</td><td>'//평단가
  	        			+item.CONTRACT_RAT+'</td><td>'//비율
  	        			+item.OUT_01.toLocaleString()+'</td><td>'+item.DAN_01.toLocaleString()+'</td><td>'//건축
  	        			+item.OUT_02.toLocaleString()+'</td><td>'+item.DAN_02.toLocaleString()+'</td><td>'//기계	        			
  	        			+item.OUT_03.toLocaleString()+'</td><td>'+item.DAN_03.toLocaleString()+'</td><td>'//전기	        			
  	        			+item.OUT_04.toLocaleString()+'</td><td>'+item.DAN_04.toLocaleString()+'</td><td>'//구조	        			
  	        			+item.OUT_05.toLocaleString()+'</td><td>'+item.DAN_05.toLocaleString()+'</td><td>'//견적	        			
  	        			+item.OUT_08.toLocaleString()+'</td><td>'+item.DAN_08.toLocaleString()+'</td><td>'//교통영향평가	        			
  	        			+item.OUT_11.toLocaleString()+'</td><td>'+item.DAN_11.toLocaleString()+'</td><td>'//측량	        			
  	        			+item.OUT_14.toLocaleString()+'</td><td>'+item.DAN_14.toLocaleString()+'</td><td>'//소방	        			
  	        			+item.OUT_29.toLocaleString()+'</td><td>'+item.DAN_29.toLocaleString()+'</td><td>'//기타	        			
  	        			+item.OUT_04.toLocaleString()+'</td><td>'+item.DAN_04.toLocaleString()+'</td><td>'//토목	        			
  	        			+item.OUT_05.toLocaleString()+'</td><td>'+item.DAN_05.toLocaleString()+'</td><td>'//조경	        			
  	        			+item.OUT_10.toLocaleString()+'</td><td>'+item.DAN_10.toLocaleString()+'</td><td>'//지질조사
  	        			+item.OUT_12.toLocaleString()+'</td><td>'+item.DAN_12.toLocaleString()+'</td><td>'//흙막이	        			
  	        			+item.COST2_01.toLocaleString()+'</td><td>'//조감도비
  	        			+item.COST2_02.toLocaleString()+'</td><td>'//모형비
  	        			+item.WORK_STEP_NM+'</td><td>'//일정  	        			
  	        			+item.PLAN_MH1+'</td><td>'//M/H계획
  	        			+item.PLAN_MH2+'</td><td>'
  	        			+item.PLAN_TOT+'</td><td>'
  	        			+item.SIL_MH1+'</td><td>'//M/H실적
  	        			+item.SIL_MH2+'</td><td>'
  	        			+item.SIL_TOT+'</td><td>'
  	        			+item.COST_AMT1.toLocaleString()+'</td><td>' //인건비
  	        			+item.SIL_COST1.toLocaleString()+'</td><td>'
  	        			+item.CHA_COST1.toLocaleString()+'</td><td>'
  	        			+'</tr>')
       		 }
        		 
       	 });
       	}
        	
      });
}

$(document).ready(()=>{
	startYearCall()//해당년 셋팅
	searchCall()//기본 조회 하기
	//이벤트 조회
	$('#search').on('click',()=>{
		searchCall()
	});
});

</script>
</th:block>
<th:block layout:fragment="customBody">

<font color="black">

<div class="col-md-9 col-xs-12" style="color:black;">
        <div class="page-title">
	<div class="title_left">
	 <h2><b>외주비 분석 현황(용도별)</b></h2>
	<h5><font color="gray"><b>3.외주관리&nbsp;>&nbsp;&nbsp;3.2외주비분석현황</b></font></h5>
					
	</div>
	</div>
        </div>
<div class="x_content" style="text-align: right">
<div class="btn-group" >
<button class="btn btn-default" type="button" id="search">조회</button>
<button class="btn btn-default" type="button" disabled="disabled">입력</button>
<button class="btn btn-default" type="button" disabled="disabled">수정</button>
<button class="btn btn-default" type="button" disabled="disabled">삭제</button>
<button class="btn btn-default" type="button" disabled="disabled">저장</button>
<button class="btn btn-default" type="button" disabled="disabled">출력</button>
</div>
</div>
	<div class="x_panel">
		
		<div class="x_content">

			<!-- 검색 폼 -->
			<h3>★ 검색 조건</h3>
			<form id="demo-form" action="/project/cooperation/dragon_hyunhwang"
				method="post">

				<table class="table">
					<tr>
						<td width="150"><label>⊙ 기간 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="date" name="date1" class="form-control" id="STRAT_DATE">
							</div>
						</td>
						<td><label>에서</label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="date" name="date2" class="form-control" id="END_DATE">
							</div>
						</td>
						<td><label>까지</label></td>
					</tr>

					<tr>
						<td width="150"><label>⊙ 건축물 용도 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<select class="form-control" id="BUILD_CD">
									<option value="">ALL</option>
									<option value="01">단독주택</option>
									<option value="02">공동주택</option>
									<option value="03">제1종 근린생활시설</option>
									<option value="04">제2종 근린생활시설</option>
									<option value="05">문화 및 집회시설</option>
									<option value="06">판매시설</option>
									<option value="07">의료시설</option>
									<option value="08">교육연구시설</option>
									<option value="09">운동시설</option>
									<option value="10">업무시설</option>
									<option value="11">숙박시설</option>
									<option value="12">위락시설</option>
									<option value="13">공 장</option>
									<option value="14">창고시설</option>
									<option value="15">위험물저장 및 처리시설</option>
									<option value="16">자동차관련시설</option>
									<option value="17">동물 및 식물관련시설</option>
									<option value="18">분뇨 쓰레기처리시설</option>
									<option value="19">교정 및 군사시설</option>
									<option value="20">묘지관련시설</option>
									<option value="21">관광유게시설</option>
									<option value="22">주거복합</option>
									<option value="23">주거단위계획</option>
									<option value="24">종교시설</option>
									<option value="25">운수시설</option>
									<option value="26">노유자시설</option>
									<option value="27">수련시설</option>
									<option value="28">방송통신시설</option>
									<option value="29">발전시설</option>
									<option value="30">공공업무시설</option>
									<option value="31">공공업무시설</option>
									<option value="99">공공업무시설</option>
								</select>
							</div>
						</td>
						<td width="100"><label>⊙ 연면적 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="number" name="test" class="form-control" id="Y_P_STRAT">
							</div>
						</td>
						<td width="80"><label>평 이상</label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="number" name="test" class="form-control" id="Y_P_END">
							</div>
						</td>
						<td width="80"><label>평 이하</label></td>
					</tr>

					<tr>
						<td><label for="gex3">⊙ 수주 구분 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<select class="form-control" id="BIZ_CD">
									<option value="">ALL</option>
									<option value="01">발주의뢰</option>
									<option value="06">저가심의</option>
									<option value="10">적격심사</option>
									<option value="16">현상설계</option>
									<option value="20">지명현상</option>
									<option value="26">TK</option>
									<option value="30">기술제안</option>
									<option value="36">대안입찰</option>
									<option value="40">PF</option>
									<option value="46">BTL</option>
								</select>
							</div>
						</td>
						<td><label>⊙ 대지면적 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="number" name="test" class="form-control" id="DG_P_STRAT">
							</div>
						</td>
						<td><label>평 이상</label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="number" name="test" class="form-control" id="DG_P_END">
							</div>
						</td>
						<td><label>평 이하</label></td>
					</tr>
				</table>




			</form>
			<!-- 검색폼 끝 -->

		</div>
	</div>
	<!-- 검색 결과 화면 -->
	<!-- <div class="table-responsive"> -->
	<div
		style="overflow: scroll; width: 100%; height: 100%; padding: 10px; background-color:;">
		<table class="table">
			<thead>

				<tr>
					<th rowspan="2" width="100">건축물용도</th>
					<th rowspan="2" width="100">프로젝트</th>
					<th rowspan="2" width="100">수주구분</th>
					<th rowspan="2" width="100">발주처</th>
					<th rowspan="2" width="100">대지(평)</th>
					<th rowspan="2" width="100">연면적(평)</th>
					<th rowspan="2" width="100">계약금액</th>
					<th rowspan="2" width="100">평단가</th>
					<th rowspan="2" width="100">비율</th>
					<th colspan="2">건축</th>
					<th colspan="2">기계</th>
					<th colspan="2">전기</th>
					<th colspan="2">구조</th>
					<th colspan="2">견적</th>
					<th colspan="2">교통영향평가</th>
					<th colspan="2">측량</th>
					<th colspan="2">소방</th>
					<th colspan="2">기타</th>
					<th colspan="2">토목</th>
					<th colspan="2">조경</th>
					<th colspan="2">지질조사</th>
					<th colspan="2">흙막이</th>
					<th colspan="2">제조경비1</th>
					<th rowspan="2" width="100">일정</th>
					<th colspan="3">M/H계획</th>
					<th colspan="3">M/H계획</th>
					<th colspan="3">인건비</th>
				</tr>
				<tr>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">조감도비</th>
					<th width="100">모형비</th>
					<th width="100">주관</th>
					<th width="100">지원</th>
					<th width="100">계</th>
					<th width="100">주관</th>
					<th width="100">지원</th>
					<th width="100">계</th>
					<th width="100">계획</th>
					<th width="100">실적</th>
					<th width="100">증감</th>
				</tr>


			</thead>

			<tbody id="searchList">
	

			</tbody>
		</table>
	</div>


</font>

</th:block>
<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>