<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>외주비 분석현황(용도별)</title>
	<th:block th:include="layout/customHead"></th:block>
</th:block>
<th:block layout:fragment="customBody">

	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-money"></i>외주비 분석 현황(용도별)
			</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-expanded="false"><i
						class="fa fa-wrench"></i></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Settings 1</a></li>
						<li><a href="#">Settings 2</a></li>
					</ul></li>
				<li><a class="close-link"><i class="fa fa-close"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<!-- 검색 폼 -->
			<h3>★ 검색 조건</h3>
			<form id="demo-form" action="/project/cooperation/dragon_hyunhwang"
				method="post">

				<table class="table">
					<tr>
						<td width="150"><label>⊙ 기간 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="date" name="date1" class="form-control ">
							</div>
						</td>
						<td><label>에서</label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="date" name="date2" class="form-control">
							</div>
						</td>
						<td><label>까지</label></td>
					</tr>

					<tr>
						<td width="150"><label>⊙ 건축물 용도 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<select class="form-control">
									<option value="">ALL</option>
									<option value="1">단독주택</option>
									<option value="2">공동주택</option>
									<option value="3">제1종 근린생활시설</option>
									<option value="1">제1종 근린생활시설</option>
									<option value="2">문화 및 집회시설</option>
									<option value="3">판매시설</option>
									<option value="3">의료시설</option>
								</select>
							</div>
						</td>
						<td width="100"><label>⊙ 연면적 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="text" name="test" class="form-control">
							</div>
						</td>
						<td width="80"><label>평 이상</label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="text" name="test" class="form-control">
							</div>
						</td>
						<td width="80"><label>평 이하</label></td>
					</tr>

					<tr>
						<td><label for="gex3">⊙ 수주 구분 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<select class="form-control">
									<option value="">ALL</option>
									<option value="1">발주의뢰</option>
									<option value="2">저가심의</option>
									<option value="3">적격심사</option>
									<option value="1">현상설계</option>
									<option value="2">지명현상</option>
									<option value="3">TK</option>
									<option value="3">기술제안</option>
								</select>
							</div>
						</td>
						<td><label>⊙ 대지면적 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="text" name="test" class="form-control">
							</div>
						</td>
						<td><label>평 이상</label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="text" name="test" class="form-control">
							</div>
						</td>
						<td><label>평 이하</label></td>
					</tr>
				</table>




			</form>
			<!-- 검색폼 끝 -->

		</div>
	</div>
	<!-- 검색 결과 화면 -->
	<!-- <div class="table-responsive"> -->
	<div
		style="overflow: scroll; width: 100%; height: 100%; padding: 10px; background-color:;">
		<table class="table">
			<thead>

				<tr>
					<th rowspan="2" width="100">건축물용도</th>
					<th rowspan="2" width="100">프로젝트</th>
					<th rowspan="2" width="100">수주구분</th>
					<th rowspan="2" width="100">발주처</th>
					<th rowspan="2" width="100">대지(평)</th>
					<th rowspan="2" width="100">연면적(평)</th>
					<th rowspan="2" width="100">계약금액</th>
					<th rowspan="2" width="100">평단가</th>
					<th colspan="2">건축</th>
					<th colspan="2">기계</th>
					<th colspan="2">전기</th>
					<th colspan="2">구조</th>
					<th colspan="2">견적</th>
					<th colspan="2">교통영향평가</th>
					<th colspan="2">측량</th>
					<th colspan="2">소방</th>
					<th colspan="2">기타</th>
					<th colspan="2">토목</th>
					<th colspan="2">조경</th>
					<th colspan="2">지질조사</th>
					<th colspan="2">흙막이</th>
					<th colspan="2">제조경비1</th>
					<th rowspan="2" width="100">일정</th>
					<th colspan="3">M/H계획</th>
					<th colspan="3">M/H계획</th>
					<th colspan="3">인건비</th>
				</tr>
				<tr>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">예산</th>
					<th width="100">평단가</th>
					<th width="100">조감도비</th>
					<th width="100">모형비</th>
					<th width="100">주관</th>
					<th width="100">지원</th>
					<th width="100">계</th>
					<th width="100">주관</th>
					<th width="100">지원</th>
					<th width="100">계</th>
					<th width="100">계획</th>
					<th width="100">실적</th>
					<th width="100">증감</th>
				</tr>


			</thead>

			<tbody>
				<!--   <tr class="even pointer">
                            <td class=" ">121000040</td>
                            <td class=" ">May 23, 2014 11:47:56 PM </td>
                            <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                            <td class=" ">John Blank L</td>
                            <td class=" ">Paid</td>
                            <td class="a-right a-right ">$7.45</td>
                            <td class=" last"><a href="#">View</a>
                            </td>
                          </tr> -->

			</tbody>
		</table>
	</div>




</th:block>
<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>