<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>입력된 외주계약서 검색</title>
	<th:block th:include="layout/customHead"></th:block>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">	
	<script>
$(document).ready(function(){
	pjtSearch();//검색 부문 먼저 불러오기
	cooperationSearch();//기본검색 먼저 시작
    // 서치
    $('#cooperationSearch').on('click',()=>{
    	cooperationSearch();
    });
	
	$('#cooperationOutPrint').click(()=>{
		$('.buttons-csv').click();
	});
    
    /* ============================프로젝트코드별조회================================= */
	$('#btnPjtSearch').click(()=>{
		pjtSearch();		
	});
    
	$('#pjtList').delegate('tr', 'dblclick', function(){
		let tr = $(this);
		let td = tr.children();
		$('#inPjtCd').val(td.eq(0).text());
		$('#pjt_cd_nm').val(td.eq(1).text());
		$('#custModal').click();
		$('#cooperationSearch').trigger('click');
	});
	/* =============================프로젝트코드별조회 end================================= */
    
});

/* 프로젝트 검색 */
function pjtSearch() {
	console.log("검색 먼저");
	let selectedPJT = $('#selectedPJT option:selected').val();
	let pjtValue = $('#pjtValue').val();
	let YY = $('#YY').val();

	$.ajax({
        url:'/project/projectSonikSearch',
        type:'POST',
        data:{selectedPJT:selectedPJT,pjtValue:pjtValue,YY:YY},
        success:(list)=>{
        	console.log(list);
        	let tr='';
        	$(list).each((index,item)=>{
        		$('#pjtList').empty();
        		tr += '<tr>';
				tr += '<td>'+item.PJT_CD+'</td>';
				tr += '<td>'+item.PJT_NM+'</td>';
				tr += '</tr>';
        	});
        	$('#pjtList').append(tr);
        }
    });		
}
//외주계약서 검색
function cooperationSearch() {
	let inDeptCd = $('#inDeptCd').val(); //부서코드
	let inContractDate = $('#inContractDate').val(); //년도검색 4 자리
	let inPjtCd = $('#inPjtCd').val(); // 프로젝트코드
	let inPjtNm = $('#inPjtNm').val(); // 프로젝트네임
	let inOutItem = $('#inOutItem').val(); // 외주부문(외주분야)
	let inCustNm = $('#inCustNm').val(); // 외주처명(발주처,거래처)
	let inContractNm = $('#inContractNm').val(); // 용역명(외주계약명)
	let inBuildType = $('#inBuildType').val(); // 건축물 유형
    $.ajax({
        url:'/cooperationSearch',//호출할 메소드
        type:'POST',//송신 방식 
        data:{inDeptCd:inDeptCd,inContractDate:inContractDate,
        		inPjtCd:inPjtCd,inPjtNm:inPjtNm,inOutItem:inOutItem,
        		inCustNm:inCustNm,inContractNm:inContractNm,inBuildType:inBuildType},//넘길 데이터
        success:(data)=>{//받은 데이터
        	console.log(data);
            $('#searchBody').empty();//삭제 
            $(data).each((index,item)=>{
            	$('#searchBody').append(
            		'<tr><td style="background-color: #fff9df">'+item.DEPT_NM+'</td><td>['//부서명
            		+item.PJT_CD+']'+item.PJT_NM+'</td><td>'// 프로젝트 코드 프로젝트명
            		+item.BUILD_TYPE_NM+'</td><td>'//건축물유형(빌드타입명)
            		+item.PJT_E_GBN_NM+'</td><td>'//(종료구분)진행여부
            		+item.PJT_CONTRACT_PER+'</td><td>'//지분율
            		+item.G_YAREA_P+'</td><td>'//연면적 평
            		+item.G_YAREA_M+'</td><td>'//연면적 평방미터
            		+item.CUST_NM+'</td><td>'// 외주처 (발주처,거래처)
            		+item.OUT_ITEM_NM+'</td><td>'//부문(외주분야)
            		+item.CONTRACT_NM+'</td><td>'//용역명
            		+item.CONTRACT_DATE+'</td><td>'//계약일자
            		+item.CONTRACT_AMT.toLocaleString()+'</td></tr>');//계약금액
            });              
        }
    });
    $.ajax({
		url : '/cooperationSearch',
		type : 'GET',
		data : {inDeptCd:inDeptCd,inContractDate:inContractDate,
    		inPjtCd:inPjtCd,inPjtNm:inPjtNm,inOutItem:inOutItem,
    		inCustNm:inCustNm,inContractNm:inContractNm,inBuildType:inBuildType},
		success : (list)=>{
			console.log(JSON.stringify(list));
			$('#myTable').DataTable({
				dom: 'Blfrtip',
				buttons: [
					{extend: "copy"		,className: "btn-sm"},
					{extend: "csv"		,className: "btn-sm"},
					{extend: "excel"	,className: "btn-sm"},
					{extend: "pdfHtml5"	,className: "btn-sm"},
					{extend: "print"	,className: "btn-sm"},
				  ],
				searching:false,
				lengthChange:false,
				responsive: true,
				destroy: true,
				data:list,
				columns: [
			        {data: 'DEPT_NM'},
			        {data: 'PJT_CD'},
			        {data: 'PJT_NM'},
			        {data: 'BUILD_TYPE_NM'},
			        {data: 'PJT_E_GBN_NM'},
			        {data: 'PJT_CONTRACT_PER'},
			        {data: 'G_YAREA_P'},
			        {data: 'G_YAREA_M'},
			        {data: 'CUST_NM'},
			        {data: 'OUT_ITEM_NM'},
			        {data: 'CONTRACT_NM'},
			        {data: 'CONTRACT_DATE'},
			        {data: 'CONTRACT_AMT'},	        
			    ]
			});
		}
	});
}
</script>
</th:block>
<th:block layout:fragment="customBody">

<font color="black">


<div class="col-md-9 col-xs-12" style="color:black;">
        <div class="page-title">
	<div class="title_left">
	 <h2><b>외주계약서검색</b></h2>
	<h5><font color="gray"><b>3.외주관리&nbsp;>&nbsp;&nbsp;3.1외주계약서 관리&nbsp;>&nbsp;&nbsp;3.1.2외주계약서검색</b></font></h5>
					
	</div>
	</div>
        </div>
<div class="x_content" style="text-align: right">
<div class="btn-group" >
<button class="btn btn-default" type="button" id="cooperationSearch">조회</button>
<button class="btn btn-default" type="button" disabled="disabled">입력</button>
<button class="btn btn-default" type="button" disabled="disabled">수정</button>
<button class="btn btn-default" type="button" disabled="disabled">삭제</button>
<button class="btn btn-default" type="button" disabled="disabled">저장</button>
<button class="btn btn-default" type="button" id="cooperationOutPrint">출력</button>
</div>
</div>        
	<div class="x_panel">
		
		<div class="x_content">

			<!-- 검색 폼 -->
			<h3>★ 검색 조건</h3>
				<!-- <div align="right" style="right: 100% ">
				<button class="btn" id="cooperationSearch">조회</button>
				<button class="btn" id="cooperationOutPrint">출력</button>
				</div> -->
				<table class="table">
					<tr>
						<td width="7%"><label>⊙ 년도 : </label></td>
						<td width="15%">
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="number" min="2000" max="9999" name="inContractDate" id="inContractDate" class="form-control ">
							</div>
						</td>
						<td width="7%"><label>⊙ 부문 :</label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<select class="form-control" name="inOutItem" id=inOutItem>
									<option value=""></option>
									<option value="01">건축</option>
									<option value="02">기계</option>
									<option value="03">전기</option>
									<option value="04">토목</option>
									<option value="05">조경</option>
									<option value="06">구조</option>
									<option value="07">전경</option>
									<option value="08">교통영향평가</option>
									<option value="09">기타인증</option>
									<option value="10">지질조사</option>
									<option value="11">측량</option>
									<option value="12">흙막이</option>
									<option value="13">특수디자인</option>
									<option value="14">소방</option>
									<option value="15">환경영향평가</option>
									<option value="16">재해영향평가</option>
									<option value="17">VE/LCC</option>
									<option value="18">인테리어</option>
									<option value="19">친환경인증</option>
									<option value="20">타당성검토</option>
									<option value="21">교통성검토</option>
									<option value="22">사전환경성검토</option>
									<option value="23">사전재해영샹향성검토</option>
									<option value="24">사전경관분석검토</option>
									<option value="29">기타</option>
									<option value="30">프리랜서</option>
									<option value="99">예비비</option>
								</select>
							</div>
						</td>
						<td width="10%"><label>⊙ 건축물유형 :</label></td>
						<td>
						<div class="col-md-8 col-sm-12 col-xs-12 ">
								<select class="form-control" name="inBuildType" id="inBuildType">
									<option value=""></option>
									<option value="1">단독주택</option>
									<option value="2">공동주택</option>
									<option value="3">제1종 근린생활시설</option>
									<option value="4">제2종 근린생활시설</option>
									<option value="5">문화 및 집회시설</option>
									<option value="6">판매시설</option>
									<option value="7">의료시설</option>
									<option value="8">교육연구시설</option>
									<option value="9">운동시설</option>
									<option value="10">업무시설</option>
									<option value="11">숙박시설</option>
									<option value="12">위락시설</option>
									<option value="13">공  장</option>
									<option value="14">창고시설</option>
									<option value="15">위험물저장 및 처리시설</option>
									<option value="16">자동차관련시설</option>
									<option value="17">동물 및 식물관련시설</option>
									<option value="18">분뇨·쓰레기처리시설</option>
									<option value="19">교정 및 군사시설</option>
									<option value="20">묘지관련시설</option>
									<option value="21">관광휴게시설</option>
									<option value="22">주거복합</option>
									<option value="23">지구단위계획</option>
									<option value="24">종교시설</option>
									<option value="25">운수시설</option>
									<option value="26">노유자시설</option>
									<option value="27">수련시설</option>
									<option value="28">방송통신시설</option>
									<option value="29">발전시설</option>
									<option value="30">공공업무시설</option>
									<option value="31">복합시설</option>
									<option value="99">기타</option>
								
								</select>
							</div>
						</td>
					</tr>

					<tr>
						<td><label>⊙ 부서 :</label></td>
						<td>
						<div class="col-md-12 col-sm-12 col-xs-12 ">
								<select class="form-control" name="inDeptCd" id="inDeptCd">
									<option value=""></option>
									<option value="7500">설계1본부</option>
									<option value="7600">설계2본부</option>
									<option value="7700">설계3본부</option>
									<option value="7800">설계4본부</option>
									<option value="7900">설계5본부</option>
								</select>
							</div>
						</td>
						<td width="150"><label>⊙ 외주처 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="text" name="inCustNm" class="form-control" id="inCustNm">
							</div>
						</td>
						<td width="100"><label>⊙ 용역명 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="text" name="inContractNm" class="form-control" id="inContractNm">
							</div>
						</td>
						
					</tr>

					<tr>
						<td><label for="gex3">⊙ 코드명 : </label></td>
						<td>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="text" name="inPjtCd" class="form-control" id="inPjtCd">
							</div>
						</td>
						<td><button class="btn" type="button" data-toggle="modal" data-target=".bs-example-modal-lg3"><i class="fa fa-search"></i></button></td>
						<td ><div class="col-md-12 col-sm-12 col-xs-12 ">
								<input type="text" name="pjt_cd_nm" class="form-control" id="pjt_cd_nm" readonly="readonly">
							</div>
							<!------------------------------------------ 프로젝트 코드 조회 modal--------------------------------------------------- -->
	<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form class="form-horizontal ">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" id="custModal"><span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title" id="myModalLabel"><b>거래처코드조회</b></h4><br>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tbody>
								<tr>
									<td><label class="control-label">검색년도</label></td>
										<td><input type="number" min="2000" max="9999" id="YY"></td>
								</tr>
									<tr>
									
										<td><label class="control-label">검색항목</label></td>
										<td>
											<select class="form-control" style="width: 40%" id="selectedPJT">
												<option value="PJT_CD">프로젝트 코드</option>
												<option selected="selected" value="PJT_NM">프로젝트 명</option>
												<option value="DEPT_CD">부서 코드</option>
												<option value="DEPT_NM">부서 명</option>
											</select>
										</td>
									</tr>
									<tr>
										<td><label class="control-label">검색조건</label></td>
										<td>
											<input type="text" id="pjtValue">
											<button type="button" id="btnPjtSearch" class="btn"><i class="fa fa-search"></i></button>																	
										</td>
									</tr>
								</tbody>																	
							</table>
						</div>
					</div>
					<div class="modal-body">
						<div class="table-responsive" style="overflow: auto; height: 400px;">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>프로젝트 코드</th>
										<th>프로젝트 명</th>
									</tr>
								</thead>
								<tbody id="pjtList">
								</tbody>																	
							</table>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!------------------------------------------ 프로젝트 코드 조회 modal end--------------------------------------------------- --> 
							
							</td>
						
						<td></td>
						<td></td>
					</tr>
				</table>

			<!-- 검색폼 끝 -->

		</div>
	</div>
	<!-- 검색 결과 화면 -->
	<!-- <div class="table-responsive"> -->
	<div
		style="overflow: scroll; width: 100%; height: 100%; padding: 10px; background-color:;">
		<table class="table table-striped jambo_table bulk_action" id="myTable">
			<thead>

				<tr>
					<th rowspan="2" >부서명</th>
					<th rowspan="2" colspan="2">프로젝트명</th>
					<th rowspan="2" >건축물유형</th>
					<th rowspan="2" >종료구분</th>
					<th rowspan="2" >지분율</th>
					<th colspan="2">연면적</th>
					<th rowspan="2" >외주처</th>
					<th rowspan="2" >부문</th>
					<th rowspan="2" >용역명</th>
					<th rowspan="2" >계약일자</th>
					<th rowspan="2" >계약금액</th>
				</tr>
				<tr>
					<th >평</th>
					<th >㎡</th>			
				</tr>


			</thead>

			<tbody id="searchBody">
		

			</tbody>
		</table>
	</div>


</font>

</th:block>
<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
		<!-- Datatables -->
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../vendors/jszip/dist/jszip.min.js"></script>
    <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
    </th:block>
</html>