<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>거래처코드 리스트 출력</title>
	<th:block th:include="layout/customHead"></th:block>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script>
	function listCall(){
		var CUST_GBN = $('#CUST_GBN').val();
		var NMCD_TYPE = $('#NMCD_TYPE').val();
		 $.ajax({
			 url:'/baseinfo/clientListView', //호출할 메소드 호출 
	            type:'POST',//송신 POST 방식
	            data:{CUST_GBN:CUST_GBN,NMCD_TYPE:NMCD_TYPE},
	            success:function(data){
	            	console.log(data);
	            	$('#outputList').empty(); //삭제
	            	$(data).each((index,item)=>{
	            		var no = index + 1;
	            		$('#outputList').append(
	            			'<tr><td style="background-color: #fff9df">'+no+'</td><td>'
	            			+item.CUST_CD+'</td><td>'// 고객번호
	            			+item.CUST_NM+'</td><td>' // 회사명
	                    	+item.BUSI_TYPE+'</td><td>' // 거래유형
	                    	+item.REPRE_NM+'</td><td>' //대표성명
	                    	+item.TEL_NO+'</td><td>' //전화
	                    	+item.FAX_NO+'</td><td>' //팩스
	                    	+item.ADDR+'</td><td>' //주소
	            			+item.SVC_CLASS+'</td><td>'//당사협력체
	            			+item.KUN_CORP_YN+'</td><td>' //PQ기어도
	            			+item.SVC_PART1_NM+'</td><td>' //용역부문 1
	            			+item.SVC_PART2_NM+'</td><td>'//용역부문 2
		 					+item.SVC_PART3_NM+'</td><td>'); //용역부문 3
	            		
	            	});
	            }
		 });
		
	}
	
	$(document).ready(function(){
		listCall();	
		$('#clientList').on('click',function(){
			listCall();	
		});
	});
	</script>
</th:block>
<th:block layout:fragment="customBody">

	<div class="col-md-9 col-xs-12" style="color: black;">
		<div class="page-title">
			<div class="title_left">
				<h2>
					<b>거래처코드 리스트 출력</b>
				</h2>
				<h5>
					<font color="gray"> <b>10.기준정보관리&nbsp;>&nbsp;&nbsp;10.2회계관리&nbsp;>&nbsp;&nbsp;10.2.2거래처코드리스트 출력</b>
					</font>
				</h5>

			</div>
		</div>
	</div>


	<font color="black"> <!-- 검색 폼 -->


		<div class="x_content" style="text-align: right">
			<div class="btn-group">
				<button class="btn btn-default" type="reset">입력</button>
				<button class="btn btn-default" type="button">수정</button>
				<button class="btn btn-default" type="button">삭제</button>
				<button class="btn btn-default" type="button">저장</button>
				<button class="btn btn-default" type="button">출력</button>
			</div>

		</div>
		<table class="table">
			<tr>
				<td width="150"><label>⊙ 검색조건 : </label></td>
				<td style="background-color: #f3f3f3" width="10%">고객구분</td>
				<td>

					<div class="col-md-12 col-sm-12 col-xs-12 ">
						<select class="form-control" id="CUST_GBN">
							<option value=""></option>
							<option value="11">건설사</option>
							<option value="12">시행사</option>
							<option value="13">공사/공단</option>
							<option value="14">정부기관</option>
							<option value="15">건축설계사무소</option>
							<option value="16">외주협력업체</option>
							<option value="17">조합(재개발,재건축)</option>
							<option value="99">기 타</option>
						</select>
					</div>
				</td>

				<td style="background-color: #f3f3f3" width="10%">정렬방식</td>
				<td colspan="6">

					<div class="col-md-12 col-sm-12 col-xs-12 ">
						<select class="form-control" id="NMCD_TYPE">
							<option value=""></option>
							<option value="ORDER BY C.CUST_CD">고객번호</option>
							<option value="ORDER BY A.CUST_NM">회사명</option>
							<option value="ORDER BY A.BUSI_TYPE">거래유형</option>
						</select>
					</div>

				</td>
				<td><div class="x_content" style="text-align: right">
						<button class="btn" style="color: black" id="clientList">검색</button>
					</div></td>


			</tr>
		</table> <!-- 검색폼 끝 --> <!-- 출력 리스트 검색 시작 -->
<div class="x_content" style="overflow:scroll; width:100%; height:450px; background-color:;">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					거래처코드 리스트 출력 <small>Custom design</small>
				</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false"><i
							class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Settings 1</a></li>
							<li><a href="#">Settings 2</a></li>
						</ul></li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">

				<p>
					Add class
					<code>bulk_action</code>
					to table for bulk actions options on row select
				</p>

				<div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr class="headings">

								<th class="column-title" rowspan="2">No.</th>
								<th class="column-title" rowspan="2">고객번호</th>
								<th class="column-title" rowspan="2">회사명</th>
								<th class="column-title" rowspan="2">거래유형</th>
								<th class="column-title" rowspan="2">대표성명</th>
								<th class="column-title" rowspan="2">전화</th>
								<th class="column-title" rowspan="2">팩스</th>
								<th class="column-title" rowspan="2">주소</th>
								<th class="column-title" rowspan="2">당사협력업체</th>
								<th class="column-title" rowspan="2">PQ기어도</th>
								<th class="column-title" colspan="3">용역부문</th>
							</tr>
							<tr>
								<th class="column-title">(1)</th>
								<th class="column-title">(2)</th>
								<th class="column-title">(3)</th>
							</tr>
						</thead>

						<tbody id="outputList">

						</tbody>
					</table>
					<!-- 출력 리스트 검색 끝 -->
				</div>
			</div>
		</div>
		</div>
	</font>
</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>