<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>거래처코드 등록</title>
	<th:block th:include="layout/customHead"></th:block>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	
	<!-- 우편 시스템 -->
	
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script>
		    function sample6_execDaumPostcode() {
		        new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
		
		                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                var addr = ''; // 주소 변수
		                var extraAddr = ''; // 참고항목 변수
		
		                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
		                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
		                    addr = data.roadAddress;
		                } else { // 사용자가 지번 주소를 선택했을 경우(J)
		                    addr = data.jibunAddress;
		                }
		
		                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
		                if(data.userSelectedType === 'R'){
		                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
		                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
		                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                        extraAddr += data.bname;
		                    }
		                    // 건물명이 있고, 공동주택일 경우 추가한다.
		                    if(data.buildingName !== '' && data.apartment === 'Y'){
		                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                    }
		                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
		                    if(extraAddr !== ''){
		                        extraAddr = ' (' + extraAddr + ')';
		                    }
		                    // 조합된 참고항목을 해당 필드에 넣는다.
		                    document.getElementById("sample6_extraAddress").value = extraAddr;
		                
		                } else {
		                    document.getElementById("sample6_extraAddress").value = '';
		                }
		
		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById('sample6_postcode').value = data.zonecode;
		                document.getElementById("sample6_address").value = addr;
		                // 커서를 상세주소 필드로 이동한다.
		                document.getElementById("sample6_address").focus();//원본값 sample6_detailAddress
		            }
		        }).open();
		    }
	
	function somicall(cust_CD){
		console.log('somicall실행'+cust_CD);
			$.ajax({
				url:'/baseInfo/clientAllView',
				type:'POST',
				data:{CUST_CD:cust_CD},
				success:function(data){
					console.log(data);
					$('#cust_cd').attr('value',data.cust_CD);
					$('#cust_NM').attr('value',data.cust_NM);
					$('#cust_FULL_NM').attr('value',data.cust_FULL_NM);
					$('#cust_GBN').attr('value',data.cust_GBN);
						$('select[id=cust_GBN]').val(data.cust_GBN);
					$('#addr').attr('value',data.addr);
					$('#audit_ID').attr('value',data.audit_ID);
					$('#audit_TM').attr('value',data.audit_TM);
					$('#bank_ACCNO').attr('value',data.bank_ACCNO);
					$('#bank_CD').attr('value',data.bank_CD);
						$('select[id=bank_CD]').val(data.bank_CD);
					$('#bank_OWN').attr('value',data.bank_OWN);
					$('#biz_ITEM').attr('value',data.biz_ITEM);
					$('#biz_STAT').attr('value',data.biz_STAT);
					$('#bond').attr('value',data.bond);
					$('#bupin').attr('value',data.bupin);
						$('select[id=bupin]').val(data.bupin);
					$('#busi_TYPE').attr('value',data.busi_TYPE);
					$('#cel_NO').attr('value',data.cel_NO);
					$('#co_SERVICE').attr('value',data.co_SERVICE);
					$('#co_YN').attr('value',data.co_YN);
					$('#cust_PW').attr('value',data.cust_PW);
					$('#dam_NM').attr('value',data.dam_NM);
					$('#email').attr('value',data.email);
					$('#estab_DT').attr('value',data.estab_DT);
					$('#fax_NO').attr('value',data.fax_NO);
					$('#fund').attr('value',data.fund);
					$('#homepage').attr('value',data.homepage);
					$('#infom_EMP').attr('value',data.infom_EMP);
					$('#iso').attr('value',data.iso);
					$('#register_NO').attr('value',data.register_NO);
					$('#repre_CUST_CD').attr('value',data.repre_CUST_CD);
					$('#repre_NM').attr('value',data.repre_NM);
					$('#tel_NO').attr('value',data.tel_NO);
					$('#use_YN').attr('value',data.use_YN);
					$('#zip_CD').attr('value',data.zip_CD);
			}	
		});
	}
	$(document).ready(function(){
		
		//왼쪽 거래처검색화면에서 검색button이 클릭
		$('#clientSearch').on('click',function(){  
			var BUSI_TYPE = $('#BUSI_TYPE').val();//고객구분
			var CUST_NM = $('#CUST_NM').val();//고객명
			var CUST_CD = $('#CUST_CD').val(); //사업자등록번호 3가지 검색조건에 맞는 
	        $.ajax({
	            url:'/baseInfo/clientView', //호출할 메소드 호출 
	            type:'POST',//송신 POST 방식
	            data:{BUSI_TYPE:BUSI_TYPE,CUST_NM:CUST_NM,CUST_CD:CUST_CD},//넘길 데이터(조건)
	            success:function(data){//받은 데이터
	            	console.log(data);
	            	let str = '';
	            	
	                $('#searchBody').empty();//삭제 
	                $(data).each((index,item)=>{//반복문으로 데이터값이 있는 만큼 추가
	                	str = item.cust_CD;
	                	$('#searchBody').append('<tr onclick="somicall('+str+')"><td style="background-color: #fff9df">'+item.cust_CD+'</td><td>'
	                			+item.cust_NM+'</td></tr>'
	                	);//append추가	                	
	                });              
	            }
	        });
		})
		
		$('#clientIn').click(()=>{
			console.log("clientInsert시작 저장");
			let CUST_CD = $('#CUST_CD').val();
			let CUST_NM = $('#cust_NM').val();
			let CUST_PW = $('#cust_PW').val();
			let CUST_FULL_NM = $('#cust_FULL_NM').val();
			let BUSI_TYPE = $('#busi_TYPE').val();
			let CUST_GBN = $('#cust_GBN').val();
			let REPRE_NM = $('#repre_NM').val();
			let ZIP_CD = $('#zip_CD').val();
			let ADDR = $('#addr').val();
			let TEL_NO = $('#tel_NO').val();
			let FAX_NO = $('#fax_NO').val();
			let BIZ_STAT = $('#biz_STAT').val();
			let BIZ_ITEM = $('#biz_ITEM').val();
			let REPRE_CUST_CD = $('#repre_CUST_CD').val();
			let ESTAB_DT = $('#estab_DT').val();
			let INFOM_EMP = $('#infom_EMP').val();
			let HOMEPAGE = $('#homepage').val();
			let USE_YN = $('#use_YN').val();
			let AUDIT_ID = $('#audit_ID').val();
			let BUPIN = $('#bupin').val();
			let FUND = $('#fund').val();
			let BOND = $('#bond').val();
			let EMAIL = $('#email').val();
			let DAM_NM = $('#DAM_NM').val();
			let ISO = $('#iso').val();
			let CO_YN = $('#co_YN').val();
			let CEL_NO = $('#cel_NO').val();
			let REGISTER_NO = $('#register_NO').val();
			let BANK_CD = $('#bank_CD').val();
			let BANK_ACCNO = $('#bank_ACCNO').val();
			let BANK_OWN = $('#bank_OWN').val();
			let CO_SERVICE = $('#co_SERVICE').val();
			
			$.ajax({
				url:'/baseinfo/clientListView',
				type:'POST',
				data:{
					CUST_CD:CUST_CD
					,CUST_NM:CUST_NM
					,CUST_PW:CUST_PW		
					,BUSI_TYPE:BUSI_TYPE
					,CUST_GBN:CUST_GBN
					,REPRE_NM:REPRE_NM
					,ZIP_CD:ZIP_CD
					,ADDR:ADDR
					,TEL_NO:TEL_NO
					,FAX_NO:FAX_NO
					,BIZ_STAT:BIZ_STAT
					,BIZ_ITEM:BIZ_ITEM
					,REPRE_CUST_CD:REPRE_CUST_CD
					,ESTAB_DT:ESTAB_DT
					,INFOM_EMP:INFOM_EMP
					,HOMEPAGE:HOMEPAGE
					,USE_YN:USE_YN
					,AUDIT_ID:AUDIT_ID
					,BUPIN:BUPIN
					,FUND:FUND
					,BOND:BOND
					,EMAIL:EMAIL
					,DAM_NM:DAM_NM
					,ISO:ISO
					,CO_YN:CO_YN
					,CEL_NO:CEL_NO
					,REGISTER_NO:REGISTER_NO
					,BANK_CD:BANK_CD
					,BANK_ACCNO:BANK_ACCNO
					,BANK_OWN:BANK_OWN
					,CO_SERVICE:CO_SERVICE	
					,CUST_FULL_NM:CUST_FULL_NM
				},
				success:function(){
	                alert('거래처 등록 성공');
	        	}
				
			})

		})
	});
	
	
</script>
</th:block>
<th:block layout:fragment="customBody">
	<div class="col-md-9 col-xs-12" style="color: black;">
		<div class="page-title">
			<div class="title_left">
				<h2>
					<b>거래처코드 등록</b>
				</h2>
				<h5>
					<font color="gray"> <b>10.기준정보관리&nbsp;>&nbsp;&nbsp;10.2회계관리&nbsp;>&nbsp;&nbsp;10.2.1거래처코드등록</b>
					</font>
				</h5>
			</div>
		</div>
	</div>
	<font color="black">
		<div class="x_content" style="text-align: right">
			<div class="btn-group">
				<button class="btn btn-default" type="reset">입력</button>
				<button class="btn btn-default" type="button">수정</button>
				<button class="btn btn-default" type="button">삭제</button>
				<button class="btn btn-default" type="button" id="clientIn">저장</button>
				<button class="btn btn-default" type="button">출력</button>
			</div>
		</div> <!-- 검색부분 start -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<label for="ex3">검색조건</label><br>
					<table>
						<tr>
							<td>고객구분</td>
							<td><select id="BUSI_TYPE">
									<option value="">ALL</option>
									<option value="1">건설사</option>
									<option value="2">시행사</option>
									<option value="3">공사/공단</option>
									<option value="4">정부기관</option>
									<option value="5">건축설계사무소</option>
									<option value="6">외주협력업체</option>
									<option value="7">조합(재개발,재건축)</option>
							</select></td>
						</tr>

						<tr>
							<td>고객명</td>
							<td><input type="text" id="CUST_NM"></td>
						</tr>

						<tr>
							<td>사업자등록번호</td>
							<td><input type="number" id="CUST_CD"></td>
							<td>
								<div class="x_content" style="text-align: right">
									<button class="btn" style="color: black" id="clientSearch">검색</button>
								</div>
							</td>
						</tr>
					</table>
<!-- 검색부분 end -->

					<div class="x_title"></div>
<!-- 결과부분 start -->
<div class="x_content" style="overflow:scroll; width:100%; height:450px; background-color:;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th width="30%">사업자등록번호</th>
								<th>고객명</th>
							</tr>
						</thead>
						<tbody id="searchBody">
						</tbody>
					</table>
					<!-- 결과부분 end -->

					<div class="x_title"></div>
				</div>
			</div>
		</div> 
		</div>
<!-- start -->
		<div class="col-md-9 col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<div class="" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
							<li role="presentation" class="active"><a
								href="#tab_content1" id="home-tab" role="tab" data-toggle="tab"
								aria-expanded="true">기본정보</a></li>
							<li role="presentation" class=""><a href="#tab_content2"
								role="tab" id="profile-tab" data-toggle="tab"
								aria-expanded="false">인적사항</a></li>
						</ul>

						<div id="myTabContent" class="tab-content">
<!-- 기본정보 start -->
							<div role="tabpanel" class="tab-pane fade active in"
								id="tab_content1" aria-labelledby="home-tab">

<!-- 1 -->
								<table class="table">
									<tr>
										<td style="background-color: #f3f3f3" width="15%">사업자등록번호</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="cust_cd">
											</div>
										</td>
										<td style="background-color: #f3f3f3" width="15%">고객명</td>
										<td colspan="6">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="cust_NM">
											</div>
										</td>
									</tr>
<!-- 2 -->
									<tr>
										<td style="background-color: #f3f3f3">고객FULL명</td>
										<td colspan="20">
											<div class="col-md-20 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="cust_FULL_NM">
											</div>
										</td>
									</tr>
<!-- 3 -->
									<tr>
										<td style="background-color: #f3f3f3" width="10%">고객구분</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<select class="form-control" id="cust_GBN">
													<option value=""></option>
													<option value="11">건설사</option>
													<option value="12">시행사</option>
													<option value="13">공사/공단</option>
													<option value="14">정부기관</option>
													<option value="15">건축설계사무소</option>
													<option value="16">외주협력업체</option>
													<option value="17">조합(재개발,재건축)</option>
													<option value="99">기타</option>
												</select>
											</div>
										</td>

										<td style="background-color: #f3f3f3" width="10%">거래유형</td>
										<td colspan="6">
											<div class="col-md-12 col-sm-12 col-xs-12 ">

												<input type="radio" name="chk_info" value="1">매입 <input
													type="radio" name="chk_info" value="2">매출 <input
													type="radio" name="chk_info" value="3">기타
											</div>
										</td>
									</tr>
<!-- 법인구분  BUPIN Value 알아보기  -->
<!-- 4 -->
									<tr>
										<td style="background-color: #f3f3f3" width="10%">법인구분</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<select class="form-control" id="bupin">
													<option value=""></option>
													<option value="01">법인</option>
													<option value="02">개인</option>
												</select>
											</div>
										</td>

										<td style="background-color: #f3f3f3" width="15%">대표성명</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="repre_NM">
											</div>
										</td>
									</tr>
<!-- 우편번호 검색 기능 -->
<!-- 5 -->
									<tr>
										<td style="background-color: #f3f3f3">주소</td>
										<td>
											<div class="col-md-7 col-sm-7 col-xs-7 ">
												<input type="text" class="form-control"
													id="sample6_postcode">

											</div>
										<button class="btn" onclick="sample6_execDaumPostcode()">
											<i class="fa fa-search" id="pjt_s"></i>
										</button>
										<td colspan="6">
											<div class="col-md-20 col-sm-20 col-xs-20 ">
												<input type="text"  class="form-control"
													id="sample6_address">
									<input type="hidden" id="sample6_postcode" placeholder="우편번호">
									<input type="hidden" id="sample6_detailAddress" placeholder="상세주소">
									<input type="hidden" id="sample6_extraAddress" placeholder="참고항목">
											</div>
										</td>
									</tr>
<!-- 6 -->
									<tr>
										<td style="background-color: #f3f3f3" width="15%">대표전화</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="tel_NO">
											</div>
										</td>
										<td style="background-color: #f3f3f3" width="15%">팩스번호</td>
										<td colspan="6">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="fax_NO">
											</div>

										</td>
									</tr>
<!-- 7 -->
									<tr>
										<td style="background-color: #f3f3f3" width="15%">업태</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="biz_STAT">
											</div>
										</td>
										<td style="background-color: #f3f3f3" width="15%">업종</td>
										<td colspan="6">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="biz_ITEM">
											</div>

										</td>
									</tr>
<!-- 8 -->
									<tr>
										<td style="background-color: #f3f3f3" width="15%">대표사업자번호</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="repre_CUST_CD">
											</div>

										</td>

<!-- IS090000  CASE ISNULL(A.ISO  , '') WHEN '1' THEN '유' ELSE '무' END ISO_NM   -->

										<td style="background-color: #f3f3f3" width="10%">IS090000</td>
										<td colspan="6">
											<div class="col-md-12 col-sm-12 col-xs-12 ">

												<input type="radio" name="chk_info" value="1" id="iso">유
												<input type="radio" name="chk_info" value="3">무

											</div>

										</td>
									</tr>
<!-- SELECT LEVEL2_CD,LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'H' AND LEVEL1_CD = '190' -->
<!-- 9 -->
									<tr>
										<td style="background-color: #f3f3f3" width="10%">은행코드</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<select class="form-control" id="bank_CD">
													<option value=""></option>
													<option value="002">산업은행</option>
													<option value="003">기업은행</option>
													<option value="004">국민은행</option>
													<option value="005">KEB하나은행(외환은행)</option>
													<option value="007">수협은행</option>
													<option value="008">수출입은행</option>
													<option value="010">농협은행</option>
													<option value="012">지역농축협</option>
													<option value="020">우리은행</option>
													<option value="021">신한은행</option>
													<option value="023">SC</option>
													<option value="025">KEB하나은행</option>
													<option value="027">한국씨티</option>
													<option value="031">대구은행</option>
													<option value="032">부산은행</option>
													<option value="034">광주은행</option>
													<option value="035">제주</option>
													<option value="037">전북</option>
													<option value="039">경남은행</option>
													<option value="045">새마을금고</option>
													<option value="047">신협은행</option>
													<option value="050">상호저축은행</option>
													<option value="051">Ｙａｍａｇｕｃｈｉ</option>
													<option value="052">모간스탠리</option>
													<option value="054">ＨＳＢＣ</option>
													<option value="055">도이치은행</option>
													<option value="056">알비에스피엘씨</option>
													<option value="057">JP모간체이스</option>
													<option value="058">미즈호은행</option>
													<option value="059">미쓰비시도쿄ＵＦＪ은</option>
													<option value="060">Ｂ．Ｏ．Ａ</option>
													<option value="061">비엔피파리바</option>
													<option value="064">산림조합</option>
													<option value="071">우체국</option>
													<option value="076">신용보증기금</option>
													<option value="077">기술신용보증기금</option>
													<option value="209">유안타증권</option>
													<option value="218">현대증권</option>
													<option value="230">미래에셋증권</option>
													<option value="238">대우증권</option>
													<option value="240">삼성증권</option>
													<option value="243">한국투자증권</option>
													<option value="247">우리투자증권</option>
													<option value="261">교보증권</option>
													<option value="262">하이투자증권</option>
													<option value="263">ＨＭＣ투자증권</option>
													<option value="264">키움증권</option>
													<option value="266">이트레이드증권</option>
													<option value="267">에스케이증권</option>
													<option value="268">대신증권</option>
													<option value="268">아이엠투자증권</option>
													<option value="270">하나대투증권</option>
													<option value="278">신한금융투자</option>
													<option value="279">동부증권</option>
													<option value="280">유진투자증권</option>
													<option value="287">메리츠종합금융증권</option>
													<option value="289">엔에이치농협증권</option>
													<option value="290">부국증권</option>
													<option value="291">신영증권</option>
													<option value="292">엘아이지투자증권</option>
													<option value="999">현금지급</option>
												</select>
											</div>
										</td>
										<td style="background-color: #f3f3f3">계좌번호</td>
										<td colspan="6">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="bank_ACCNO">
											</div>
										</td>
									</tr>
<!-- 10 -->
									<tr>
										<td style="background-color: #f3f3f3" width="10%">예금주</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="bank_OWN">
											</div>
										</td>
									</tr>
<!-- 11 -->
									<tr>
										<td style="background-color: #f3f3f3" width="10%">자본금</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="fund">
											</div>
										</td>
										<td style="background-color: #f3f3f3">채권한도액</td>
										<td colspan="6">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="bond">
											</div>
										</td>
									</tr>
<!-- 12 -->
									<tr>
										<td style="background-color: #f3f3f3" width="10%">설립일자</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="estab_DT">
											</div>
										</td>
									</tr>
<!-- 13 -->
									<tr>
										<td style="background-color: #f3f3f3" width="10%">담당자</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="dam_NM">
											</div>
										</td>
										<td style="background-color: #f3f3f3">E-MAIL</td>
										<td colspan="6">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="email">
											</div>
										</td>
									</tr>
<!-- 14 -->
									<tr>
										<td style="background-color: #f3f3f3" width="10%">정보담당자</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control">
											</div>
										</td>
										<td style="background-color: #f3f3f3">사용유무 타절</td>
										<td colspan="4">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="radio" name="chk_info" value="매입">유 <input
													type="radio" name="chk_info" value="매출">무
											</div>
										</td>
									</tr>
<!-- 15 -->
									<tr>
										<td style="background-color: #f3f3f3" width="10%">홈페이지</td>
										<td colspan="6">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="homepage">
											</div>
										<td>
											<div>
												<button>
													<i class="fa fa-search"></i>
												</button>
											</div>
										</td>
									</tr>
<!-- 16 -->
									<tr>
										<td style="background-color: #f3f3f3" width="10%">등록자</td>
										<td colspan="2">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="audit_ID">
											</div>
										</td>
										<td style="background-color: #f3f3f3">등록일자</td>
										<td colspan="6">
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<input type="text" name="test" class="form-control"
													id="audit_TM">
											</div>
										</td>
									</tr>
								</table>
							</div>
<!-- 기본정보 end -->


<!-- 인적사항 start  -->
							<div role="tabpanel" class="tab-pane fade" id="tab_content2"
								aria-labelledby="profile-tab">
								<div class="col-md-12 col-sm-6 col-xs-12">
									<table class="table">
<!-- 1 -->
										<tr>
											<td style="background-color: #f3f3f3" width="15%">성명</td>
											<td colspan="2">
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<input type="text" name="test" class="form-control">
												</div>
											</td>
											<td style="background-color: #f3f3f3" width="15%">부서/부문</td>
											<td colspan="6">
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<input type="text" name="test" class="form-control">
												</div>

											</td>
										</tr>
<!-- 2 -->

										<tr>
											<td style="background-color: #f3f3f3" width="15%">직책</td>
											<td colspan="2">
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<input type="text" name="test" class="form-control">
												</div>
											</td>
											<td style="background-color: #f3f3f3" width="15%">출생년도</td>
											<td colspan="6">
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<input type="date" name="test" class="form-control">
												</div>
											</td>
										</tr>
<!-- 3 -->
										<tr>
											<td style="background-color: #f3f3f3" width="10%">집전화</td>
											<td colspan="2">
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<input type="text" name="test" class="form-control">
												</div>
											</td>
											<td style="background-color: #f3f3f3" width="10%">핸드폰</td>
											<td colspan="6">
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<input type="text" name="test" class="form-control">
												</div>
											</td>
										</tr>
<!-- 4 -->
										<tr>
											<td style="background-color: #f3f3f3">집주소</td>
											<td colspan="2">
												<div class="col-md-7 col-sm-7 col-xs-7 ">
													<input type="text" name="test" class="form-control"
														id="zip_CD">

												</div>
												<button>
													<i class="fa fa-search"></i>
												</button>
											<td colspan="8">
												<div class="col-md-20 col-sm-20 col-xs-20 ">
													<input type="text" name="test" class="form-control"
														id="addr">
												</div>
											</td>
										</tr>
<!-- 5 -->
										<tr>
											<td style="background-color: #f3f3f3">E-MAIL</td>
											<td colspan="8">
												<div class="col-md-20 col-sm-12 col-xs-12 ">
													<input type="text" name="test" class="form-control"
														id="email">
												</div>
											</td>
											<td>
												<div><button><i class="fa fa-search"></i></button></div>
											</td>
										</tr>
<!-- 6 -->
										<tr>
											<td style="background-color: #f3f3f3">취향/취미</td>
											<td colspan="2">
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<input type="text" name="test" class="form-control">
												</div>
											</td>
											<td style="background-color: #f3f3f3">전직장</td>
											<td colspan="6">
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<input type="text" name="test" class="form-control">
												</div>
											</td>
										</tr>

<!-- 7 -->
										<table class="table table-bordered">
											<tr>
												<th>출신학교</th>
												<th colspan="5"><TEXTAREA> </TEXTAREA></th>
											</tr>
										</table>
<!-- 8 -->										
										<table class="table table-bordered">
											<tr>
												<th>당사지인</th>
												<th colspan="5"><TEXTAREA> </TEXTAREA></th>
											</tr>
										</table>
<!-- 9 -->										
										<tr>
											<td style="background-color: #f3f3f3">관련프로젝트</td>
											<td colspan="20">
												<div class="col-md-20 col-sm-12 col-xs-12 ">
													<input type="text" name="test" class="form-control"
														id="cust_FULL_NM">
											</div>
											</td>
										</tr>
<!-- 10 -->												
										<table class="table table-bordered">
											<tr>
												<th>메모</th>
												<th colspan="5"><TEXTAREA> </TEXTAREA></th>
											</tr>
										</table>
										
									</table>
								</div>
							</div>
						</div>
<!-- Tap end -->
					</div>
				</div>
			</div>
		</div>
	</font>
<!-- 프로젝트 end -->
</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>




