<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>10.기준정보관리 - 회사정보등록</title>
		<th:block th:include="layout/customHead"></th:block>

		<!-- 우편 번호 시스템 -->
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<script>
			function DaumPostcode() {
				new daum.Postcode({
					oncomplete: function(data) {
						// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

						// 각 주소의 노출 규칙에 따라 주소를 조합한다.
						// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
						var addr = ''; // 주소 변수
						var extraAddr = ''; // 참고항목 변수

						//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
						if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
							addr = data.roadAddress;
						} else { // 사용자가 지번 주소를 선택했을 경우(J)
							addr = data.jibunAddress;
						}

						// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
						if(data.userSelectedType === 'R'){
							// 법정동명이 있을 경우 추가한다. (법정리는 제외)
							// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
							if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
								extraAddr += data.bname;
							}
							// 건물명이 있고, 공동주택일 경우 추가한다.
							if(data.buildingName !== '' && data.apartment === 'Y'){
								extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
							}
							// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
							if(extraAddr !== ''){
								extraAddr = ' (' + extraAddr + ')';
							}
							// 조합된 참고항목을 해당 필드에 넣는다.
							document.getElementById("extraAddress").value = extraAddr;
						
						} else {
							document.getElementById("extraAddress").value = '';
						}

						// 우편번호와 주소 정보를 해당 필드에 넣는다.
						document.getElementById('postcode').value = data.zonecode;
						document.getElementById("address").value = addr;
						// 커서를 상세주소 필드로 이동한다.
						document.getElementById("detailAddress").focus();
					}
				}).open();
			}
		</script>
	</th:block>
	<th:block layout:fragment="customBody">
			<div class="col-md-12 col-xs-12" style="color:black;">
				<div class="page-title">
					<div class="title_left">
						<h2><b>회사정보(시스템운영사)</b></h2>
						<h5><fontcolor="gray"><b>10.기준정보 관리&nbsp;>&nbsp;&nbsp;10.2인력관리</b></font></h5>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-xs-12"></div>
			<div class="col-md-8 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<div class="clearfix"></div>
					</div>
				<div class="x_content">
					<br />
					<form action="/baseInfo/companyModifyProcess" class="form-horizontal form-label-left" method="POST">
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">회사명</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:45%;" name= "COMP_NM" th:value="${companyInfo.COMP_NM}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">사업자번호</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:45%;" name= "COMP_NO" th:value="${companyInfo.COMP_NO.substring(0,3)}+'-'+${companyInfo.COMP_NO.substring(3,6)}+'-'+${companyInfo.COMP_NO.substring(6,10)}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">법인등록번호</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:45%;" name= "CORPORATION_NO" th:value="${companyInfo.CORPORATION_NO.substring(0,6)}+'-'+${companyInfo.CORPORATION_NO.substring(6,13)}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">관할세무서명</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:45%;" name= "TAX_OFFICE_NM" th:value="${companyInfo.TAX_OFFICE_NM}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">대표자명</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:40%;" name= "PRESIDENT_NM" th:value="${companyInfo.PRESIDENT_NM}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">업태</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:45%;" name= "UPTAE" th:value="${companyInfo.UPTAE}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">업종</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:45%;" name= "UPJONG" th:value="${companyInfo.UPJONG}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">우편번호</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group" style="width:25%;">
								<input type="text" class="form-control" id="postcode" name= "ZIP_NO" th:value="${companyInfo.ZIP_NO}">
								<span class="input-group-btn">
									<button type="button" onclick="DaumPostcode()" class="btn btn-primary">
										<i class="fa fa-search"></i>
									</button> 
								</span>
						</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">주소</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group" style="width:60%;">
								<input type="text" class="form-control" id="address" name= "ADDRESS" th:value="${companyInfo.ADDRESS}">
								<input type="hidden" class="form-control" id="detailAddress">
								<input type="hidden" class="form-control" id="extraAddress">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">전화번호</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:35%;" name= "PHONE_NO" th:value="${companyInfo.PHONE_NO.substring(0,3)}+'-'+${companyInfo.PHONE_NO.substring(3,6)}+'-'+${companyInfo.PHONE_NO.substring(6,10)}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">팩스번호</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:35%;" name= "FAX_NO" th:value="${companyInfo.FAX_NO.substring(0,3)}+'-'+${companyInfo.FAX_NO.substring(3,6)}+'-'+${companyInfo.FAX_NO.substring(6,10)}">
							</div>
						</div>
						<!-- 관리번호 -->
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" style="color:black;">
								⊙ 관리번호
							</label>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">국민연금</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:35%;" name= "PENSION" th:value="${companyInfo.PENSION.substring(0,3)}+'-'+${companyInfo.PENSION.substring(3,5)}+'-'+${companyInfo.PENSION.substring(5,11)}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">건강보험</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:35%;" name= "H_INSURE" th:value="${companyInfo.H_INSURE.substring(0,3)}+'-'+${companyInfo.H_INSURE.substring(3,5)}+'-'+${companyInfo.H_INSURE.substring(5,11)}">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">고용보험</label>
							<div class="col-md-9 col-sm-9 col-xs-12 input-group">
								<input type="text" class="form-control" style="width:35%;" name= "E_INSURE" th:value="${companyInfo.E_INSURE.substring(0,3)}+'-'+${companyInfo.E_INSURE.substring(3,5)}+'-'+${companyInfo.E_INSURE.substring(5,11)}">
							</div>
						</div>
					<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
								<div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3">
									<button type="submit" class="btn" style="color:black">저장</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				</div>
			</div>
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
  </th:block>
</html>