<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>10.기준정보관리 - 회사정보등록</title>
	</th:block>
	<th:block layout:fragment="customBody">
		<div class="col-md-12 col-xs-12" style="color:black;">
			<div class="page-title">
				<div class="title_left">
					<h3><b>회사정보등록</b></h3>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-sm-6 col-xs-12 table-responsive" style="width:100%">
			<div class="x_panel">
				<div class="x_title">
					<form>
						<h5 style="color:black;">⊙ 검색 조건</h5>
							<div class="col-md-4 col-sm-12 col-xs-12">
							회사명 : 
								<input type="text" name="company">
								<button type="submit"name="companyButton">검색</button>
							</div>
					</form>
				</div>
				<div class="x_content">
					<!-- 입력 폼 -->
					<form class="form-horizontal form-label-left">
						<table class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-responsive_info" style="width:100%;">
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									회사명
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="companyName" style="width:50%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									사업자 번호
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="entrepreneurNumber" style="width:70%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									법인등록 번호
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="corporateRegistrationNumber" style="width:70%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									관할 세무사명
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="taxAccountantName" style="width:70%;">
								</th>
							</tr>
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									대표자명
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input class="col-md-7" type="text" name="representativeName" style="width:50%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									업태
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="businessForm" style="width:70%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									업종
								</th>
								<th class="sorting" aria-controls="datatable-responsive" colspan="4">
									<input type="text" name="businessType" style="width:27%;">
								</th>
							</tr>
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									우편번호
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input class="col-md-5" type="text" name="postalCode" style="width:30%;">&nbsp;
									<button type="button">　</button>
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									주소
								</th>
								<th class="sorting" aria-controls="datatable-responsive" colspan="8">
									<input class="col-md-7" type="text" name="address" style="width:50%;">
								</th>
							</tr>
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									전화번호
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="phoneNumber" style="width:50%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									팩스번호
								</th>
								<th class="sorting" aria-controls="datatable-responsive" colspan="8">
									<input class="col-md-7" type="faxNumber" name="company" style="width:16%;">
								</th>
							</tr>
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									국민연금번호									
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="phoneNumber" style="width:50%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									건강보험번호
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="faxNumber" name="company" style="width:70%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									고용보험번호
								</th>
								<th class="sorting" aria-controls="datatable-responsive" colspan="8">
									<input type="faxNumber" name="company" style="width:27%;">
								</th>
							</tr>
						</table>
						<div class="col-md-12" style="width:96%;"></div>
						<div>
							<button type="submit"name="companyButton">추가</button>
						</div>
					</form>
					<div class="x_title"></div><br>
					<!-- 회사 리스트 -->
					<div class="table-responsive">
							<table class="table table-striped jambo_table bulk_action">
							   <thead>
								 <tr class="headings">
									<th>
									</th>
									<th class="column-title">회사명</th>
									<th class="column-title">사업자번호</th>
									<th class="column-title">법인등록번호</th>
									<th class="column-title">관할세무서명</th>
									<th class="column-title">대표자명</th>
									<th class="column-title">업태</th>
									<th class="column-title">업종</th>
									<th class="column-title">우편번호</th>
									<th class="column-title">주소</th>
									<th class="column-title">전화번호</th>
									<th class="column-title">팩스번호</th>
									<th class="column-title">국민연금번호</th>
									<th class="column-title">건강보험번호</th>                     
									<th class="column-title no-link last"><span class="nobr">고용보험번호</span>
									</th>
									<th class="bulk-actions" colspan="7">
										<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
									</tr>
							 </thead>		
							   <tbody>
								  <tr class="even pointer">
									<td class="a-center "></td>
									<td class=" ">에이앤유디자인그룹건축사사무소(주)</td>
									<td class=" ">120-87-07841</td>
									<td class=" ">110111-3559642 <i class="success fa fa-long-arrow-up"></i></td>
									<td class=" ">송파세무서</td>
									<td class=" ">오성제</td>
									<td class=" ">서비스 외</td>
									<td class=" ">건축설계 외</td>
									<td class=" ">138-202</td>
									<td class=" ">서울특별시 송파구 충민로52</td>
									<td class=" ">02-2047-3000</td>
									<td class=" ">02-2047-3009</td>
									<td class=" ">120-87-078410</td>
									<td class="a-right a-right ">120-87-078410</td>
									<td class=" last"><a href="#">120-87-078410</a>
									</td>
								</tr>
							 </tbody>
						 </table>
					 </div>
			  </div>
			</div>
		  </div>
	</th:block>
</html>