<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>10.기준정보관리 - 부서코드등록</title>

		<!-- jquery 사용 -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		
		<script>
			$(document).ready(function() { 
				// 1. 부서코드 리스트 클릭시 수정폼에 등록
				$('#departmentList').delegate('tr', 'click', function(){
					// 행과 각각의 값들을 담아옴
					let tr = $(this);
					let td = tr.children();
					// 클릭한 행만 색상 변경
					$("#departmentList tr").css("background-color", "#ffffff");
					$(this).css( "background-color", "#CEFBC9" );
					// 체크 표시

					// 변수 초기화
					let LEVEL_GB = '0'	// 권한 변수
					let DIV_TYPE = '0'	// 배부부문 변수
					let DIV_ID = '0'		// M/D부서 변수
					let ACC_UNIT = '00'	// 회계단위 변수
					let NOTUSE_DATE = td.eq(13).text().substring(0,4)+'-'+td.eq(13).text().substring(5,7)+'-'+td.eq(13).text().substring(8,10)	// 미사용일자 변수
					// '한글명 '값을 '코드값'으로 변경하여 대입
						// 1. 권한 (eq(7))
						if(td.eq(7).text() == '회장') {
							LEVEL_GB = '1';
						}else if(td.eq(7).text() == '대표이사') {
							LEVEL_GB = '2';
						}else if(td.eq(7).text() == '사장') {
							LEVEL_GB = '3';
						}else if(td.eq(7).text() == '임원') {
							LEVEL_GB = '4';
						}else if(td.eq(7).text() == '부문') {
							LEVEL_GB = '5';
						}else if(td.eq(7).text() == '본부') {
							LEVEL_GB = '6';
						}else if(td.eq(7).text() == '실') {
							LEVEL_GB = '7';
						}else if(td.eq(7).text() == '팀') {
							LEVEL_GB = '8';
						}
						// 2. 배부부문 (eq(8))
						if(td.eq(8).text() == '간접비-빌딩') {
							DIV_TYPE = '10';
						}else if(td.eq(8).text() == '간접비-전산') {
							DIV_TYPE = '20';
						}else if(td.eq(8).text() == '간접비-통신') {
							DIV_TYPE = '30';
						}else if(td.eq(8).text() == '공통비Ⅱ') {
							DIV_TYPE = '40';
						}else if(td.eq(8).text() == '관리부문비') {
							DIV_TYPE = '50';
						}else if(td.eq(8).text() == '공통비Ⅰ- 임원') {
							DIV_TYPE = '60';
						}else if(td.eq(8).text() == '공통비Ⅰ- 지원부서') {
							DIV_TYPE = '61';
						}else if(td.eq(8).text() == '공통비Ⅰ- 부문') {
							DIV_TYPE = '62';
						}else if(td.eq(8).text() == '공통비Ⅰ- 본부') {
							DIV_TYPE = '63';
						}else if(td.eq(8).text() == '공통비Ⅰ- 본부(부)') {
							DIV_TYPE = '64';
						}else if(td.eq(8).text() == '이익관리부문') {
							DIV_TYPE = '70';
						}
						// 3. M/D부서 (eq(11))
						if(td.eq(11).text() == '') {
							DIV_ID = '0';
						}else if(td.eq(11).text() == '입력부서') {
							DIV_ID = '10';
						}else if(td.eq(11).text() == '미입력부서') {
							DIV_ID = '20';
						}
						// 4. 회계단위 (eq(9))
						if(td.eq(9).text() == '(주)이에이치네트웍스') {
							ACC_UNIT = '01';
						}
					// 값 유무에 따른 체크박스 변경
						// 1. 회계부서
						if(td.eq(10).find('input[type="checkbox"]').is(':checked')) {
							$("input:checkbox[id='ACC_DEPT']").prop("checked", true);
						}else {
							$("input:checkbox[id='ACC_DEPT']").prop("checked", false);
						}
						// 2. 미사용구분
						if(td.eq(12).find('input[type="checkbox"]').is(':checked')) {
							$("input:checkbox[id='NOT_USE']").prop("checked", true);
						}else {
							$("input:checkbox[id='NOT_USE']").prop("checked", false);
						}
						// 3. 해외구분 (사용하지 않음)
						$("input:checkbox[id='FOREIGN_WORK']").prop("checked", false);
					// 가져온 값을 수정폼에 대입(변경)
						$('#DEPT_CD').val(td.eq(1).text());										// 부서코드
						$('#SYS_COD').val(td.eq(2).text());										// 내부코드
						$('#LEVEL_GB').val(LEVEL_GB).prop("selected", true);	// 권한
						$('#DEPT_NM').val(td.eq(4).text());										// 부서명
						$('#SHORT_NM').val(td.eq(5).text());									// 약어명
						$('#SHORT_NM1').val(td.eq(6).text());		  						// 약어명(2)
						$('#DIV_TYPE').val(DIV_TYPE).prop("selected", true);	// 배부부문
						$('#DIV_ID').val(DIV_ID).prop("selected", true);			// M/D부서
						$('#ACC_UNIT').val(ACC_UNIT).prop("selected", true);;	// 회계단위
						$('#NOTUSE_DATE').val(NOTUSE_DATE);										// 미사용일자
					// 클릭된 행의 값 (배열)
					console.log("클릭된 행의 값 : "+ tr.text());
				});
				// 2. 검색기능
				$('#DEPARTMENT_SEARCH').click(function() {
					let deptNm = $('#DEPT_NM_SEARCH').val();
					let notUse = $('input[name="NOT_USE_SEARCH"]:checked').val();
					$.ajax({
						url:'/baseInfo/departmentSearchProcess',
						type:'GET',
						data:{DEPT_NM:deptNm,NOT_USE:notUse},
						success:function(data){
							$('#departmentList').empty();
							// 결과값이 없다면
							if(data.length == 0) {
								$('#departmentList').append('<tr><td colspan="14" style="text-align: center; background-color: bisque">검색결과가 없습니다.</td></tr>');
							}
							$(data).each(function(index,departmentList){
								// 회계부서 및 미사용부서 체크박스 값에 따른 출력
								if(departmentList.acc_DEPT == '1'){
									if(departmentList.not_USE == '1'){
										$('#departmentList').append('<tr><td></td>'+	
										'<td>'+departmentList.dept_CD+'</td><td>'+departmentList.sys_COD+'</td>'+
										'<td>'+departmentList.sys_COD2+'</td><td>'+departmentList.dept_NM+'</td>'+
										'<td>'+departmentList.short_NM+'</td><td>'+departmentList.short_NM1+'</td>'+
										'<td>'+departmentList.level_GB+'</td><td>'+departmentList.div_TYPE+'</td>'+
										'<td>'+departmentList.acc_UNIT+'</td><td style="text-align: center"><input type="checkbox" checked="checked" disabled></td>'+
										'<td>'+departmentList.div_ID+'</td><td style="text-align: center"><input type="checkbox" checked="checked" disabled></td>'+
										'<td>'+departmentList.notuse_DATE+'</td></tr>');
									}
									else if(departmentList.not_USE == '2'){
										$('#departmentList').append('<tr><td></td>'+	
										'<td>'+departmentList.dept_CD+'</td><td>'+departmentList.sys_COD+'</td>'+
										'<td>'+departmentList.sys_COD2+'</td><td>'+departmentList.dept_NM+'</td>'+
										'<td>'+departmentList.short_NM+'</td><td>'+departmentList.short_NM1+'</td>'+
										'<td>'+departmentList.level_GB+'</td><td>'+departmentList.div_TYPE+'</td>'+
										'<td>'+departmentList.acc_UNIT+'</td><td style="text-align: center"><input type="checkbox" checked="checked" disabled></td>'+
										'<td>'+departmentList.div_ID+'</td><td style="text-align: center"><input type="checkbox" disabled></td>'+
										'<td>'+departmentList.notuse_DATE+'</td></tr>');
									}
								}else if(departmentList.acc_DEPT == '2'){
									if(departmentList.not_USE == '1'){
										$('#departmentList').append('<tr><td></td>'+	
										'<td>'+departmentList.dept_CD+'</td><td>'+departmentList.sys_COD+'</td>'+
										'<td>'+departmentList.sys_COD2+'</td><td>'+departmentList.dept_NM+'</td>'+
										'<td>'+departmentList.short_NM+'</td><td>'+departmentList.short_NM1+'</td>'+
										'<td>'+departmentList.level_GB+'</td><td>'+departmentList.div_TYPE+'</td>'+
										'<td>'+departmentList.acc_UNIT+'</td><td style="text-align: center"><input type="checkbox" disabled></td>'+
										'<td>'+departmentList.div_ID+'</td><td style="text-align: center"><input type="checkbox" checked="checked" disabled></td>'+
										'<td>'+departmentList.notuse_DATE+'</td></tr>');
									}else if(departmentList.not_USE == '2'){
										$('#departmentList').append('<tr><td></td>'+	
										'<td>'+departmentList.dept_CD+'</td><td>'+departmentList.sys_COD+'</td>'+
										'<td>'+departmentList.sys_COD2+'</td><td>'+departmentList.dept_NM+'</td>'+
										'<td>'+departmentList.short_NM+'</td><td>'+departmentList.short_NM1+'</td>'+
										'<td>'+departmentList.level_GB+'</td><td>'+departmentList.div_TYPE+'</td>'+
										'<td>'+departmentList.acc_UNIT+'</td><td style="text-align: center"><input type="checkbox" disabled></td>'+
										'<td>'+departmentList.div_ID+'</td><td style="text-align: center"><input type="checkbox" disabled></td>'+
										'<td>'+departmentList.notuse_DATE+'</td></tr>');
									}
								}
							});
						}
					});
				});
			});
			</script>
		<th:block th:include="layout/customHead"></th:block>	
	</th:block>
	<th:block layout:fragment="customBody">
		<div class="col-md-12 col-xs-12">
			<div class="page-title">
				<div class="title_left">
					<h2><b style="color:black;">부서코드 등록</b></h2>
					<h5><fontcolor="gray"><b>10.기준정보 관리&nbsp;>&nbsp;&nbsp;10.2 인력관리 &nbsp;>&nbsp;&nbsp;10.2.2 부서코드 등록</b></h5>
				</div>
			</div>
		</div>
		<div class="x_content" style="text-align: right">
				<div class="btn-group" >
						<button class="btn btn-default" id ="btnWrite"type="reset">입력</button>
						<button class="btn btn-default" type="button">수정</button>
						<button class="btn btn-default" type="button">삭제</button>
						<button class="btn btn-default" type="button">출력</button>
				</div>
		</div>				
		<div class="col-md-12 col-sm-6 col-xs-12 table-responsive" style="width:100%">
			<div class="x_panel" style="color:black;">
				<div class="x_title">
					<form>
						<h5>⊙ 검색 조건</h5>
							<div class="col-md-4 col-sm-12 col-xs-12">
							미사용 구분
								<input type="radio" name="NOT_USE_SEARCH" value="" checked="checked">전체
								<input type="radio" name="NOT_USE_SEARCH" value="0">유
								<input type="radio" name="NOT_USE_SEARCH" value="1">무
							<br>
							부서명 : 
								<input type="text" name="DEPT_NM_SEARCH" id="DEPT_NM_SEARCH">
								<button type="button" class="btn" style="color:black" name="DEPARTMENT_SEARCH" id="DEPARTMENT_SEARCH">검색</button>
							
							</div>
					</form>
				</div>
				<div class="x_content">
					<!-- 입력 폼 -->
					<form class="form-horizontal form-label-left">
						<table class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed" id="deportmentModifyView"role="grid" aria-describedby="datatable-responsive_info" style="width:100%;">
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									부서코드
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="DEPT_CD" id="DEPT_CD" style="width:20%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									내부코드
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="SYS_COD" id="SYS_COD" style="width:20%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									권한
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<select Name="LEVEL_GB" id="LEVEL_GB" style="width:40%;">
										<option value="0"></option>
										<option value="1">회장</option>
										<option value="2">대표이사</option>
										<option value="3">사장</option>
										<option value="4">임원</option>
										<option value="5">부문</option>
										<option value="6">본부</option>
										<option value="7">실</option>
										<option value="8">팀</option>
									</select>
								</th>
							</tr>
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									부서명
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="DEPT_NM" id="DEPT_NM" style="width:40%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									약어명(1)
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="SHORT_NM" id="SHORT_NM" style="width:40%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									약어명(2)
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="SHORT_NM1" id="SHORT_NM1" style="width:40%;">
								</th>
							</tr>
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									배부부문
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<select Name="DIV_TYPE" id="DIV_TYPE"style="width:40%;">
										<option value="0"></option>
										<option value="10">간접비-빌딩</option>
										<option value="20">간접비-전산</option>
										<option value="30">간접비-통신</option>
										<option value="40">공통비Ⅱ</option>
										<option value="50">관리부문비</option>
										<option value="60">공통비Ⅰ- 임원</option>
										<option value="61">공통비Ⅰ- 지원부서</option>
										<option value="62">공통비Ⅰ- 부문</option>
										<option value="63">공통비Ⅰ- 본부</option>
										<option value="64">공통비Ⅰ- 본부(부)</option>
										<option value="70">이익관리부문</option>
									</select>
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									M/D 부서
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<select Name="DIV_ID" id="DIV_ID" style="width:40%;">
										<option value="0"></option>
										<option value="10">입력부서</option>
										<option value="20">미입력부서</option>
									</select>
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									회계단위
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<select Name="ACC_UNIT" id="ACC_UNIT" style="width:40%;">
										<option value="00"></option>
										<option value="01">(주)이에이치네트웍스</option>
									</select>
									<input type="checkbox" name="ACC_DEPT" id="ACC_DEPT"value="1">회계부서 <!-- 체크박스 -->
								</th>
							</tr>
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									해외근무
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="checkbox" name="FOREIGN_WORK" id="FOREIGN_WORK" value="1">	<!-- 체크박스 -->
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									미사용구분
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="checkbox" name="NOT_USE" id="NOT_USE" value="1">	<!-- 체크박스 -->
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									미사용일자									
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="date" name="NOTUSE_DATE" id="NOTUSE_DATE" style="width:40%;">
								</th>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div class="x_panel">
				<div class="x_content">
				<!-- 부서코드 리스트 -->
					<!-- 테이블 반응형 및 스크롤 기능추가 -->
					<div class="table-responsive" style="overflow: scroll; width: 100%; height: 450px; padding: 10px; background-color: white; color:black;">
							<table class="table table-bordered jambo_table bulk_action">
								<thead>
								<tr class="headings">
									<th>
									</th>
									<th class="column-title">부서코드</th>
									<th class="column-title">내부코드</th>
									<th class="column-title">내부순서코드</th>
									<th class="column-title">부서명</th>
									<th class="column-title">약어명</th>
									<th class="column-title">약어명(2)</th>
									<th class="column-title">조직구분</th>
									<th class="column-title">배부부문</th>
									<th class="column-title">회계단위</th>
									<th class="column-title">회계부서</th><!-- 체크박스 -->
									<th class="column-title">M/D부서</th>
									<th class="column-title">미사용유무</th><!-- 체크박스 -->                  
									<th class="column-title">미사용일자</th>
									</tr>
							</thead>		
								<tbody id="departmentList">
									<tr th:each="departmentList : ${departmentList}">
									<td></td>
									<td th:text="${departmentList.DEPT_CD}"></td><!-- 부서코드 -->
									<td th:text="${departmentList.SYS_COD}"></td><!-- 내부코드 -->
									<td th:text="${departmentList.SYS_COD2}"></td><!-- 내부순서코드 -->
									<td th:text="${departmentList.DEPT_NM}"></td><!-- 부서명 -->
									<td th:text="${departmentList.SHORT_NM}"></td><!-- 약어명 -->
									<td th:text="${departmentList.SHORT_NM1}"></td><!-- 약어명(2) -->
									<td th:text="${departmentList.LEVEL_GB}"></td><!-- 조직구분 (SELECT)--> 
									<td th:text="${departmentList.DIV_TYPE}"></td><!-- 배부부문 (SELECT)-->
									<td th:text="${departmentList.ACC_UNIT}"></td>
									<!-- 회계부서 / 체크박스 -->
									<td th:if="${departmentList.ACC_DEPT == '1'}" style="text-align: center">
										<input type="checkbox" th:checked="${departmentList.ACC_DEPT}" disabled>
									</td>
									<td th:if="${departmentList.ACC_DEPT == '2'}" style="text-align: center">
											<input type="checkbox" disabled>
									</td>
									<td th:text="${departmentList.DIV_ID}"></td><!-- M/D부서 (10)-->
									<!-- 미사용유무 / 체크박스 -->
									<td th:if="${departmentList.NOT_USE == '1'}" style="text-align: center">
										<input type="checkbox" th:checked="${departmentList.NOT_USE}" disabled>
									</td>
									<td th:if="${departmentList.NOT_USE == '2'}" style="text-align: center">
											<input type="checkbox" disabled>
									</td>
									<td th:text="${departmentList.NOTUSE_DATE}"></td><!-- 미사용일자 -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
