<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>10.기준정보관리 - 4대보험 요율</title>

		<!-- Jquery, Ajax 선언 -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- 월 급여 입력창 통화형식으로 변환 (자동콤마(,)처리) -->
		<script>
			function number_format(data) {
				let tmp = '';
				let number = '';
				let cutlen = 3;
				let comma = ',';
				let i;
				let sign = data.match(/^[\+\-]/);
				if(sign) {
						data = data.replace(/^[\+\-]/, "");
				}
				len = data.length;
				mod = (len % cutlen);
				k = cutlen - mod;
				for (i=0; i<data.length; i++)
				{
						number = number + data.charAt(i);
						if (i < data.length - 1)
						{
								k++;
								if ((k % cutlen) == 0)
								{
										number = number + comma;
										k = 0;
								}
						}
				}
				if(sign != null)
						number = sign+number;
				return number;
			}
			/* 국민 연금 월 급여 통화형식 변환 */
			$(function() {
					$("input#INSURE_PAY1").on("keyup", function() {
							let val = String(this.value.replace(/[^0-9]/g, ""));
							if(val.length < 1)
									return false;
							this.value = number_format(val);
					});
					$("input#INSURE_PAY2").on("keyup", function() {
							let val = String(this.value.replace(/[^0-9]/g, ""));
							if(val.length < 1)
									return false;
							this.value = number_format(val);
					});
					$("input#INSURE_PAY3").on("keyup", function() {
							let val = String(this.value.replace(/[^0-9]/g, ""));
							if(val.length < 1)
									return false;
							this.value = number_format(val);
					});
					$("input#INSURE_PAY4").on("keyup", function() {
							let val = String(this.value.replace(/[^0-9]/g, ""));
							if(val.length < 1)
									return false;
							this.value = number_format(val);
					});
			});
			/* 결과값 통화형식 변환 */
			function numberWithCommas(x) {
    		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}
		</script>

		<script>
		$(document).ready(function(){	
			sanje();	// 산재보험 대분류 목록 함수 자동실행
			// 1. 국민연금 실행
			$('#insureKukminCal').click(function(){
				let INSURE_PAY1 = $('#INSURE_PAY1').val();
				console.log('입력된 월 급여 : ' + INSURE_PAY1);
				$.ajax({
					url:'/baseInfo/fourInsureKukminProcess', 	//호출할 메소드 호출 
					type:'GET',																//송신 GET 방식
					data:{INSURE_PAY:INSURE_PAY1},
					success:function(data){
						console.log(data);											// 리턴받은 국민연금 계산값
						// 계산 값을 화면에 보여준다.
						$('#INSURE_TOTAL1').val(numberWithCommas(data.insure_TOTAL1));
						$('#INSURE_EMP_CAL1').val(numberWithCommas(data.insure_EMP_CAL1));
						$('#INSURE_COM_CAL1').val(numberWithCommas(data.insure_COM_CAL1));
					}
				});
			});
			// 2. 건강보험 실행
			$('#insureKeungangCal').click(function(){
				let INSURE_PAY2 = $('#INSURE_PAY2').val();
				console.log('입력된 월 급여 : ' + INSURE_PAY2);
				$.ajax({
					url:'/baseInfo/fourInsureKeungangProcess', 	//호출할 메소드 호출 
					type:'GET',																	//송신 GET 방식
					data:{INSURE_PAY:INSURE_PAY2},
					success:function(data){
						console.log(data);												// 리턴받은 건강보험 계산값
						// 계산 값을 화면에 보여준다.
						$('#INSURE_TOTAL2').val(numberWithCommas(data.insure_TOTAL1));
						$('#INSURE_EMP_CAL2').val(numberWithCommas(data.insure_EMP_CAL1));
						$('#INSURE_COM_CAL2').val(numberWithCommas(data.insure_COM_CAL1));
						$('#INSURE_TOTAL3').val(numberWithCommas(data.insure_TOTAL2));
						$('#INSURE_EMP_CAL3').val(numberWithCommas(data.insure_EMP_CAL2));
						$('#INSURE_COM_CAL3').val(numberWithCommas(data.insure_COM_CAL2));
					}
				});
			});
			// 3. 고용보험 실행
			$('#insureGoyongCal').click(function(){
				let INSURE_PAY3 = $('#INSURE_PAY3').val();
				let INSURE_NO = $("input[type=radio][name=INSURE_NO]:checked").val()
				console.log('입력된 월 급여 : ' + INSURE_PAY3);
				console.log('선택된 고용보험 No : ' + INSURE_NO);
				$.ajax({
					url:'/baseInfo/fourInsureGoyongProcess', 	//호출할 메소드 호출 
					type:'GET',																//송신 GET 방식
					data:{INSURE_PAY:INSURE_PAY3,INSURE_NO:INSURE_NO},
					success:function(data){
						console.log(data);											// 리턴받은 고용보험 계산값
						// 계산 값을 화면에 보여준다.
						$('#INSURE_TOTAL4').val(numberWithCommas(data.insure_TOTAL1));
						$('#INSURE_EMP_CAL4').val(numberWithCommas(data.insure_EMP_CAL1));
						$('#INSURE_COM_CAL4').val(numberWithCommas(data.insure_COM_CAL1));
					}
				});
			});
			// 4 산재보험 실행
			// 4.1 산재보험 업종 요율(대분류) 가져오기 (시작시 바로 실행)
			function sanje() {
				console.log('산재보험/업종 요율 (대분류) 가져오기');
				$.ajax({
					url:'/baseInfo/fourInsureSanjeLargeListProcess', //호출할 메소드 호출 
					type:'GET',																			//송신 GET 방식
					success:function(data){
						let insureSanLargeList = data;
						console.log(insureSanLargeList);							// 리턴받은 산재보험(대분류) 계산값
						for(let i=0; i<insureSanLargeList.length; i++){
							$('#INSURE_SAN_LARGE_LIST').append('<option th:text="'+insureSanLargeList[i].insure_SAN_GUBUN1+'">'+insureSanLargeList[i].insure_SAN_GUBUN1+'</option>');
						}
					}
				});
			};
			// 4.2 대분류 선택시 중분류 가져오기
			$('#INSURE_SAN_LARGE_LIST').change(function(){
				console.log('산재보험/업종 요율 (중분류) 가져오기');
				let insureSan = $('#INSURE_SAN_LARGE_LIST option:selected').text();
				console.log(insureSan);
				// 1. 항목 미선택시
				if($('#INSURE_SAN_LARGE_LIST option:selected').text() == "") {
					$('#INSURE_SAN_MIDDLE_LIST').empty();	// 중분류 항목 비우기
					$('#INSURE_SANJE_RATE1').val('0');	// val을 요율 0으로 수정
					$('#INSURE_SANJE_RATE1').text('0');	// val을 요율 0으로 수정
					sanjePerCal();	// 요율 계산
				// 2. 항목 선택시
				}else {
					$.ajax({
						url:'/baseInfo/fourInsureSanjeMiddleListProcess', //호출할 메소드 호출 
						type:'GET',																				//송신 GET 방식
						data:{INSURE_SAN_GUBUN1:insureSan},
						success:function(data){
							let insureSanMiddleList = data;
							console.log(insureSanMiddleList);								// 리턴받은 산재보험(중분류) 계산값
							$('#INSURE_SAN_MIDDLE_LIST').empty();
							for(let i=0; i<insureSanMiddleList.length; i++){
								let = insureSanMiddelRate = insureSanMiddleList[i].insure_COM_RATE;
								console.log($('#INSURE_SAN_MIDDLE_LIST').append('<option value="'+insureSanMiddelRate+'">'+insureSanMiddleList[i].insure_SAN_GUBUN2+'</option>'));
							}
							// 초기값 요율 자동선택
							$('#INSURE_SANJE_RATE1').val($('#INSURE_SANJE_RATE1').text(insureSanMiddleList[0].insure_COM_RATE));
							sanjePerCal();	// 요율 계산
						}
					});
				}
			});
			// 4.3 중분류 선택시 요율 변경
			$('#INSURE_SAN_MIDDLE_LIST').change(function() {
				console.log('산재보험/업종 요율 (중분류) 세팅');
				let insureSanRate = $(this).find("option:selected");
				// 1. 선택된 항목의 값 확인
				console.log("선택된 중분류 요율 text : "+ $(this).find("option:selected").text());
				console.log("선택된 중분류 요율 val : "+ $(this).find("option:selected").val());
				// 2. 선택된 항목의 요율을 중분류에 Setting 
				$('#INSURE_SANJE_RATE1').text($(this).find("option:selected").val());
				$('#INSURE_SANJE_RATE1').val($(this).find("option:selected").val());
				sanjePerCal();
			});
			// 4.4 산재보험 라디오체크 확인
			$('input[name="INSURE_CHECK1"]:radio').change(function(){
				let radioValue = this.value;
				console.log("임금채권 부담금비율 체크! :" + radioValue);
				if(radioValue == 'YES') {
					$('#INSURE_CHECK1').text('0.0006');
					$('#INSURE_CHECK1').val('0.0006');
					sanjePerCal();
				}else if(radioValue == 'NO') {
					$('#INSURE_CHECK1').text('0');
					$('#INSURE_CHECK1').val('0');
					sanjePerCal();
				}
			});
			$('input[name="INSURE_CHECK2"]:radio').change(function(){
				let radioValue = this.value;
				console.log("석면피해구제분담금 체크! :" + radioValue);
				if(radioValue == 'YES') {
					$('#INSURE_CHECK2').text('0.00003');
					$('#INSURE_CHECK2').val('0.00003');
					sanjePerCal();
				}else if(radioValue == 'NO') {
					$('#INSURE_CHECK2').text('0');
					$('#INSURE_CHECK2').val('0');
					sanjePerCal();
				}
			});
			// 4.5 산재보험 요율 실시간 계산을 위한 함수
			function sanjePerCal() {
				let val2 = $('#INSURE_SANJE_RATE1').text();	// 업종요율
				console.log("2 : " + val2);
				let val3 = $('#INSURE_SANJE_RATE2').text();	// 출퇴근재해요율 (1.5)
				console.log("3 : " + val3);
				let val4 = $('#INSURE_CHECK1').text();	// 임금채권부담금비율 (해당:0.6 비해당:0)
				console.log("4 : " + val4);
				let val5 = $('#INSURE_CHECK2').text();	// 석면피해구제분담금 (해당:0.03 비해당 0)
				console.log("5 : " + val5);
				let totalVal = (parseFloat(val2) + parseFloat(val3) + parseFloat(val4) + parseFloat(val5)).toFixed(5);	// 산재보험료율 (합계 / 소수점 4자리까지 표기, 반올림)
				
				console.log("산재보험료율 : " + totalVal);
				$('#INSURE_SANJE_TOTAL_RATE').val(totalVal);	// 산재보험료율을 값 대입(출력)
			};
			// 4.6 산재보험 요율 총 계산
			$('#insureSanjeCal').click(function(){
				let totalRate = parseFloat($('#INSURE_SANJE_TOTAL_RATE').val());
				console.log("산재 보험율 : "+ totalRate);
				console.log("입력받은 월 급여 : "+$('#INSURE_PAY4').val());
				let totalPay = (($('#INSURE_PAY4').val()).replace(/,/gi,""));	// 정규식 사용(문자열 제거)
				console.log("산재보험금 : "+ totalPay);
				let sanjeTotal = Math.round((parseInt(totalPay * totalRate))/10)*10;
				console.log("계산된 산재보험금 : "+ sanjeTotal);
				$('#INSURE_TOTAL5').val(numberWithCommas(sanjeTotal));
			});
			// 4.7 리셋 버튼(추가 처리)
			$('#calReset').click(function(){
				$('#INSURE_SAN_LARGE_LIST option[id="INSURE_SAN_LARGE_LIST_INDEX"]').attr("selected", "true");	// 중분류 항목 비우기
				$('#INSURE_SANJE_RATE1').val('0');						// val을 요율 0으로 수정
				$('#INSURE_SANJE_RATE1').text('0');						// val을 요율 0으로 수정
				$('#INSURE_TOTAL5').empty();									// 산재보험금 0으로 수정
				$('#INSURE_SAN_MIDDLE_LIST').empty();					// 중분류 비우기
				sanjePerCal();																// 산재보험율 2.13(초기값)로 수정
			});
		});
		</script>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
		<div class="page-title">
			<div class="col-md-12 col-xs-12">
				<div class="page-title">
					<div class="title_left">
						<h2><b style="color:black;">4대보험 요율</b></h2>
						<h5><fontcolor="gray"><b>10.기준정보관리&nbsp;>&nbsp;&nbsp;10.2 회계관리 &nbsp;>&nbsp;&nbsp;10.2.9 4대보험 요율</b></h5>
					</div>
				</div>
			</div>
		</div>
		<div class="x_content" style="text-align: right">
			<div class="btn-group" >
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel" style="color: black;">
					<div class="x_content">

						<!-- Tab 설정 시작 -->
						<div class="" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
								<li role="presentation" class="active"><a href="#tab_content1" role="tab" data-toggle="tab">국민연금</a></li>
								<li role="presentation" class=""><a href="#tab_content2" role="tab" data-toggle="tab">건강보험</a></li>	
								<li role="presentation" class=""><a href="#tab_content3" role="tab" data-toggle="tab">고용보험</a></li>
								<li role="presentation" class=""><a href="#tab_content4" role="tab" data-toggle="tab" id="SANJE">산재보험</a></li>
							</ul>

							<!-- Tab 내용 시작-->
							<div id="myTabContent" class="tab-content">
								<!-- 1. 국민연금 -->
								<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab" style="color:black;">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="x_panel">
											<div class="x_content">
											<form>
												<h3 style="color:black;">⊙ 국민연금</h3>
												<h5 style="color:black;">2019년 기준 (계산내용은 모의계산이기 때문에 실제와 다를 수 있습니다.)</h5>
												<br>
													• 월 급여 
													<input style="text-align: end" type="text" name="INSURE_PAY1" id="INSURE_PAY1">
													<button type="button" class="btn" style="color:black" name="insureKukminCal" id="insureKukminCal">계산</button>
													<button type="reset" class="btn" style="color:black" name="clear">초기화</button>
												<br><br>
												<table style="width:70%; text-align: center"class="table table-bordered jambo_table bulk_action">
													<thead>
														<tr>
															<td>연금보험료(전체)</td>
															<td>근로자 부담금</td>
															<td>사업주 부담금</td>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>
																<input style="width:80%; text-align: end" type="text" name="INSURE_TOTAL1" id="INSURE_TOTAL1" readonly>원
															</td>
															<td>
																<input style="width:80%; text-align: end" type="text" name="INSURE_EMP_CAL1" id="INSURE_EMP_CAL1" readonly>원
															</td>
															<td>
																<input style="width:80%; text-align: end" type="text" name="INSURE_COM_CAL1" id="INSURE_COM_CAL1" readonly>원
															</td>
														</tr>
													</tbody>
												</table>
												<br>
												<table style="width:70%; text-align: center" class="table table-bordered jambo_table bulk_action">
													<thead>
														<tr>
															<td></td>
															<td>연금보험료(전체)</td>
															<td>근로자</td>
															<td>사업주</td>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td style="width:20%;">
																기준 소득월액
															</td>
															<td style="width:25%;">
																9%
															</td>
															<td style="width:25%;">
																4.5%
															</td>
															<td style="width:25%;">
																4.5%
															</td>
														</tr>
													</tbody>
												</table>
												<div style="color: red">
													&nbsp;&nbsp; • 총액 = 기준소득월액 X 9%(연금보험율)
												</div>
												<div>
													&nbsp;&nbsp; • 예) 기준소득월액은 최저 30만원에서 최고금액은 468만원까지의 범위로 결정하게 됩니다.<br>
													&nbsp;&nbsp;&nbsp;&nbsp; 따라서, 신고한 소득월액이 30만원보다 적으면 30만원을 기준소득월액으로 하고, <br>
													&nbsp;&nbsp;&nbsp;&nbsp; 468만원보다 많으면 468만원을 기준소득월액으로 합니다. (2018.7.1 기준)
												</div>
												<br>
													&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.4insure.or.kr/ins4/ptl/data/calc/InsuFeeMockCalcP.do" onclick="window.open(this.href, '_blanck', 'width=700, height=800'); return false">근로소득 각종 수당의 국민연금 소득 포함 여부</a>
											</form>																						
										</div>
									</div>
									</div>
								</div>
								<!-- 2. 건강보험 -->
								<div role="tabpanel" class="tab-pane fade in" id="tab_content2" aria-labelledby="tab">				
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="x_panel">
											<div class="x_content">
												<form>
													<h3 style="color:black;">⊙ 건강보험</h3>
													<h5 style="color:black;">2019년 기준 (계산내용은 모의계산이기 때문에 실제와 다를 수 있습니다.)</h5>
													<br>
														• 월 급여 
														<input style="text-align: end" type="text" name="INSURE_PAY2" id="INSURE_PAY2">
														<button type="button" class="btn" style="color:black" name="insureKeungangCal" id="insureKeungangCal">계산</button>
														<button type="reset" class="btn" style="color:black" name="clear">초기화</button>
													<br><br>
													<table style="width:70%; text-align: center"class="table table-bordered jambo_table bulk_action">
														<thead>
															<tr>
																<td>구분</td>
																<td>총액</td>
																<td>근로자 부담액</td>
																<td>사업주 부담금</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>건강보험료</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_TOTAL2" id="INSURE_TOTAL2" readonly>원
																</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_EMP_CAL2" id="INSURE_EMP_CAL2" readonly>원
																</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_COM_CAL2" id="INSURE_COM_CAL2" readonly>원
																</td>
															</tr>
															<tr>
																<td>장기요양보험료</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_TOTAL3" id="INSURE_TOTAL3" readonly>원
																</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_EMP_CAL3" id="INSURE_EMP_CAL3" readonly>원
																</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_COM_CAL3" id="INSURE_COM_CAL3" readonly>원
																</td>
															</tr>
														</tbody>
													</table>
													<br>
													<table style="width:70%; text-align: center" class="table table-bordered jambo_table bulk_action">
														<thead>
															<tr>
																<td>구분</td>
																<td>기준액</td>
																<td>보험료율</td>
																<td>근로자</td>
																<td>사업주</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td style="width:20%;">
																	건강보험료
																</td>
																<td style="width:20%;">
																	보수월액
																</td>
																<td style="width:20%;">
																	6.46%
																</td>
																<td style="width:20%;">
																	3.23%
																</td>
																<td style="width:20%;">
																	3.23%
																</td>
															</tr>
															<tr>
																<td style="width:20%;">
																	장기요양보험료
																</td>
																<td style="width:20%;">
																	건강보험료
																</td>
																<td style="width:20%;">
																	8.51%
																</td>
																<td style="width:20%;">
																	가입자 부담 50%
																</td>
																<td style="width:20%;">
																	사업주 부담 50%
																</td>
															</tr>
														</tbody>
													</table>
													<div>
														&nbsp;&nbsp; • 예) 보수월액이 1,000,000원일 때, 계산방법 <br>
														&nbsp;&nbsp;&nbsp;&nbsp; 건강보험료 : 1,000,000(보수월액) x 6.46%(건강보험료율) = 가입자 부담금 32,300원, 사업주 부담금 32,300원 <br>
														&nbsp;&nbsp;&nbsp;&nbsp; 장기요양보험료 : 64,600원(건강보험료) x 8.51%(장기요양보험료율) = 가입자 부담금 2,740원, 사업자 부담금 2,740원 <br>
													</div>
													<br>
													<div>
														&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://minwon.nhis.or.kr/menu/retriveMenuSet.xx?menuId=MENU_WBMAB01" onclick="window.open(this.href, '_blanck'); return false">건강보험료,노인장기요양보험료,부과기준(2013) 자세히 보기</a>
														&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://minwon.nhis.or.kr/menu/retriveMenuSet.xx?menuId=MENU_WBMAB02" onclick="window.open(this.href, '_blanck'); return false">보험료산정에 포함되는 소득의 범위?</a>
													</div>
													</form>	
											</div>																						
										</div>
									</div>
								</div>
								<!-- 3. 고용보험 -->
								<div role="tabpanel" class="tab-pane fade in" id="tab_content3" aria-labelledby="tab">				
									<div class="col-md-12 col-sm-6 col-xs-12">
										<div class="x_panel">
											<div class="x_content">
												<form>
													<h3 style="color:black;">⊙ 고용보험</h3>
													<h5 style="color:black;">2019년 기준 (계산내용은 모의계산이기 때문에 실제와 다를 수 있습니다.)</h5>
													<br>
														• 월 급여 &nbsp;
														<input style="text-align: end" type="text" name="INSURE_PAY3" id="INSURE_PAY3">
														<button type="button" class="btn" style="color:black" name="insureGoyongCal" id="insureGoyongCal">계산</button>
														<button type="reset" class="btn" style="color:black" name="clear">초기화</button>
													<br>
														• 근로자수 &nbsp;
														<input type="radio" name="INSURE_NO" id="INSURE_NO" value="21" checked>
															<span class="up">150인 미만</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<input type="radio" name="INSURE_NO" id="INSURE_NO" value="22">
															<span class="up">150이상 (우선지원대상기업)</span>
													<br> <!-- 여백처리 -->
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<input type="radio" name="INSURE_NO" id="INSURE_NO" value="24">
															<span class="up">1,000인 이상</span>&nbsp;&nbsp;
														<input type="radio" name="INSURE_NO" id="INSURE_NO" value="23">
															<span class="up">150인 이상 1,000인 미만</span>
													<br>
													<br>
													<table style="width:70%; text-align: center"class="table table-bordered jambo_table bulk_action">
														<thead>
															<tr>
																<td>총액</td>
																<td>근로자 부담금<br>(실업급여 부담금)</td>
																<td>사업주 부담금<br>(실업급여+고용안정직능개발 부담금)</td>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_TOTAL4" id="INSURE_TOTAL4" readonly>원
																</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_EMP_CAL4" id="INSURE_EMP_CAL4" readonly>원
																</td>
																<td>
																	<input style="width:80%; text-align: end" type="text" name="INSURE_COM_CAL4" id="INSURE_COM_CAL4" readonly>원
																</td>
															</tr>
														</tbody>
													</table>
													<br>
													<table style="width:70%; text-align: center" class="table table-bordered jambo_table bulk_action">
														<thead>
															<tr>
																<td colspan="2">구분</td>
																<td>근로자</td>
																<td>사업주</td>
															</tr>
														</thead>
														<tbody>
															<tr> <!-- 1행 (body) -->
																<td style="width:20%;" colspan="2">
																	실여급여 (2013.7.1 기준)
																</td>
																<td style="width:20%;">
																	0.65%
																</td>
																<td style="width:20%;">
																	0.65%
																</td>
															</tr>
															<tr>
																<td style="width:25%; text-align: center" rowspan="5">
																	<br><br>
																	&nbsp;&nbsp;고용안정,
																	<br>
																	&nbsp;직업능력
																	<br>
																	개발사업
																</td>
																<td style="display: none"></td>
																<td style="display: none"></td>
																<td style="display: none"></td>
															</tr>
															<tr> <!-- 2행 (body) -->
																<td style="width:35%;">
																	150인 미만기업
																</td>
																<td style="width:20%;">
																	-
																</td>
																<td style="width:20%;">
																	0.25%
																</td>
															</tr>
															<tr> <!-- 3행 (body) -->
																<td style="width:35%;">
																	150이상 (우선지원대상기업)
																</td>
																<td style="width:20%;">
																	-
																</td>
																<td style="width:20%;">
																	0.45%
																</td>
															</tr>
															<tr> <!-- 4행 (body) -->
																<td style="width:35%;">
																	150인 이상 1,000인 미만 기업
																</td>
																<td style="width:20%;">
																	-
																</td>
																<td style="width:20%;">
																	0.65%
																</td>
															</tr>
															<tr> <!-- 5행 (body) -->
																<td style="width:35%;">
																	1,000인 이상기업, 국가 지방자치단체
																</td>
																<td style="width:20%;">
																	-
																</td>
																<td style="width:20%;">
																	0.85%
																</td>
															</tr>
														</tbody>
													</table>
													<div>
														&nbsp;&nbsp; • 우선지원대상기업이란? <br>
														&nbsp;&nbsp;&nbsp;&nbsp; 제조업 500인 이하/ 광업 300인 이하/ 건설업 300인 이하/ 운수. 창고. 통신업 300인 이하/ 기타 100인 이하
													</div>
													<br>
														&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.nodong.or.kr/sangdam/tax/ei_pop.html" onclick="window.open(this.href, '_blanck', 'width=700, height=800'); return false">월급여(임금) 총액이란?</a>
												</form>																							
											</div>
										</div>
									</div>
								</div>
								<!-- 4. 산재보험 -->
								<div role="tabpanel" class="tab-pane fade in" id="tab_content4" aria-labelledby="tab">				
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="x_panel">
											<div class="x_content">
												<form style="color:black;">
													<h3 style="color:black;">⊙ 산재보험</h3>
													<h5 style="color:black;">2019년 기준 (계산내용은 모의계산이기 때문에 실제와 다를 수 있습니다.)</h5>
														• 월 급여 
															<input style="text-align: end" type="text" name="INSURE_PAY4" id="INSURE_PAY4">
															<button type="button" class="btn" style="color:black" name="insureSanjeCal" id="insureSanjeCal">계산</button>
															<button type="reset" class="btn" style="color:black" id="calReset">초기화</button>
														<br><br>
															<table style="width:70%; text-align: center"class="table table-bordered jambo_table bulk_action">
																<thead>
																	<tr>
																		<td colspan="3">구분</td>
																		<td>요율 (%)</td>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td rowspan="5">
																			<br><br>산업요율
																		</td>
																		<td style="display: none"></td>
																		<td style="display: none"></td>
																	</tr>
																	<tr>
																		<td>업종 요율 (대분류)</td>
																		<td>
																			<select style="width:180px" id="INSURE_SAN_LARGE_LIST">
																				<option id="INSURE_SAN_LARGE_LIST_INDEX" th:value="0"></option>
																			</select>
																		</td>
																		<td rowspan="3" style="width:55%; text-align: center" id="INSURE_SANJE_RATE1" th:text="0" th:value="0">
																		</td>
																	</tr>
																	<tr>
																	</tr>
																	<tr>
																		<td>업종 요율 (중분류)</td>
																		<td>
																			<select style="width:180px" id="INSURE_SAN_MIDDLE_LIST"></select>
																		</td>
																	</tr>
																	<tr>
																		<td>출퇴근 재해요율</td>
																		<td>전업종 동일요율 적용</td>
																		<td th:text="0.0015" id="INSURE_SANJE_RATE2"></td>
																	</tr>
																	<tr>
																		<td colspan="2">
																			임금채권부담금비율 &nbsp;
																			<button>
																				<a href="https://www.kcomwel.or.kr/kcomwel/paym/insu/insuPop1.jsp" onclick="window.open(this.href, '_blanck', 'width=700, height=800'); return false">내용확인</a> 
																			</button>
																		</td>
																		<td>
																			<input type="radio" value="YES" name="INSURE_CHECK1" checked>해당 &nbsp;
																			<input type="radio" value="NO" name="INSURE_CHECK1">비해당
																		</td>
																		<td th:text="0.0006" value="0.0006" id="INSURE_CHECK1"></td>
																	</tr>
																	<tr>
																		<td colspan="2">
																			석면피해구제분담금 &nbsp;
																			<button>
																				<a href="https://www.kcomwel.or.kr/kcomwel/paym/insu/insuPop2.jsp" onclick="window.open(this.href, '_blanck', 'width=700, height=800'); return false">내용확인</a> 
																			</button>
																		</td>
																		<td>
																			<input type="radio" value="YES" name="INSURE_CHECK2" checked>해당 &nbsp;
																			<input type="radio" value="NO" name="INSURE_CHECK2">비해당
																		</td>
																		<td th:text="0.00003" value="0.00003" id="INSURE_CHECK2"></td>
																	</tr>
																	<tr>
																		<td colspan="3">산재보험료율</td>
																		<td>
																			<input type="text" style="width:55%; text-align: center" name="INSURE_SANJE_TOTAL_RATE" id="INSURE_SANJE_TOTAL_RATE" value="0.00213" readonly>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="3">총 산재보험료</td>
																		<td>
																			<input type="text" style="width:50%; text-align: end" id="INSURE_TOTAL5" readonly>원
																		</td>
																	</tr>
																</tbody>
															</table>
														<div>
																보험료 식: 보수총액(월평균보수) × 보험료율<br>
																산재보험료율은 (%)로 표시됩니다.
														</div>
															<br>
														<div style="color:red;">
																※ 산재보험 가입사업장은 "우리회사 보험관리번호조회하기"에서 업종을 확인할 수 있습니다.<br>
																※ 개별실적요율(예방요율) 혹은 임금채권부담금경감 사업장인 경우 산재보험요율이 달라질 수 있습니다.
														</div>
															<br><br>
														<div>
															1. 산재보험로율<br>
															‘사업종류별 산재보험료율 및 사업종류 예시’를 기준으로 적용하고 있으며 이는 매년 6월 30일 현재,<br>
															과거 3년간의 보수총액에 대한 보험급여 총액의 비율을 기초로 재해 발생의 위험성에 따라 분류된<br>
															사업종류별 보험료율을 세분화하여 동년 12월 31일 경에 고시하여 다음 년도에 적용하고 있습니다.
														</div>
															<br>
														<div style="color:red;">
															2. 산재보험료율 결정은 근로복지공단에서 사업장성립신고서가 접수된 후 관할지사 담당자가 사업장실태확인 후 적용하며 처리기한은 5일 정도 소요됩니다.
														</div>
															<br>
														<div>
															3. 산재보험료율 적용의 기본원칙<br>
															- 하나의 적용사업장에 대하여는 하나의 보험료율을 적용한다.<br>
															- 하나의 사업장 안에서 보험료율이 다른 2종이상의 사업이 행해지는 경우에는 다음 순서에 따라 주된 사업을 결정하여 적용한다.<br>
															① 근로자수가 많은 사업<br>
															② 근로자수가 같거나 그 수를 파악할 수 없는 경우에는 보수총액이 많은 사업<br>
															③ 상기 방법에 의하여 주된 사업을 결정할 수 없는 경우에는 매출액이 많은 제품을 제조하거나 서비스를 제공하는 사업
														</div>
															<br>
														<div>
															4. 산재보험료율 문의: 근로복지공단 1588-0075
														</div>
													<br>
												</form>
											</div>
										</div>														
									</div>
								</div>
							</div>
							<!-- Tab 내용 종료-->
						</div>
						<!-- Tab 설정 종료 -->
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
