<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>10.기준정보관리 - 전공코드등록</title>

		<!-- jquery 사용 -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- 검색조건 selected시 리스트 출력 -->
		<script>
			$(document).ready(function() { 
				$("#majorList tr").click(function() {
					// 행과 각각의 값들을 담아옴
						let tr = $(this);
						let td = tr.children();
					// 클릭한 행만 색상 변경
						$("#majorList tr").css("background-color", "#ffffff");
						$(this).css( "background-color", "#CEFBC9" );
					// 가져온 값을 수정폼에 대입(변경)
						$('#MAJOR_CD').val(td.eq(1).text());	// 전공코드
						$('#MAJOR_NM').val(td.eq(2).text());	// 전공명
					// 클릭된 행의 값 (배열)
					console.log("클릭된 행의 값 : "+ tr.text());
				});
			});
		</script>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
		<div class="col-md-12 col-xs-12">
			<div class="page-title">
				<div class="title_left">
					<h2><b style="color:black;">전공코드 등록</b></h2>
					<h5><fontcolor="gray"><b>10.기준정보 관리&nbsp;>&nbsp;&nbsp;10.2 인력관리 &nbsp;>&nbsp;&nbsp;10.2.4 전공코드 등록</b></h5>
				</div>
			</div>
		</div>
		<div class="x_content" style="text-align: right">
				<div class="btn-group" >
						<button class="btn btn-default" id ="btnWrite"type="reset">입력</button>
						<button class="btn btn-default" type="button">수정</button>
						<button class="btn btn-default" type="button">삭제</button>
						<button class="btn btn-default" type="button">출력</button>
				</div>
		</div>
		<div class="x_panel" style="color: black;">
			<div class="col-md-12 col-xs-12">
			<div class="x_content">
				<form>
					<h5 style="color:black;">⊙ 검색 조건</h5>
						<div class="col-md-12 col-sm-12 col-xs-12">
						전공명 
							<input type="text" id="MAJOR_NM_SEARCH" name="MAJOR_NM_SEARCH">
						전공코드
							<input type="text" id="MAJOR_CD_SEARCH" name="MAJOR_CD_SEARCH">

							<button type="submit" class="btn" style="color:black" name="schoolButton">검색</button>			
						</div>
				</form>
			</div>
			</div>
		</div>
		<div class="x_panel" style="color: black;">
			<div class="x_title">
				<div class="clearfix"></div>
			</div>
			<div class="x_content"><br>
				<div class="col-md-4 col-sm-12 col-xs-12 table-responsive" style="overflow: scroll; height: 750px; padding: 10px; background-color: white; color:black;">
					<table class="table table-bordered jambo_table bulk_action">
						<thead>
							<tr>
								<td></td>
								<td>전공코드</td>
								<td>전공명</td>
							</tr>
						</thead>
						<tbody id="majorList">
							<tr th:each="majorList : ${majorList}">
								<td></td>
								<td th:text="${majorList.MAJOR_CD}">
								</td>
								<td th:text="${majorList.MAJOR_NM}">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-8 col-sm-12 col-xs-12">
					<table class="table table-striped table-bordered">
						<tbody>
							<tr>
								<td>전공코드</td>
								<td>
									<input type="text" id="MAJOR_CD" name="MAJOR_CD" style="width: 20%">
								</td>
							</tr>
							<tr>
								<td>전공명</td>
								<td>
									<input type="text" id="MAJOR_NM" name="MAJOR_NM" style="width: 70%">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
