<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

	<table class="table table-bordered">
		<tr>
			<th width="20%">2</th>
			<td width="20%">
				<select class="col-md-10" id="ownerName">
						<option></option>
						<option>(주)우원엠앤이</option>
						<option>현대건설(주)</option>
						<option>선진이앤씨</option>
						<option>(주)한일엠이씨</option>
						<option>랜디자인</option>
				</select>
			</td>
			<td width="20%">
				<select class="col-md-10" id="ownerGubun">
						<option></option>
						<option>건설사</option>
						<option>시행사</option>
						<option>공사/공단</option>
						<option>정부기관</option>
						<option>건축설계사무소</option>
				</select>
			</td>
			<td width="20%"><input type="text" class="col-md-10" id="ownerShare"></td>
			<td width="20%"><input type="text" class="col-md-10" id="ownerPrice"></td>
		</tr>
	</table>
</body>
</html>