<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team01.project.mapper.ProjectSonikMapper"> 

<!-- 프로젝트 예산,실적대비표 리스트화면을 보여주기위한 쿼리-->
<select id="projectSonikListSearch"
		parameterType="String"
		resultType="java.util.Map">
	
SELECT 
	C.PJT_CD,
	C.PJT_NM,
	D.PJT_GB,
	A.COST_AMT1,
	A.COST_AMT2,
	A.COST_AMT3, 
	B.TOT_CONTRACT_AMT
	
FROM 
	 T_p11090 A 
	,T_P11000 B
	,T_SM3000 C
	,T_P11000_H D
WHERE 
	A.PJT_CD = B.PJT_CD 
AND
	C.PJT_CD = A.PJT_CD
AND
	D.PJT_CD = A.PJT_CD
AND
	A.PJT_CD LIKE '%'+#{PJT_CD}+'%'

</select>


<!-- 프로젝트 예산,실적대비표_왼쪽 상단 검색 조건에서 프로젝트 코드를 조회하는 쿼리 -->
<select id="projectCodeSearch"
		parameterType="ksmart30.team01.project.domain.SonikProjectCodeSearch"
		resultType="java.util.Map">

SELECT 
A.*
FROM 
	(SELECT 
		A.*
	FROM
		(SELECT
			'20'+SUBSTRING(B.PJT_CD,1,2)YY
			,B.PJT_CD
			,A.PJT_NM
			,E.DEPT_CD
			,E.DEPT_NM
			,CASE 			
				WHEN B.PJT_E_GBN > '' AND B.PJT_E_DATE > '' THEN '5'	<!-- 종료  -->
				WHEN B.PJT_YEA_YN = 'T' THEN '4'	<!-- 승인 -->					  
		      		WHEN C.MD>0 AND D.PN>0 THEN '3'	<!-- 예산 or 미승인-->	     
			   ELSE '2'	<!-- 계약  -->
			END RESULT_X		
		FROM 
			T_SM3000 A
			,T_P11000 B
			,(SELECT PJT_CD, COUNT(*) MD FROM T_P11050 GROUP BY PJT_CD) C
			,(SELECT PJT_CD, COUNT(*) PN FROM T_P11080 GROUP BY PJT_CD) D
			,T_SC1010 E		
		 WHERE 
		 		B.PJT_CD  = A.PJT_CD
		   AND 
				B.PJT_CD *= C.PJT_CD
		   AND 
				B.PJT_CD *= D.PJT_CD
			AND 
				B.DEPT_CD = E.DEPT_CD) A	   
	WHERE
		 A.RESULT_X = '3'
		 OR
		 A.RESULT_X = '4')A
WHERE 
	 A.YY LIKE '%'+#{YY}+'%'
	AND
	 A.${selectedPJT} LIKE '%' + #{pjtValue} + '%'

</select>


<!-- 제조경비2 상세화면을위한 검색 쿼리 작성 (계정과목, 예산) -->
<!-- <select id="jejo2YesanSearch"
		parameterType="String"
		resultType="java.util.Map">
		
SELECT PJT_CD, SCV_PART, EXCHANGE_NO, EX_AMT, EX_RATE, EX_WORK_AMT 
FROM T_P11070 
WHERE PJT_CD = #{PJT_CD}

</select> -->

<!-- 제조경비2 상세화면을위한 검색 쿼리 작성 (당기누계, 전기누계) -->
<!-- <select id="jejo2YesanSearch"
		parameterType="String"
		resultType="java.util.Map">
		
SELECT * from T_P12010 WHERE PJT_CD = #{PJT_CD}

</select>
 -->


</mapper>