<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team01.project.mapper.ProjectSonikMapper"> 

<!-- 프로젝트 예산,실적대비표 리스트화면을 보여주기위한 쿼리 (예산)(실적-배부비용,영업이익빼고)-->
<select id="projectSonikListSearch"
		parameterType="String"
		resultType="java.util.Map">
	
SELECT 
	C.PJT_CD,
	C.PJT_NM,
	D.PJT_GB,
	B.TOT_CONTRACT_AMT,
	'예산' Y_GBN,
	A.COST_AMT1,
	A.COST_AMT2,
	A.COST_AMT3, 	
	(A.DIV_AMT40+ A.DIV_AMT20 + A.DIV_AMT30)BEBU,
	(A.DIV_AMT40+ A.DIV_AMT20 + A.DIV_AMT30+A.COST_AMT1+A.COST_AMT2+A.COST_AMT3) HAP,
	(B.TOT_CONTRACT_AMT -(A.DIV_AMT40+ A.DIV_AMT20 + A.DIV_AMT30+A.COST_AMT1+A.COST_AMT2+A.COST_AMT3)) YUNGUPEIK
	,E.S_GBN,E.S_HAP, E.S_COST_AMT1, E.S_COST_AMT2, E.S_COST_AMT3, E.S_BEBU, E.S_YUNGUPEIK
FROM 
	 T_p11090 A 
	,T_P11000 B
	,T_SM3000 C
	,T_P11000_H D
	,(SELECT
		'실적' S_GBN,
		B.PJT_CD, B.HAP S_HAP, B.COST_AMT1 S_COST_AMT1, B.COST_AMT2 S_COST_AMT2, B.COST_AMT3 S_COST_AMT3, B.BEBU S_BEBU, (C.TOT_CONTRACT_AMT - B.BEBU) S_YUNGUPEIK
		FROM
		(SELECT
		PJT_CD,
		SUM(cost_amt1)+ SUM(cost_amt2)+ SUM(cost_amt3)+ SUM(div_amt20)+ SUM(div_amt30)+ SUM(div_amt40) HAP
		,SUM(cost_amt1)COST_AMT1, SUM(cost_amt2)COST_AMT2, SUM(cost_amt3)COST_AMT3, SUM(div_amt20)+ SUM(div_amt30)+ SUM(div_amt40) BEBU
		
		FROM
		T_AC6220
		GROUP BY
		PJT_CD) B
		,T_P11000 C
		WHERE 
		B.PJT_CD = C.PJT_CD) E
WHERE 
	A.PJT_CD = B.PJT_CD 
AND
	C.PJT_CD = A.PJT_CD
AND
	D.PJT_CD = A.PJT_CD
AND
	A.PJT_CD = E.PJT_CD
AND
	A.PJT_CD LIKE '%'+#{PJT_CD}+'%'
	
	
	

</select>


<!-- 프로젝트 예산,실적대비표_왼쪽 상단 검색 조건에서 프로젝트 코드를 조회하는 쿼리 -->
<select id="projectCodeSearch"
		parameterType="ksmart30.team01.project.domain.SonikProjectCodeSearch"
		resultType="java.util.Map">

SELECT 
A.*
FROM 
	(SELECT 
		A.*
	FROM
		(SELECT
			'20'+SUBSTRING(B.PJT_CD,1,2)YY
			,B.PJT_CD
			,A.PJT_NM
			,E.DEPT_CD
			,E.DEPT_NM
			,CASE 			
				WHEN B.PJT_E_GBN > '' AND B.PJT_E_DATE > '' THEN '5'	<!-- 종료  -->
				WHEN B.PJT_YEA_YN = 'T' THEN '4'	<!-- 승인 -->					  
		      		WHEN C.MD>0 AND D.PN>0 THEN '3'	<!-- 예산 or 미승인-->	     
			   ELSE '2'	<!-- 계약  -->
			END RESULT_X		
		FROM 
			T_SM3000 A
			,T_P11000 B
			,(SELECT PJT_CD, COUNT(*) MD FROM T_P11050 GROUP BY PJT_CD) C
			,(SELECT PJT_CD, COUNT(*) PN FROM T_P11080 GROUP BY PJT_CD) D
			,T_SC1010 E		
		 WHERE 
		 		B.PJT_CD  = A.PJT_CD
		   AND 
				B.PJT_CD *= C.PJT_CD
		   AND 
				B.PJT_CD *= D.PJT_CD
			AND 
				B.DEPT_CD = E.DEPT_CD) A	   
	WHERE
		 A.RESULT_X = '3'
		 OR
		 A.RESULT_X = '4')A
	WHERE 
	 	A.YY LIKE '%'+#{YY}+'%'
	AND
		A.${selectedPJT} LIKE '%' + #{pjtValue} + '%'
	
</select>




<!-- 프로젝트 예산,실적 대비표 리스트에서 예산 상세버튼 클릭시 상세내용화면을 보여주는 쿼리  프로젝트 개요, 상세 내역 (예산)-->
<select id="SonikContrastSangse"
 		parameterType="String"
 		resultType="java.util.Map">
 
SELECT

A.PJT_CD,A.PJT_NM,A.BUILD_NM,A.CONTRACT_DATE,A.FROM_TO,A.PJT_E_GBN, A.TOT_CONTRACT_AMT, A.PJT_ADDR, A.G_AREA_M,A.G_AREA_P,A.G_YAREA_M,A.G_YAREA_P,

B.COST_AMT1,
ROUND(B.COST_AMT1/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) COST_RATE1,
B.COST_AMT2,
ROUND(B.COST_AMT2/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) COST_RATE2,
B.COST_AMT3,
ROUND(B.COST_AMT3/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) COST_RATE3,
B.SHAP,
ROUND(B.SHAP/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) SHAP_RATE,
B.DIV_AMT40,
ROUND(B.DIV_AMT40/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) DIV_RATE40,
B.DIV_AMT20,
ROUND(B.DIV_AMT20/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) DIV_RATE20,
B.DIV_AMT30,
ROUND(B.DIV_AMT30/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) DIV_RATE30,
B.BEBU,
ROUND(B.BEBU/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) BEBU_RATE,
B.HAP,
ROUND(B.HAP/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) HAP_RATE,
B.YUNGUPEIK,
ROUND(B.YUNGUPEIK/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) YUNGUPEIK_RATE,

C.S_COST_AMT1,
ROUND(C.S_COST_AMT1/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) S_COST_RATE1,
C.S_COST_AMT2,
ROUND(C.S_COST_AMT2/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) S_COST_RATE2,
C.S_COST_AMT3,
ROUND(C.S_COST_AMT3/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) S_COST_RATE3,
C.S_DIV_AMT,
ROUND(C.S_DIV_AMT/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) S_DIV_RATE,
C.S_HAP,
ROUND(C.S_HAP/ISNULL(B.TOT_CONTRACT_AMT,0)*100, 2) S_HAP_RATE


FROM
	(SELECT 
		A.PJT_CD,
		A.PJT_NM,
		(SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL2_CD = B.BUILD_TYPE AND LEVEL1_CD = '170' AND BUSI_GB = 'J') BUILD_NM,	  		
		(B.CONTRACT_DATE+' ('+B.CRT_DATE+')') CONTRACT_DATE,
		SUBSTRING(B.CONTRACT_DATE,1,4)+'/'+SUBSTRING(B.CONTRACT_DATE,5,2)+'/'+SUBSTRING(B.CONTRACT_DATE,7,2) + ' ~ ' +
		SUBSTRING(B.PJT_E_DATE,1,4)+'/'+SUBSTRING(B.PJT_E_DATE,5,2)+'/'+SUBSTRING(B.PJT_E_DATE,7,2)  FROM_TO,
		(SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL2_CD = B.CONTRACT_PRI3 AND LEVEL1_CD = '130' AND BUSI_GB = 'J')+' 까지' PJT_E_GBN,						        
		B.TOT_CONTRACT_AMT,
		B.ZIP_CD+' '+B.PJT_ADDR PJT_ADDR,
		CAST(B.G_AREA_M AS DECIMAL(14,2)) G_AREA_M,
		CAST(B.G_AREA_P AS DECIMAL(14,2)) G_AREA_P,
		CAST(B.G_YAREA_M AS DECIMAL(14,2)) G_YAREA_M,
		CAST(B.G_YAREA_P AS DECIMAL(14,2)) G_YAREA_P
	FROM 
		T_SM3000 A,
		T_P11000 B,
		T_SC1010 C
	WHERE 
		B.PJT_CD   = A.PJT_CD
	AND 
		B.DEPT_CD  = C.DEPT_CD) A,
		
	(SELECT 
		C.PJT_CD,
		C.PJT_NM,
		B.TOT_CONTRACT_AMT,
		A.COST_AMT1 COST_AMT1,
		A.COST_AMT2 COST_AMT2,
		A.COST_AMT3 COST_AMT3,
		(A.COST_AMT1+A.COST_AMT2+A.COST_AMT3) SHAP,
		A.DIV_AMT40 DIV_AMT40, 
		A.DIV_AMT20 DIV_AMT20, 
		A.DIV_AMT30 DIV_AMT30,	
		(A.DIV_AMT40+ A.DIV_AMT20 + A.DIV_AMT30)BEBU,
		(A.DIV_AMT40+ A.DIV_AMT20 + A.DIV_AMT30+A.COST_AMT1+A.COST_AMT2+A.COST_AMT3) HAP,
		(B.TOT_CONTRACT_AMT -(A.DIV_AMT40+ A.DIV_AMT20 + A.DIV_AMT30+A.COST_AMT1+A.COST_AMT2+A.COST_AMT3)) YUNGUPEIK
	FROM 
		 T_p11090 A 
		,T_P11000 B
		,T_SM3000 C
	WHERE 
		A.PJT_CD = B.PJT_CD 
	AND
		C.PJT_CD = A.PJT_CD) B,

	(SELECT
PJT_CD,
ISNULL(SUM(COST_AMT1),0) S_COST_AMT1,  <!--  인건비 -->
ISNULL(SUM(COST_AMT2),0)S_COST_AMT2,  <!--  제조경비1 -->
ISNULL(SUM(COST_AMT3),0)S_COST_AMT3,  <!--  제조경비2 -->
(ISNULL(SUM(DIV_AMT10),0) + ISNULL(SUM(DIV_AMT20),0) +
ISNULL(SUM(DIV_AMT30),0) + ISNULL(SUM(DIV_AMT40),0))S_DIV_AMT, <!-- 배부비용 -->
ISNULL(SUM(COST_AMT1),0) +ISNULL(SUM(COST_AMT2),0)+ISNULL(SUM(COST_AMT3),0)
+(ISNULL(SUM(DIV_AMT10),0) + ISNULL(SUM(DIV_AMT20),0) + ISNULL(SUM(DIV_AMT30),0) + ISNULL(SUM(DIV_AMT40),0))S_HAP
FROM T_AC6220
WHERE 
SUBSTRING(PJT_CD,6,1) IN ('C','F','G','H','I','J','K')
GROUP BY PJT_CD)C

WHERE 
	A.PJT_CD = B.PJT_CD
	and
	A.PJT_CD = SUBSTRING(C.PJT_CD,1,5)

AND
	A.PJT_CD LIKE '%'+#{PJT_CD}+'%'
	
 </select>

<!-- 제조경비2 상세화면을위한 검색 쿼리 작성 (프로젝트개요, 계정과목, 예산) -->
<select id="jejo2YesanSearch"
		parameterType="String"
		resultType="java.util.Map">
		
SELECT 
		A.PJT_CD,
		A.PJT_NM,
		(SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL2_CD = B.BUILD_TYPE AND LEVEL1_CD = '170' AND BUSI_GB = 'J') BUILD_NM,	  		
		(B.CONTRACT_DATE+' ('+B.CRT_DATE+')') CONTRACT_DATE,
		SUBSTRING(B.CONTRACT_DATE,1,4)+'/'+SUBSTRING(B.CONTRACT_DATE,5,2)+'/'+SUBSTRING(B.CONTRACT_DATE,7,2) + ' ~ ' +
		SUBSTRING(B.PJT_E_DATE,1,4)+'/'+SUBSTRING(B.PJT_E_DATE,5,2)+'/'+SUBSTRING(B.PJT_E_DATE,7,2)  FROM_TO,
		(SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL2_CD = B.CONTRACT_PRI3 AND LEVEL1_CD = '130' AND BUSI_GB = 'J')+' 까지' PJT_E_GBN,						        
		B.TOT_CONTRACT_AMT,
		B.ZIP_CD+' '+B.PJT_ADDR PJT_ADDR,
		CAST(B.G_AREA_M AS DECIMAL(14,2)) G_AREA_M,
		CAST(B.G_AREA_P AS DECIMAL(14,2)) G_AREA_P,
		CAST(B.G_YAREA_M AS DECIMAL(14,2)) G_YAREA_M,
		CAST(B.G_YAREA_P AS DECIMAL(14,2)) G_YAREA_P,
		C.PJT_CD, C.SCV_PART,D.LEVEL2_NM SCV_PART_NM, C.EXCHANGE_NO, C.EX_AMT, C.EX_RATE, C.EX_WORK_AMT 
		
	FROM 
		T_SM3000 A,
		T_P11000 B,
		T_P11070 C,
		(SELECT LEVEL2_NM,LEVEL2_CD FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '160')D
	WHERE
	C.SCV_PART = D.LEVEL2_CD
	AND 
		B.PJT_CD   = A.PJT_CD
	AND
		A.PJT_CD = C.PJT_CD
	AND 
		A.PJT_CD  = #{PJT_CD}



</select>


<!-- 제조경비2 상세화면을위한 검색 쿼리 작성 (당기누계, 전기누계) -->
<!-- <select id="jejo2YesanSearch"
		parameterType="String"
		resultType="java.util.Map">
		
SELECT * from T_P12010 WHERE PJT_CD = #{PJT_CD}

</select>
 -->
<!-- 프로젝트 개요  -->
<select id="projectGeyo"
		parameterType="String"
		resultType="java.util.Map">

SELECT 
		A.PJT_CD,
		A.PJT_NM,
		(SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL2_CD = B.BUILD_TYPE AND LEVEL1_CD = '170' AND BUSI_GB = 'J') BUILD_NM,	  		
		(B.CONTRACT_DATE+' ('+B.CRT_DATE+')') CONTRACT_DATE,
		SUBSTRING(B.CONTRACT_DATE,1,4)+'/'+SUBSTRING(B.CONTRACT_DATE,5,2)+'/'+SUBSTRING(B.CONTRACT_DATE,7,2) + ' ~ ' +
		SUBSTRING(B.PJT_E_DATE,1,4)+'/'+SUBSTRING(B.PJT_E_DATE,5,2)+'/'+SUBSTRING(B.PJT_E_DATE,7,2)  FROM_TO,
		(SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL2_CD = B.CONTRACT_PRI3 AND LEVEL1_CD = '130' AND BUSI_GB = 'J')+' 까지' PJT_E_GBN,						        
		B.TOT_CONTRACT_AMT,
		B.ZIP_CD+' '+B.PJT_ADDR PJT_ADDR,
		CAST(B.G_AREA_M AS DECIMAL(14,2)) G_AREA_M,
		CAST(B.G_AREA_P AS DECIMAL(14,2)) G_AREA_P,
		CAST(B.G_YAREA_M AS DECIMAL(14,2)) G_YAREA_M,
		CAST(B.G_YAREA_P AS DECIMAL(14,2)) G_YAREA_P
		
	FROM 
		T_SM3000 A,
		T_P11000 B,
		T_SC1010 C
	WHERE 
		B.PJT_CD   = A.PJT_CD
	AND 
		B.DEPT_CD  = C.DEPT_CD
	AND 
		A.PJT_CD = #{PJT_CD}

</select>

<!-- 제조경비1 상세화면을위한 검색 쿼리 작성 (프로젝트개요, 예산) -->
<select id="jejo1YesanSearch"
		parameterType="String"
		resultType="java.util.Map">

SELECT *
FROM 
	T_P11060 A,
(SELECT LEVEL2_CD,LEVEL2_NM FROM T_SC9100 WHERE   BUSI_GB = 'A' AND LEVEL1_CD = '22')B
WHERE
	A.COST_ITEM = B.LEVEL2_CD
AND
	PJT_CD = #{PJT_CD}


</select>
</mapper>