<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	@file	ProjectManageController.java
	@brief	용역계약서 Controller
	@author	ksmart30 YDE
-->
<mapper namespace="ksmart30.team01.project.mapper.ProjectManageMapper">
	<!-- 용역계약서 입력을 위해 전체 프로젝트 대장과 프로젝트 대장 정보를 조회한다 -->
	<select id="getBusinessManageList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			A.PJT_CD,
			A.PJT_NM,
			B.DEPT_CD,
			A.PJT_TYPE,
			(SELECT SHORT_NM FROM T_SC1010
			WHERE DEPT_CD = B.DEPT_CD) DEPT_NM,
			B.TOT_CONTRACT_AMT,
			B.PM_EMP_NO,
			(SELECT KOR_NM FROM T_HM1000 WHERE EMP_NO = B.PM_EMP_NO UNION SELECT KOR_NM FROM T_HM1000_T WHERE EMP_NO = B.PM_EMP_NO) PM_EMP_NM
		FROM
			T_SM3000 A,
			T_P11000 B
		WHERE
			A.PJT_CD   = B.PJT_CD
		AND A.PJT_CD LIKE '%'+#{PJT_CD}+'%'
		AND B.DEPT_CD LIKE '%'+#{DEPT_CD}+'%'
		AND A.PJT_CD LIKE #{YEAR}+'%'
		ORDER BY A.PJT_CD ASC
	</select>
	
	<!-- 용역계약서 변경 조회를 위해 변경한 이력이 1번이라도 있는 용역계약서를 조회한다 -->
	<select id="getProjectHistoryList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT DISTINCT
				A.PJT_CD,
				B.PJT_NM,
				A.DEPT_CD,
				A.PM_EMP_NO,
				(SELECT KOR_NM FROM T_HM1000 WHERE EMP_NO = A.PM_EMP_NO UNION SELECT KOR_NM FROM T_HM1000_T WHERE EMP_NO = A.PM_EMP_NO) AS PM_EMP_NM
			FROM
				T_P11000_H A, T_SM3000 B
			WHERE
				A.PJT_CD = B.PJT_CD
			AND A.PJT_SEQ > 0
			AND A.DEPT_CD LIKE '%'+#{DEPT_CD}+'%'
			AND A.PJT_CD LIKE '%'+#{PJT_CD}+'%'
			AND A.PJT_DATE LIKE #{YEAR}+'%'
			ORDER BY A.PJT_CD ASC
	</select>
	
	<!-- 변경된 용역계약서 중 하나를 선택해 자세한 변경 현황을 조회한다 -->
	<select id="getProjectManageHistoryHyunhwangList" parameterType="String" resultType="java.util.Map">
		SELECT
			A.PJT_CD,
			A.PJT_DATE,
			A.PJT_SEQ,
			B.LEVEL2_NM
		FROM
			T_P11000_H A, T_SC9100 B
		WHERE
			A.PJT_GB = B.LEVEL2_CD
		AND A.PJT_CD = #{PJT_CD}
		AND B.LEVEL1_CD = '430'
		ORDER BY A.PJT_DATE ASC
	</select>
	
	<!-- 변경 현황 중 하나를 선택해 용역계약서 상세를 조회한다 -->
	<select id="getProjectManageChangeSangse" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
				A.PJT_CD,
				B.PJT_NM,
				A.DEPT_CD,
				A.PM_EMP_NO,
				(SELECT KOR_NM FROM T_HM1000 WHERE EMP_NO = A.PM_EMP_NO UNION SELECT KOR_NM FROM T_HM1000_T WHERE EMP_NO = A.PM_EMP_NO) AS PM_EMP_NM,
				(SELECT DEPT_NM FROM T_SC1010 WHERE DEPT_CD = A.DEPT_CD) AS DEPT_NM,
				A.PJT_DATE,
				A.PJT_GB,
				(SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL1_CD = '430' AND LEVEL2_CD = A.PJT_GB) LEVEL2_NM,
				A.CHANGE_SAYU,
				A.TOT_CONTRACT_AMT,
				A.PJT_CONTRACT_AMT,
				A.G_AREA_P,
				A.G_AREA_M,
				A.G_YAREA_P,
				A.G_YAREA_M
			FROM
				T_P11000_H A, T_SM3000 B
			WHERE
				A.PJT_CD = B.PJT_CD
			AND A.PJT_SEQ = #{PJT_SEQ}
			AND A.PJT_CD = #{PJT_CD}
			ORDER BY A.PJT_CD ASC
	</select>
	
	<!-- 원계약의 총계약액, 대지면적, 연면적을 조회한다 -->
	<select id="getProjectManageChangeSangseOne" parameterType="String" resultType="java.util.Map">
		SELECT
			PJT_CD,
			PJT_CONTRACT_AMT,
			TOT_CONTRACT_AMT,
			G_AREA_P,
			G_AREA_M,
			G_YAREA_P,
			G_YAREA_M
		FROM
			T_P11000_H
		WHERE
			PJT_CD = #{PJT_CD}
		AND PJT_SEQ = '0'
	</select>
	
	<!-- 변경 전 발주처 이름과 계약금액을 조회한다 -->
	<select id="getProjectManageChangeOwnerBefore" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT DISTINCT
			B.CUST_CD,
			(SELECT CUST_NM FROM T_AC0300 WHERE CUST_CD = B.CUST_CD) AS CUST_NM,
			B.PJT_SEQ,
			B.CONTRACT_AMT,
			B.N_RATE,
			C.CONTRACT_AMT_SUM,
			C.N_RATE_SUM
		FROM
			T_P11010 A,
			T_P11010_H B,
			(SELECT SUM(CONTRACT_AMT) AS CONTRACT_AMT_SUM, SUM(N_RATE) AS N_RATE_SUM FROM T_P11010_H WHERE PJT_CD = #{PJT_CD} AND PJT_SEQ = #{PJT_SEQ_BEFORE}) C
		WHERE
			A.PJT_CD = B.PJT_CD
		AND B.PJT_CD = #{PJT_CD}
		AND B.PJT_SEQ = #{PJT_SEQ_BEFORE}
	</select>
	
	<!-- 변경 후 발주처 이름과 계약금액을 조회한다 -->
	<select id="getProjectManageChangeOwnerAfter" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT DISTINCT
			B.CUST_CD,
			(SELECT CUST_NM FROM T_AC0300 WHERE CUST_CD = B.CUST_CD) AS CUST_NM,
			B.PJT_SEQ,
			B.CONTRACT_AMT,
			B.N_RATE,
			C.CONTRACT_AMT_SUM,
			C.N_RATE_SUM
		FROM
			T_P11010 A,
			T_P11010_H B,
			(SELECT SUM(CONTRACT_AMT) AS CONTRACT_AMT_SUM, SUM(N_RATE) AS N_RATE_SUM FROM T_P11010_H WHERE PJT_CD = #{PJT_CD} AND PJT_SEQ = #{PJT_SEQ}) C
		WHERE
			A.PJT_CD = B.PJT_CD
		AND B.PJT_CD = #{PJT_CD}
		AND B.PJT_SEQ = #{PJT_SEQ}
	</select>
	
	<!-- 변경 전, 후 모두 기성단계 및 금액을 조회한다 -->
	<select id="getProjectManageChangeGiseong" parameterType="java.util.Map" resultType="java.util.Map">
	SELECT
		A.PJT_CD,
		A.PJT_SEQ,
		A.RM_SEQ,
		A.RM_STEP,
		(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '150' AND LEVEL2_CD = A.RM_STEP) RM_STEP_NM,
		A.SALE_STEP,
		(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '110' AND LEVEL2_CD = A.SALE_STEP) SALE_STEP_NM,
		A.RM_AMT,
		A.SUGUM_RATE,
		A.RM_SEQ OLD_RM_SEQ,
		B.RM_AMT_SUM_BEFORE,
		B.SUGUM_RATE_SUM_BEFORE,
		C.RM_AMT_SUM_AFTER,
		C.SUGUM_RATE_SUM_AFTER
	FROM T_P11030_H A,
		(SELECT SUM(RM_AMT) AS RM_AMT_SUM_BEFORE, SUM(SUGUM_RATE) AS SUGUM_RATE_SUM_BEFORE FROM T_P11030_H WHERE PJT_CD = #{PJT_CD} AND PJT_SEQ = #{PJT_SEQ_BEFORE}) AS B,
		(SELECT SUM(RM_AMT) AS RM_AMT_SUM_AFTER, SUM(SUGUM_RATE) AS SUGUM_RATE_SUM_AFTER FROM T_P11030_H WHERE PJT_CD = #{PJT_CD} AND PJT_SEQ = #{PJT_SEQ}) AS C
	WHERE A.PJT_CD = #{PJT_CD}
	AND A.PJT_SEQ BETWEEN #{PJT_SEQ_BEFORE} AND #{PJT_SEQ}
	ORDER BY
		PJT_SEQ ASC,
		RM_SEQ ASC
		</select>
		
	<!-- 변경 전 기성단계 및 금액을 조회한다  -->
	<select id="getProjectManageChangeGiseongBefore" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			A.PJT_CD,
			A.PJT_SEQ,
			A.RM_SEQ,
			A.RM_STEP,
			(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '150' AND LEVEL2_CD = A.RM_STEP) RM_STEP_NM,
			A.SALE_STEP,
			(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '110' AND LEVEL2_CD = A.SALE_STEP) SALE_STEP_NM,
			A.RM_AMT,
			A.SUGUM_RATE,
			A.RM_SEQ OLD_RM_SEQ,
			B.RM_AMT_SUM,
			B.SUGUM_RATE_SUM
		FROM T_P11030_H A,
			(SELECT SUM(RM_AMT) AS RM_AMT_SUM, SUM(SUGUM_RATE) AS SUGUM_RATE_SUM FROM T_P11030_H WHERE PJT_CD = #{PJT_CD} AND PJT_SEQ = #{PJT_SEQ_BEFORE}) AS B
		WHERE A.PJT_CD = #{PJT_CD}
		AND A.PJT_SEQ = #{PJT_SEQ_BEFORE}
	</select>
	
	<!-- 변경 후 기성단계 및 금액을 조회한다  -->
	<select id="getProjectManageChangeGiseongAfter" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			A.PJT_CD,
			A.PJT_SEQ,
			A.RM_SEQ,
			A.RM_STEP,
			(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '150' AND LEVEL2_CD = A.RM_STEP) RM_STEP_NM,
			A.SALE_STEP,
			(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '110' AND LEVEL2_CD = A.SALE_STEP) SALE_STEP_NM,
			A.RM_AMT,
			A.SUGUM_RATE,
			A.RM_SEQ OLD_RM_SEQ,
			B.RM_AMT_SUM,
			B.SUGUM_RATE_SUM
		FROM T_P11030_H A,
			(SELECT SUM(RM_AMT) AS RM_AMT_SUM, SUM(SUGUM_RATE) AS SUGUM_RATE_SUM FROM T_P11030_H WHERE PJT_CD = #{PJT_CD} AND PJT_SEQ = #{PJT_SEQ}) AS B
		WHERE A.PJT_CD = #{PJT_CD}
		AND A.PJT_SEQ = #{PJT_SEQ}
	</select>
	
	<!-- 용역계약서 검색(부서별) -->
	<select id="getProjectManageDepartSearch" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT DISTINCT
			A.PJT_CD,
			C.PJT_NM,
			A.DEPT_CD,
			(SELECT SHORT_NM FROM T_SC1010 WHERE DEPT_CD = A.DEPT_CD) DEPT_NM,
			A.CONTRACT_DATE,
			(SELECT CUST_NM FROM T_AC0300 WHERE CUST_CD = (SELECT TOP 1 CUST_CD FROM T_P11010 WHERE PJT_CD = A.PJT_CD)) CUST_NM,
			A.BUILD_TYPE,
			(SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL1_CD = 'G03' AND LEVEL2_CD = A.BUILD_TYPE) BULLD_NM,
			A.PYUNG_DAN,
			A.G_YAREA_P,
			A.PJT_E_GBN,
			A.PJT_E_DATE,
			A.PJT_ADDR,
			A.CONTRACT_PRI1, A.CONTRACT_PRI2, A.CONTRACT_PRI3,
			(SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL1_CD = '130' AND LEVEL2_CD = A.CONTRACT_PRI3) CONTRACT_PRI3_NM
		FROM
			T_P11000 A, T_P11000_H B, T_SM3000 C
		WHERE A.PJT_CD = C.PJT_CD
		AND A.DEPT_CD LIKE '%%'		--부서
		AND A.PJT_E_GBN LIKE '%%'	--종료구분(1)
		AND A.BUILD_TYPE LIKE '%%'	--건축물유형
		--ORDER BY A.DEPT_CD ASC			--부서 
		--ORDER BY A.CONTRACT_DATE ASC	--계약일자
	</select>
</mapper>