<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace = "ksmart30.team01.project.mapper.ProjectYesanMapper">
 	<!-- 2.2.1. 프로젝트예산입력을 위해 프로젝트 대장에서 프로젝트코드와 프로젝트명을 보여주는 쿼리문 -->
 	<select id="getProjcetYesanSearchList" parameterType="ksmart30.team01.project.domain.ProjectYesanSearchRequest" resultType="java.util.Map">
		SELECT B.PJT_CD,
				A.PJT_NM
		FROM T_SM3000 A,
			(
			SELECT 	
				B.PJT_CD,
				A.PJT_NM,
				B.DEPT_CD,
				B.CONTRACT_DATE,
				CASE 			
					WHEN B.PJT_YEA_YN = 'T' THEN '4'	<!-- 승인 --> 
					WHEN B.PJT_E_GBN > '' AND B.PJT_E_DATE > '' THEN '5'	<!-- 종료 -->	  
			      	WHEN C.MD>0 AND D.PN>0 THEN '3'	<!-- 미승인 -->	     
				   	ELSE '2'	<!-- 계약 -->
				END GUBUN		
			FROM 
				T_SM3000 A,
				T_P11000 B,
				(SELECT PJT_CD, COUNT(*) MD FROM T_P11050 GROUP BY PJT_CD) C,
				(SELECT PJT_CD, COUNT(*) PN FROM T_P11080 GROUP BY PJT_CD) D		
			 WHERE 
			 		B.PJT_CD  = A.PJT_CD
			   AND 
					B.PJT_CD *= C.PJT_CD
			   AND 
					B.PJT_CD *= D.PJT_CD
			) B
		WHERE B.PJT_CD = A.PJT_CD
			AND B.CONTRACT_DATE LIKE '%'+#{CONTRACT_DATE_INPUT}+'%'
			AND B.DEPT_CD LIKE '%'+#{DEPT_CD}+'%'
			AND B.PJT_CD LIKE '%'+#{PJT_CD}+'%'
			AND B.GUBUN LIKE '%'+#{radioValue}+'%'
		ORDER BY B.PJT_CD DESC;
  	</select>
 	
 	<!-- 2.2.1.1 프로젝트코드에 해당하는 프로젝트 개요를 보여주는 쿼리문 -->
   	<select id="getProjectYesanSangse" parameterType="String" resultType="java.util.Map">
		SELECT  A.PJT_CD,
		        A.PJT_NM,
		        B.PRINT_CNT,
		        CASE B.PJT_YEA_YN WHEN 'T' THEN '승인'
		                        WHEN 'F' THEN '미승인' 
										ELSE '미승인' END PJT_YEA_YN,
				  (SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL2_CD = B.BUILD_TYPE AND LEVEL1_CD = '170' AND BUSI_GB = 'J') BUILD_NM,	
				  (SELECT DEPT_NM FROM T_SC1010 WHERE DEPT_CD = B.DEPT_CD) DEPT_NM,	  		
				  B.CONTRACT_DATE,
				  B.CRT_DATE,					
		        B.PM_EMP_NO,
		        (SELECT KOR_NM FROM T_HM1000 WHERE B.PM_EMP_NO = EMP_NO) KOR_NM,   		        
				  B.TOT_CONTRACT_AMT,
		        CAST(B.G_AREA_P AS DECIMAL(14,2)) G_AREA_P,
		        CAST(B.G_AREA_M AS DECIMAL(14,2)) G_AREA_M,
		        CAST(B.G_YAREA_P AS DECIMAL(14,2)) G_YAREA_P,
		        CAST(B.G_YAREA_M AS DECIMAL(14,2)) G_YAREA_M,
		        SUBSTRING(B.CONTRACT_DATE,1,4)+'/'+SUBSTRING(B.CONTRACT_DATE,5,2)+'/'+SUBSTRING(B.CONTRACT_DATE,7,2) + ' ~ ' +
		        SUBSTRING(B.PJT_E_DATE,1,4)+'/'+SUBSTRING(B.PJT_E_DATE,5,2)+'/'+SUBSTRING(B.PJT_E_DATE,7,2)  FROM_TO,
		        (SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL2_CD = B.CONTRACT_PRI3 AND LEVEL1_CD = '130' AND BUSI_GB = 'J') PJT_E_GBN,
		        B.ZIP_CD,
       			B.PJT_ADDR
		   FROM T_SM3000 A,
				T_P11000 B,
		   		T_SC1010 C
		 WHERE B.PJT_CD   = A.PJT_CD
		   AND B.DEPT_CD  = C.DEPT_CD
		/*   AND (SELECT COUNT(J_PJT_CD) FROM T_P13000 WHERE J_PJT_CD = B.PJT_CD) = 1 */
		   AND B.PJT_CD = #{PJT_CD}		   
		/*   AND (SELECT COUNT(J_PJT_CD) FROM T_P13000 WHERE J_PJT_CD = B.PJT_CD) > 1 */
  	</select>
  	
  	<!-- 2.2.1.2 발주처를 조회하는 쿼리문 -->
  	<select id="getProjectYesanSangseCustNm" parameterType="String" resultType="java.util.Map">  	
  	SELECT CUST_NM
  		FROM T_P11010 A,
  			T_AC0300 B
  		WHERE A.CUST_CD = B.CUST_CD
  			AND PJT_CD = #{PJT_CD}
  	</select>

  	<!-- 2.2.1.3 프로젝트코드를 입력받아 프로젝트 일정계획을 보여주는 쿼리문 -->
  	<select id="getProjectYesanSangseWorkStep" parameterType="String" resultType="java.util.Map">  	
		SELECT
			A.WORK_STEP,
			B.LEVEL2_NM WORK_STEP_NM,
			RTRIM(A.START_DAY) START_DAY,
			RTRIM(A.PLAN_END_DAY) PLAN_END_DAY,
			A.NEED_TERM,
			RTRIM(A.REAL_END_DAY) REAL_END_DAY,
			(SELECT COUNT(*) FROM T_P11080_H
			WHERE PJT_CD = A.PJT_CD AND WORK_STEP = A.WORK_STEP) UPD_COUNT,
			C.RMK
		FROM T_P11080 A,
			T_SC9100 B,
			T_P11080_H C
		WHERE A.WORK_STEP = B.LEVEL2_CD
			AND A.WORK_STEP = C.WORK_STEP
			AND A.PJT_CD = C.PJT_CD
			AND B.BUSI_GB = 'J'
			AND B.LEVEL1_CD = '110'
			AND A.PJT_CD = #{PJT_CD}
		/*  ORDER BY A.START_DAY, A.PLAN_END_DAY, A.WORK_STEP */
		ORDER BY 
			A.WORK_STEP
  	</select>

	
  	<!-- 2.2.3.1 프로젝트예산 출력을 위한 프로젝트코드 조회 -->
  	<select id="getProjectYesanOutputPjtList" parameterType="String" resultType="java.util.Map">  	
		SELECT B.PJT_CD,
		       A.PJT_NM
		  FROM T_SM3000 A,
		       T_P11000 B
		  WHERE A.PJT_CD = B.PJT_CD
			AND B.CONTRACT_DATE LIKE '%'+#{CONTRACT_DATE}+'%'
			AND ((B.PJT_CD LIKE '%' + #{inputValue} + '%') 
				OR (A.PJT_NM LIKE '%' + #{inputValue} + '%') 
				OR (B.DEPT_CD LIKE '%' + #{inputValue} + '%') 
				OR (B.DEPT_NM LIKE '%' + #{inputValue} + '%'))
  			
  	</select>	
	  	
  	
 </mapper> 	