<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>인사평가표</title>
	</th:block>
	<th:block layout:fragment="customBody">
	
		<div class="x_panel">
			
			 <div class="clearfix">
			  <h2>인사평가표</h2>
			 </div>
			 
		<!-- 인사평가표 위에 검색 -->
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12"  style=" color: black; font-size: 16px">
				<div class="x_panel"  style=" color: black;">
					<table>
						<tr>
							<td>⊙ 검색조건 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
							</td>
							<td>평가항목 <input type="test">
							</td>
							<td>
								<div class="x_content" style="text-align: right">
									<button type="button" class="btn btn btn-primary">검색
									</button>
								</div>
							</td>
						</tr>

					</table>
				

					<div class="clearfix"></div>

				</div>
			</div>




			
			<!-- 인사평가표 테이블 -->
			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12 col-sm-11 col-xs-12">
					<div class="x_panel">

							<div class="clearfix"></div>
						

						<div class="x_content">
							<!-- <p class="text-muted font-13 m-b-30">
                      DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                    </p> -->
							<table id="datatable-checkbox"
								class="table table-striped table-bordered bulk_action">
								<thead>
									<tr>
										<th>
										<th><input type="checkbox" id="check-all" class="flat"></th>
										</th>
										<th>본부</th>
										<th>직급</th>
										<th>사번</th>
										<th>성명</th>
										<th>지각</th>
										<th>결근</th>
										<th>교육훈련</th>
										<th>휴가</th>
										<th>휴직</th>
									</tr>
								</thead>


								<tbody>
									<tr>
										<td>
										<th><input type="checkbox" id="check-all" class="flat"></th>
										</td>
										<td>Tiger Nixon</td>
										<td>System Architect</td>
										<td>Edinburgh</td>
										<td>61</td>
										<td>2011/04/25</td>
										<td>$320,800</td>
										<td>00</td>
										<td>00</td>
										<td>00</td>
									</tr>
									<tr>
										<td>
										<th><input type="checkbox" id="check-all" class="flat"></th>
										</td>
										<td>Garrett Winters</td>
										<td>Accountant</td>
										<td>Tokyo</td>
										<td>63</td>
										<td>2011/07/25</td>
										<td>$170,750</td>
										<td>00</td>
										<td>00</td>
										<td>00</td>

									</tr>
									<tr>
										<td>
										<th><input type="checkbox" id="check-all" class="flat"></th>
										</td>
										<td>Ashton Cox</td>
										<td>Junior Technical Author</td>
										<td>San Francisco</td>
										<td>66</td>
										<td>2009/01/12</td>
										<td>$86,000</td>
										<td>00</td>
										<td>00</td>
										<td>00</td>
									</tr>

								</tbody>
							</table>
								
								<div class="x_content" style="text-align: left">	
									<a href="">
									<button type="button" class="btn btn-success btn-sm" href="#">수정</button>									
									</a>
									<a href="">
									<button type="button" class="btn btn-success btn-sm" href="#">삭제</button>									
									</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
									&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
									&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
									<a href="">
									<button type="button" class="btn btn-success btn-sm" href="#">입력</button>
									</a>
								</div>
									
							
						</div>
					</div>
				</div>
			</div>
			<!-- 인사평가표 테이블 끝 -->
			</div>
		</div></th:block>
	<th:block layout:fragment="customJquery">
    </th:block>
</html>
