<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	
	<th:block th:include="layout/customHead"></th:block>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	
	
	<title>인사발령대장</title>
</th:block>
<th:block layout:fragment="customBody">
	<div class="col-md-9 col-xs-12" style="color: black;">
		<div class="page-title">
			<div class="title_left">
				<h2>
					<b>인사발령대장</b>
				</h2>
				<h5>
					<font color="gray">
					<b>6.인사/급여&nbsp;>&nbsp;&nbsp;6.2이동관리</b>
					</font>
				</h5>

			</div>
		</div>
	</div>

	<!-- 
              인사발령대장 list 시작
               -->
	<div class="col-md-12 col-sm-6 col-xs-12" style="color:black;">
		<div class="x_panel">
			
			<div class="x_content" style="overflow:scroll; width:100%; height:450px; background-color:;">

				<table class="table table-striped jambo_table bulk_action" >
					<thead>
						<tr>
							
							<th>명령번호</th>
							<th>명령종류</th>
							<th>명령일자</th>
							<th>사원번호</th>
							<th>성명</th>
							<th>명령내역</th>
							<th>비고</th>
							<th>승인여부</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="r : ${registerList}">
							<td th:text="${r.APPOINT_NO}"></td>
							<td th:text="${r.APPOINT_GB}"></td>
							<td th:text="${r.APPOINT_DT}"></td>
							<td th:text="${r.EMP_NO}"></td>
							<td th:text="${r.KOR_NM}"></td>
							<td th:text="${r.APPOINT_SUMMARY}"></td>
							<td th:text="${r.REMARK}"></td>
							<td th:text="${r.APPROVE_YN}"></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>


</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
