<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">

	<th:block th:include="layout/customHead"></th:block>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<title>인사발령대장</title>
	<script>
	$(document).ready(function(){
		console.log('인사발령대장 LIST 출력');
		
		$('#btn_list').click(function(){
			let APPROVE_YN = $('#APPROVE_YN').val();
			
			let appoint_dt_format = $('#APPOINT_DT').val();
			let appoint_dt2_format = $('#APPOINT_DT2').val();
			
			let APPOINT_DT  = appoint_dt_format.substr(0,4)+appoint_dt_format.substr(5,2)+appoint_dt_format.substr(8,2);
			let APPOINT_DT2 = appoint_dt2_format.substr(0,4)+appoint_dt2_format.substr(5,2)+appoint_dt2_format.substr(8,2);
			//입력받은 date 값을 substr로 string타입으로 바꾼다
			console.log("시작날짜 : "+APPOINT_DT+"종료날짜 : "+APPOINT_DT2);
			$.ajax({
				url:'/person/personYidongRegisterSearch',
				type:'GET',
				data:{APPROVE_YN:APPROVE_YN,APPOINT_DT:APPOINT_DT,APPOINT_DT2:APPOINT_DT2},
				success:(data)=>{
					$('#list').empty();
					console.log("직원리스트 출력: "+data);
					$(data).each(function(index,item){
						$('#list').append('<tr style="text-align: center">'
						+'<td width="100">'+item.APPOINT_NO+'</td>'
						+'<td>'+item.APPOINT_GB+'</td>'
						+'<td>'+item.APPOINT_DT+'</td>'
						+'<td>'+item.EMP_NO+'</td>'
						+'<td>'+item.KOR_NM+'</td>'
						+'<td>'+item.APPOINT_SUMMARY+'</td>'
						+'<td>'+item.REMARK+'</td>'
						+'<td>'+item.APPROVE_YN+'</td>'
						+'</tr>');	
					});	
					
				}
			})
			
		});
		
	});

</script>
</th:block>
<th:block layout:fragment="customBody">
	<div class="col-md-9 col-xs-12" style="color: black;">
		<div class="page-title">
			<div class="title_left">
				<h2>
					<b>인사발령대장</b>
				</h2>
				<h5>
					<font color="gray"> <b>6.인사/급여&nbsp;>&nbsp;&nbsp;6.2이동관리
							> 6.2.2인사발령대장</b>
					</font>
				</h5>

			</div>
		</div>
	</div>
	<div class="x_content" style="text-align: right">
		<div class="btn-group">
			<br>
			<button class="btn btn-default" type="button" id="btn_list">조회</button>
			<button class="btn btn-default" type="reset" disabled="disabled">입력</button>
			<button class="btn btn-default" type="button" disabled="disabled">수정</button>
			<button class="btn btn-default" type="button" disabled="disabled">삭제</button>
			<button class="btn btn-default" type="button" disabled="disabled">저장</button>
			<button class="btn btn-default" type="button">출력</button>
			<br>
		</div>
	</div>

	<!-- 
              인사발령대장 list 시작
               -->
	<div class="col-md-12 col-sm-12 col-xs-12" style="color: black;">
		<div class="x_panel">



			<div class="x_content"
				style="overflow: scroll; width: 100%; height: 450px; background-color:;">
				<h4 style="color: black;">⊙ 검색 조건</h4>

				<form class="form-horizontal form-label-left">
					<table
						class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
						id="personSearch_table" role="grid"
						aria-describedby="datatable-responsive_info" style="width: 100%;">
						<tr role="row">
							<th class="sorting_asc" aria-controls="datatable-responsive"
								aria-sort="ascending">&nbsp;명령일자</th>
							<th class="sorting" aria-controls="datatable-responsive"><input
								type="date" name="APPOINT_DT" id="APPOINT_DT"
								style="width: 100%;"></th>

							<th class="sorting_asc" aria-controls="datatable-responsive"
								aria-sort="ascending">&nbsp;~</th>
							<th class="sorting" aria-controls="datatable-responsive"><input
								type="date" name="APPOINT_DT2" id="APPOINT_DT2"
								style="width: 100%;"></th>
							<!-- <th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									&nbsp;사원명
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="KOR_NM" id="KOR_NM" style="width:50%;">
								</th> -->
							<th class="sorting_asc" aria-controls="datatable-responsive"
								aria-sort="ascending">&nbsp;승인여부</th>

							<th>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select style="width: 100px; height: 25px;" id="APPROVE_YN">

										<option value="1">승인(√)</option>
										<option value="">미승인</option>
									</select>

								</div>
							</th>


						</tr>



					</table>
				</form>
				<table class="table table-striped jambo_table bulk_action" >
					<thead>
						<tr >

							<th style="text-align: center">명령번호</th>
							<th style="text-align: center">명령종류</th>
							<th style="text-align: center">명령일자</th>
							<th style="text-align: center">사원번호</th>
							<th style="text-align: center">성명</th>
							<th style="text-align: center">명령내역</th>
							<th style="text-align: center">비고</th>
							<th style="text-align: center">승인여부</th>

						</tr>
					</thead>
					<tbody id="list" style="text-align: center">
						<tr th:each="r : ${registerList}">
							<td th:text="${r.APPOINT_NO}"></td>
							<td th:text="${r.APPOINT_GB}"></td>
							<td th:text="${r.APPOINT_DT}"></td>
							<td th:text="${r.EMP_NO}"></td>
							<td th:text="${r.KOR_NM}"></td>
							<td th:text="${r.APPOINT_SUMMARY}"></td>
							<td th:text="${r.REMARK}"></td>
							<td th:text="${r.APPROVE_YN}"></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>


</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>
