<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">

<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
	<th:block th:include="layout/customHead"></th:block>
	
	<script>
		$(document).ready(function(){
		    // 목록
		    console.log('직원list 출력해보자')
		    $('#btn_list').on('click',window.onload=function(){
		        $.ajax({
		            url:'/person/personYidongList',
		            type:'GET',
		            success:(data)=>{
		                $('#list').empty();
		                $(data).each(function(index,item){ //each = foreach (반복문)
		                    $('#list').append('<tr>');
		                    $('#list').append('<td>'+item.emp_NO+'</td>');
		                    $('#list').append('<td>'+item.kor_NM+'</td>');
		                    $('#list').append('</tr>');
		                });
		            }
		        });
		    });
		    
		    $("#yidongTable tr").click(function() {//문자열 저장할 변수 선언		

				//현재 클릭된 행<tr>
				var tr = $(this);
				var td = tr.children();
				console.log("row : "+ tr.text());
				//선택 행의 색 바꾸기
				$("#yidongTable tr").css("background-color", "#ffffff");
				$(this).css( "background-color", "#f4f4f4" );
				//선택 행 중에서 인덱스 번호 0인 값 가져옴(emp_no)
				var emp_no = td.eq(0).text();
				console.log("emp_no : "+ emp_no);
				
				$.ajax({
					url:'/person/personYidongListWriteView',
					type:'GET',
					dataType : "json",
					data : {emp_no : emp_no},
					success : function(data) {
						console.log("발령 전 정보 출력");
						console.log(data);
						$(data).each(function(index,item){
							$('#yidongInsert').empty();
							$('#yidongInsert').append('<tr>');
							$('#yidongInsert').append('<td>'+ item.emp_NO+ '</td><td>'
							
							+ item.kor_NM + '</td><td>'
							+ item.dept_NM+ '</td>');
							$('#yidongInsert').append('<td>'+ item.jikgup_NM+ '</td>');
							$('#yidongInsert').append('<td>'+ item.jikchk_NM+ '</td>');
							$('#yidongInsert').append('</tr>');							

						});
						
						console.log("정보 잘 나왔는지 확인");
	
					}
					
				});
			
			});
		});
		

</script>
<title>발령등록</title>
</th:block>

<th:block layout:fragment="customBody">
	<div class="col-md-9 col-xs-12" style="color: black;">
		<div class="page-title">
			<div class="title_left">
				<h2>
					<b>발령등록</b>
				</h2>
				<h5>
					<font color="gray">
					<b>6.인사/급여&nbsp;>&nbsp;&nbsp;6.2이동관리</b>
					</font>
				</h5>

			</div>
		</div>
	</div>


	<!-- 
              직원list 시작
               -->
    
	<div class="col-md-6 col-sm-6 col-xs-12" style="color:black;">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					직원 list 
				</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false"><i
							class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Settings 1</a></li>
							<li><a href="#">Settings 2</a></li>
						</ul></li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
		<div class="clearfix"></div>
			</div>
			<div class="x_content" style="overflow:scroll; width:100%; height:450px; background-color:;">

				<table class="table table-striped jambo_table bulk_action" >
					<thead>
						<tr>
							
							<th>사원번호</th>
							<th>성명</th>
							
						</tr>
					</thead>
					<tbody  id = "yidongTable">
						
						<tr th:each="y : ${yidongList}">
							<td th:text="${y.EMP_NO}"></td>
							<td th:text="${y.KOR_NM}"></td>
						</tr>
						
					</tbody>
				</table>

			</div>
		</div>
	</div>
	
	<!-- 
              이동자료 insertForm 시작
               -->
    <div class="col-md-6 col-sm-6 col-xs-12" style="color:black;">           
	<div class="x_panel">

			<div class="title_left">
				<h3>이동 자료 insert form</h3>
			</div>
			<div class="col-md-12 col-xs-12" style="color: black;"></div>
			<!----------------------------------- 조건별검색(부장님)----------------------------------------- -->

			<div class="col-md-12 col-xs-12">
				<form class="form-horizontal form-label-left input_mask" >
					<table id="datatable-responsive" class="table table-bordered" >
						<thead>
							<tr>
								<th>사원번호</th>
								<th>성명</th>
								<th>소속부서</th>
								<th>직 급</th>
								<th>직 책</th>
							</tr>
						
						</thead>
						<tbody id="yidongInsert">
						
						</tbody>
					</table>
				</form>
			</div>
		
		<div class="x_content" >
		
				<button type="submit" class="btn btn-primary">등록</button>
		</div>
	</div>
	</div>
	<!--
	 이동자료 list
	 -->
	<div class="" style="color:black;">
            <div class="page-title">
              <div class="title_left">
                <h3> <!-- <small>Some examples to get you started</small> --></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>이동자료 list</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">
                    <!-- <p class="text-muted font-13 m-b-30">
                      DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                    </p> -->
                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                      <thead>
                        <tr>
                          <th>
							 <th><input type="checkbox" id="check-all" class="flat"></th>
						  </th>
                          <th>본부</th>
                          <th>직급</th>
                          <th>사번</th>
                          <th>성명</th>
                          <th>지각</th>
                          <th>결근</th>
                          <th>교육훈련</th>
                          <th>휴가</th>
                          <th>휴직</th>
                        </tr>
                      </thead>


                      <tbody>
                        
                      </tbody>
                    </table>
                    <div class="x_content" style="text-align: left" >
	                    <a href="">
	                    <button type="button" class="btn btn-success btn-sm" >수정</button>
						</a>
					
					
	                    <a href="">
	                    <button type="button" class="btn btn-danger btn-sm" >삭제</button>
						</a>
						&emsp;
						<a href="">
	                    <button type="button" class="btn btn-primary btn-sm" >승인</button>
						</a>
					</div>
                    
                    
                    <div class="x_content" style="text-align: right" >
	                    
					</div>
                  </div>
                </div>
              </div>
             </div>
			</div>
</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>
