<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team01.business.mapper.BusinessYesanAdmitMapper">
	<select id="getDeptList" resultType="map">
		<![CDATA[
		SELECT B.DEPT_CD, B.DEPT_NM
		FROM (SELECT CASE WHEN CONVERT(FLOAT,A.DEPT_CD)/100=(CONVERT(INT,SUBSTRING(A.DEPT_CD,1,2))) THEN A.DEPT_CD END DEPT_CD,
					 CASE WHEN CONVERT(FLOAT,A.DEPT_CD)/100=(CONVERT(INT,SUBSTRING(A.DEPT_CD,1,2))) THEN A.DEPT_NM END	DEPT_NM 
					 FROM T_SC1010 A
					 WHERE A.DEPT_CD > 7400 AND A.DEPT_CD<8000) B
		WHERE B.DEPT_CD IS NOT NULL;
		]]>
	</select>
	<select id="getProjectList" resultType="map">
		<![CDATA[
		SELECT  A.PRE_PJT_CD   ,
	       		A.PJT_CD       ,
	       		A.PJT_TYPE     ,
	       		A.SVC          ,
	       		A.CUST_GBN     ,
	       		A.CUST_CD      ,
	       		CASE WHEN ISNULL(A.CUST_NM, ' ') > ' ' THEN A.CUST_NM
	            	 ELSE E.CUST_NM
	       		END CUST_NM    ,
	       		CAST(A.AREA_P AS DECIMAL(13,2)) AREA_P,
	       		CAST(A.AREA_M AS DECIMAL(13,2)) AREA_M,
	       		CAST(A.YAREA_P AS DECIMAL(13,2)) YAREA_P,
	       		CAST(A.YAREA_M AS DECIMAL(13,2)) YAREA_M,
	       		A.BIZ_TYPE,
		        A.BIZ_GBN      ,
		        CONVERT(VARCHAR(30),'') BIZ_GBN_NM,
		        A.REGION       ,
		        CONVERT(VARCHAR(30),'') REGION_NM,
		        A.REGION2       ,
		        CONVERT(VARCHAR(30),'') REGION2_NM,
		        A.REGION3       ,
		        CONVERT(VARCHAR(30),'') REGION3_NM,
		        A.ZONE1        ,
		        CONVERT(VARCHAR(30),'') ZONE1_NM ,
		        A.ZONE2        ,
		        CONVERT(VARCHAR(30),'') ZONE2_NM ,
		        A.ZONE3        ,
		        CONVERT(VARCHAR(30),'') ZONE3_NM ,
		        A.SCOPE1        ,
		        CONVERT(VARCHAR(30),'') SCOPE1_NM ,
		        A.SCOPE2        ,
		        CONVERT(VARCHAR(30),'') SCOPE2_NM ,
		        A.SCOPE3        ,
		        CONVERT(VARCHAR(30),'') SCOPE3_NM ,
		        A.ZIP_CD       ,
		        A.ADDR         ,
		        A.BUILD_TYPE   ,
		        CONVERT(VARCHAR(30),'') BUILD_TYPE_NM,
		        A.DEPT_CD      ,
	       		A.INFO_EMP_NO    ,
	       		HM5.KOR_NM INFO_KOR,       	
	       		A.EMP_NO    ,
	       		HM1.KOR_NM EMP_NM, 
	       		A.MARKET_MAN       ,
	       		HM2.KOR_NM MARKET_NM,
	       		A.DESIGN_MAN       ,
	       		HM3.KOR_NM DESIGN_NM,
	       		A.PM_EMP_NO    ,
	       		HM4.KOR_NM PM_EMP_NM,
	       		A.ACT_STAT     ,
	       		A.END_DATE     , 
	       		CASE WHEN A.CRT_DATE >'20060101' THEN A.CRT_DATE
	         		 ELSE A.CD_REG_DATE
	       		END CD_REG_DATE  ,
	       		A.CRT_MAN      ,
	       		A.CRT_DATE     ,
	       		A.UPD_MAN      ,
	       		A.UPD_DATE     ,
	       		A.EST_AMT      ,
	       		A.END_BIGO1    ,
	       		A.END_BIGO2    ,
	       		A.RMK          ,
	       		A.FORECAST_AMT ,
	       		CASE A.ACT_STAT WHEN '1' THEN '미승인'
	            	            WHEN '2' THEN '진행'
	                 	      	WHEN '4' THEN '(' + SUBSTRING(A.END_DATE,1,4) + '/' + SUBSTRING(A.END_DATE,5,2) + '/' + SUBSTRING(A.END_DATE,7,2) + ' 무산)'
	                     	    WHEN '5' THEN '(' + SUBSTRING(A.END_DATE,1,4) + '/' + SUBSTRING(A.END_DATE,5,2) + '/' + SUBSTRING(A.END_DATE,7,2) + ' 계약)'
	      		END APPROVAL,
	       		CASE A.ACT_STAT WHEN '1' THEN 'black'
	            	            WHEN '2' THEN 'green'
								WHEN '3' THEN 'blue'
								WHEN '4' THEN 'magenta'
								WHEN '5' THEN 'red'
				END COLOR,
				A.UP_SU,
				A.DOWN_SU,
				A.H_CNT,
				A.CAPACITY,
				A.COVERAGE,
				CASE A.CLASS_GBN WHEN '11' THEN 'A'
								 WHEN '12' THEN 'B'
								 WHEN '13' THEN 'C'
								 WHEN '14' THEN 'D'
								 WHEN '15' THEN 'E'
								 WHEN '21' THEN 'B1'
								 WHEN '22' THEN 'B2'
								 WHEN '23' THEN 'B3'
								 WHEN '24' THEN 'B4'
								 WHEN '25' THEN 'B5'
								 WHEN '31' THEN 'C1'
								 WHEN '32' THEN 'C2'
								 WHEN '33' THEN 'C3'
								 WHEN '34' THEN 'C4'
								 WHEN '35' THEN 'C5'
								 ELSE ''
				END CLASS_GBN,
				F.COST_AMT1,
				F.COST_AMT2,
				F.COST_AMT3,
				CASE WHEN (A.PRODUCT='' OR A.PRODUCT IS NULL) THEN F.PRODUCT
					 ELSE A.PRODUCT
				END PRODUCT,
				A.BUILD_GB,
				A.PRINT_YN,
				A.PRINT_CNT,
				CASE G.CLASS_GBN WHEN '11' THEN 'A :  현상,PF,TK,기술제안 등 경쟁프로젝트'
								 WHEN '12' THEN 'B :  계약전 외주비(제조1,2) 발생'
								 WHEN '13' THEN 'C :  사업성 검토 외주비(제조1) 발생'
								 WHEN '14' THEN 'D :  사업성검토 인건비 발생'
								 WHEN '15' THEN 'X :  DROP 프로젝트'
								 ELSE ''
				END CLASS_DESCR  
		FROM T_PS1000 A
			 LEFT OUTER JOIN T_AC0300 E ON A.CUST_CD = E.CUST_CD
			 LEFT OUTER JOIN (SELECT * FROM T_PS9200 WHERE REG_YY=YEAR(GETDATE())) F ON A.CLASS_GBN = F.CLASS_GBN
			 LEFT OUTER JOIN T_PS3000 G ON A.PJT_CD = G.PJT_CD
			 LEFT OUTER JOIN (SELECT EMP_NO,KOR_NM FROM T_HM1000 UNION SELECT EMP_NO,KOR_NM FROM T_HM1000_T) HM1 ON A.EMP_NO = HM1.EMP_NO
			 LEFT OUTER JOIN (SELECT EMP_NO,KOR_NM FROM T_HM1000 UNION SELECT EMP_NO,KOR_NM FROM T_HM1000_T) HM2 ON A.MARKET_MAN = HM2.EMP_NO
			 LEFT OUTER JOIN (SELECT EMP_NO,KOR_NM FROM T_HM1000 UNION SELECT EMP_NO,KOR_NM FROM T_HM1000_T) HM3 ON A.DESIGN_MAN = HM3.EMP_NO
			 LEFT OUTER JOIN (SELECT EMP_NO,KOR_NM FROM T_HM1000 UNION SELECT EMP_NO,KOR_NM FROM T_HM1000_T) HM4 ON A.PM_EMP_NO = HM4.EMP_NO
			 LEFT OUTER JOIN (SELECT EMP_NO,KOR_NM FROM T_HM1000 UNION SELECT EMP_NO,KOR_NM FROM T_HM1000_T) HM5 ON A.INFO_EMP_NO = HM5.EMP_NO
		WHERE A.ACT_STAT LIKE '%' + #{ACT_STAT} + '%'
			  AND (A.PJT_CD+A.PJT_TYPE) LIKE '%' + #{PJT_CD} + '%'
			  AND A.SVC LIKE '%' + #{PJT_NM} + '%'
			  AND ISNULL(A.END_BIGO1,'') IN ('', ' ')
			  AND ISNULL(G.END_GBN, '') != '22' 
		ORDER BY (CASE WHEN SUBSTRING(A.PJT_CD,1,2) < '70' THEN '20' + A.PJT_CD  ELSE '19' + A.PJT_CD  END )
		]]>
	</select>
</mapper>