<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team01.business.mapper.BusinessManageMapper">

<!--사업수행결정서 승인 확인-->
<select id="getBusinessManageList" parameterType="ksmart30.team01.business.domain.BusinessMarket" resultType="java.util.Map">	
		SELECT  PJT_CD,
				PJT_NM,
				CUST_NM,
				UP_SU,
				DOWN_SU,
				AREA_P,
				YAREA_P
		FROM T_PS3000	
		WHERE BUSI_YY LIKE #{BUSI_YY}
		AND UP_SU BETWEEN #{UP_SU} AND #{UP_SU2}
		AND YAREA_P BETWEEN #{YAREA_P} AND #{YAREA_P2}		
</select>

<!--사업수행결정서 좌측 목록  -->
<select id="getBusinessManageViewList" parameterType="ksmart30.team01.business.domain.BusinessMarket" resultType="java.util.Map">	

		SELECT PJT_CD,PJT_NM
FROM
(
 SELECT 
  (CASE WHEN (END_GBN ='') AND (CD_REG_DATE='') THEN '1'
   WHEN (END_GBN ='') AND (CD_REG_DATE!='') THEN '2'
   WHEN (END_GBN ='11') THEN '3'
   WHEN (END_GBN >='21') THEN '4' 
  END) GUBUN 
  , (CASE WHEN (END_GBN ='') AND (CD_REG_DATE='') THEN '1' <!-- 접수 -->
   WHEN (END_GBN ='') AND (CD_REG_DATE!='') THEN '2' <!--승인  -->
   WHEN (END_GBN ='11') THEN '11' <!-- 홀드 -->
   WHEN (END_GBN ='21') THEN '21'  <!-- 공문발송 -->
   WHEN (END_GBN ='22') THEN '22'  <!-- 드랍 -->
  END) END_GBN_NM
  , A.BUSI_YY
  , A.BUSI_SEQ
  , A.PJT_CD
  , A.PJT_TYPE
  , A.PJT_NM
  , CASE WHEN (END_GBN ='') AND (CD_REG_DATE='')THEN ''
         ELSE ( A.PJT_CD + A.PJT_TYPE )
     END PJT_LONG_CD
  , A.CD_REG_DATE
  , A.BIZ_TYPE
  , A.BIZ_GBN
  , A.BUSI_DATE
  , A.MARKET_EMP_NO INFO_EMP_NO
  , HM7.KOR_NM      INFO_EMP_KOR
  , HM7.IN_PHONE_NO INFO_PHONE_NO
  , A.MARKET_MAN
  , HM1.KOR_NM MARKET_NM
  , HM1.IN_PHONE_NO H_PHONE_NO
  , A.CUST_REPRE_NM
  , A.CUST_CHARGE_NM
  , A.CUST_TEL
  , A.CUST_ZIP
  , A.CUST_ADDR
  , A.CUST_CD
  , A.CUST_NM
  , A.CUST_GBN
  , A.ZIP_CD
  , A.ADDR
  , A.ADDR2
  , A.LAND_TYPE
  , A.REGION
  , A.REGION2
  , A.REGION3
  , A.ZONE1
  , A.ZONE2
  , A.ZONE3
  , A.SCOPE1
  , A.SCOPE2
  , A.SCOPE3
  , A.BUILD_TYPE
  , A.UP_SU
  , A.DOWN_SU
  , A.H_CNT
  , A.AREA_P
  , A.AREA_M
  , A.YAREA_P
  , A.YAREA_M
  , A.GAREA_P
  , A.GAREA_M
  , A.COVERAGE
  , A.CAPACITY
  , A.CAPACITY_M
  , A.EMP_NO
  , HM2.KOR_NM EMP_NM
  , A.PM_EMP_NO
  , HM3.KOR_NM PM_EMP_NM
  , A.DESIGN_MAN
  , HM4.KOR_NM DESIGN_NM
  , A.DEPT_CD
  , DE1.SHORT_NM DEPT_NM
  , LTRIM(A.END_DATE) AS END_DATE
  , A.FORECAST_AMT
  , A.CLASS_GBN
  , A.END_GBN
  , A.RMK_1
  , A.RMK_2
  , A.RMK_3
  , A.RMK_4
  , A.RMK_5
  , A.CRT_MAN
  , A.CRT_DATE
  , A.UPD_MAN
  , A.UPD_DATE
  , A.PLAN_DATE
  , A.MARKET_PM
  , HM5.KOR_NM MARKET_PM_NM
  , A.MARKET_PD
  , HM6.KOR_NM MARKET_PD_NM
  , A.MARKET_DEPT
  , DE2.SHORT_NM MARKET_DEPT_NM
  , A.MARKET_FORECAST_AMT
  , A.MARKET_CLASS_GBN
  , A.CRT_DEPT
  , A.BUILD_GB
  , ISNULL(B.BUSI_RMK,'')  BUSI_RMK
  , ISNULL(B.BUSI_PRO,'')  BUSI_PRO
  , '20190309'               OPINION_EMP_NO
  , ISNULL(B.MEMBER_DEPT,'')    MEMBER_DEPT
  , ISNULL(B.MEMBER_DEPT_NM,'') MEMBER_DEPT_NM
  , ISNULL(B.MEMBER_PM   ,'')   MEMBER_PM
  , ISNULL(B.MEMBER_PM_NM,'')   MEMBER_PM_NM
   FROM 
  T_PS3000 A
  , (SELECT EMP_NO, KOR_NM, IN_PHONE_NO FROM T_HM1000 UNION 

SELECT EMP_NO, KOR_NM, H_PHONE_NO FROM T_HM1000_T) HM1
  , (SELECT EMP_NO, KOR_NM FROM T_HM1000 UNION SELECT EMP_NO, 

KOR_NM FROM T_HM1000_T) HM2
  , (SELECT EMP_NO, KOR_NM FROM T_HM1000 UNION SELECT EMP_NO, 

KOR_NM FROM T_HM1000_T) HM3
  , (SELECT EMP_NO, KOR_NM FROM T_HM1000 UNION SELECT EMP_NO, 

KOR_NM FROM T_HM1000_T) HM4
  , (SELECT EMP_NO, KOR_NM FROM T_HM1000 UNION SELECT EMP_NO, 

KOR_NM FROM T_HM1000_T) HM5
  , (SELECT EMP_NO, KOR_NM FROM T_HM1000 UNION SELECT EMP_NO, 

KOR_NM FROM T_HM1000_T) HM6
  , (SELECT EMP_NO, KOR_NM, IN_PHONE_NO FROM T_HM1000 UNION 

SELECT EMP_NO, KOR_NM, IN_PHONE_NO  FROM T_HM1000_T) HM7
  , SF_SC1010('03', '', '','') DE1
  , SF_SC1010('03', '', '','') DE2
  , (SELECT *
            , ISNULL((SELECT SHORT_NM FROM T_SC1010 WHERE 

DEPT_CD = A.MEMBER_DEPT),'') MEMBER_DEPT_NM
            , ISNULL((SELECT KOR_NM FROM T_HM1000   WHERE EMP_NO 

= A.MEMBER_PM),
                     (SELECT KOR_NM FROM T_HM1000_T WHERE EMP_NO 

= A.MEMBER_PM)) MEMBER_PM_NM
       FROM T_PS3010 A WHERE EMP_NO = EMP_NO) B
  WHERE A.MARKET_EMP_NO *= HM7.EMP_NO
    AND A.MARKET_MAN  *= HM1.EMP_NO
    AND A.EMP_NO      *= HM2.EMP_NO
    AND A.PM_EMP_NO   *= HM3.EMP_NO
    AND A.DESIGN_MAN  *= HM4.EMP_NO
    AND A.MARKET_PM   *= HM5.EMP_NO
    AND A.MARKET_PD   *= HM6.EMP_NO    
    AND A.DEPT_CD     *= DE1.DEPT_CD
    AND A.MARKET_DEPT *= DE2.DEPT_CD
    AND A.BUSI_YY     *= B.BUSI_YY
    AND A.BUSI_SEQ    *= B.BUSI_SEQ
 
    AND (A.BUSI_YY + A.BUSI_SEQ) IN
    (
   SELECT (A.BUSI_YY + A.BUSI_SEQ) BUSI_KEY
     FROM T_PS3000 A
    , SF_SC1010('03', '', #{DEPT_CD},'') DE1
    WHERE A.DEPT_CD = DE1.DEPT_CD
   UNION
   SELECT (A.BUSI_YY + A.BUSI_SEQ) BUSI_KEY
     FROM T_PS3000 A
    , SF_SC1010('03', '', #{DEPT_CD},'') DE1
    WHERE A.CRT_DEPT = DE1.DEPT_CD
    )
    AND A.BUSI_YY = #{BUSI_YY}

) PJT 

WHERE PJT.END_GBN_NM LIKE #{END_GBN}
		
		
		
</select>

<!-- 사업수행결정서(승인)프로젝트목록 클릭시 우측에 검색 -->
<select id="getBusinessManageView" parameterType="ksmart30.team01.business.domain.BusinessMarket" resultType="java.util.Map">
		SELECT
		  
				PJT_NM,  <!--프로젝트 이름  -->
				CUST_CD, <!--발주처 코드  -->
				CUST_NM, <!--발주처 이름  -->
				CUST_GBN, <!--발주처구분  --> 
				PLAN_DATE, <!--완료예정일  -->
				BUSI_DATE, <!--의뢰 일자  -->
				CUST_TEL, <!--전화번호  -->
				BUSI_YY, <!--일련번호 년도  -->
				BUSI_SEQ, <!--일련번호 번호  -->
				CRT_DATE, <!-- 등록일시 -->
				CUST_CHARGE_NM, <!--담당자  -->
				REGION,<!--지역  -->
				REGION2,<!--지역2  -->
				ZONE1,<!--지구  -->
				ZONE2,<!--지구2  -->
				SCOPE1,<!--구역  -->
				SCOPE2,<!--구역2  -->
				UP_SU, <!--지상층  -->
				DOWN_SU,<!--지하  -->
				H_CNT, <!--세대수  -->
				AREA_P, <!--대지면적평  -->
				AREA_M, <!--대지면적 m  -->
				YAREA_P,<!--연면적 평  -->
				YAREA_M,<!--연면적 m  -->
				ADDR, <!--대지위치  -->
				COVERAGE, <!--건폐율  -->
				CAPACITY, <!--용적율  -->
				RMK_1, <!-- 수주정보 -->
				BUILD_TYPE, <!--건축물용도  -->
				BIZ_TYPE,  <!--수주구분1  -->
				BIZ_GBN, <!--수주구분2  -->
				FORECAST_AMT, <!--추정계약액  -->
				MARKET_CLASS_GBN, <!--업무범위 수준  -->
				RMK_2, <!--본부장의견  -->
				RMK_3, <!--설계부문장의견  -->
				RMK_4, <!--수주부문장의견  -->
				RMK_5, <!--대표이사 의견  -->
				BUILD_GB, <!--사업분류 -->
				CD_REG_DATE, <!--승인일자  -->
				PJT_CD		 <!--프로젝트코드  -->
			FROM T_PS3000	
				WHERE PJT_NM LIKE #{PJT_NM}

</select>

</mapper>