<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ksmart30.team03.kuntae.mapper.DailyWorkMapper">
	<!-- 4.1.1 일일근무현황 LIST출력 -->
	<select id="getDayList1" resultType="java.util.Map" parameterType="String">
		SELECT 
			SUBSTRING(DBO.YO_IL4(#{DATE}),1,1) DATE_PART,
			SUBSTRING(DBO.YO_IL4(#{DATE}),2,7) COLOR,
			SYS_COD,
			SORT_DEPT,
			GUBUN,
			DEPT_CD,
			DEPT_NM,
			DEPT_TITLE,
			TOT_INWON,
			ISNULL(CHUL_INWON, '') CHUL_INWON,<!-- 총원 -->
			ISNULL(JIGAK_INWON, '') JIGAK_INWON,<!-- 지각 -->
			ISNULL(SAGO_INWON, '') SAGO_INWON,<!-- 계 -->
			ISNULL(SAGO_01, '') SAGO_01,<!-- 출장 -->
			ISNULL(SAGO_02, '') SAGO_02,<!-- 교육훈련 -->
			ISNULL(SAGO_03, '') SAGO_03,<!-- 휴가 -->
			ISNULL(SAGO_04, '') SAGO_04,<!-- 휴직 -->
			ISNULL(SAGO_05, '') SAGO_05,<!-- 격중휴무 -->
			ISNULL(SAGO_06, '') SAGO_06,<!-- 기타 -->
			ISNULL(SAGO_07, '') SAGO_07,<!-- 무단결근 -->
			ISNULL(SAGO_08, '') SAGO_08,
			ISNULL(SAGO_09, '') SAGO_09,
			ISNULL(SAGO_10, '') SAGO_10,
			ISNULL(JIGAKJA, '') JIGAKJA,
			KYULGUN,
			#{DATE}  DATE_RANGE,
			CONVERT(VARCHAR(12), GETDATE(),102)   YYYYMMDD 
		FROM DBO.SF_KUNTAE_TODAY(#{DATE},'',#{DEPT_CD})
		ORDER BY SORT_DEPT, GUBUN
	</select>
	
	<!-- 4.1.1 일일근무현황 부서원 상세 조회 쿼리 -->
	<select id="getEmployeeDetailList" parameterType="String" resultType="java.util.Map">	
		SELECT TOP 300 A.WORK_DT,
		       SUBSTRING(DBO.YO_IL4(A.WORK_DT),1,1) DATE_PART,
		       SUBSTRING(DBO.YO_IL4(A.WORK_DT),2,7) COLOR,
		       (SUBSTRING(A.START_TIME,1,2)+':'+ SUBSTRING(A.START_TIME,3,2)) START_TIME,
		       A.END_DT,
		       (SUBSTRING(A.END_TIME,1,2)+':'+ SUBSTRING(A.END_TIME,3,2)) END_TIME,
		       ROUND(A.DAY_TIME,0,1) + CASE WHEN RIGHT(A.DAY_TIME, 2) >= 30 THEN  .50 ELSE .00 END             M_DAY_TIME,
		       ISNULL((SELECT SUM(WORK_TIME) FROM T_PM1020 WHERE WORK_DT = A.WORK_DT AND EMP_NO = A.EMP_NO),0) WORK_TIME,
		       CASE C.HOLID_GB WHEN '1' THEN 
			   (CASE WHEN A.START_TIME = '' OR A.START_TIME IS NULL THEN '' ELSE 
			   (CASE B.HOLI_WORK WHEN 0 THEN '' ELSE '휴일근무' END) END) ELSE 
			   (CASE WHEN A.START_TIME = '' OR A.START_TIME IS NULL THEN 
			   (CASE A.SAYOU_CD WHEN ''  THEN '결근' WHEN ' ' THEN '결근' ELSE 
			   (SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '350' AND LEVEL2_CD = A.SAYOU_CD)END)ELSE 
			   (CASE B.LATE_YN WHEN 0 THEN '' ELSE '지각' END) END)
		       END BIGO,
		       ISNULL((SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL1_CD='120' AND BUSI_GB='J' AND LEVEL2_CD = A.SAYOU_CD),'') SAYOU_NM,
		       (SELECT LEVEL2_NM FROM T_SC9100 WHERE LEVEL1_CD='110' AND BUSI_GB='J' AND LEVEL2_CD = D.WORK_STEP) WORK_NM, 
		       A.DEPT_CD,
		       A.EMP_NO,
		       D.WORK_STEP,
		       D.ETC_SPEC,
		 	   E.KOR_NM,
		 	   A.ETC_TIME,
		 	   D.PJT_CD
	 	FROM 
			T_PM1010 A,
	        T_PM1028 B,
	        T_SC9200 C,
	        T_PM1020 D,
	        T_HM1000 E
		 WHERE A.WORK_DT = B.WORK_DT
		   AND A.EMP_NO  = B.EMP_NO
		   AND D.EMP_NO = A.EMP_NO
		   AND D.WORK_DT = A.WORK_DT
		   AND A.WORK_DT = C.DAY_YM+C.DAY_DD
		   AND A.WORK_DT = #{DATE}
		   AND A.DEPT_CD = #{DEPT_CD}
		   AND E.EMP_NO = A.EMP_NO
		ORDER BY C.DAY_YM DESC ,DAY_DD ASC	
	</select>
	
	
</mapper>	
	
	