<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ksmart30.team03.kuntae.mapper.KuntaeMapper">
 
 <!--근태현황(월) 검색 후 출력하는 쿼리 
  -->
  <select id="getSearch" 
	parameterType="String" resultType="java.util.Map">
	SELECT SYS_COD,GUBUN,DEPT_NM,JIKGUP_CD,KOR_NM,EMP_NO, 

	ISNULL(JIGAK,0) JIGAK,ISNULL(KYULGUN1,0) KYULGUN1 ,ISNULL(KYULGUN2,0) KYULGUN2,SAYU_NM,JIKGUP_NM,DEPT_CD,HOLI_1, 
	 
	 
	 
	HOLI_2,HOLI_3,HOLI_4,HOLI_5,HOLI_6,HOLI_7,HOLI_WORK,YEARLY_DAY, 
	 
	 
	 
	KYUL_TOT,YEARLY_CHA,CNT 
	 
	 
	 
	FROM DBO.SF_KUNTAE_WOLGAN_1(#{FRDATE},#{TODATE},'',#{DEPT_CD}) 
	 
	 
	 
	ORDER BY SYS_COD, GUBUN, JIKGUP_CD, EMP_NO 

	</select>
	<select id="deptCd" resultType="java.util.Map">
	SELECT DEPT_CD,DEPT_NM FROM T_SC1010
	</select>
	<select id="appGb" resultType="java.util.Map">
	SELECT 
	ISNULL((SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '350' AND LEVEL2_CD = A.APP_GB),'') APP_NM, APP_GB 
	FROM T_PM2200 A GROUP BY APP_GB ORDER BY APP_GB
	</select>
	<!--근태승인처리 검색 list 출력 쿼리 
	 -->
	<select id="getOkSearch" 
	parameterType="String" resultType="java.util.Map">
SELECT TOP 100
   A.APP_DATE
 , A.EMP_NO
 , B.KOR_NM AS EMP_NM
 , B.DEPT_CD
 , C.SHORT_NM DEPT_NM
 , B.JIKGUP_CD
 , (SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'H' AND LEVEL1_CD = '110' AND LEVEL2_CD = B.JIKGUP_CD) JIKGUP_NM
 , (SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '350' AND LEVEL2_CD = A.APP_GB) APP_NM
 , A.APP_DATE1
 , A.APP_TIME1
 , A.APP_DATE2
 , A.APP_TIME2
 , DATEDIFF(DD, A.APP_DATE1, A.APP_DATE2)+1 TERM
 , (SELECT COUNT(*) FROM T_SC9200 WHERE CONVERT(VARCHAR(8), DAY_YM+DAY_DD, 112) BETWEEN A.APP_DATE1 AND A.APP_DATE2 AND HOLID_GB = '0') TERM2
 , A.APP_RMK
 , A.APP_PJT_CD
 ,ISNULL((SELECT '['+A.APP_PJT_CD+']'+PJT_NM FROM T_SM3000_H WHERE PJT_CD = SUBSTRING(A.APP_PJT_CD,1,5)),'') PJT_NM
 , A.APP_PLACE
 ,ISNULL(A.APP_BIGO,'')APP_BIGO
 , A.AUDIT_ID
 , (CASE A.CONFIRM_YN WHEN '1' THEN '√' ELSE '' END)CONFIRM_YN
  FROM  T_PM2200 A
   , (SELECT EMP_NO, KOR_NM, DEPT_CD, JIKGUP_CD FROM T_HM1000 UNION
      SELECT EMP_NO, KOR_NM, DEPT_CD, JIKGUP_CD FROM T_HM1000_T) B
      , T_SC1010 C
 WHERE A.EMP_NO           = B.EMP_NO
   AND B.DEPT_CD          = C.DEPT_CD


 ORDER BY A.APP_DATE, A.APP_DATE1, C.SYS_COD, B.JIKGUP_CD, A.EMP_NO

	</select>
		<!--근태승인처리 검색기간이 NULL이면 나머지로 검색
	 -->
	<select id="getOkSearch2" 
	parameterType="String" resultType="java.util.Map">
SELECT TOP 100
   A.APP_DATE
 , A.EMP_NO
 , B.KOR_NM EMP_NM
 , B.DEPT_CD
 , C.SHORT_NM DEPT_NM
 , B.JIKGUP_CD
 , (SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'H' AND LEVEL1_CD = '110' AND LEVEL2_CD = B.JIKGUP_CD) JIKGUP_NM
 , (SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'J' AND LEVEL1_CD = '350' AND LEVEL2_CD = A.APP_GB) APP_NM
 , A.APP_DATE1
 , A.APP_TIME1
 , A.APP_DATE2
 , A.APP_TIME2
 , DATEDIFF(DD, A.APP_DATE1, A.APP_DATE2)+1 TERM
 , (SELECT COUNT(*) FROM T_SC9200 WHERE CONVERT(VARCHAR(8), DAY_YM+DAY_DD, 112) BETWEEN A.APP_DATE1 AND A.APP_DATE2 AND HOLID_GB = '0') TERM2
 , A.APP_RMK
 , A.APP_PJT_CD
 ,ISNULL((SELECT '['+A.APP_PJT_CD+']'+PJT_NM FROM T_SM3000_H WHERE PJT_CD = SUBSTRING(A.APP_PJT_CD,1,5)),'') PJT_NM
 , A.APP_PLACE
 ,ISNULL(A.APP_BIGO,'')APP_BIGO
 , A.AUDIT_ID
 , (CASE A.CONFIRM_YN WHEN '1' THEN '√' ELSE '' END)CONFIRM_YN
  FROM  T_PM2200 A
   , (SELECT EMP_NO, KOR_NM, DEPT_CD, JIKGUP_CD FROM T_HM1000 UNION
      SELECT EMP_NO, KOR_NM, DEPT_CD, JIKGUP_CD FROM T_HM1000_T) B
      , T_SC1010 C
 WHERE A.EMP_NO           = B.EMP_NO
   AND B.DEPT_CD          = C.DEPT_CD


 ORDER BY A.APP_DATE, A.APP_DATE1, C.SYS_COD, B.JIKGUP_CD, A.EMP_NO

	</select>
	</mapper>  