<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team03.kuntae.mapper.WorkTimeMapper">

	<!-- 4.03 출,퇴근 기록부(개인별) 사원번호 검색 -->
	<select id="getRecordSingleNoSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
		SELECT TOP 100 
			a.KOR_NM,
			a.EMP_NO,
			b.WORK_DT,
			b.START_TIME,
			b.END_TIME
		FROM 
			T_PM1010 AS b join T_HM1000 AS a 
		on b.EMP_NO=a.EMP_NO 
		WHERE a.EMP_NO=#{EMP_NO}
	</select>
	
	<!-- 4.03 이름검색 -->
	<select id="getRecordSingleNameSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
		SELECT TOP 100
			a.KOR_NM,
			a.EMP_NO,
			b.WORK_DT,
			b.START_TIME,
			b.END_TIME
		FROM 
			T_PM1010 AS b join T_HM1000 AS a 
		on b.EMP_NO=a.EMP_NO 
		WHERE a.KOR_NM=#{KOR_NM}
	</select>
	
	<!-- 날짜 검색 -->
	<select id="getRecordSingleDateSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
	SELECT TOP 200 a.EMP_NO,
				 a.KOR_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 DEPT_NM,
				 e.WORK_DT,				 
				(CASE WHEN e.start_time IS NULL THEN '출근미입력' WHEN e.START_TIME='' THEN '출근미입력' ELSE e.START_TIME END ) START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '출근미입력' WHEN e.END_TIME='' THEN '퇴근미입력' ELSE e.END_TIME END) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' THEN '퇴근미입력' else e.END_DT end) END_DT				
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND e.work_dt <![CDATA[>=]]> #{WORK_DT} AND e.end_dt <![CDATA[<=]]> #{END_DT} 
		<!-- WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND e.work_dt >= '201903' AND e.end_dt <= '201905' -->
	</select>
	
	<!-- 4.02, 4.03 출,퇴근 기록부(Total,Single) 사원번호 검색 --> 
	<select id="getRecordTotalNoSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
		SELECT TOP 100 a.EMP_NO,
				 a.KOR_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 DEPT_NM,
				 e.WORK_DT,
				(CASE WHEN e.START_TIME IS NULL THEN '퇴근미입력' WHEN e.START_TIME='' THEN '출근미입력' ELSE e.START_TIME END ) START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근미입력' when e.END_TIME= '' then '퇴근미입력' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND a.EMP_NO LIKE '%%'
	</select> 
	
	<!-- 4.02 출 퇴근 기록부(Total) 당일 출 퇴근 명단 출력 -->
	<select id="getRecordTotalList"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList">
		SELECT 
				 DEPT_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 a.EMP_NO,
				 a.KOR_NM,
				 e.WORK_DT,
				(CASE WHEN e.START_TIME IS NULL THEN '퇴근미입력' WHEN e.START_TIME='' THEN '출근미입력' ELSE e.START_TIME END ) START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근전' when e.END_TIME= '' then '퇴근전' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근전' when e.END_DT= '' then '퇴근전' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO,
		(Select Convert(varchar(10),Getdate(),112) o) o 
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND e.work_dt=o.o
	</select> 
	
	
	<!-- 4.02 출퇴근(Total) 전체 검색 -->
	<select id="getRecordTotalSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">

		SELECT TOP 200 a.EMP_NO,
				 a.KOR_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 DEPT_NM,
				 e.WORK_DT,
				(CASE WHEN e.START_TIME IS NULL THEN '퇴근미입력' WHEN e.START_TIME='' THEN '출근미입력' ELSE e.START_TIME END ) START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근미입력' WHEN e.END_TIME= '' then '퇴근미입력' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND a.EMP_NO LIKE '%'+#{EMP_NO}+'%' AND e.WORK_DT <![CDATA[>=]]> #{WORK_DT} AND e.END_DT <![CDATA[<=]]> #{END_DT}
	</select>
	
	
	<!-- 4.04 근태정정 신청 List 가져오기-->
	<select id="getWorkTimeView"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
	
	 	SELECT 
				 DEPT_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 a.EMP_NO,
				 a.KOR_NM,
				 e.WORK_DT,
				(CASE WHEN e.START_TIME IS NULL THEN '출근미입력' WHEN e.START_TIME='' THEN '출근미입력' ELSE e.START_TIME END ) START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근미입력' when e.END_TIME= '' then '퇴근미입력' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO,
		(Select Convert(varchar(10),DATEADD(year,-1,GETDATE()),112) o) o 
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND e.work_dt>=o.o AND E.END_DT='' 
		<!-- 
		SELECT TOP 100
				 DEPT_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 a.EMP_NO,
				 a.KOR_NM,
				 e.WORK_DT,
				(CASE WHEN e.START_TIME IS NULL THEN '출근미입력' WHEN e.START_TIME='' THEN '출근미입력' ELSE e.START_TIME END ) START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근미입력' when e.END_TIME= '' then '퇴근미입력' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND e.WORK_DT<![CDATA[>=]]>#{WORK_DT} AND e.WORK_DT<![CDATA[<=]]>#{WORK_DT1} AND  E.END_DT='' AND a.KOR_NM LIKE '%%'
	 -->
	 	<!-- SELECT TOP 100
				 DEPT_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 a.EMP_NO,
				 a.KOR_NM,
				 e.WORK_DT,
				(CASE WHEN e.START_TIME IS NULL THEN '출근미입력' WHEN e.START_TIME='' THEN '출근미입력' ELSE e.START_TIME END ) START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근미입력' when e.END_TIME= '' then '퇴근미입력' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO,
		(Select Convert(varchar(10),Getdate(),112) o) o 
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND e.WORK_DT<![CDATA[<=]]>o.o AND  E.END_DT='' -->
	 </select>
	
	
	<!-- 4.04 근태정정 신청 List 기간, 이름 검색 -->
	<select id="getWorkTimeSearchView"
			resultType="ksmart30.team03.kuntae.domain.WorkTimeSingleList"
			parameterType="String">
		<!-- SELECT 
				 DEPT_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 a.EMP_NO,
				 a.KOR_NM,
				 e.WORK_DT,
				(CASE WHEN e.START_TIME IS NULL THEN '출근미입력' WHEN e.START_TIME='' THEN '출근미입력' ELSE e.START_TIME END ) START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근미입력' when e.END_TIME= '' then '퇴근미입력' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO,
		(Select Convert(varchar(10),DATEADD(month,-1,GETDATE()),112) o) o 
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND e.work_dt>=o.o AND E.END_DT='' AND a.KOR_NM LIKE '%'+#{KOR_NM}+'%'	 -->	
		SELECT TOP 100
				 DEPT_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 a.EMP_NO,
				 a.KOR_NM,
				 e.WORK_DT,
				(CASE WHEN e.START_TIME IS NULL THEN '출근미입력' WHEN e.START_TIME='' THEN '출근미입력' ELSE e.START_TIME END ) START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근미입력' when e.END_TIME= '' then '퇴근미입력' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND e.WORK_DT<![CDATA[>=]]>#{WORK_DT} AND e.WORK_DT<![CDATA[<=]]>#{WORK_DT1} AND E.END_DT='' AND a.KOR_NM LIKE '%'+#{KOR_NM}+'%'
	</select>
	
	<!-- 4.04 근태정정 신청 지각 횟수 누계(당일부터 1년) --> 
	<select id="getWorkTimeJigakSearch"
			resultType="ksmart30.team03.kuntae.domain.WorkTime"
			parameterType="String">
	
	SELECT ISNULL(SUM(LATE_YN),0) LATE_CNT ,
		ISNULL(SUM(LATE_TIME),0) LATE_TIME
 	FROM T_PM1010,
  	(Select Convert(varchar(10),DATEADD(year,-1,GETDATE()),112) o) o 
 	WHERE EMP_NO  = #{EMP_NO} AND WORK_DT >=o.o
	</select>
	
	<!--  4.04 근태정정 신청 전체 검색 조건 vo로 받기 -->
	<select id="getSingleListDomain"
			parameterType="String"
			resultType="java.util.Map">
		SELECT TOP 200 a.EMP_NO,
				 a.KOR_NM,
				 b.LEVEL2_NM AS JIKGUP_NM,
				 DEPT_NM,
				 e.WORK_DT,
				(CASE WHEN e.START_TIME IS NULL THEN '퇴근미입력' WHEN e.START_TIME='' THEN '출근미입력' ELSE e.START_TIME END ) START_TIME,
				(CASE WHEN e.END_TIME IS NULL THEN '퇴근미입력' WHEN e.END_TIME= '' then '퇴근미입력' else e.END_TIME end) END_TIME,
				(CASE WHEN e.END_DT IS NULL THEN '퇴근미입력' when e.END_DT= '' then '퇴근미입력' else e.END_DT end) END_DT
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD 
		JOIN T_PM1010 e ON a.EMP_NO=e.EMP_NO
		<!-- WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND a.EMP_NO LIKE '%%' AND e.WORK_DT >= '' AND e.END_DT <= '' AND DEPT_NM LIKE '%설계2본부%' -->
		WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND a.EMP_NO LIKE '%'+#{EMP_NO}+'%' AND e.WORK_DT <![CDATA[>=]]>#{WORK_DT} AND e.END_DT <![CDATA[<=]]>#{END_DT} AND DEPT_NM LIKE '%'+#{DEPT_NM}+'%'		
	</select>


</mapper>
