<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team00.system.mapper.LoginMapper">
	<!-- 사용자 등록정보 조회 (사원번호(ID), PW) -->
	<select id="getLogin"
			parameterType="ksmart30.team00.system.domain.Login"
            resultType="ksmart30.team00.system.domain.Login">
			SELECT
                A.EMP_NO,
                A.PASS_WD,
                B.KOR_NM
            FROM
                T_SM1100 A,
                T_HM1000 B
            WHERE A.EMP_NO *= B.EMP_NO
            AND A.EMP_NO = #{EMP_NO}
            AND A.PASS_WD = #{PASS_WD}
	</select>
    <!-- 접속 정보 추가 -->
    <insert id="addConnect"
            parameterType="ksmart30.team00.system.domain.Ip">
            INSERT INTO T_SM4000 (
                CONN_DT,
                USER_ID,
                CONN_IP
            ) VALUES (
            (Select Convert(varchar(10),Getdate(),112) + Replace(Convert(varchar(8),Getdate(),108),':','')),
                #{USER_ID},
                #{IP}
            )
    </insert>
</mapper>