<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team03.person.mapper.PayMapper">
    <!-- 6.4.1.2 급여 계산 (지급, 공제항목) -->
    <select id="getPersonPayCalList"
            parameterType="ksmart30.team03.person.domain.PayGiveTake"
            resultType="ksmart30.team03.person.domain.PayGiveTake">
            SELECT EMP_NO,
                GIVE01, GIVE02, GIVE03, GIVE04, GIVE05,
                GIVE06, GIVE07, GIVE08, GIVE09, GIVE10,
                GIVE11, GIVE12, GIVE13, GIVE14, GIVE15,
                GIVE16, GIVE17,
                TAKE01, TAKE02, TAKE03, TAKE04, TAKE05,
                TAKE06, TAKE07, TAKE08,
                AUDIT_ID
            FROM T_HC5300
            WHERE EMP_NO = #{EMP_NO}
    </select>
    <!-- 6.4.1.3 급여 계산 (기간적용항목 / 지급 및 공제) -->
    <select id="getPersonPayCalPeriodList"
            parameterType="ksmart30.team03.person.domain.PayPeriod"
            resultType="ksmart30.team03.person.domain.PayPeriod">
            SELECT A.EMP_NO AS EMP_NO,
		   A.ITEM_GB AS ITEM_GB,
		   A.ITEM_CD AS ITEM_CD,
                   A.STA_DATE AS STA_DATE,
                   A.END_DATE AS END_DATE,
                   A.GIVETAKE_AMT AS GIVETAKE_AMT,
                   A.AUDIT_ID AS AUDIT_ID,
                   B.ITEM_NM AS ITEM_NM
            FROM  T_HC5500 A,
                  T_HC5200 B
            WHERE A.EMP_NO = #{EMP_NO}
                AND A.ITEM_GB = B.ITEM_GB
                AND A.ITEM_CD = B.ITEM_CD
    </select>
    <!-- 6.4.1.5 급여 대장 검색 (월간) -->
    <select id="getPersionPayMonthList"
            parameterType="ksmart30.team03.person.domain.PayMonth"
            resultType="ksmart30.team03.person.domain.PayMonth">
            SELECT  MAX(A.EMP_NO) EMP_NO,
                    MAX(A.DEPT_NM) DEPT_NM,
                    MAX(A.JIKGUP_NM) JIKGUP_NM,
                    MAX(ISNULL(B.KOR_NM,C.KOR_NM)) KOR_NM,
                    MAX(A.PAY_GB) PAY_GB,
                    SUM(A.PAYTOT) PAYTOT,
                    SUM(A.BIKWAT) BIKWAT,
                    SUM(A.KWASET) KWASET,
                    SUM(A.SODUK_TAX) SODUK_TAX,
                    SUM(A.JUMIN_TAX) JUMIN_TAX,
                    SUM(A.H_INSURE) H_INSURE,
                    SUM(A.PENSION) PENSION,
                    SUM(A.E_INSURE) E_INSURE,
                    SUM(A.CHAGAM) CHAGAM,
                    MAX(A.PAY_DT) PAY_DT
            FROM  T_HM5000   A, 
                  T_HM1000   B,
                  T_HM1000_T C
            WHERE A.EMP_NO *= B.EMP_NO
              AND A.EMP_NO *= C.EMP_NO   
              AND (A.PAY_YYMM = #{PAY_YYMM}
              AND A.DEPT_NM LIKE '%'+#{DEPT_NM}+'%'
              AND (B.KOR_NM LIKE '%'+#{KOR_NM}+'%' AND C.KOR_NM LIKE '%'+#{KOR_NM}+'%'))
            GROUP BY A.EMP_NO, A.PAY_YYMM, A.DEPT_CD
            ORDER BY A.DEPT_CD ASC
    </select>
    <!-- 6.4.1.6 급여 대장 검색 (연간) -->
    <select id="getPersionPayYearList"
            parameterType="ksmart30.team03.person.domain.PayYear"
            resultType="ksmart30.team03.person.domain.PayYear">
            SELECT DEPT_CD, DEPT_NM, JIKGUP_CD, JIKGUP_NM, EMP_NO, KOR_NM,
              PAY_01, PAY_02, PAY_03, PAY_04, PAY_05, PAY_06,
              PAY_07, PAY_08, PAY_09, PAY_10, PAY_11, PAY_12,
              COLOR , GUBUN,
              (PAY_01 + PAY_02 + PAY_03 + PAY_04 + PAY_05 + PAY_06 
              + PAY_07 + PAY_08 + PAY_09 + PAY_10 + PAY_11 + PAY_12) AS PAY_TOT
            FROM SF_H51_0280_SL1 (#{PAY_YYMM},'000010', 'Z20000')
            WHERE DEPT_NM LIKE '%'+#{DEPT_NM}+'%' AND KOR_NM LIKE '%'+#{KOR_NM}+'%'
            ORDER BY DEPT_CD, JIKGUP_CD, EMP_NO
    </select>
</mapper>