<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart30.team03.person.mapper.PersonMapper">
	
	<!-- 6.1.2 직원 검색 출력하는 쿼리 -->
	<select id="personInsaEmployeeSearchView" 
	parameterType="String" resultType="java.util.Map">
	SELECT   
  		ROW_NUMBER()OVER(ORDER BY (B.SYS_COD+A.JIKGUP_CD+CASE A.JIKCHK_CD WHEN '61' THEN '52' ELSE A.JIKCHK_CD END+A.EMP_NO)) AS SORT_VALUE, 
  		B.SHORT_NM DEPT_NM, 
  		A.EMP_NO, 
  		A.KOR_NM, 
  		(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'H' AND LEVEL1_CD = '110' AND LEVEL2_CD = A.JIKGUP_CD) JIKGUP_NM, 
    	(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'H' AND LEVEL1_CD = '120' AND LEVEL2_CD = A.JIKCHK_CD) JIKCHK_NM,
 		A.IN_PHONE_NO,
 		CONVERT(varchar(30), A.AUDIT_TM,112) AUDIT_TM,
 		A.OUT_DT,
 		(CASE A.SEX_GB WHEN '1' THEN '남자' WHEN '2' THEN '여자' END) SEX_GB, 
		(CASE  WHEN A.OUT_DT ='' THEN '재직자' WHEN A.OUT_DT IS NOT NULL THEN '퇴직자' END) OUT_DT2
	FROM 
		(SELECT * FROM T_HM1000 UNION SELECT* FROM T_HM1000_T) A, 
		T_SC1010 B
   	WHERE 
   		A.DEPT_CD = B.DEPT_CD AND
   		EMP_NO LIKE '%'+#{EMP_NO}+'%' AND
		KOR_NM LIKE '%'+#{KOR_NM}+'%' AND
		(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'H' AND LEVEL1_CD = '110' AND LEVEL2_CD = A.JIKGUP_CD) LIKE '%'+#{JIKGUP_NM}+'%' AND
		(SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'H' AND LEVEL1_CD = '120' AND LEVEL2_CD = A.JIKCHK_CD) LIKE '%'+#{JIKCHK_NM}+'%' AND
		CONVERT(varchar(30), A.AUDIT_TM,112) LIKE '%'+#{AUDIT_TM}+'%' AND
		A.IN_PHONE_NO LIKE '%'+#{IN_PHONE_NO}+'%' AND
		SEX_GB LIKE '%'+#{SEX_GB}+'%' AND
		DEPT_NM LIKE '%'+#{DEPT_NM}+'%' AND		
		(CASE WHEN A.OUT_DT ='' THEN '재직자' WHEN A.OUT_DT IS NOT NULL THEN '퇴직자' END) LIKE '%'+#{OUT_DT3}+'%'	  	
	 	ORDER BY OUT_DT2,SORT_VALUE;  	
	</select>
			
	<!--6.1.2 직원 디테일 출력하는 쿼리 -->
	<select id="personInsaEmployeeDetailView"
	resultType="ksmart30.team03.person.domain.Person" parameterType="String">
	SELECT
		  A.EMP_NO, 
		  A.KOR_NM, 
		  (SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'H' AND LEVEL1_CD = '110' AND LEVEL2_CD = A.JIKGUP_CD) JIKGUP_NM, 
		  (SELECT LEVEL2_NM FROM T_SC9100 WHERE BUSI_GB = 'H' AND LEVEL1_CD = '120' AND LEVEL2_CD = A.JIKCHK_CD) JIKCHK_NM, 
		  A.IN_PHONE_NO,
    	  A.PHONE_NO,
    	  A.BIRTH_DT,
    	  A.CUR_ADDRESS,
    	  A.AUDIT_TM,
    	  A.MAIL_ADDRESS    	  
    FROM T_HM1000 A,
      T_SC1010 B
      WHERE A.DEPT_CD = B.DEPT_CD AND A.EMP_NO LIKE '%'+#{EMP_NO}+'%';
	
	</select>

	<!-- 인사기록카드 직원list -->
	
	<select id="personListView" parameterType="String" resultType="java.util.Map">
	SELECT   
  		ROW_NUMBER()OVER(ORDER BY (B.SYS_COD+A.JIKGUP_CD+CASE A.JIKCHK_CD WHEN '61' THEN '52' ELSE A.JIKCHK_CD END+A.EMP_NO)) AS SORT_VALUE, 
  		B.SHORT_NM DEPT_NM, 
  		A.EMP_NO, 
  		A.KOR_NM, 
		(CASE  WHEN A.OUT_DT ='' THEN '재직자' WHEN A.OUT_DT IS NOT NULL THEN '퇴직자' END) OUT_DT
	FROM (SELECT * FROM T_HM1000 UNION SELECT* FROM T_HM1000_T) A, T_SC1010 B
   			
	WHERE A.DEPT_CD = B.DEPT_CD AND
		EMP_NO LIKE '%'+#{EMP_NO}+'%' AND
		KOR_NM LIKE '%'+#{KOR_NM}+'%' AND
		(CASE WHEN A.OUT_DT ='' THEN '재직자' WHEN A.OUT_DT IS NOT NULL THEN '퇴직자' END) LIKE '%'+#{OUT_DT3}+'%'				
	ORDER BY SORT_VALUE;	
	</select>
	<!-- 사원번호 자동생성을 위한 select문 -->
	<select id="empnoSelect" resultType ="int">
	SELECT 
		MAX(CAST(SUBSTRING(EMP_NO,0,10) AS DECIMAL)) AS MAX_EMP_NO
	FROM T_HM1000
	</select>
	
	<!--인사기록카드 등록  insert문-->
	<insert id="addPersonInsa" parameterType="String">	
	INSERT 
	INTO T_HM1000(
		EMP_NO,KOR_NM,JUMIN_NO,ENG_NM,HANJA_NM,SEX_GB,DEPT_CD,JIKGUP_CD,JIKCHK_CD,PHONE_NO,H_PHONE_NO,
		MAIL_ADDRESS,BON_ADDRESS,BORN_AREA_GB,HEIGHT,WEIGHT,BLOOD_TYPE,ARMY_TYPE,BRANCHE_GB,GRADE_CD,
		ARMS_GB,PRO_GB,LEVEL_GB,IN_DT,OUT_STD_DT,OUT_DT,CUR_ADDRESS,CUR_ZIP_NO)
	VALUES(
		#{EMP_NO},#{KOR_NM},#{JUMIN_NO},#{ENG_NM},#{HANJA_NM},#{SEX_GB},#{DEPT_CD},#{JIKGUP_CD},#{JIKCHK_CD},		
		#{PHONE_NO},#{H_PHONE_NO},#{MAIL_ADDRESS},#{BON_ADDRESS},#{BORN_AREA_GB},#{HEIGHT},
		#{WEIGHT},#{BLOOD_TYPE},#{ARMY_TYPE},#{BRANCHE_GB},#{GRADE_CD},#{ARMS_GB},#{PRO_GB},
		#{LEVEL_GB},#{IN_DT},#{OUT_STD_DT},#{OUT_DT},#{CUR_ADDRESS},#{CUR_ZIP_NO}
		)		
	</insert>
	
	 <!-- 인사기록카드 가족사항 insert문 -->
	
	<insert id="modifyPersonInsaFamily" parameterType="String">
	INSERT 
	INTO T_HM1100(
		EMP_NO,
		RELATION,
		NAME,
		JOB,
		ADDRESS
		)
	VALUES(
		#{EMP_NO},
		#{RELATION},
		#{NAME},
		#{JOB},
		#{ADDRESS}
	)	
	</insert>
	
	<select id="personInsaEmployeeModifyView" parameterType="String" resultType="ksmart30.team03.person.domain.Person">
	SELECT 
		EMP_NO,KOR_NM,JUMIN_NO,ENG_NM,HANJA_NM,SEX_GB,DEPT_CD,JIKGUP_CD,JIKCHK_CD,PHONE_NO,H_PHONE_NO,
		MAIL_ADDRESS,BON_ADDRESS,BORN_AREA_GB,HEIGHT,WEIGHT,BLOOD_TYPE,ARMY_TYPE,BRANCHE_GB,GRADE_CD,
		ARMS_GB,PRO_GB,LEVEL_GB,IN_DT,OUT_STD_DT,OUT_DT,CUR_ADDRESS,CUR_ZIP_NO 
	FROM T_HM1000 
	WHERE EMP_NO=#{EMP_NO}
	</select>
	
	<select id="deptCdListView" resultType="java.util.Map">
	SELECT 
		DEPT_CD, 
		DEPT_NM 
	FROM T_SC1010 
		
	</select>
	
	<select id="gbCdListView" resultType="java.util.Map">
	SELECT 
		LEVEL1_CD, 
		LEVEL2_CD, 
		LEVEL2_NM 
	FROM T_SC9100 
	WHERE BUSI_GB='H'
	</select>
	<select id="gbCdRelationListView" resultType="ksmart30.team03.person.domain.Person">
	SELECT 
		LEVEL1_CD, 
		LEVEL2_CD, 
		LEVEL2_NM 
	FROM T_SC9100 
	WHERE BUSI_GB='H' AND LEVEL1_CD='140'
	</select>
	
	

	
</mapper>  

