<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ksmart30.team03.person.mapper.YidongRegisterMapper">
<!-- 
인사발령대장 list
 -->
	<select id="getYidongRegister" resultType="ksmart30.team03.person.domain.Yidong">
		SELECT TOP 100
		    A.APPOINT_NO,
		       A.APPOINT_GB,
		       ISNULL(C.LEVEL2_NM,'****') AS APPOINT_NM,
		       A.APPOINT_DT,
		       A.EMP_NO,
		       ISNULL(B.KOR_NM,(SELECT C.KOR_NM FROM T_HM1000_T AS C WHERE C.EMP_NO = A.EMP_NO)) AS KOR_NM,        --  CASE 발령내역 : 구분에 따라서 다르게 구성
		       ISNULL((CASE 
		       WHEN A.APPOINT_GB = '01' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '02' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '03' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '04' THEN (A.DEPT_NM+'('+A.O_JIKGUP_NM+' ==> '+JIKGUP_NM+')')
		       WHEN A.APPOINT_GB = '05' THEN (A.O_DEPT_NM+' ==> '+DEPT_NM)
		       WHEN A.APPOINT_GB = '06' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '07' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '08' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '09' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM)
		       WHEN A.APPOINT_GB = '10' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '11' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '12' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM)
		       WHEN A.APPOINT_GB = '13' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '14' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '15' THEN (A.DEPT_NM+'('+A.O_JIKCHK_NM+' ==> '+JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '17' THEN ('겸직부서:'+A.DEPT_NM+' (직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '18' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '19' THEN REMARK
		       WHEN A.APPOINT_GB = '20' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '21' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       END),'') AS APPOINT_SUMMARY,
		     A.REMARK,
		     CASE 
		     WHEN A.APPROVE_YN = '1' THEN '√'
		     ELSE ' '
		     END AS APPROVE_YN
		 FROM T_HM1400 A,
		 T_HM1000 B,
		 T_SC9100 C 
		 WHERE ((A.APPOINT_GB *= C.LEVEL2_CD) AND (C.LEVEL1_CD = '170' AND C.BUSI_GB = 'H'))
		 AND A.EMP_NO *= B.EMP_NO
		 ORDER BY A.APPOINT_DT DESC
	
	</select>

<!-- 
인사발령대장 검색 list(ajax)
 -->
	<select id="searchYidongRegister" parameterType="String" resultType="java.util.Map">
		SELECT TOP 100
		    A.APPOINT_NO,
		       A.APPOINT_GB,
		       ISNULL(C.LEVEL2_NM,'****') AS APPOINT_NM,
		       A.APPOINT_DT,
		       A.EMP_NO,
		       ISNULL(B.KOR_NM,(SELECT C.KOR_NM FROM T_HM1000_T AS C WHERE C.EMP_NO = A.EMP_NO)) AS KOR_NM,        --  CASE 발령내역 : 구분에 따라서 다르게 구성
		       ISNULL((CASE 
		       WHEN A.APPOINT_GB = '01' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '02' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '03' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '04' THEN (A.DEPT_NM+'('+A.O_JIKGUP_NM+' ==> '+JIKGUP_NM+')')
		       WHEN A.APPOINT_GB = '05' THEN (A.O_DEPT_NM+' ==> '+DEPT_NM)
		       WHEN A.APPOINT_GB = '06' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '07' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '08' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '09' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM)
		       WHEN A.APPOINT_GB = '10' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '11' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '12' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM)
		       WHEN A.APPOINT_GB = '13' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '14' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '15' THEN (A.DEPT_NM+'('+A.O_JIKCHK_NM+' ==> '+JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '17' THEN ('겸직부서:'+A.DEPT_NM+' (직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '18' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '19' THEN REMARK
		       WHEN A.APPOINT_GB = '20' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '21' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       END),'') AS APPOINT_SUMMARY,
		     A.REMARK,
		     CASE 
		     WHEN A.APPROVE_YN = '1' THEN '√'
		     ELSE ' '
		     END AS APPROVE_YN
		 FROM T_HM1400 A,
		 T_HM1000 B,
		 T_SC9100 C 
		 WHERE ((A.APPOINT_GB *= C.LEVEL2_CD) AND (C.LEVEL1_CD = '170' AND C.BUSI_GB = 'H'))
		   AND A.EMP_NO *= B.EMP_NO
		   AND A.APPOINT_DT <![CDATA[>=]]> #{APPOINT_DT} AND A.APPOINT_DT <![CDATA[<=]]> #{APPOINT_DT2}
		   
		   AND APPROVE_YN =#{APPROVE_YN}
		ORDER BY A.APPOINT_DT DESC
	</select>
	
	<select id="searchYidongRegister2" parameterType="String" resultType="java.util.Map">
		SELECT TOP 100
		    A.APPOINT_NO,
		       A.APPOINT_GB,
		       ISNULL(C.LEVEL2_NM,'****') AS APPOINT_NM,
		       A.APPOINT_DT,
		       A.EMP_NO,
		       ISNULL(B.KOR_NM,(SELECT C.KOR_NM FROM T_HM1000_T AS C WHERE C.EMP_NO = A.EMP_NO)) AS KOR_NM,        --  CASE 발령내역 : 구분에 따라서 다르게 구성
		       ISNULL((CASE 
		       WHEN A.APPOINT_GB = '01' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '02' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '03' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '04' THEN (A.DEPT_NM+'('+A.O_JIKGUP_NM+' ==> '+JIKGUP_NM+')')
		       WHEN A.APPOINT_GB = '05' THEN (A.O_DEPT_NM+' ==> '+DEPT_NM)
		       WHEN A.APPOINT_GB = '06' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '07' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '08' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '09' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM)
		       WHEN A.APPOINT_GB = '10' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '11' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '12' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM)
		       WHEN A.APPOINT_GB = '13' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '14' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '15' THEN (A.DEPT_NM+'('+A.O_JIKCHK_NM+' ==> '+JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '17' THEN ('겸직부서:'+A.DEPT_NM+' (직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '18' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '19' THEN REMARK
		       WHEN A.APPOINT_GB = '20' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '21' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       END),'') AS APPOINT_SUMMARY,
		     A.REMARK,
		     CASE 
		     WHEN A.APPROVE_YN = '1' THEN '√'
		     ELSE ' '
		     END AS APPROVE_YN
		 FROM T_HM1400 A,
		 T_HM1000 B,
		 T_SC9100 C 
		 WHERE ((A.APPOINT_GB *= C.LEVEL2_CD) AND (C.LEVEL1_CD = '170' AND C.BUSI_GB = 'H'))
		   AND A.EMP_NO *= B.EMP_NO
		   AND APPROVE_YN =#{APPROVE_YN}
		ORDER BY A.APPOINT_DT DESC
	
	</select>
</mapper>