<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ksmart30.team03.person.mapper.YidongMapper">

	<!--
	6.2.1발령등록 - 리스트에 직원 정보 뿌려주는 쿼리 	
  	-->
 
	<select id="getYidongList" resultType="ksmart30.team03.person.domain.Yidong">
		SELECT a.EMP_NO, a.KOR_NM 
		FROM T_HM1000 a
		
	</select>
	<!--
	6.2.1발령등록 - 직원 클릭시 발령 전 정보를 발령등록 insert form에 뿌려준다 
	 -->
	<select id="getYidongList2" resultType="ksmart30.team03.person.domain.Yidong" parameterType="String">
		SELECT a.EMP_NO,a.KOR_NM,a.JIKGUP_CD,b.LEVEL2_NM AS JIKGUP_NM,a.JIKCHK_CD, c.LEVEL2_NM AS JIKCHK_NM,DEPT_NM 
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND a.EMP_NO=#{EMP_NO}
	</select>
	<!-- 
	6.2.1발령등록 - 직원검색 후 list 출력
	-->
	<select id="searchYidongList" resultType="ksmart30.team03.person.domain.Yidong"  parameterType="String">
		SELECT EMP_NO, KOR_NM 
		FROM T_HM1000 WHERE KOR_NM LIKE '%'+#{KOR_NM}+'%'
		
	</select>
	
	<!-- 
	6.2.1발령등록 - 옵션값(명령종류) 가져오기
	 -->
	<select id="appGb" resultType="java.util.Map">
		SELECT LEVEL2_NM APPOINT_NM,LEVEL2_CD APPOINT_GB FROM T_SC9100 WHERE BUSI_GB = 'H' AND LEVEL1_CD = '170'
		
	</select>
	<!-- 
	6.2.1발령등록 - 발령등록 메서드
	 -->
	<insert id="addYidongList" parameterType="String">
	INSERT 
	INTO T_HM1400(
	EMP_NO,O_DEPT_NM,O_JIKGUP_NM,O_JIKCHK_NM,APPOINT_NO, 
	APPOINT_GB, APPOINT_DT, DEPT_NM ,JIKGUP_NM ,JIKCHK_NM,REMARK, AUDIT_TM,APPROVE_YN)  
 	VALUES(#{EMP_NO},#{DEPT_NM},#{JIKGUP_NM},#{JIKCHK_NM},#{APPOINT_NO},
 			#{APPOINT_GB},CONVERT(CHAR(8),#{APPOINT_DT},112),#{DEPT_NM2},
 			#{JIKGUP_NM2},#{JIKCHK_NM2},#{REMARK},GETDATE(),'')
	
	
	</insert>
	
	<!-- 
	6.2.1발령등록 - 직원 클릭시 발령대장 list 출력
	 -->
	<select id="getYidongList3" resultType="ksmart30.team03.person.domain.Yidong" parameterType="String">
		SELECT
		    A.APPOINT_NO,
		       A.APPOINT_GB,
		       ISNULL(C.LEVEL2_NM,'****') AS APPOINT_NM,
		       A.APPOINT_DT,
		       A.EMP_NO,
		       ISNULL(B.KOR_NM,(SELECT C.KOR_NM FROM T_HM1000_T AS C WHERE C.EMP_NO = A.EMP_NO)) AS KOR_NM,        --  CASE 발령내역 : 구분에 따라서 다르게 구성
		       ISNULL((CASE 
		       WHEN A.APPOINT_GB = '01' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '02' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '03' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '04' THEN (A.DEPT_NM+'('+A.O_JIKGUP_NM+' ==> '+JIKGUP_NM+')')
		       WHEN A.APPOINT_GB = '05' THEN (A.O_DEPT_NM+' ==> '+DEPT_NM)
		       WHEN A.APPOINT_GB = '06' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '07' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '08' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '09' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM)
		       WHEN A.APPOINT_GB = '10' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '11' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '12' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM)
		       WHEN A.APPOINT_GB = '13' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '14' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '15' THEN (A.DEPT_NM+'('+A.O_JIKCHK_NM+' ==> '+JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '17' THEN ('겸직부서:'+A.DEPT_NM+' (직책:'+A.JIKCHK_NM+')')
		       WHEN A.APPOINT_GB = '18' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '19' THEN REMARK
		       WHEN A.APPOINT_GB = '20' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       WHEN A.APPOINT_GB = '21' THEN (A.DEPT_NM+'(직급:'+A.JIKGUP_NM+', 직책:'+A.JIKCHK_NM+') 기간:'+(SUBSTRING(A.TRAIN_ST_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ST_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ST_DT,7,2))+'~'+(SUBSTRING(A.TRAIN_ED_DT,1,4)+'/'+SUBSTRING(A.TRAIN_ED_DT,5,2)+'/'+SUBSTRING(A.TRAIN_ED_DT,7,2)))
		       END),'') AS APPOINT_SUMMARY,
		     A.REMARK,
		     CASE 
		     WHEN A.APPROVE_YN = '1' THEN '√'
		     ELSE ' '
		     END AS APPROVE_YN
		 FROM T_HM1400 A,
		 T_HM1000 B,
		 T_SC9100 C 
		 WHERE ((A.APPOINT_GB *= C.LEVEL2_CD) AND (C.LEVEL1_CD = '170' AND C.BUSI_GB = 'H'))
		 AND A.EMP_NO *= B.EMP_NO AND A.EMP_NO=#{EMP_NO}
		 ORDER BY A.APPOINT_DT DESC
	</select>
			
</mapper>

