<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ksmart30.team03.person.mapper.YidongMapper">

<!-- 리스트에 직원 정보 뿌려주는 쿼리 test 	
  -->
 
	<select id="getYidongList" resultType="ksmart30.team03.person.domain.Yidong">
		SELECT a.EMP_NO, a.KOR_NM 
		FROM T_HM1000 a
		
	</select>


	<select id="getYidongList2" resultType="ksmart30.team03.person.domain.Yidong" parameterType="String">
		SELECT a.EMP_NO,a.KOR_NM,a.JIKGUP_CD,b.LEVEL2_NM AS JIKGUP_NM,a.JIKCHK_CD, c.LEVEL2_NM AS JIKCHK_NM,DEPT_NM 
		FROM T_HM1000 a 
		JOIN T_SC9100 b ON a.JIKGUP_CD=b.LEVEL2_CD
		JOIN T_SC9100 c ON a.JIKCHK_CD=c.LEVEL2_CD 
		JOIN T_SC1010 d ON a.DEPT_CD=d.DEPT_CD WHERE b.LEVEL1_CD='110' AND c.LEVEL1_CD='120' AND a.EMP_NO=#{EMP_NO}
	</select>

</mapper>

