<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>인사기록카드 등록</title>
	<th:block th:include="layout/customHead"></th:block>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<head>
<script>
function DaumPostcode() {
	new daum.Postcode({
		oncomplete: function(data) {
			// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

			// 각 주소의 노출 규칙에 따라 주소를 조합한다.
			// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
			var addr = ''; // 주소 변수
			var extraAddr = ''; // 참고항목 변수

			//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
			if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
				addr = data.roadAddress;
			} else { // 사용자가 지번 주소를 선택했을 경우(J)
				addr = data.jibunAddress;
			}

			// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
			if(data.userSelectedType === 'R'){
				// 법정동명이 있을 경우 추가한다. (법정리는 제외)
				// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
				if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
					extraAddr += data.bname;
				}
				// 건물명이 있고, 공동주택일 경우 추가한다.
				if(data.buildingName !== '' && data.apartment === 'Y'){
					extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
				}
				// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
				if(extraAddr !== ''){
					extraAddr = ' (' + extraAddr + ')';
				}
				// 조합된 참고항목을 해당 필드에 넣는다.
				document.getElementById("extraAddress").value = extraAddr;
			
			} else {
				document.getElementById("extraAddress").value = '';
			}

			// 우편번호와 주소 정보를 해당 필드에 넣는다.
			document.getElementById('CUR_ZIP_NO').value = data.zonecode;
			document.getElementById("CUR_ADDRESS").value = addr;
			// 커서를 상세주소 필드로 이동한다.
			document.getElementById("detailAddress").focus();
		}
	}).open();
}

$(document).ready(function(){
	//필수 입력값에 대한 유효성검사 
	$('#btn_insert').click(function(){
		if($('#KOR_NM').val() == ""){			
			$('#KOR_NM').focus();
			$('#KOR_NM').attr('placeholder','성명을 입력해주세요.');
			return false;
		}else if($('#JUMIN_NO').val() == ""){
			$('#JUMIN_NO').focus();
			$('#JUMIN_NO').attr('placeholder','주민번호를 입력해주세요.');
			return false;
		}else if($('#ENG_NM').val == ""){
			$('#ENG_NM').focus();
			$('#ENG_NM').attr('placeholder','영문성명을 입력해주세요');
			return false;
		}else{
			alert('등록 성공');
		}
		
	});
	//입력버튼 클릭시 입력할 수 있는 창이 나옴
	$('#btn_family').click(function(){
		
		$('#family_table').append('<tr>');
		$('#family_table').append('<td></td>');
		$('#family_table').append('<td><select class="form-control" id="RELATION" name="RELATION"><option></option><option value="00">본인</option><option value="10">소득자직계존속</option><option value="11">부</option><option value="12">모</option>'+
		'<option value="20">배우자직계존속</option><option value="21">배우자 부</option><option value="22">배우자 모</option><option value="30">배우자</option><option value="40">직계비속자녀</option><option value="41">자</option><option value="42">녀</option>'+
		'<option value="50">직계비속 자녀외</option><option value="51">손자</option><option value="52">손녀</option><option value="60">형제자매</option><option value="61">형</option><option value="62">제</option><option value="63">자</option><option value="63">자</option>'+
		'<option value="64">매</option><option value="70">기초생활 수급자</option><option value="80">위탁아동</option></select></td>');
		$('#family_table').append('<td><input type="text" id="NAME" name="NAME"></td>');
		$('#family_table').append('<td><input type="text" id="JOB" name="JOB"></td>');
		$('#family_table').append('<td><input type="text" id="ADDRESS" name="ADDRESS"></td>');
		$('#family_table').append('</tr>');	
		
	});	
	
});

</script>
</th:block>
<th:block layout:fragment="customBody">
<font color="black">
	
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<h3>인사기록카드 등록</h3>		
				<form method="post" class="personInsa" id="personInsa">
					<table class="table">							
						<div class="x_content" style="text-align: right">								
							<button type="submit" class="btn" style="color:black" id="btn_insert">인사카드등록</button>				
						</div> 
									
					<tbody>
						<tr>
							<th>성명</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" id="KOR_NM" name="KOR_NM">																		
								</div>
							</td>
							<th>주민등록번호</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" id="JUMIN_NO" name="JUMIN_NO">
								</div>
							</td>
						</tr>

						<tr>
							<th>영문성명</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" id="ENG_NM" name="ENG_NM">
								</div>
							</td>
							<th>한자성명</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control" id="HANJA_NM" name="HANJA_NM">
								</div>
							</td>
						</tr>
						<tr>
							<th>성별</th>
							<td>
								<p>
									Male <input type="radio" class="flat" name="SEX_GB" id="SEX_GB" value="1" checked="" required /> 
									Female <input type="radio" class="flat" name="SEX_GB" id="SEX_GB" value="2" />
								</p>
							</td>

							<th>부서코드</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-9 col-xs-12">
										<select class="form-control" id="DEPT_CD" name="DEPT_CD">
										<option></option>
										<th:block th:each="d : ${deptResult}">
											<option th:value="${d.DEPT_CD}">[[${d.DEPT_NM}]]</option>									
											</th:block>
										</select>
									</div>
								</div>
						</tr>

						<tr>
							<th>직급</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-12 col-xs-12">
										<select class="form-control" id="JIKGUP_CD" name="JIKGUP_CD">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 110">									
													<option th:vlaue="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>																		
									</div>
								</div>
							</td>
							<th>직책</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-9 col-xs-12">
										<select class="form-control" id="JIKCHK_CD" name="JIKCHK_CD">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 120">									
													<option th:vlaue="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>			
									</div>
								</div>

							</td>
						</tr>						
					</tbody>
				</table>
			<div class="col-md-12 col-sm-13 col-xs-12">
			<div class="x_panel">
				<div class="x_content">					
				
					<!-- 인적사항테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 인적사항</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tr>
								<td>현거주지</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" class="form-control" id="CUR_ADDRESS" name="CUR_ADDRESS">
										<input type="hidden" class="form-control" id="detailAddress">
										<input type="hidden" class="form-control" id="extraAddress">
									
									</div>
								</td>

								<td>우편번호</td>
								<td>
									<div class="col-md-13 col-sm-8 col-xs-12 form-group">
										<div class="col-md-9 col-sm-9 col-xs-12 input-group" style="width:100%;">
											<input type="text" class="form-control" id="CUR_ZIP_NO" name="CUR_ZIP_NO">
												<span class="input-group-btn">
													<button type="button" onclick="DaumPostcode()" class="btn">
														<i class="fa fa-search"></i>
													</button> 
												</span>
											</div>
										</div>	
									</td>
									
							</tr>
							<tr>
								<td>자택전화</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group" id="PHONE_NO" name="PHONE_NO">
										<input type="text" class="form-control">
									</div>	
								</td>
								<td>휴대전화</td>
								<td>
									<div class="col-md-13 col-sm-8 col-xs-12 form-group">
										<input type="text" class="form-control" id="H_PHONE_NO" name="H_PHONE_NO">
									</div>	
								</td>
							</tr>


							<tr>
								<td>이메일</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" class="form-control" id="MAIL_ADDRESS" name="MAIL_ADDRESS">
									</div>	
								</td>
								<td>본적주소</td>
								<td>
									<div class="col-md-13 col-sm-8 col-xs-12 form-group">
										<input type="text" class="form-control" id="BON_ADDRESS" name="BON_ADDRESS">
									</div>
								</td>
							</tr>

							<tr>
								<td>출신지역</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-9 col-xs-12">
										<select class="form-control" id="BORN_AREA_GB" name="BORN_AREA_GB">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 130">									
													<option th:vlaue="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>	
										</div>
									</div>
								</td>
								<td></td>
								<td>										
								</td>
							</tr>
						</tbody>
					</table>
										<!-- 신체사항테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 신체사항</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>신장(cm)</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" placeholder="cm" class="form-control" id="HEIGHT" name="HEIGHT">
									</div>	
								</td>
								<td>체중(kg)</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" placeholder="kg" class="form-control" id="WEIGHT" name="WEIGHT">
									</div>
								</td>
							</tr>
							<tr>
								<td>혈액형</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12">
										<select class="form-control" id="BLOOD_TYPE" name="BLOOD_TYPE">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 150">									
													<option th:vlaue="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>	
									</div>							
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>

					<!-- 병무사항테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 병무사항</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>역종구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-9 col-xs-12">
											<select class="form-control" id="ARMY_TYPE" name="ARMY_TYPE">
												<option></option>
													<th:block th:each="gb : ${gbResult}">
														<th:block th:if="${gb.LEVEL1_CD} == 230">									
															<option th:vlaue="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
														</th:block>
													</th:block>
											</select>	
										</div>
									</div>
								</td>
								<td>군별구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-9 col-xs-12">
											<select class="form-control" id="BRANCHE_GB" name="BRANCHE_GB">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 240">									
													<option th:vlaue="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>	
										</div>
									</div>
								</td>

							</tr>
							<tr>
								<td>계급구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<select class="form-control" id="GRADE_CD" name="GRADE_CD">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 250">									
													<option th:vlaue="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>	
										</div>
									</div>

								</td>
								<td>병과구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<select class="form-control" id="ARMS_GB" name="ARMS_GB">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 260">									
													<option th:vlaue="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>	
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>


					<!-- 기술분야 테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 기술분야</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>전문분야</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-5 col-xs-5">
											<select class="form-control" id="PRO_GB" name="PRO_GB">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 280">									
													<option th:vlaue="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>	
										</div>
									</div>
								</td>
								<td>등급구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-12 col-xs-12">
											<select class="form-control" id="LEVEL_GB" name="LEVEL_GB">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 290">									
													<option th:vlaue="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>	
										</div>
									</div>

								</td>
							</tr>
							

						</tbody>
					</table>

					<!-- 입/퇴사일자 테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 입/퇴사일자</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>입사일자</td>
								<td><input type="date" id="IN_DT" name="IN_DT"></td>
								<td>퇴직기준</td>
								<td><input type="date" id="OUT_STD_DT" name="OUT_STD_DT"></td>
							</tr>
							<tr>
								<td>퇴사일자</td>
								<td><input type="date" id="OUT_DT" name="OUT_DT"></td>
								<td></td>
								<td></td>
							</tr>							
						</tbody>																			
					</table>
				</div>
			</div>
		</div>			
	</form>
		
</div>
</div>

	<!-- 기본 인사기록카드 등록 끝 -->



</font>
</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>
