<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>인사기록카드 리스트</title>
	<th:block th:include="layout/customHead"></th:block>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<head>
<script>
function updateInsa(EMP_NO){
	console.log('수정 할 직원번호 : '+EMP_NO);
	$.ajax({
		url:'/person/personInsaModifyView',
		data:{EMP_NO:EMP_NO},
		type:'GET',
		success:function(data){
			location.href="/person/personInsaModifyView?EMP_NO="+EMP_NO;
			console.log(data);
		}
				
	}); 

}
function retireeEmployee(){
	alert('수정 할 권한이 없습니다.');
}

$(document).ready(function(){
		console.log('인사기록카드 등록 시작');
		
		$('#btn_list').click(function(){
			let EMP_NO2 = $('#EMP_NO2').val();
			let KOR_NM2 = $('#KOR_NM2').val();
			let OUT_DT3 = $('#OUT_DT3').val();
			let session_EMP_NO = '[[${session.EMP_NO}]]';
			console.log('로그인 한 사원번호 : '+session_EMP_NO); 
			$.ajax({
				url:'/person/personInsaList',
				type:'GET',
				data:{EMP_NO:EMP_NO2,KOR_NM:KOR_NM2,OUT_DT3:OUT_DT3},
				success:(data)=>{
					$('#list').empty();
					console.log("직원리스트 출력: "+data);
					$(data).each(function(index,item){
						if(item.OUT_DT=="재직자" && session_EMP_NO=="20190007"){
							$('#list').append('<tr class="even pointer"><td class="a-center "><input id="EMP_NO" type="checkbox" class="flat" name="table_records"></td><td onclick="updateInsa('+item.EMP_NO+')" >'+item.SORT_VALUE+'</td><td onclick="updateInsa('+item.EMP_NO+')" >'+item.DEPT_NM+'</td><td id="EMP_NO" onclick="updateInsa('+item.EMP_NO+')">'+item.EMP_NO+'</td><td onclick="updateInsa('+item.EMP_NO+')" >'+item.KOR_NM+'</td><td onclick="updateInsa('+item.EMP_NO+')" >'+item.OUT_DT+'</td></tr>');				
						}else{
							$('#list').append('<tr class="even pointer"><td class="a-center "><input id="EMP_NO" type="checkbox" class="flat" name="table_records"></td><td>'+item.SORT_VALUE+'</td><td onclick="retireeEmployee()">'+item.DEPT_NM+'</td><td onclick="retireeEmployee()" id="EMP_NO">'+item.EMP_NO+'</td><td onclick="retireeEmployee()">'+item.KOR_NM+'</td><td onclick="retireeEmployee()">'+item.OUT_DT+'</td></tr>');						
						
						}
						
					});	
					
				}
			})
			
		});
		
	});

</script>
</head>
</th:block>
<th:block layout:fragment="customBody">
<font color="black">

	<div class="page-title">
		<div>
		<div class="title_left">
			
			<h2><b>인사기록카드 등록</b></h2>
			<h5><font color="gray"><b>6.인사/급여&nbsp;>&nbsp;&nbsp;6.1 인력관리&nbsp;>&nbsp;&nbsp;6.1.1 인사기록카드 등록</b></font></h5>
			
			</div>
		</div>
	</div>
	<div class="x_content" style="text-align: right">
		<div class="btn-group" >
			<button class="btn btn-default" type="button" id="btn_list">조회</button>
			<a href="/person/personInsaWriteView"><button class="btn btn-default" type="reset" >입력</button></a>
			<a href="/person/personInsaModifyView"><button class="btn btn-default" type="button" disabled="disabled">수정</button></a>
			<button class="btn btn-default" type="button" disabled="disabled">삭제</button>
			<button class="btn btn-default" type="button" disabled="disabled">저장</button>
			<button class="btn btn-default" type="button"  disabled="disabled">출력</button>					
		</div>
	</div>		
	
		
		<div class="x_content">
			<p class="text-muted font-13 m-b-30"></p>
			<div class="col-md-12 col-xs-12">

				<!-- 검색 -->
				<div class="col-md-13 col-xs-14">
							<div class="x_panel">
				<div class="x_title">					
					<h4 style="color:black;">⊙ 검색 조건</h4>								  				
				</div>
				<div class="x_content">
					<!-- 입력 폼 -->
					<form class="form-horizontal form-label-left">
						<table class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed" id="personSearch_table"role="grid" aria-describedby="datatable-responsive_info" style="width:100%;">
							<tr role="row">
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									&nbsp;사원번호
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="EMP_NO2" id="EMP_NO2" style="width:50%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									&nbsp;사원명
								</th>
								<th class="sorting" aria-controls="datatable-responsive">
									<input type="text" name="KOR_NM2" id="KOR_NM2" style="width:50%;">
								</th>
								<th class="sorting_asc" aria-controls="datatable-responsive" aria-sort="ascending">
									&nbsp;구분
								</th>
								<th>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<select style="width:230px;height:25px;" id="OUT_DT3">
											<option value=''></option>
											<option value="재직자">재직자</option>
											<option value="퇴직자">퇴직자</option>												
										</select>
									</div>						
								</th>		
							</tr>
							
									
							<tr>
						</table>
					</form>
				</div>
			</div>		
	<!-- 검색 끝 -->

	</div>
</div>


		<!-- 직원목록 -->
				<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>직원 List</h2>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="table-responsive">
					<div style="overflow: scroll; width: 100%; height: 650px; padding: 10px; background-color:;">
						<table class="table table-striped jambo_table bulk_action">
							<thead>
								<tr class="headings">
									<th><input type="checkbox" id="check-all" class="flat" >
									</th>
									<th class="column-title">순번</th>
									<th class="column-title">부서명</th>
									<th class="column-title">사원번호</th>
									<th class="column-title">사원명</th>																										
									<th class="column-title">구분</th>
									<th class="bulk-actions" colspan="7"><a class="antoo"
										style="color: #fff; font-weight: 500;">전체 선택<i class="fa fa-chevron-down"></i></a> 
									</th>
								</tr>
							</thead>
							<tbody id="list" style="font-size: 14px; line-height: 25px">
								<!--직원 LIST -->
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
		</div>
	
</font>
</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>

</html>
