<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>인사기록카드 등록</title>
</th:block>
<th:block layout:fragment="customBody">
	<form>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<h3>인사기록카드 등록</h3>

				<table class="table">
					<tbody>

						<tr>
							<th>사원번호(자동)</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control">
								</div>
							</td>
							<th>성명</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control">
								</div>
							</td>
						</tr>

						<tr>
							<th>주민등록번호</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input type="text" class="form-control">
								</div>
							</td>

							<th>성별</th>
							<td>
								<p>
									Male <input type="radio" class="flat" name="gender"
										id="genderM" value="M" checked="" required /> Female <input
										type="radio" class="flat" name="gender" id="genderF" value="F" />
								</p>
							</td>
						</tr>

						<tr>
							<th>직급</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-12 col-xs-12">
										<select class="form-control">
											<option></option>
											<option>회장</option>
											<option>부회장</option>
											<option>대표이사</option>
											<option>사장</option>
											<option>부사장</option>
											<option>전무</option>
											<option>상무</option>
											<option>이사</option>
											<option>실장</option>
											<option>팀장</option>
											<option>대리</option>
											<option>사원</option>
											<option>인턴사원</option>
											<option>촉탁사원</option>
											<option>계약직</option>
										</select>
									</div>
								</div>
							</td>
							<th>직책</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-9 col-xs-12">
										<select class="form-control">
											<option></option>
											<option value="AK">회장</option>
											<option value="HI">대표이사</option>
											<option value="CA">대표</option>
											<option value="NV">사장</option>
											<option value="OR">부문장</option>
											<option value="WA">본부장</option>
											<option value="AZ">실장</option>
											<option value="CO">소장</option>
											<option value="ID">직원</option>
											<option value="MT">감사</option>
											<option value="NE">고문</option>
											<option value="NM">임원</option>
											<option value="ND">연구원</option>
											<option value="UT">별정직</option>
										</select>
									</div>
								</div>

							</td>
						</tr>

						<tr>
							<th>부서코드</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-9 col-xs-12">
										<select class="form-control">
											<option></option>
											<option value="AK">0010 | 대표이사</option>
											<option value="HI">0020 | 사장실</option>
											<option value="CA">1000 | 경영부문</option>
											<option value="NV">1100 | 경영지원본부</option>
											<option value="OR">1110 | 경영지원실</option>
											<option value="WA">1130 | 인사총무실</option>
											<option value="AZ">1200 | 재무관리실</option>
											<option value="CO">7000 | 설계사업 1부문</option>
											<option value="ID">7500 | 설계1본부</option>
											<option value="MT">7530 | 설계1본부 1소</option>
											<option value="NE">7540 | 설계1본부 2소</option>
										</select>
									</div>
								</div>
							<th></th>
							<td></td>

						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<!-- 다음 테이블 시작 -->
		<div class="col-md-12 col-sm-13 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<!-- <table class="table table-striped"> -->

					<!-- 인적사항테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 인적사항</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>현거주지</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" class="form-control">
									</div>
								</td>

								<td></td>
								<td>
									<div class="col-md-13 col-sm-14 col-xs-12 form-group">
										<input type="text" class="form-control">
								</td>
								</div>
							</tr>
							<tr>
								<td>자택전화</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" class="form-control">
									</div>
								</td>
								<td>전화번호</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" class="form-control">
									</div>
								</td>
							</tr>


							<tr>
								<td>휴대전화</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" class="form-control">
									</div>
								</td>
								<td>이메일</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" class="form-control">
									</div>
								</td>
							</tr>

							<tr>
								<td>출신지역</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-9 col-xs-12">
											<select class="form-control">
												<option></option>
												<option value="AK">서울특별시</option>
												<option value="HI">경기도</option>
												<option value="CA">인천광역시</option>
												<option value="NV">강원도</option>
												<option value="OR">충청남도</option>
												<option value="WA">대전광역시</option>
												<option value="AZ">충청북도</option>
												<option value="CO">부산광역시</option>
												<option value="ID">울산광역시</option>
												<option value="MT">대구광역시</option>
											</select>
										</div>
									</div>
								</td>
								<td>본적주소</td>
								<td>
									<div class="col-md-13 col-sm-12 col-xs-12 form-group">
										<input type="text" class="form-control">
									</div>
								</td>
							</tr>
						</tbody>
					</table>


					<!-- 신체사항테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 신체사항</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>신장(cm)</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" placeholder="cm" class="form-control">
									</div>
								</td>
								<td>체중(kg)</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input type="text" placeholder="kg" class="form-control">
									</div>
								</td>
							</tr>
							<tr>
								<td>혈액형</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12">
										<select class="form-control">
											<option></option>
											<option>A형</option>
											<option>B형</option>
											<option>O형</option>
											<option>AB형</option>
										</select>
									</div>
								<td></td>
								<td></td>

							</tr>
						</tbody>
					</table>

					<!-- 병무사항테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 병무사항</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>역종구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-9 col-xs-12">
											<select class="form-control">
												<option></option>
												<option>예 비 역</option>
												<option>보 충 역</option>
												<option>미 필</option>
												<option>면 제</option>
											</select>
										</div>
									</div>
								</td>
								<td>군별구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-9 col-xs-12">
											<select class="form-control">
												<option></option>
												<option>육군</option>
												<option>해군</option>
												<option>공군</option>
												<option>해병대</option>
												<option>카투사</option>
												<option>의경</option>
											</select>
										</div>
									</div>
								</td>

							</tr>
							<tr>
								<td>계급구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<select class="form-control">
												<option></option>
												<option>장성</option>
												<option>영관급</option>
												<option>위관급</option>
												<option>부사관</option>
												<option>사병</option>
											</select>
										</div>
									</div>

								</td>
								<td>병과구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<select class="form-control">
												<option></option>
												<option>공병</option>
												<option>통신</option>
												<option>전산</option>
												<option>보병</option>
												<option>수송</option>
												<option>부관</option>
												<option>항공통제</option>
												<option>포병</option>
												<option>행정</option>
												<option>작전제도</option>
												<option>관측</option>
												<option>시설</option>
												<option>제도병</option>
											</select>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>


					<!-- 기술분야 테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 기술분야</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>전문분야</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-5 col-xs-5">
											<select class="form-control">
												<option></option>
												<option>건축</option>
												<option>기계</option>
												<option>토목</option>
												<option>전기</option>
												<option>통신</option>
												<option>조경</option>
												<option>소방</option>
												<option>도시계획</option>
												<option>전산</option>

											</select>
										</div>
									</div>
								</td>
								<td>등급구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-12 col-xs-12">
											<select class="form-control">
												<option></option>
												<option>특 급</option>
												<option>고 급</option>
												<option>중 급</option>
												<option>초 급</option>
											</select>
										</div>
									</div>

								</td>
							</tr>
							<tr>
								<td>직무</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-12 col-xs-12">
											<select class="form-control">
												<option></option>
												<option>경영</option>
												<option>수주</option>
												<option>QC</option>
												<option>본부장</option>
												<option>소장</option>
												<option>실시설계</option>
												<option>디자인</option>
											</select>
										</div>
									</div>

								</td>
								<td></td>
								<td></td>
							</tr>

						</tbody>
					</table>

					<!-- 입/퇴사일자 테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 입/퇴사일자</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>입사일자</td>
								<td><input type="date"></td>
								<td>퇴직기준</td>
								<td><input type="date"></td>
							</tr>
							<tr>
								<td>퇴사일자</td>
								<td><input type="date"></td>
								<td></td>
								<td></td>
							</tr>

						</tbody>
					</table>

					<div class="x_content" style="text-align: center">
						<a href="/person/insa/personnelRecord"><button type="button" class="btn btn-primary">취소</button></a>
						<button type="button" class="btn btn btn-success">인사카드 등록</button>

					</div>

				</div>
			</div>
		</div>
	</form>
</th:block>
<th:block layout:fragment="customJquery">
</th:block>
</html>
