<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>인사기록카드 수정</title>
	<th:block th:include="layout/customHead"></th:block>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<head>
<script>

function DaumPostcode() {
	new daum.Postcode({
		oncomplete: function(data) {
			// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

			// 각 주소의 노출 규칙에 따라 주소를 조합한다.
			// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
			var addr = ''; // 주소 변수
			var extraAddr = ''; // 참고항목 변수

			//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
			if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
				addr = data.roadAddress;
			} else { // 사용자가 지번 주소를 선택했을 경우(J)
				addr = data.jibunAddress;
			}

			// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
			if(data.userSelectedType === 'R'){
				// 법정동명이 있을 경우 추가한다. (법정리는 제외)
				// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
				if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
					extraAddr += data.bname;
				}
				// 건물명이 있고, 공동주택일 경우 추가한다.
				if(data.buildingName !== '' && data.apartment === 'Y'){
					extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
				}
				// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
				if(extraAddr !== ''){
					extraAddr = ' (' + extraAddr + ')';
				}
				// 조합된 참고항목을 해당 필드에 넣는다.
				document.getElementById("extraAddress").value = extraAddr;
			
			} else {
				document.getElementById("extraAddress").value = '';
			}

			// 우편번호와 주소 정보를 해당 필드에 넣는다.
			document.getElementById('CUR_ZIP_NO').value = data.zonecode;
			document.getElementById("CUR_ADDRESS").value = addr;
			// 커서를 상세주소 필드로 이동한다.
			document.getElementById("detailAddress").focus();
		}
	}).open();
}

$(document).ready(function(){
	
	//필수 입력값에 대한 유효성검사 
	$('#btn_insert').click(function(){
		if($('#KOR_NM').val() == ""){			
			$('#KOR_NM').focus();
			$('#KOR_NM').attr('placeholder','성명을 입력해주세요.');
			return false;
		}else if($('#JUMIN_NO').val() == ""){
			$('#JUMIN_NO').focus();
			$('#JUMIN_NO').attr('placeholder','주민번호를 입력해주세요.');
			return false;
		}else if($('#ENG_NM').val == ""){
			$('#ENG_NM').focus();
			$('#ENG_NM').attr('placeholder','영문성명을 입력해주세요');
			return false;
		}else{
			alert('수정 성공');
		}
		
	});
	//입력버튼 클릭시 가족사항 입력할 수 있는 창이 추가 됨
	$('#btn_family').click(function(){
		console.log("가족사항 입력 창 추가");
		$.ajax({
			url:'/person/personRelationView',
			type:'GET',
			success:(data)=>{
				let relationSelect = data;	
				console.log(data+"data");
				$('#family_table').append('<tr>');
				$('#family_table').append('<td><input type="text" value="" id="SEQ" name="SEQ" class="SEQ"></td>');
				$('#family_table').append('<td><select name="RELATION" id="RELATION"></td>');
				$('#family_table').append('<td><input type="text" id="NAME" name="NAME"></td>');
				$('#family_table').append('<td><input type="text" id="JOB" name="JOB" ></td>');
				$('#family_table').append('<td><input type="text" id="ADDRESS" name="ADDRESS"></td>');
				$('#family_table').append('</tr>');
				//select box값을 db내에서 가져옴
				
				for(let i=0; i<relationSelect.length; i++){
					console.log("text 값"+relationSelect[i].level2_CD+relationSelect[i].level2_NM);
					$('#RELATION').append('<option value="'+relationSelect[i].level2_CD+'">'+relationSelect[i].level2_NM+'</option></select></td>');						
				}
				console.log("실행 완료!");	
			}
		});
	});	
	//입력버튼 클릭시 부양가족 입력할 수 있는 창이 추가 됨
	$('#btn_family_care').click(function(){
		console.log("부양가족 입력 창 추가");
		$.ajax({
			url:'/person/personRelationView',
			type:'GET',
			success:(data)=>{
				let relationSelect = data;	
				console.log(data+"data");
				$('#family_care_table').append('<tr>');
				$('#family_care_table').append('<td></td>');
				$('#family_care_table').append('<td><select name="RELATION" id="RELATION"></td>');
				$('#family_care_table').append('<td><input type="text" id="NAME" name="NAME" style="width:100px;"></td>');
				$('#family_care_table').append('<td><input type="text" id="JUMIN_NO" name="JUMIN_NO" ></td>');
				$('#family_care_table').append('<td><input type="text" id="PARTNER_YN" name="PARTNER_YN" style="width:100px;"></td>');
				$('#family_care_table').append('<td><input type="text" id="BUYANG_YN" name="BUYANG_YN" style="width:100px;"></td>');
				$('#family_care_table').append('<td><input type="text" id="OLDMAN_YN" name="OLDMAN_YN" style="width:100px;"></td>');
				$('#family_care_table').append('<td><input type="text" id="JANGAE_YN" name="JANGAE_YN" style="width:100px;"></td>');
				$('#family_care_table').append('<td><input type="text" id="CHILD6_YN" name="CHILD6_YN" style="width:100px;"></td>');
				$('#family_care_table').append('</tr>');
				
				//select box값을 db내에서 가져옴
				for(let i=0; i<relationSelect.length; i++){
					console.log("text 값"+relationSelect[i].level2_CD+relationSelect[i].level2_NM);
					$('#RELATION').append('<option value="'+relationSelect[i].level2_CD+'">'+relationSelect[i].level2_NM+'</option></select></td>');						
				}
				console.log("실행 완료!");	
			}
		});
	});
	//입력버튼 클릭시 자격,면허사항 입력할 수 있는 창이 추가 됨
	$('#btn_license').click(function(){
		console.log("자격,면허사항 입력 창 추가");
		$.ajax({
			url:'/person/personInsaLicenseView',
			type:'GET',
			success:(data)=>{
				let relationSelect = data;
				$('#license_table').append('<tr>');
				$('#license_table').append('<td></td>');
				$('#license_table').append('<td><select id="LICENSE_NM" name="LICENSE_NM" style="width:100px;"></td>');
				$('#license_table').append('<td style="width:100px;"></td>');
				$('#license_table').append('<td><input type="text" id="ACQUIRE_DT" name="ACQUIRE_DT" style="width:100px;"></td>');
				$('#license_table').append('<td><input type="text" id="LICENSE_NO" name="LICENSE_NO" style="width:100px;"></td>');
				$('#license_table').append('<td><input type="text" id="VALID_DT" name="VALID_DT" style="width:100px;"></td>');
				$('#license_table').append('</tr>');
				for(let i=0; i<relationSelect.length; i++){
					$('#LICENSE_NM').append('<option value="'+relationSelect[i].LEVEL2_CD+'">'+relationSelect[i].LEVEL2_NM+'</option></select><td>')					
				}
			}
			
		});
		
	});

	//get방식으로 보낸 값을 가져오는 방법
	$.urlParam = function(name){
		let results = new RegExp('[\?&amp;]'+name+'=([^&amp;#]*)').exec(window.location.href); 
		if(results == null){
			return null
		}else{
			return results[1] || 0;
		}		
	}
	//가족사항 INSERT
	$('#btn_family_insert').click(function(){
		console.log('가족사항 저장');
		console.log("사원번호 나와라!"+$.urlParam('EMP_NO'));		
		//세션에 담긴 EMP_NO
		let AUDIT_ID = '[[${session.EMP_NO}]]';
		console.log('세션에 담긴 EMP_NO : '+AUDIT_ID);	
		
		/* let no = $('#btn_family_insert').index(this);	
		console.log("숫자 : "+no+"seq : "+SEQ); */			
		let EMP_NO = $.urlParam('EMP_NO');
		let NAME = $('#NAME').val();
		let JOB = $('#JOB').val();
		let ADDRESS = $('#ADDRESS').val();
		let RELATION = $('#RELATION').val();
		let SEQ = $('#SEQ').val();
		//가족사항 insert 후 ajax로 family_table에 list 뿌려주는 코드
		$.ajax({
			url:'/person/personInsaFamilyModifyView',
			type:'GET',
			data:{NAME:NAME,JOB:JOB,ADDRESS:ADDRESS,RELATION:RELATION,EMP_NO:EMP_NO,AUDIT_ID:AUDIT_ID,SEQ:SEQ},			
			success:(data)=>{
				$('#family_table').empty();
				$(data).each(function(index,item){
					$('#family_table').append('<tr><td>'+item.seq+'</td><td>'+item.relation+'</td><td>'+item.relation+'</td><td>'+item.job+'</td><td>'+item.address+'</td></tr>');				
				});		 
			}
			
		});		
			
	});	
	//부양가족 INSERT
	$('#btn_family_care_insert').click(function(){
		console.log('부양가족 저장');
		console.log("사원번호 나와라!"+$.urlParam('EMP_NO'));		
		//세션에 담긴 EMP_NO
		let AUDIT_ID = '[[${session.EMP_NO}]]';
		console.log('세션에 담긴 EMP_NO : '+AUDIT_ID);			
		let EMP_NO = $.urlParam('EMP_NO');
		let NAME = $('#NAME').val();
		let RELATION = $('#RELATION').val();
		let JUMIN_NO = $('#JUMIN_NO').val();
		let PARTNER_YN = parseInt($('#PARTNER_YN').val());
		let BUYANG_YN = parseInt($('#BUYANG_YN').val());
		let OLDMAN_YN2 = parseInt($('#OLDMAN_YN').val());
		let JANGAE_YN = parseInt($('#JANGAE_YN').val());
		let CHILD6_YN = parseInt($('#CHILD6_YN').val());		
		
		//부양가족 insert 후 ajax로 familyCare_table에 list 뿌려주는 코드
		$.ajax({
			url:'/person/personInsaFamilyCareModifyView',
			type:'GET',
			data:{AUDIT_ID:AUDIT_ID,EMP_NO:EMP_NO,RELATION:RELATION,NAME:NAME,JUMIN_NO:JUMIN_NO,PARTNER_YN:PARTNER_YN,BUYANG_YN:BUYANG_YN,OLDMAN_YN2:OLDMAN_YN2,JANGAE_YN:JANGAE_YN,CHILD6_YN:CHILD6_YN},			
			success:(data)=>{
				$('#family_care_table').empty();
				$(data).each(function(index,item){
					index +=1;
				$('#family_care_table').append('<tr><td>'+index+'</td><td>'+item.relation+'</td><td>'+item.name+'</td><td>'+item.jumin_NO+'</td><td>'+item.partner_YN+'</td><td>'+item.buyang_YN+'</td><td>'+item.oldman_YN+'</td><td>'+item.jangae_YN+'</td><td>'+item.child6_YN+'</td></tr>');				
				});		 
			}
			
		});	
	});
	
	//자격,면허사항 INSERT
	$('#btn_license_insert').click(function(){
		console.log('부양가족 저장');
		console.log("사원번호 나와라!"+$.urlParam('EMP_NO'));		
		//세션에 담긴 EMP_NO
		let AUDIT_ID = '[[${session.EMP_NO}]]';
		console.log('세션에 담긴 EMP_NO : '+AUDIT_ID);			
		let EMP_NO = $.urlParam('EMP_NO');
		let LICENSE_CD = $('#LICENSE_NM').val();
		let ACQUIRE_DT = $('#ACQUIRE_DT').val();
		let LICENSE_NO = $('#LICENSE_NO').val();
		let VALID_DT = $('#VALID_DT').val();
		//자격,면허사항 insert 후 ajax로 familyCare_table에 list 뿌려주는 코드
		$.ajax({
			url:'/person/personInsaLicenseModifyView',
			type:'GET',
			data:{AUDIT_ID:AUDIT_ID,EMP_NO:EMP_NO,LICENSE_CD:LICENSE_CD,ACQUIRE_DT:ACQUIRE_DT,LICENSE_NO:LICENSE_NO,VALID_DT:VALID_DT},
			success:(data)=>{
				$('#license_table').empty();
				$(data).each(function(index,item){
					index +=1;
					$('#license_table').append('<tr><td>'+index+'</td><td>'+item.license_NM+'</td><td>'+item.organ2_NM+'</td><td>'+item.acquire_DT+'</td><td>'+item.valid_DT+'</td><td>'+item.license_NO+'</td></tr>')	

				});
			}
		})
	});		
});



</script>
</th:block>
<th:block layout:fragment="customBody">
<font color="black">
	
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<h3>인사기록카드 수정</h3>		
				<form method="post" class="personInsa" id="personInsa">
					<table class="table">							
						<div class="x_content" style="text-align: right">								
							<button type="submit" class="btn" style="color:black" id="btn_insert">인사카드등록</button>				
						</div> 
									
					<tbody>
						<tr>
							<th>성명</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input th:value="${result.KOR_NM}" type="text" class="form-control" id="KOR_NM" name="KOR_NM">
																										
								</div>
							</td>
							<th>주민등록번호</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input th:value="${result.JUMIN_NO}" type="text" class="form-control" id="JUMIN_NO" name="JUMIN_NO">
								</div>
							</td>
						</tr>

						<tr>
							<th>영문성명</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input th:value="${result.ENG_NM}" type="text" class="form-control" id="ENG_NM" name="ENG_NM">
								</div>
							</td>
							<th>한자성명</th>
							<td>
								<div class="col-md-7 col-sm-12 col-xs-12 form-group">
									<input th:value="${result.HANJA_NM}" type="text" class="form-control" id="HANJA_NM" name="HANJA_NM">
								</div>
							</td>
						</tr>
						<tr>
							<th>성별</th>
							<td>
								<p>
									Male <input th:value="${result.SEX_GB}" type="radio" class="flat" name="SEX_GB" id="SEX_GB" value="1" checked="" required /> 
									Female <input th:value="${result.SEX_GB}" type="radio" class="flat" name="SEX_GB" id="SEX_GB" value="2" />
								</p>
							</td>

							<th>부서코드</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-9 col-xs-12">
									<select onchange="setValuesDeptCd();" class="form-control" id="DEPT_CD" name="DEPT_CD">
										<option></option>
										<th:block th:each="d : ${deptResult}">
											<option th:value="${d.DEPT_CD}">[[${d.DEPT_NM}]]</option>									
											</th:block>
									</select>
									
										<input type="text" id="a">
									</div>
								</div>
						</tr>

						<tr>
							<th>직급</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-12 col-xs-12">
										<select class="form-control" id="JIKGUP_CD" name="JIKGUP_CD">				
											<option></option>
												<th:block th:each="gb : ${gbResult}">
													<th:block th:if="${gb.LEVEL1_CD} == 110">									
														<option th:value="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
													</th:block>
												</th:block>
										</select>															</select>
										</div>
									</div>
								</td>
							<th>직책</th>
							<td>
								<div class="form-group">
									<div class="col-md-7 col-sm-9 col-xs-12">		
										<select th:value="${result.JIKCHK_CD}" class="form-control" id="JIKCHK_CD" name="JIKCHK_CD">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 120">									
													<option th:value="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>		
									</div>
								</div>

							</td>
						</tr>						
					</tbody>
				</table>
			<div class="col-md-12 col-sm-13 col-xs-12">
			<div class="x_panel">
				<div class="x_content">					
				
					<!-- 인적사항테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 인적사항</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tr>
								<td>현거주지</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input th:value="${result.CUR_ADDRESS}" type="text" class="form-control" id="CUR_ADDRESS" name="CUR_ADDRESS">
										<input type="hidden" class="form-control" id="detailAddress">
										<input type="hidden" class="form-control" id="extraAddress">
									
									</div>
								</td>

								<td>우편번호</td>
								<td>
									<div class="col-md-13 col-sm-8 col-xs-12 form-group">
										<div class="col-md-9 col-sm-9 col-xs-12 input-group" style="width:100%;">
											<input th:value="${result.CUR_ZIP_NO}" type="text" class="form-control" id="CUR_ZIP_NO" name="CUR_ZIP_NO">
												<span class="input-group-btn">
													<button type="button" onclick="DaumPostcode()" class="btn">
														<i class="fa fa-search"></i>
													</button> 
												</span>
											</div>
										</div>	
									</td>
									
							</tr>
							<tr>
								<td>자택전화</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input th:value="${result.PHONE_NO}" type="text" id="PHONE_NO" name="PHONE_NO" class="form-control">
									</div>	
								</td>
								<td>휴대전화</td>
								<td>
									<div class="col-md-13 col-sm-8 col-xs-12 form-group">
										<input th:value="${result.H_PHONE_NO}" type="text" class="form-control" id="H_PHONE_NO" name="H_PHONE_NO">
									</div>	
								</td>
							</tr>


							<tr>
								<td>이메일</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input th:value="${result.MAIL_ADDRESS}" type="text" class="form-control" id="MAIL_ADDRESS" name="MAIL_ADDRESS">
									</div>	
								</td>
								<td>본적주소</td>
								<td>
									<div class="col-md-13 col-sm-8 col-xs-12 form-group">
										<input th:value="${result.BON_ADDRESS}" type="text" class="form-control" id="BON_ADDRESS" name="BON_ADDRESS">
									</div>
								</td>
							</tr>

							<tr>
								<td>출신지역</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-9 col-xs-12">
											<select th:value="${result.BORN_AREA_GB}" class="form-control" id="BORN_AREA_GB" name="BORN_AREA_GB">
												<option></option>
													<th:block th:each="gb : ${gbResult}">
														<th:block th:if="${gb.LEVEL1_CD} == 130">									
															<option th:value="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
														</th:block>
													</th:block>
											</select>
										</div>
									</div>
								</td>
								<td></td>
								<td>										
								</td>
							</tr>
						</tbody>
					</table>
										<!-- 신체사항테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 신체사항</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>신장(cm)</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input th:value="${result.HEIGHT}" type="text" placeholder="cm" class="form-control" id="HEIGHT" name="HEIGHT">
									</div>	
								</td>
								<td>체중(kg)</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12 form-group">
										<input th:value="${result.WEIGHT}" type="text" placeholder="kg" class="form-control" id="WEIGHT" name="WEIGHT">
									</div>
								</td>
							</tr>
							<tr>
								<td>혈액형</td>
								<td>
									<div class="col-md-7 col-sm-12 col-xs-12">
										<select th:value="${result.BLOOD_TYPE}" class="form-control" id="BLOOD_TYPE" name="BLOOD_TYPE">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 150">									
													<option th:value="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>	
									</div>			
								<td></td>
								<td></td>						
							</tr>
						</tbody>
					</table>

					<!-- 병무사항테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 병무사항</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>역종구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-9 col-xs-12">
											<select th:value="${result.ARMY_TYPE}" class="form-control" id="ARMY_TYPE" name="ARMY_TYPE">
												<option></option>
													<th:block th:each="gb : ${gbResult}">
														<th:block th:if="${gb.LEVEL1_CD} == 230">									
															<option th:value="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
														</th:block>
													</th:block>
											</select>
										</div>
									</div>
								</td>
								<td>군별구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-9 col-xs-12">
											<select  th:value="${result.BRANCHE_GB}" class="form-control" id="BRANCHE_GB" name="BRANCHE_GB">
												<option></option>
													<th:block th:each="gb : ${gbResult}">
														<th:block th:if="${gb.LEVEL1_CD} == 240">									
															<option th:value="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
														</th:block>
													</th:block>
											</select>	
										</div>
									</div>
								</td>

							</tr>
							<tr>
								<td>계급구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<select th:value="${result.GRADE_CD}" class="form-control" id="GRADE_CD" name="GRADE_CD">
												<option></option>
													<th:block th:each="gb : ${gbResult}">
														<th:block th:if="${gb.LEVEL1_CD} == 250">									
															<option th:value="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
														</th:block>
													</th:block>
											</select>	
										</div>
									</div>

								</td>
								<td>병과구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<select th:value="${result.ARMS_GB}" class="form-control" id="ARMS_GB" name="ARMS_GB">
											<option></option>
											<th:block th:each="gb : ${gbResult}">
												<th:block th:if="${gb.LEVEL1_CD} == 260">									
													<option th:value="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
												</th:block>
											</th:block>
										</select>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>


					<!-- 기술분야 테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 기술분야</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>전문분야</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-5 col-xs-5">
											<select th:value="${result.PRO_GB}" class="form-control" id="PRO_GB" name="PRO_GB">
												<option></option>
													<th:block th:each="gb : ${gbResult}">
														<th:block th:if="${gb.LEVEL1_CD} == 280">									
															<option th:value="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
														</th:block>
													</th:block>
											</select>
										</div>
									</div>
								</td>
								<td>등급구분</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-12 col-xs-12">
											<select th:value="${result.LEVEL_GB}" class="form-control" id="LEVEL_GB" name="LEVEL_GB">
												<option></option>
													<th:block th:each="gb : ${gbResult}">
														<th:block th:if="${gb.LEVEL1_CD} == 290">									
															<option th:value="${gb.LEVEL2_CD}">[[${gb.LEVEL2_NM}]]</option>
														</th:block>
													</th:block>
											</select>
										</div>
									</div>

								</td>
							</tr>
							<!-- <tr>
								<td>직무</td>
								<td>
									<div class="form-group">
										<div class="col-md-7 col-sm-12 col-xs-12">
											<select class="form-control">
												<option></option>
												<option>경영</option>
												<option>수주</option>
												<option>QC</option>
												<option>본부장</option>
												<option>소장</option>
												<option>실시설계</option>
												<option>디자인</option>
											</select>
										</div>
									</div>

								</td>
								<td></td>
								<td></td>
							</tr> -->

						</tbody>
					</table>

					<!-- 입/퇴사일자 테이블 -->
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr>
								<th>▽ 입/퇴사일자</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>입사일자</td>
								<td><input th:value="${result.IN_DT}" type="date" id="IN_DT" name="IN_DT"></td>
								<td>퇴직기준</td>
								<td><input th:value="${result.OUT_STD_DT}" type="date" id="OUT_STD_DT" name="OUT_STD_DT"></td>
							</tr>
							<tr>
								<td>퇴사일자</td>
								<td><input th:value="${result.OUT_DT}" type="date" id="OUT_DT" name="OUT_DT"></td>
								<td></td>
								<td></td>
							</tr>							
						</tbody>																			
					</table>
				</div>
			</div>
		</div>			
	</form>
		
</div>
</div>

	<!-- 기본 인사기록카드 등록 끝 -->
	
	<!-- 추가 입력할 정보 창 -->
	<form>
		<div class="col-md-12 col-sm-13 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<div class="clearfix">
						<h4>추가 인사기록 입력</h4>
					</div>
				</div>

				<!-- start of user-activity-graph -->
				<div id="graph_bar" style="width: 100%; height: 60px;"></div>
				<!-- end of user-activity-graph -->

				<div class="" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
						<li role="presentation" class="active"><a
							href="#tab_content1" id="home-tab" role="tab" data-toggle="tab"
							aria-expanded="true">가족사항</a></li>
						<li role="presentation" class=""><a href="#tab_content2"
							role="tab" id="profile-tab" data-toggle="tab"
							aria-expanded="false">부양가족</a></li>
						<li role="presentation" class=""><a href="#tab_content3"
							role="tab" id="profile-tab2" data-toggle="tab"
							aria-expanded="false">자격,면허</a></li>
						<li role="presentation" class=""><a href="#tab_content4"
							role="tab" id="profile-tab4" data-toggle="tab"
							aria-expanded="false">학력사항</a></li>
					</ul>


					<div id="myTabContent" class="tab-content">
					
					
						<!-- 가족사항 -->
						<div role="tabpanel" class="tab-pane fade active in"
							id="tab_content1" aria-labelledby="home-tab">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<h4>가족사항</h4>
									</div>
									<div class="clearfix"></div>
									<div class="x_content" style="text-align: right">
										<button type="button" class="btn" style="color:black" id="btn_family">입력</button>
										<button type="button" class="btn" style="color:black" id="btn_family_insert">저장</button>
									</div>
								<form>
									<table class="table table-bordered">
									
										<thead>
											<tr>
												<th>NO</th>
												<th>관계</th>
												<th>성명</th>
												<th>직업</th>
												<th>소재지(시/도)</th>
											</tr>
										</thead>
										<tbody id="family_table">
										<!-- <td><input type="text" th:value="${EMP_NO.EMP_NO}" id="EMP_NO2" name="EMP_NO2"></td>  -->
											<!-- 화면에서 입력한 값  -->
											<tr th:each = "f: ${familyList}">
												<td th:text="${f.SEQ}"></td>
												<td th:text="${f.RELATION}"></td>
												<td th:text="${f.NAME}"></td>
												<td th:text="${f.JOB}"></td>
												<td th:text="${f.ADDRESS}"></td>
										</tbody>
									</table>
								</form>


								</div>
							</div>
						</div>
					
						<!-- 부양가족 -->
						<div role="tabpanel" class="tab-pane fade in" id="tab_content2"
							aria-labelledby="tab">
						
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<h4>부양가족</h4>
									</div>
									<div class="clearfix"></div>
									<div class="x_content" style="text-align: right">
										<button type="button" class="btn" style="color:black" id="btn_family_care">입력</button>
										<button type="button" class="btn" style="color:black" id="btn_family_care_insert">저장</button>
									</div>
									<table class="table table-bordered">
										<thead>
											<tr style="text-align:center">
												<th rowspan="2">NO</th>
												<th rowspan="2">관계</th>
												<th rowspan="2">성명</th>
												<th rowspan="2">주민등록번호</th>
												<th colspan="5">인적공제 해당여부 &nbsp;&nbsp;&nbsp;<span style="color:gray; font-size:10px">해당하는 경우 : 1 아닌 경우 0 입력</span></th>
											</tr>
											<tr style="text-align:center">
												<th>배우자</th>
												<th>부양</th>
												<th>경로</th>
												<th>장애</th>
												<th>6세이하</th>
											</tr>
										</thead>
										<tbody id="family_care_table">
											<tr th:each="fc,index : ${familyCare}">
												<td th:text="${index.index+1}"></td>
												<td th:text="${fc.RELATION}"></td>
												<td th:text="${fc.NAME}"></td>
												<td th:text="${fc.JUMIN_NO}"></td>
												<td th:text="${fc.PARTNER_YN}"></td>
												<td th:text="${fc.BUYANG_YN}"></td>
												<td th:text="${fc.OLDMAN_YN}"></td>
												<td th:text="${fc.JANGAE_YN}"></td>
												<td th:text="${fc.CHILD6_YN}"></td>	 
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- 자격,면허사항 -->
						<div role="tabpanel" class="tab-pane fade in" id="tab_content3"
							aria-labelledby="tab">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<h4>자격,면허</h4>
									</div>
									<div class="clearfix"></div>
									<div class="x_content" style="text-align: right">
										<button type="button" class="btn" style="color:black" id="btn_license">입력</button>
										<button type="button" class="btn" style="color:black" id="btn_license_insert">저장</button>
									</div>
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>NO</th>
												<th>자격면허</th>
												<th>발행기관</th>
												<th>취득일자</th>
												<th>유효일자</th>
												<th>자격증번호</th>
											</tr>
										</thead>
										<tbody id="license_table">
											<tr th:each="li, index :${licenseList}">
												<td th:text="${index.index+1}"></td>
												<td th:text="${li.LICENSE_NM}"></td>
												<td th:text="${li.ORGAN2_NM}"></td>
												<td th:text="${li.ACQUIRE_DT}"></td>
												<td th:text="${li.VALID_DT}"></td>	
												<td th:text="${li.LICENSE_NO}"></td>	
											</tr>									
										</tbody>
									</table>



								</div>
							</div>
						</div>


						<!-- 학력사항 -->
						<div role="tabpanel" class="tab-pane fade in" id="tab_content4"
							aria-labelledby="tab">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<h4>학력사항</h4>
									</div>
									<div class="clearfix"></div>
									<div class="x_content" style="text-align: right">
										<button type="button" class="btn" style="color:black">입력</button>
										<button type="button" class="btn" style="color:black">저장</button>
									</div>
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>NO</th>
												<th>구분</th>
												<th>입학날짜</th>
												<th>졸업일자</th>
												<th>학교명</th>
												<th>전공</th>
												<th>학위</th>
												<th>이수</th>
												<th>최종</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="e,index : ${educationList}">
												<td th:text="${index.index+1}"></td>
												<td th:text="${e.SCHOOL_GB}"></td>
												<td th:text="${e.ENTRY_DT}"></td>
												<td th:text="${e.FINISH_DT}"></td>
												<td th:text="${e.SCHOOL_NM}"></td>
												<td th:text="${e.MAJOR_NM}"></td>
												<td th:text="${e.DEGREE_NM}"></td>
												<td th:text="${e.COMPLETE_NM}"></td>
												<td th:text="${e.F_SCHOOL_YN}"></td>
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

</font>
</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>
