<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>2.3.4프로젝트손익관리_예산/실적대비표_상세화면</title>
	<th:block th:include="layout/customHead"></th:block>
</th:block>
<th:block layout:fragment="customBody">
	<font color="black">
<!-- 프로젝트 상세 시작 -->		
			<div class="x_panel">
				<div class="x_title">
					<h2>
						PJT_CD PJT_NM의 상세내용 <small></small>
					</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false"><i
								class="fa fa-wrench"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Settings 1</a></li>
								<li><a href="#">Settings 2</a></li>
							</ul></li>

					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">

					<table class="table table-bordered">
						<tr>
							<th style="background-color: #fff9df">프로젝트</th>
							<td colspan="2">[[${data.PJT_CD}]] [[${data.PJT_NM}]]</td>
							<th style="background-color: #fff9df">건축물유형</th>
							<td colspan="3">[[${data.BUILD_NM}]]</td>				
						</tr>
						<tr>
							<th style="background-color: #fff9df">계약일자</th>
							<td colspan="2">[[${data.CONTRACT_DATE}]]</td>							
							<td style="background-color: #fff9df">계약기간</td>
							<td>[[${data.FROM_TO}]]</td>							
							<td colspan="2">[[${data.PJT_E_GBN}]]</td>
							
						</tr>
						<tr>
							<th style="background-color: #fff9df">당사계약액</th>
							<td colspan="2">[[${data.TOT_CONTRACT_AMT}]]</td>
							<th style="background-color: #fff9df">소재지</th>
							<td colspan="4">[[${data.PJT_ADDR}]]</td>
							
						</tr>
						<tr>
							<th style="background-color: #fff9df">대지면적</th>
							<td>[[${data.G_AREA_M}]]</td>
							<td>[[${data.G_AREA_P}]]</td>
							<th style="background-color: #fff9df">연면적</th>
							<td>[[${data.G_YAREA_M}]]</td>
							<td>[[${data.G_YAREA_P}]]</td>
						</tr>
					</table>
<!-- 프로젝트 상세 end -->
					<br>

<!-- 상세내용 시작 -->
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="background-color: #D8D8D8" colspan="2" rowspan="2">과목</th>
								
								<th style="background-color: #D8D8D8" colspan="2">예산</th>							
								<th style="background-color: #D8D8D8" colspan="2">실적</th>
								<th style="background-color: #D8D8D8" rowspan="2">전기누계</th>
						</tr>
						<tr>		
								<th style="background-color: #D8D8D8">금액</th>							
								<th style="background-color: #D8D8D8">%</th>
								<th style="background-color: #D8D8D8">당기누계</th>
								<th style="background-color: #D8D8D8">%</th>								
						</tr>	
						</thead>
						<tbody>
							<tr>
								<td style="background-color: #fff9df" colspan="2">매출액</td>
								<td>[[${data.TOT_CONTRACT_AMT}]]</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
																						
							</tr>
							<tr>
								<td style="background-color: #fff9df" rowspan="4">자체비용
								<td style="background-color: #fff9df">인 건비</td>
								<td>[[${data.COST_AMT1}]]</td>
								<td>[[${data.COST_RATE1}]]</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">제조경비1</td>
								<td>[[${data.COST_AMT2}]]</td>
								<td>[[${data.COST_RATE2}]]</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">제조경비2</td>
								<td>[[${data.COST_AMT3}]]</td>
								<td>[[${data.COST_RATE3}]]</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
															
							</tr>
							<tr>
								<td style="background-color: #fff9df">소계</td>
								<td>[[${data.SHAP}]]</td>
								<td>[[${data.SHAP_RATE}]]</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df" rowspan="5">배부비용</td>
								<td style="background-color: #fff9df">공통비1</td>
								<td>[[${data.DIV_AMT40}]]</td>
								<td>[[${data.DIV_RATE40}]]</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
														
							</tr>
							<tr>
								<td style="background-color: #fff9df">간접비</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">공통비2</td>
								<td>[[${data.DIV_AMT20}]]</td>
								<td>[[${data.DIV_RATE20}]]</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
															
							</tr>
							<tr>
								<td style="background-color: #fff9df">관리부문비</td>
								<td>[[${data.DIV_AMT30}]]</td>
								<td>[[${data.DIV_RATE30}]]</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">소계</td>
								<td>[[${data.BEBU}]]</td>
								<td>[[${data.BEBU_RATE}]]</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df" colspan="2">비용합계</td>
								<td>[[${data.HAP}]]</td>
								<td>[[${data.HAP_RATE}]]</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
														
							</tr>
							<tr>
								<td style="background-color: #fff9df" colspan="2">영업이익</td>
								<td>[[${data.YUNGUPEIK}]]</td>
								<td>[[${data.YUNGUPEIK_RATE}]]</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
															
							</tr>
							<tr>
								<td style="background-color: #fff9df" rowspan="5">사업성검토</td>
								<td style="background-color: #fff9df">인건비</td>
								<td>[[${data.S_COST_AMT1}]]</td>
								<td>[[${data.S_COST_RATE1}]]</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">제조경비1</td>
								<td>[[${data.S_COST_AMT2}]]</td>
								<td>[[${data.S_COST_RATE2}]]</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
															
							</tr>
							<tr>
								<td style="background-color: #fff9df">공통비2</td>
								<td>[[${data.S_COST_AMT3}]]</td>
								<td>[[${data.S_COST_RATE3}]]</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">관리부문비</td>
								<td>[[${data.S_DIV_AMT}]]</td>
								<td>[[${data.S_DIV_RATE}]]</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
															
							</tr>
							<tr>
								<td style="background-color: #fff9df">소계</td>
								<td>[[${data.S_HAP}]]</td>
								<td>[[${data.S_HAP_RATE}]]</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
															
							</tr>
						</tbody>
					</table>
				</div>
			</div>
<!-- 상세내용 end -->
	</font>

</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>