<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>프로젝트 예산 입력(검색, 개요, 상세입력)</title>
	<th:block th:include="layout/customHead"></th:block>

	<!-- jquery 추가 -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script>
	
		//프로젝트코드를 입력받아 프로젝트 개요를 보여준다		    
	    function mscall(PJT_CD){
			console.log('mscall실행'+PJT_CD);
			
			$.ajax({
	            url:'/project/projectYesanViewOne',	//url을 요청하고
	            type:'POST',	//검색조건을 담아서 post 방식으로 보낸다
	        	data:{PJT_CD:PJT_CD},	//넘길 데이터
	            success:(data)=>{
	            	console.log(data);
	            	//프로젝트 개요
	            	$('#PJT_CD2').empty();
	                $('#PJT_CD2').append('('+data.projectYesanSangse.PJT_CD+')');	//프로젝트코드
	            	$('#PJT_NM2').empty();	                
	                $('#PJT_NM2').append(data.projectYesanSangse.PJT_NM);	//프로젝트명	
	                $('#PRINT_CNT').empty();	                
	                $('#PRINT_CNT').append(data.projectYesanSangse.PRINT_CNT);	//출력횟수 
	                $('#PJT_YEA_YN').empty();	                
	                $('#PJT_YEA_YN').append(data.projectYesanSangse.PJT_YEA_YN);	//승인여부
	                $('#BUILD_NM').empty();
	                $('#BUILD_NM').append(data.projectYesanSangse.BUILD_NM);	//건축물 유형	
	                $('#DEPT_NM').empty();
	                $('#DEPT_NM').append(data.projectYesanSangse.DEPT_NM);	//부서명	
	                $('#CONTRACT_DATE').empty();
	                $('#CONTRACT_DATE').append(data.projectYesanSangse.CONTRACT_DATE);	//계약일	
	                $('#CRT_DATE').empty();
	                $('#CRT_DATE').append('('+data.projectYesanSangse.CRT_DATE+')');	//계약서 등록일
	                $('#PM_EMP_NO').empty();
	                $('#PM_EMP_NO').append(data.projectYesanSangse.PM_EMP_NO);	//담당자 사원번호
	                $('#KOR_NM').empty();
	                $('#KOR_NM').append(data.projectYesanSangse.KOR_NM);	//사원명
	                $('#FROM_TO').empty();
	                $('#FROM_TO').append(data.projectYesanSangse.FROM_TO);	//계약 기간
	                $('#PJT_E_GBN').empty();
	                $('#PJT_E_GBN').append(','+data.projectYesanSangse.PJT_E_GBN+'까지');	//프로젝트 계약 종료 구분 시점
	                $('#TOT_CONTRACT_AMT').empty();
	                $('#TOT_CONTRACT_AMT').append(data.projectYesanSangse.TOT_CONTRACT_AMT+'원');		//프로젝트총계약액
	                $('#ZIP_CD').empty();
	                $('#ZIP_CD').append('('+data.projectYesanSangse.ZIP_CD+')');		//우편번호
	                $('#PJT_ADDR').empty();
	                $('#PJT_ADDR').append(data.projectYesanSangse.PJT_ADDR);	//주소
	                $('#G_AREA_M').empty();
	                $('#G_AREA_M').append(data.projectYesanSangse.G_AREA_M+'m²');	//계약면적_M
	                $('#G_AREA_P').empty();
	                $('#G_AREA_P').append(data.projectYesanSangse.G_AREA_P+'평');	//계약면적_평	
	                $('#G_YAREA_M').empty();
	                $('#G_YAREA_M').append(data.projectYesanSangse.G_YAREA_M+'m²');	//계약연면적_M
	                $('#G_YAREA_P').empty();
	                $('#G_YAREA_P').append(data.projectYesanSangse.G_YAREA_P+'평');	//계약연면적_평	

	                //발주처
                	$('#CUST_NM').empty();	//발주처 삭제
    	            $(data.projectYesanSangseCustNm).each((index,item)=>{  	
    	                $('#CUST_NM').append('<tr><td>'+item.CUST_NM+'</td></tr>');	//발주처명	
   	                });
	                
	                //일정계획	                
	                let needTermTotal = null;	//소요시간 변수초기화
                	$('#workStep').empty();	//일정계획 삭제
    	            $(data.projectYesanSangseWorkStep).each((index,item)=>{		//일정계획
    	            	//클릭하면 변경횟수(UPD_COUNT)가 2이상인 경우 프로젝트 일정 변경 로그를 조회할 수 있는 모달 화면으로
    	                $('#workStep').append('<tr><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39'+item.WORK_STEP+'&#39)">'+item.WORK_STEP_NM		//일정계획 단계 한글로
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39'+item.WORK_STEP+'&#39)">'+item.UPD_COUNT		//변경횟수
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39'+item.WORK_STEP+'&#39)">'+item.START_DAY		//착수일
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39'+item.WORK_STEP+'&#39)">'+item.PLAN_END_DAY		//완료예정일
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39'+item.WORK_STEP+'&#39)">'+item.NEED_TERM		//소요기간
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39'+item.WORK_STEP+'&#39)">'+item.REAL_END_DAY		//종료일
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39'+item.WORK_STEP+'&#39)">'+item.RMK+'</td></tr>');	//사유입력
		                
/*     	                		//일정계획입력 버튼을 클릭하면 현재일정계획을 보여주고 입력할 수 있는 화면으로 이동(입력, 수정 가능)	
	                		    $('#insertWorkStep').click(()=>{
	                		       let PJT_CD = item.PJT_CD;
	                		       console.log(PJT_CD+'일정계획 입력할 프로젝트');
	                		        $.ajax({
	                		            url:'/project/projectYesanSangseWorkStepView',
	                		            type:'GET',
	                		            data:{PJT_CD:PJT_CD},
	                		            success:function(data){
	                		            	location.href="/project/projectYesanSangseWorkStepView?PJT_CD="+PJT_CD;
	                		    			console.log(data);
	                		            }
	                		        });
	                		    });  */   	                			
    	                			
    	                //소요기간 소계
		                needTermTotal = needTermTotal + parseInt(item.NEED_TERM); 
    	                month = parseInt(needTermTotal/25);		
    	                day = needTermTotal % 25;
    	            }); 
	                console.log(needTermTotal+'소요기간');
	                $('#needTermTotal').empty();
	                $('#needTermTotal').append(month+'개월'+day+'일');	                
	            }
			});	
			
		};	
		
		//엔터키 방지 start
    	$(document).keypress((e)=>{
    		if (e.keyCode == 13){
    			e.preventDefault();
    		}
    	});				
		//엔터키 방지 end
		
		$(document).ready(()=>{
		    // 검색목록(프로젝트예산 입력을 위한 용역계약서 리스트)
		    $('#list_btn').click(()=>{	//list_btn를 클릭하면
				// 필드로 입력받은 값들을 변수에 저장
				let CONTRACT_DATE_INPUT = $('#CONTRACT_DATE_INPUT').val();
		    	let DEPT_CD = $('#DEPT_CD').val();
		    	let PJT_CD = $('#PJT_CD').val();
		    	let radioValue = $('.pjtRadio:checked').val();
		    	console.log(CONTRACT_DATE_INPUT);	
		    	console.log(DEPT_CD);
				console.log(PJT_CD);
				console.log(radioValue);
		    	$.ajax({
		            url:'/project/projectYesanView',	//url을 요청하고
		            type:'POST',	//검색조건을 담아서 post 방식으로 보낸다
		        	data:{CONTRACT_DATE_INPUT:CONTRACT_DATE_INPUT, DEPT_CD:DEPT_CD, PJT_CD:PJT_CD, radioValue:radioValue},	//넘길 데이터
		            success:(data)=>{	//받은 데이터
		            	console.log(data);
		                $('#list').empty();	//리스트를 비우고	               
		                $(data).each((index,item)=>{
		                    $('#list').append('<tr onclick="mscall('+item.PJT_CD+')"><td style="background-color:#fff9df">'+item.PJT_CD+'</td><td>'+item.PJT_NM+'</td></tr>');               
		                });
		                
		                //리스트의 길이
		                $('#listLength').empty();
		                $('#listLength').append(data.length);
		        	}
		    	});			    	
		    });			    
		});
		</script>
</th:block>

<th:block layout:fragment="customBody">
	<font color="black"> 
	
	<!-- 목차 상단에 추가 -->
		<div class="col-md-12 col-xs-12">
			<div class="page-title">
				<div class="title_left">
					<h2>
						<b>프로젝트예산 입력</b>
					</h2>
					<h5>
						<font color="gray"><b>2. 계약프로젝트 관리&nbsp;&gt; 2.2 프로젝트예산 관리&nbsp;&gt; 2.2.1 프로젝트예산 입력&nbsp;&nbsp;</b></font>
					</h5>
				</div>
			</div>
			<div class="x_content" style="text-align: right">
				<div class="btn-group">
					<button class="btn btn-default" type="reset" id="list_btn">조회 </button>
					<button class="btn btn-default" type="reset">입력</button>
					<button class="btn btn-default" type="button">수정</button>
					<button class="btn btn-default" type="button">삭제</button>
					<button class="btn btn-default" type="button">저장</button>
					<button class="btn btn-default" type="button">출력</button>
				</div>
			</div>
		</div> 
		<!-- 목차 상단에 추가 end --> 
		
		<!-- 검색부분 start -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<label for="ex3">검색조건</label><br>
					<table>
						<tr>
							<td>년도</td>
							<td><input type="number" id="CONTRACT_DATE_INPUT" placeholder="____" value=""></td>
						</tr>
						<tr>
							<td>부서</td>
							<td>
								<select id="DEPT_CD">
										<option value="">전 사</option>
										<option value="1100">감사</option>
										<option value="3000">설계부문</option>
										<option value="3100">설계1본부</option>
										<option value="3101">설계1본부-남석우</option>
										<option value="3102">설계1본부-김광식</option>
										<option value="3103">설계1본부-박상현</option>
										<option value="3104">설계1본부-전창국</option>
										<option value="3105">설계1본부-김승국</option>
										<option value="3200">설계2본부</option>
										<option value="3201">설계2본부-장홍만</option>
										<option value="3202">설계2본부-장미진</option>
										<option value="3203">설계2본부-김재원</option>
										<option value="3204">설계2본부-우상훈</option>
										<option value="3205">설계2본부-윤호진</option>
										<option value="3300">PD전략부</option>
										<option value="3400">설계지원</option>
										<option value="5000">건설사업관리</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>코드명</td>
							<td><input type="number" placeholder="코드 5자리를 입력해 주세요." id="PJT_CD"></td>
						</tr>
						<table>
							<tr>
								<td><input type="radio" class="pjtRadio" name="pjtRadio" value="2">계약</td>
								<td><input type="radio" class="pjtRadio" name="pjtRadio" value="3">미승인</td>
								<td><input type="radio" class="pjtRadio" name="pjtRadio" value="4">승인</td>
								<td><input type="radio" class="pjtRadio" name="pjtRadio" value="5">종료</td>
								<td><input type="radio" class="pjtRadio" name="pjtRadio" value="" checked="checked">ALL</td>
							</tr>
						</table>
					</table>
					
					<!-- 검색부분 end -->
					<div class="x_title"></div>

					<!-- 결과부분 start -->
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th width="30%">PJT코드</th>
								<th>프로젝트명</th>
							</tr>
						</thead>
						<tbody id="list">
						</tbody>
						<tr>
							<td colspan="2" style="text-align: right"><span id="listLength"></span></td>
						</tr>
					</table>
					<!-- 결과부분 end -->
					
					<div class="x_title"></div>
				</div>
			</div>
		</div>

		<div class="col-md-9 col-sm-9 col-xs-12">
			<div class="x_panel">
				<div class="x_content">

					<!-- 프로젝트 개요 start -->
					<div class="col-md-10 col-sm-3 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2>
									프로젝트 개요 <small>Project Overview</small>
								</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i class="fa fa-chevron-up"></i>숨기기</a></li>
								</ul>
								<div class="clearfix"></div>
							</div>

							<div class="x_content">
								<table class="table table-bordered">
									<tr>
										<th>프로젝트</th>
										<td id="PJT_CD2"></td>
										<td id="PJT_NM2"></td>
										<th>출력횟수</th>
										<td id="PRINT_CNT"></td>
										<th colspan="2" id="PJT_YEA_YN"></th>
									</tr>
									<tr>
										<th>건축물유형</th>
										<td id="BUILD_NM"></td>
										<th>수행부서</th>
										<td colspan="4" id="DEPT_NM"></td>
									</tr>
									<tr>
										<th>계약일자</th>
										<td id="CONTRACT_DATE"></td>
										<th>계약서등록일</th>
										<td id="CRT_DATE"></td>
										<th>PM</th>
										<td id="PM_EMP_NO"></td>
										<td colspan="3" id="KOR_NM"></td>
									</tr>
									<tr>
										<th>계약기간</th>
										<td colspan="2" id="FROM_TO"></td>
										<td colspan="4" id="PJT_E_GBN"></td>
									</tr>
									<tr>
										<th>당사계약금액</th>
										<td colspan="6" id="TOT_CONTRACT_AMT"></td>
									</tr>
									<tr>
										<th>대지위치</th>
										<td id="ZIP_CD"></td>
										<td colspan="5" id="PJT_ADDR"></td>
									</tr>
									<tr>
										<th>대지면적</th>
										<td id="G_AREA_M"></td>
										<td id="G_AREA_P"></td>
										<th>연면적</th>
										<td id="G_YAREA_M"></td>
										<td colspan="2" id="G_YAREA_P"></td>
									</tr>
								</table>

							</div>
						</div>
					</div>

					<div class="col-md-2 col-sm-3 col-xs-12">
						<div class="x_panel">
							<div class="x_title"></div>

							<div class="x_content">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>발주처</th>
										</tr>
									</thead>
									<tbody id="CUST_NM">
									</tbody>
								</table>

							</div>
						</div>
					</div>
					<!-- 프로젝트 개요 end -->

					<!-- 프로젝트 예산 입력 start -->
					<div class="col-md-12 col-sm-6 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<div class="" role="tabpanel" data-example-id="togglable-tabs">
									<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
										<li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab"
											data-toggle="tab" aria-expanded="true">일정계획</a></li>
										<li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab"
											aria-expanded="false">M/H계획</a></li>
										<li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab"
											aria-expanded="false">제조경비I</a></li>
										<li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab"
											aria-expanded="false">제조경비II</a></li>
										<li role="presentation" class=""><a href="#tab_content5" role="tab" id="profile-tab4" data-toggle="tab"
											aria-expanded="false">기성단계</a></li>
										<li role="presentation" class=""><a href="#tab_content6" role="tab" id="profile-tab5" data-toggle="tab"
											aria-expanded="false">추정손익계산서</a></li>
									</ul>

									<div id="myTabContent" class="tab-content">
										<!-- 일정계획 start -->
											<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
												<p>
												<div class="col-md-12 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<ul class="nav navbar-right panel_toolbox">	
																<div class="x_content" style="text-align: right"><button class="btn" id="insertWorkStep">일정계획 입력</button></div>															
															</ul>
															<div class="clearfix"></div>
														</div>
										
														<div class="x_content">
															<table class="table table-bordered table-hover">
																<thead>
																	<tr>
																		<th>단계</th>
																		<th>변경</th>
																		<th>착수일</th>
																		<th>완료예정일</th>
																		<th>소요기간(Day)</th>
																		<th>종료일</th>
																		<th>사유입력</th>
																	</tr>
																</thead>
																<tbody id="workStep">															
																</tbody>																
																	<tr><th>소계</th><td></td><td></td><td></td><th id="needTermTotal"></th><td></td><td></td></tr>
															</table>
															
															<!-- 프로젝트일정로그 MODAL START -->
															<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;" id="workStepLogList">
																<div class="modal-dialog modal-lg">
																	<div class="modal-content">
																		<form class="form-horizontal">
																			<div class="modal-header">
																				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span>
																				</button>
																				<h4 class="modal-title" id="myModalLabel"><b>프로젝트 일정 로그</b></h4><br>
																			</div>
																			<div class="modal-body">
																				<div class="table-responsive" style="overflow: auto; height: 400px;">
																					<table class="table table-bordered table-hover jambo_table">
																						<thead>
																							<tr>
																								<th>단계</th>
																								<th>변경횟수</th>
																								<th>완료예정일</th>
																								<th>변경일자</th>
																								<th>변경사유</th>
																							</tr>
																						</thead>
																						<tbody id="workStepLogListDetail">																		
																						</tbody>																																	
																					</table>
																				</div>
																			</div>
																		</form>
																	</div>
																</div>
															</div>
															<!-- 프로젝트일정로그 MODAL END -->
																															
														</div>										
													</div>
												</div>
										</div>
										<!-- 일정계획 end -->

										<!-- M/H계획 start -->
										<div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
											<div class="x_title">
												<ul class="nav navbar-right panel_toolbox">
													<div class="x_content" style="text-align: right"><button class="btn" data-toggle="modal" data-target=".bs-example-modal-lg1">M/H계획 입력</button></div>
												</ul>
												<div class="clearfix"></div>
											</div>
											<table class="table table-bordered table-hover">
												<tr>
													<th rowspan="12">주관부서</th>
													<th scope="col" width="50">직급</th>
													<th>인원</th>
													<th>A. 기획</th>
													<th>B. 심의</th>
													<th>C. 허가</th>
													<th>D. 착공</th>
													<th>E. 실시</th>
													<th>F. A/S</th>
													<th>G. 준공</th>
													<th width="50">합계</th>
												</tr>
												<tr>
													<td scope="row">전무</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">상무</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">이사</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">실장</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">팀장</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">대리</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">사원</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">소계</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</table>


											<table class="table table-bordered table-hover">
												<tr>
													<th rowspan="12">지원부서</th>
													<th scope="col" width="50">직급</th>
													<th>인원</th>
													<th>A. 기획</th>
													<th>B. 심의</th>
													<th>C. 허가</th>
													<th>D. 착공</th>
													<th>E. 실시</th>
													<th>F. A/S</th>
													<th>G. 준공</th>
													<th width="50">합계</th>
												</tr>
												<tr>
													<td scope="row">전무</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">상무</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">이사</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">실장</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">팀장</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">대리</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">사원</td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td><input type="text" class="form-control"></td>
													<td></td>
												</tr>
												<tr>
													<td scope="row">소계</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</table>
										</div>
										<!-- M/H계획 end -->

										<!-- 제조경비1 start -->
										<div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
											<p>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<ul class="nav navbar-right panel_toolbox">
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">

														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>계정과목</th>
																	<th>금액</th>
																	<th>%</th>
																	<th width="20">비고</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<th>프로젝트</th>
																	<td>(프로젝트번호)</td>
																	<td><input type="text"></td>
																	<td width="20"></td>
																</tr>
															</tbody>
														</table>

													</div>
												</div>
											</div>

											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<ul class="nav navbar-right panel_toolbox">	
															<div class="x_content" style="text-align: right"><button class="btn" data-toggle="modal" data-target=".bs-example-modal-lg1">제조경비I 입력</button></div>
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">

														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>계정과목</th>
																	<th>금액</th>
																	<th>%</th>
																	<th width="20">비고</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>국내출장비</td>
																	<td><input type="text"></td>
																	<td>0.00</td>
																	<td width="20"><input type="text"></td>
																</tr>
																<tr>
																	<td>국외출장비</td>
																	<td><input type="text"></td>
																	<td>0.00</td>
																	<td><input type="text"></td>
																</tr>
																<tr>
																	<td>보증보험료</td>
																	<td><input type="text"></td>
																	<td>0.00</td>
																	<td><input type="text"></td>
																</tr>
																<tr>
																	<td>합사운영비</td>
																	<td><input type="text"></td>
																	<td>0.00</td>
																	<td><input type="text"></td>
																</tr>
																<tr>
																	<td>인쇄비</td>
																	<td><input type="text"></td>
																	<td>0.00</td>
																	<td><input type="text"></td>
																</tr>
																<tr>
																	<td>지급수수료</td>
																	<td><input type="text"></td>
																	<td>0.00</td>
																	<td><input type="text"></td>
																</tr>
																<tr>
																	<td>모형비</td>
																	<td><input type="text"></td>
																	<td>0.00</td>
																	<td><input type="text"></td>
																</tr>
																<tr>
																	<td>조감도</td>
																	<td><input type="text"></td>
																	<td>0.00</td>
																	<td><input type="text"></td>
																</tr>
																<tr>
																	<td>국내출장비</td>
																	<td><input type="text"></td>
																	<td>0.00</td>
																	<td><input type="text"></td>
																</tr>
															</tbody>
														</table>

													</div>
												</div>
											</div>

											<div class="clearfix"></div>
										</div>
										<!-- 제조경비1 end -->

										<!-- 제조경비2 start -->
										<div role="tabpanel" class="tab-pane fade" id="tab_content4"
											aria-labelledby="profile-tab">
											<p>
											<div class="col-md-12 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<ul class="nav navbar-right panel_toolbox">
															<div class="x_content" style="text-align: right"><button class="btn" data-toggle="modal" data-target=".bs-example-modal-lg1">제조경비II 입력</button></div>
														</ul>
														<div class="clearfix"></div>
													</div>

													<div class="x_content">
														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>계정과목</th>
																	<th>금액</th>
																	<th>%</th>
																	<th>거래처</th>
																	<th>실행예산</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td scope="row">프로젝트</td>
																	<td><input type="text"></td>
																	<td>0.00</td>
																	<td></td>
																	<td></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											</p>
										</div>
										<!-- 제조경비2 end -->

										<!-- 기성단계 start -->
										<div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="profile-tab">
											<p>
											<div class="col-md-12 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<h2>
															기성단계 <small></small>
														</h2>
														<ul class="nav navbar-right panel_toolbox">
															<li><a class="collapse-link"><i
																	class="fa fa-chevron-up"></i>숨기기</a></li>
														</ul>
														<div class="clearfix"></div>
													</div>

													<div class="x_content">
														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>기성단계</th>
																	<th>단계등급</th>
																	<th>금액</th>
																	<th>수금율(%)</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>계약체결시</td>
																	<td>기획</td>
																	<td>385,000,000</td>
																	<td>50.00</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											</p>
										</div>
										<!-- 기성단계 end -->

										<!-- 추정손익계산서 start -->
										<div role="tabpanel" class="tab-pane fade" id="tab_content6" aria-labelledby="profile-tab">
											<p>
											<div class="col-md-7 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<h2>
															합계내역 <small></small>
														</h2>
														<ul class="nav navbar-right panel_toolbox">
															<li><a class="collapse-link"><i
																	class="fa fa-chevron-up"></i>숨기기</a></li>
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">

														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th colspan="2">과목</th>
																	<th>금액</th>
																	<th>%</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td colspan="2">매출액</td>
																	<td>770,000,000</td>
																	<td>100.0</td>
																</tr>
																<tr>
																	<td rowspan="4">자체비용
																	<td>인 건비</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>제조경비1</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>제조경비2</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>소계</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td rowspan="5">배부비용</td>
																	<td>공통비1</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>간접비</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>공통비2</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>관리부문비</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>소계</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td colspan="2">비용합계</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td colspan="2">영업이익</td>
																	<td>770,000,000</td>
																	<td>100</td>
																</tr>
																<tr>
																	<td rowspan="5">사업성검토</td>
																	<td>인건비</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>제조경비1</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>공통비2</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>관리부문비</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>소계</td>
																	<td>0</td>
																	<td>0</td>
																</tr>


															</tbody>
														</table>

													</div>
												</div>
											</div>


											<div class="col-md-5 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<h2>
															간접비 <small></small>
														</h2>
														<ul class="nav navbar-right panel_toolbox">
															<li><a class="collapse-link"><i	class="fa fa-chevron-up"></i>숨기기</a></li>
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">

														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>항목</th>
																	<th>배부금액</th>
																	<th>배부율</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>빌딩</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>통신</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>전산</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>합계</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
															</tbody>
														</table>

													</div>
												</div>
											</div>

											<div class="col-md-5 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<h2>
															공통비1 <small></small>
														</h2>
														<ul class="nav navbar-right panel_toolbox">
															<li><a class="collapse-link"><i
																	class="fa fa-chevron-up"></i>숨기기</a></li>
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">

														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>항목</th>
																	<th>배부금액</th>
																	<th>배부율</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>부문장</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>본부장</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>지원부서</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>기타</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
																<tr>
																	<td>합계</td>
																	<td>0</td>
																	<td>0</td>
																</tr>
															</tbody>
														</table>

													</div>
												</div>
											</div>

											<div class="clearfix"></div>
										</div>

									</div>

								</div>
								<!-- 프로젝트 예산 입력 end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</font>
</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>

</html>