<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>프로젝트 예산 승인(승인 취소)</title>
	<th:block th:include="layout/customHead"></th:block>

	<!-- jquery 추가 -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script>
		
		//변경횟수(UPD_COUNT)가 2이상인 경우 프로젝트 일정 변경 로그를 조회할 수 있는 모달화면을 보여준다	
		function workStepLog(UPD_COUNT, PJT_CD, WORK_STEP){
			console.log(UPD_COUNT+'변경횟수');
			console.log(PJT_CD+'프로젝트코드');
			console.log(WORK_STEP+'단계');
			if(UPD_COUNT>1){
				$.ajax({
		            url:'/project/projectYesanViewWorkStepLog',	//url을 요청하고
		            type:'POST',	//검색조건을 담아서 post 방식으로 보낸다
		        	data:{PJT_CD:PJT_CD, WORK_STEP:WORK_STEP},	//넘길 데이터
		            success:(data)=>{
		            	console.log(data);
		            	//일정계획 변경 로그 (모달화면 띄우기)
		            	$('#workStepLogList').modal('show');
		            	$('#workStepLogListDetail').empty();
		            	$(data).each((index,item)=>{  	
	    	                $('#workStepLogListDetail').append('<tr><td>'+item.WORK_STEP_NM+'</td><td>'	//단계
	    	                		+item.PJT_SEQ+'</td><td>'		//변경차수
	    	                		+item.PLAN_END_DAY1+'</td><td>'	//완료예정일
	    	                		+item.PLAN_END_DAY2+'</td><td>'	//변경일자
	    	                		+item.RMK+'</td></tr>');	//사유
	   	                });		            			            	
		            }
				});	
			}	
		}
	
		//프로젝트코드를 입력받아 프로젝트 개요를 보여준다		    
	    function mscall(PJT_CD){
			console.log('mscall실행'+PJT_CD);
			
			$.ajax({
	            url:'/project/projectYesanViewOne',	//url을 요청하고
	            type:'POST',	//검색조건을 담아서 post 방식으로 보낸다
	        	data:{PJT_CD:PJT_CD},	//넘길 데이터
	            success:(data)=>{
	            	console.log(data);
	            	//프로젝트 개요
	            	$('#PJT_CD2').empty();
	                $('#PJT_CD2').append('('+data.projectYesanSangse.PJT_CD+')');	//프로젝트코드
	            	$('#PJT_NM2').empty();	                
	                $('#PJT_NM2').append(data.projectYesanSangse.PJT_NM);	//프로젝트명	
	                $('#PRINT_CNT').empty();	                
	                $('#PRINT_CNT').append(data.projectYesanSangse.PRINT_CNT);	//출력횟수 
	                $('#PJT_YEA_YN').empty();	                
	                $('#PJT_YEA_YN').append(data.projectYesanSangse.PJT_YEA_YN);	//승인여부
	                $('#BUILD_NM').empty();
	                $('#BUILD_NM').append(data.projectYesanSangse.BUILD_NM);	//건축물 유형	
	                $('#DEPT_NM').empty();
	                $('#DEPT_NM').append(data.projectYesanSangse.DEPT_NM);	//부서명	
	                $('#CONTRACT_DATE').empty();
	                $('#CONTRACT_DATE').append(data.projectYesanSangse.CONTRACT_DATE);	//계약일	
	                $('#CRT_DATE').empty();
	                $('#CRT_DATE').append('('+data.projectYesanSangse.CRT_DATE+')');	//계약서 등록일
	                $('#PM_EMP_NO').empty();
	                $('#PM_EMP_NO').append(data.projectYesanSangse.PM_EMP_NO);	//담당자 사원번호
	                $('#KOR_NM').empty();
	                $('#KOR_NM').append(data.projectYesanSangse.KOR_NM);	//사원명
	                $('#FROM_TO').empty();
	                $('#FROM_TO').append(data.projectYesanSangse.FROM_TO);	//계약 기간
	                $('#PJT_E_GBN').empty();
	                $('#PJT_E_GBN').append(','+data.projectYesanSangse.PJT_E_GBN+'까지');	//프로젝트 계약 종료 구분 시점
	                $('#TOT_CONTRACT_AMT').empty();
	                $('#TOT_CONTRACT_AMT').append(data.projectYesanSangse.TOT_CONTRACT_AMT+'원');		//프로젝트총계약액
	                $('#ZIP_CD').empty();
	                $('#ZIP_CD').append('('+data.projectYesanSangse.ZIP_CD+')');		//우편번호
	                $('#PJT_ADDR').empty();
	                $('#PJT_ADDR').append(data.projectYesanSangse.PJT_ADDR);	//주소
	                $('#G_AREA_M').empty();
	                $('#G_AREA_M').append(data.projectYesanSangse.G_AREA_M+'m²');	//계약면적_M
	                $('#G_AREA_P').empty();
	                $('#G_AREA_P').append(data.projectYesanSangse.G_AREA_P+'평');	//계약면적_평	
	                $('#G_YAREA_M').empty();
	                $('#G_YAREA_M').append(data.projectYesanSangse.G_YAREA_M+'m²');	//계약연면적_M
	                $('#G_YAREA_P').empty();
	                $('#G_YAREA_P').append(data.projectYesanSangse.G_YAREA_P+'평');	//계약연면적_평	

	                //발주처
                	$('#CUST_NM').empty();	//발주처 삭제
    	            $(data.projectYesanSangseCustNm).each((index,item)=>{  	
    	                $('#CUST_NM').append('<tr><td>'+item.CUST_NM+'</td></tr>');	//발주처명	
   	                });
	                
	                //일정계획
	                let needTermTotal = null;	//소요시간 변수초기화
                	$('#workStep').empty();	//일정계획 삭제
    	            $(data.projectYesanSangseWorkStep).each((index,item)=>{		//일정계획
    	            	//클릭하면 변경횟수(UPD_COUNT)가 2이상인 경우 프로젝트 일정 변경 로그를 조회할 수 있는 모달 화면으로
    	                $('#workStep').append('<tr><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39;'+item.WORK_STEP+'&#39;)">'+item.WORK_STEP_NM		//일정계획 단계 한글로
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39;'+item.WORK_STEP+'&#39;)">'+item.UPD_COUNT		//변경횟수
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39;'+item.WORK_STEP+'&#39;)">'+item.START_DAY		//착수일
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39;'+item.WORK_STEP+'&#39;)">'+item.PLAN_END_DAY		//완료예정일
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39;'+item.WORK_STEP+'&#39;)">'+item.NEED_TERM		//소요기간
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39;'+item.WORK_STEP+'&#39;)">'+item.REAL_END_DAY		//종료일
    	                			+'</td><td onclick="workStepLog('+item.UPD_COUNT+','+item.PJT_CD+',&#39;'+item.WORK_STEP+'&#39;)">'+item.RMK+'</td></tr>');	//사유입력
		                //소요기간 소계
		                needTermTotal = needTermTotal + parseInt(item.NEED_TERM); 
    	                month = parseInt(needTermTotal/25);		
    	                day = needTermTotal % 25;
    	            }); 
	                console.log(needTermTotal+'소요기간');
	                $('#needTermTotal').empty();
	                $('#needTermTotal').append(month+'개월'+day+'일');
	                
	                //MH계획
	                //주관부서
	                let INWON_1_TOTAL = null;	//주관부서 인원합계를 구하기 위한 변수초기화
	                let PLAN_A_1_TOTAL = null;	//주관부서 기획합계를 구하기 위한 변수초기화
	                let PLAN_B_1_TOTAL = null;	//주관부서 심의합계를 구하기 위한 변수초기화
	                let PLAN_C_1_TOTAL = null;	//주관부서 허가합계를 구하기 위한 변수초기화
	                let PLAN_D_1_TOTAL = null;	//주관부서 착공합계를 구하기 위한 변수초기화
	                let PLAN_E_1_TOTAL = null;	//주관부서 실시합계를 구하기 위한 변수초기화
	                let PLAN_F_1_TOTAL = null;	//주관부서 A/S합계를 구하기 위한 변수초기화
	                let PLAN_G_1_TOTAL = null;	//주관부서 준공합계를 구하기 위한 변수초기화
	                let TOT_MD_1_TOTAL = null;	//주관부서 합계소계를 구하기 위한 변수초기화
					//지원부서
	                let INWON_2_TOTAL = null;	//지원부서 인원합계를 구하기 위한 변수초기화
	                let PLAN_A_2_TOTAL = null;	//지원부서 기획합계를 구하기 위한 변수초기화
	                let PLAN_B_2_TOTAL = null;	//지원부서 심의합계를 구하기 위한 변수초기화
	                let PLAN_C_2_TOTAL = null;	//지원부서 허가합계를 구하기 위한 변수초기화
	                let PLAN_D_2_TOTAL = null;	//지원부서 착공합계를 구하기 위한 변수초기화
	                let PLAN_E_2_TOTAL = null;	//지원부서 실시합계를 구하기 위한 변수초기화
	                let PLAN_F_2_TOTAL = null;	//지원부서 A/S합계를 구하기 위한 변수초기화
	                let PLAN_G_2_TOTAL = null;	//지원부서 준공합계를 구하기 위한 변수초기화
	                let TOT_MD_2_TOTAL = null;	//지원부서 합계소계를 구하기 위한 변수초기화
	                $('#MHcompetent').empty();	//데이터 넣기 전 비우기
	                $('#MHsupport').empty();	//데이터 넣기 전 비우기
    	            $(data.projectYesanSangseMH).each((index,item)=>{		//MH계획
    	            	$('#MHcompetent').append('<tr><td></td><td>'+item.LEVEL2_NM+'</td><td>'+item.INWON_1+'</td><td>'
    	            			+item.PLAN_A_1+'</td><td>'+item.PLAN_B_1+'</td><td>'+item.PLAN_C_1+'</td><td>'+item.PLAN_D_1+'</td><td>'
    	            			+item.PLAN_E_1+'</td><td>'+item.PLAN_F_1+'</td><td>'+item.PLAN_G_1+'</td><td>'+item.TOT_MD_1+'</td><tr>');	//주관부서
    	    	        $('#MHsupport').append('<tr><td></td><td>'+item.LEVEL2_NM+'</td><td>'+item.INWON_2+'</td><td>'
    	            			+item.PLAN_A_2+'</td><td>'+item.PLAN_B_2+'</td><td>'+item.PLAN_C_2+'</td><td>'+item.PLAN_D_2+'</td><td>'
    	            			+item.PLAN_E_2+'</td><td>'+item.PLAN_F_2+'</td><td>'+item.PLAN_G_2+'</td><td>'+item.TOT_MD_2+'</td></tr>');	//지원부서
		                //주관부서 소계
		                INWON_1_TOTAL = INWON_1_TOTAL + parseInt(item.INWON_1);
		                PLAN_A_1_TOTAL = PLAN_A_1_TOTAL + parseInt(item.PLAN_A_1);
		                PLAN_B_1_TOTAL = PLAN_B_1_TOTAL + parseInt(item.PLAN_B_1);
		                PLAN_C_1_TOTAL = PLAN_C_1_TOTAL + parseInt(item.PLAN_C_1);
		                PLAN_D_1_TOTAL = PLAN_D_1_TOTAL + parseInt(item.PLAN_D_1);
		                PLAN_E_1_TOTAL = PLAN_E_1_TOTAL + parseInt(item.PLAN_E_1);
		                PLAN_F_1_TOTAL = PLAN_F_1_TOTAL + parseInt(item.PLAN_F_1);
		                PLAN_G_1_TOTAL = PLAN_G_1_TOTAL + parseInt(item.PLAN_G_1);
		                TOT_MD_1_TOTAL = TOT_MD_1_TOTAL + parseInt(item.TOT_MD_1);		                
		                //지원부서 소계
		                INWON_2_TOTAL = INWON_2_TOTAL + parseInt(item.INWON_2);
		                PLAN_A_2_TOTAL = PLAN_A_2_TOTAL + parseInt(item.PLAN_A_2);
		                PLAN_B_2_TOTAL = PLAN_B_2_TOTAL + parseInt(item.PLAN_B_2);
		                PLAN_C_2_TOTAL = PLAN_C_2_TOTAL + parseInt(item.PLAN_C_2);
		                PLAN_D_2_TOTAL = PLAN_D_2_TOTAL + parseInt(item.PLAN_D_2);
		                PLAN_E_2_TOTAL = PLAN_E_2_TOTAL + parseInt(item.PLAN_E_2);
		                PLAN_F_2_TOTAL = PLAN_F_2_TOTAL + parseInt(item.PLAN_F_2);
		                PLAN_G_2_TOTAL = PLAN_G_2_TOTAL + parseInt(item.PLAN_G_2);
		                TOT_MD_2_TOTAL = TOT_MD_2_TOTAL + parseInt(item.TOT_MD_2);		                
    	            });
	                //주관부서 소계
	                $('#INWON_1_TOTAL').empty();
	                $('#INWON_1_TOTAL').append(INWON_1_TOTAL);
	                $('#PLAN_A_1_TOTAL').empty();
	                $('#PLAN_A_1_TOTAL').append(PLAN_A_1_TOTAL);
	                $('#PLAN_B_1_TOTAL').empty();
	                $('#PLAN_B_1_TOTAL').append(PLAN_B_1_TOTAL);
	                $('#PLAN_C_1_TOTAL').empty();
	                $('#PLAN_C_1_TOTAL').append(PLAN_C_1_TOTAL);
	                $('#PLAN_D_1_TOTAL').empty();
	                $('#PLAN_D_1_TOTAL').append(PLAN_D_1_TOTAL);
	                $('#PLAN_E_1_TOTAL').empty();
	                $('#PLAN_E_1_TOTAL').append(PLAN_E_1_TOTAL);
	                $('#PLAN_F_1_TOTAL').empty();
	                $('#PLAN_F_1_TOTAL').append(PLAN_F_1_TOTAL);
	                $('#PLAN_G_1_TOTAL').empty();
	                $('#PLAN_G_1_TOTAL').append(PLAN_G_1_TOTAL);
	                $('#TOT_MD_1_TOTAL').empty();
	                $('#TOT_MD_1_TOTAL').append(TOT_MD_1_TOTAL);
	                //지원부서
	                $('#INWON_2_TOTAL').empty();
	                $('#INWON_2_TOTAL').append(INWON_2_TOTAL);
	                $('#PLAN_A_2_TOTAL').empty();
	                $('#PLAN_A_2_TOTAL').append(PLAN_A_2_TOTAL);
	                $('#PLAN_B_2_TOTAL').empty();
	                $('#PLAN_B_2_TOTAL').append(PLAN_B_2_TOTAL);
	                $('#PLAN_C_2_TOTAL').empty();
	                $('#PLAN_C_2_TOTAL').append(PLAN_C_2_TOTAL);
	                $('#PLAN_D_2_TOTAL').empty();
	                $('#PLAN_D_2_TOTAL').append(PLAN_D_2_TOTAL);
	                $('#PLAN_E_2_TOTAL').empty();
	                $('#PLAN_E_2_TOTAL').append(PLAN_E_2_TOTAL);
	                $('#PLAN_F_2_TOTAL').empty();
	                $('#PLAN_F_2_TOTAL').append(PLAN_F_2_TOTAL);
	                $('#PLAN_G_2_TOTAL').empty();
	                $('#PLAN_G_2_TOTAL').append(PLAN_G_2_TOTAL);
	                $('#TOT_MD_2_TOTAL').empty();
	                $('#TOT_MD_2_TOTAL').append(TOT_MD_2_TOTAL);
	                
	                //MH계획 인건비와 점유율 소계
	                $('#INGUN_AMT').empty(); 	
    	            $('#INGUN_AMT').append('인건비소계: '+data.projectYesanSangseMHTotal.INGUN_AMT+'원');	
	                $('#JUMYU').empty(); 	
	                JUMYU = data.projectYesanSangseMHTotal.JUMYU*100;
    	            $('#JUMYU').append('점유율: ('+JUMYU+'%)');       	          	           
    	            
    	            
    	            
    	            let COST_AMT_TOT_R = null;	//제조경비1 오른쪽 소계 변수 초기화
    	            let COST_RATE_TOT_R = null;
    	            //제조경비1 오른쪽 
    	            $('#jejo1Right').empty();
    	            $(data.projectYesanSangseJejo1R).each((index,item)=>{		
    	            	$('#jejo1Right').append('<tr><td>'+item.COST_NM+'</td><td>'	//계정과목
    	            			+item.COST_AMT+'</td><td>'	//금액
    	            			+item.COST_RATE+'</td><td>'	//비율
    	            			+item.OUTPUT_GROUND+'</td><tr>');	//비고
    	            	COST_AMT_TOT_R = COST_AMT_TOT_R + item.COST_AMT;
    	            	COST_RATE_TOT_R = COST_RATE_TOT_R + item.COST_RATE;	
    	            });
    	            //소계
	                $('#COST_AMT_TOT_R').empty(); 	
    	            $('#COST_AMT_TOT_R').append(COST_AMT_TOT_R);
	                $('#COST_RATE_TOT_R').empty(); 	
    	            $('#COST_RATE_TOT_R').append(COST_RATE_TOT_R.toFixed(2));
    	            
    	            let COST_AMT_TOT_L = null;	//제조경비1 오른쪽 소계 변수 초기화
    	            let COST_RATE_TOT_L = null;    	            
    	            //제조경비1 왼쪽 
    	            $('#jejo1Left').empty();
    	            $(data.projectYesanSangseJejo1L).each((index,item)=>{		
    	            	$('#jejo1Left').append('<tr><td>'+item.COST_NM+'</td><td>'	//계정과목
    	            			+item.COST_AMT+'</td><td>'	//금액
    	            			+item.COST_RATE+'</td><td>'	//비율
    	            			+item.OUTPUT_GROUND+'</td><tr>');	//비고
    	            	COST_AMT_TOT_L = COST_AMT_TOT_L + item.COST_AMT;
    	            	COST_RATE_TOT_L = COST_RATE_TOT_L + item.COST_RATE; 
    	            });			
    	            //소계
	                $('#COST_AMT_TOT_L').empty(); 	
    	            $('#COST_AMT_TOT_L').append(COST_AMT_TOT_L);
	                $('#COST_RATE_TOT_L').empty(); 	
    	            $('#COST_RATE_TOT_L').append(COST_RATE_TOT_L.toFixed(2));
    	            
    	            
    	            
    	            //제조경비2 
    	            let EX_AMT_TOTAL = null;	//소계를 구하기 위한 변수 초기화
    	            let EX_RATE_TOTAL = null;
    	            let EX_WORK_AMT_TOTAL = null;
	                $('#jejo2').empty(); 	
    	            $(data.projectYesanSangseJejo2).each((index,item)=>{		
    	            	$('#jejo2').append('<tr><td>'+item.SCV_PART_NM+'</td><td>'	//계정과목
    	            			+item.EX_AMT+'</td><td>'	//금액
    	            			+item.EX_RATE+'</td><td>'	//비율
    	            			+item.EXCHANGE_NM+'</td><td>'	//거래처
    	            			+item.EX_WORK_AMT+'</td><tr>');	//실행예산
    	            	EX_AMT_TOTAL = EX_AMT_TOTAL + item.EX_AMT;
    	            	EX_RATE_TOTAL = EX_RATE_TOTAL + item.EX_RATE;
    	            	EX_WORK_AMT_TOTAL = EX_WORK_AMT_TOTAL + item.EX_WORK_AMT;            			
    	            });	
	                $('#EX_AMT_TOTAL').empty(); 	
    	            $('#EX_AMT_TOTAL').append(EX_AMT_TOTAL);
	                $('#EX_RATE_TOTAL').empty(); 	
    	            $('#EX_RATE_TOTAL').append(EX_RATE_TOTAL);
	                $('#EX_WORK_AMT_TOTAL').empty(); 	
    	            $('#EX_WORK_AMT_TOTAL').append(EX_WORK_AMT_TOTAL);
    	            
    	            
    	            
    	            //기성단계
    	            let  RM_AMT_TOTAL= null;	//소계를 구하기 위한 변수 초기화
	                $('#giseongStep').empty(); 	
    	            $(data.projectYesanSangseGiseong).each((index,item)=>{		
    	            	$('#giseongStep').append('<tr><td>'+item.LEVEL2_NM+'</td><td>'	//기성단계
    	            			+item.SALE_STEP_NM+'</td><td>'	//단계등급
    	            			+item.RM_AMT+'</td><td>'	//금액
    	            			+item.RM_RATE+'</td><tr>');	//비율
	            			
  	            	let BILL_COND = item.BILL_COND;		//매출대금회수조건
  	            	console.log(BILL_COND);
  	            	let BILL_DAY = item.BILL_DAY;		//어음일수
  	            	console.log(BILL_DAY);
         			//현금어음 구분
         			$('#BILL').empty();
          			$('#BILL').append('<div>매출대금회수조건: '+BILL_COND+'</div><div> 어음일수: '+BILL_DAY+'</div>');	
    	            	
            			//소계
    	            	RM_AMT_TOTAL = RM_AMT_TOTAL + item.RM_AMT;         			
    	            });	
	                $('#RM_AMT_TOTAL').empty(); 	
    	            $('#RM_AMT_TOTAL').append(RM_AMT_TOTAL);	
    	            
    	            
    	            
    	            //추정손익계산서(사업성검토 제외)		
   	            	$('#TOT_CONTRACT_AMT_SONIK').empty(); 	//매출액
       	            $('#TOT_CONTRACT_AMT_SONIK').append(data.projectYesanSangseSonik.TOT_CONTRACT_AMT);
       	         	$('#TOT_RATE').empty(); 	
    	            $('#TOT_RATE').append(data.projectYesanSangseSonik.TOT_RATE);
       	        	$('#COST_AMT1').empty(); 	//인건비
    	            $('#COST_AMT1').append(data.projectYesanSangseSonik.COST_AMT1);
    	            $('#COST_RATE1').empty(); 	
    	            $('#COST_RATE1').append(data.projectYesanSangseSonik.COST_RATE1);
    	            $('#COST_AMT2').empty(); 	//제조경비1
    	            $('#COST_AMT2').append(data.projectYesanSangseSonik.COST_AMT2);
    	            $('#COST_RATE2').empty(); 	
    	            $('#COST_RATE2').append(data.projectYesanSangseSonik.COST_RATE2);
    	            $('#COST_AMT3').empty(); 	//제조경비2
    	            $('#COST_AMT3').append(data.projectYesanSangseSonik.COST_AMT3);
    	            $('#COST_RATE3').empty(); 	
    	            $('#COST_RATE3').append(data.projectYesanSangseSonik.COST_RATE3);
    	            $('#JACHE_TOT').empty(); 	//자체비용소계
    	            $('#JACHE_TOT').append(data.projectYesanSangseSonik.JACHE_TOT);
    	            $('#JACHE_RATE').empty(); 	
    	            $('#JACHE_RATE').append(data.projectYesanSangseSonik.JACHE_RATE);
    	            $('#DIV_AMT44').empty(); 	//부문장
    	            $('#DIV_AMT44').append(data.projectYesanSangseSonik.DIV_AMT44);
    	            $('#DIV_RATE44').empty(); 	
    	            $('#DIV_RATE44').append(data.projectYesanSangseSonik.DIV_RATE44);
    	            $('#DIV_AMT41').empty(); 	//본부장
    	            $('#DIV_AMT41').append(data.projectYesanSangseSonik.DIV_AMT41);
    	            $('#DIV_RATE41').empty(); 	
    	            $('#DIV_RATE41').append(data.projectYesanSangseSonik.DIV_RATE41);
    	            $('#DIV_AMT43').empty(); 	//지원부서
    	            $('#DIV_AMT43').append(data.projectYesanSangseSonik.DIV_AMT43);
    	            $('#DIV_RATE43').empty(); 	
    	            $('#DIV_RATE43').append(data.projectYesanSangseSonik.DIV_RATE43);
    	            $('#DIV_AMT42').empty(); 	//기타
    	            $('#DIV_AMT42').append(data.projectYesanSangseSonik.DIV_AMT42);
    	            $('#DIV_RATE42').empty(); 	
    	            $('#DIV_RATE42').append(data.projectYesanSangseSonik.DIV_RATE42);
    	            $('.DIV_AMT40').empty(); 	//공통비1소계
    	            $('.DIV_AMT40').append(data.projectYesanSangseSonik.DIV_AMT40);
    	            $('.DIV_RATE40').empty(); 	
    	            $('.DIV_RATE40').append(data.projectYesanSangseSonik.DIV_RATE40);
    	            $('#DIV_AMT11').empty(); 	//빌딩
    	            $('#DIV_AMT11').append(data.projectYesanSangseSonik.DIV_AMT11);
    	            $('#DIV_RATE11').empty(); 	
    	            $('#DIV_RATE11').append(data.projectYesanSangseSonik.DIV_RATE11);
    	            $('#DIV_AMT12').empty(); 	//통신
    	            $('#DIV_AMT12').append(data.projectYesanSangseSonik.DIV_AMT12);
    	            $('#DIV_RATE12').empty(); 	
    	            $('#DIV_RATE12').append(data.projectYesanSangseSonik.DIV_RATE12);
    	            $('#DIV_AMT13').empty(); 	//전산
    	            $('#DIV_AMT13').append(data.projectYesanSangseSonik.DIV_AMT13);
    	            $('#DIV_RATE13').empty(); 	
    	            $('#DIV_RATE13').append(data.projectYesanSangseSonik.DIV_RATE13);
    	            $('.DIV_AMT10').empty(); 	//간접비소계
    	            $('.DIV_AMT10').append(data.projectYesanSangseSonik.DIV_AMT10);
    	            $('.DIV_RATE10').empty(); 	
    	            $('.DIV_RATE10').append(data.projectYesanSangseSonik.DIV_RATE10);
    	            $('#DIV_AMT20').empty(); 	//공통비2
    	            $('#DIV_AMT20').append(data.projectYesanSangseSonik.DIV_AMT20);
    	            $('#DIV_RATE20').empty(); 	
    	            $('#DIV_RATE20').append(data.projectYesanSangseSonik.DIV_RATE20); 
    	            $('#DIV_AMT30').empty(); 	//관리부문비
    	            $('#DIV_AMT30').append(data.projectYesanSangseSonik.DIV_AMT30);
    	            $('#DIV_RATE30').empty(); 	
    	            $('#DIV_RATE30').append(data.projectYesanSangseSonik.DIV_RATE30); 
    	            $('#BAEBU_TOT').empty(); 	//배부비용
    	            $('#BAEBU_TOT').append(data.projectYesanSangseSonik.BAEBU_TOT);
    	            $('#BAEBU_RATE').empty(); 	
    	            $('#BAEBU_RATE').append(data.projectYesanSangseSonik.BAEBU_RATE); 
    	            $('#COST_TOT').empty(); 	//비용합계
    	            $('#COST_TOT').append(data.projectYesanSangseSonik.COST_TOT);
    	            $('#COST_RATE').empty(); 	
    	            $('#COST_RATE').append(data.projectYesanSangseSonik.COST_RATE); 
    	            $('#OPERATING_INCOME').empty(); 	//영업이익
    	            $('#OPERATING_INCOME').append(data.projectYesanSangseSonik.OPERATING_INCOME);
    	            $('#OPERATING_INCOME_RATE').empty(); 	
    	            $('#OPERATING_INCOME_RATE').append(data.projectYesanSangseSonik.OPERATING_INCOME_RATE);  
    	            
    	            //추정손익계산서(사업성검토)
    	            $('#COST_AMT1_BIZ').empty(); 	//인건비
    	            $('#COST_AMT1_BIZ').append(data.projectYesanSangseSonikBiz.COST_AMT1);
    	            $('#COST_RATE1_BIZ').empty(); 	
    	            $('#COST_RATE1_BIZ').append(data.projectYesanSangseSonikBiz.COST_RATE1);
    	            $('#COST_AMT2_BIZ').empty(); 	//제조경비1
    	            $('#COST_AMT2_BIZ').append(data.projectYesanSangseSonikBiz.COST_AMT2);
    	            $('#COST_RATE2_BIZ').empty(); 	
    	            $('#COST_RATE2_BIZ').append(data.projectYesanSangseSonikBiz.COST_RATE2);
    	            $('#COST_AMT3_BIZ').empty(); 	//제조경비2
    	            $('#COST_AMT3_BIZ').append(data.projectYesanSangseSonikBiz.COST_AMT3);
    	            $('#COST_RATE3_BIZ').empty(); 	
    	            $('#COST_RATE3_BIZ').append(data.projectYesanSangseSonikBiz.COST_RATE3);
    	            $('#DIV_AMT').empty(); 	//간접비외
    	            $('#DIV_AMT').append(data.projectYesanSangseSonikBiz.DIV_AMT);
    	            $('#DIV_RATE').empty(); 	
    	            $('#DIV_RATE').append(data.projectYesanSangseSonikBiz.DIV_RATE);
    	            $('#BIZ_TOTAL').empty(); 	//사업성검토소계
    	            $('#BIZ_TOTAL').append(data.projectYesanSangseSonikBiz.BIZ_TOTAL);
    	            $('#BIZ_RATE').empty(); 	
    	            $('#BIZ_RATE').append(data.projectYesanSangseSonikBiz.BIZ_RATE);
    	            
    	            //조정영업이익
    	            $('#adjustedOperatingProfit').empty(); 	
    	            $('#adjustedOperatingProfit').append(data.projectYesanSangseSonik.OPERATING_INCOME-data.projectYesanSangseSonikBiz.BIZ_TOTAL);
    	            $('#adjustedOperatingProfitRate').empty(); 	
    	            $('#adjustedOperatingProfitRate').append((((data.projectYesanSangseSonik.OPERATING_INCOME-data.projectYesanSangseSonikBiz.BIZ_TOTAL)
    	            		/data.projectYesanSangseSonik.TOT_CONTRACT_AMT)*100).toFixed(2));
	            }
			});	
		};	
		
		//엔터키 방지 start
    	$(document).keypress((e)=>{
    		if (e.keyCode == 13){
    			e.preventDefault();
    		}
    	});				
		//엔터키 방지 end
	
		$(document).ready(()=>{
		    // 검색목록(프로젝트예산 입력을 위한 용역계약서 리스트)
		    $('#list_btn').click(()=>{	//list_btn를 클릭하면
				// 필드로 입력받은 값들을 변수에 저장
				let CONTRACT_DATE_INPUT = $('#CONTRACT_DATE_INPUT').val();
		    	let DEPT_CD = $('#DEPT_CD').val();
		    	let PJT_CD = $('#PJT_CD').val();
		    	let radioValue = $('.pjtRadio:checked').val();
		    	console.log(CONTRACT_DATE_INPUT);	
		    	console.log(DEPT_CD);
				console.log(PJT_CD);
				console.log(radioValue);
		    	$.ajax({
		            url:'/project/projectYesanView',	//url을 요청하고
		            type:'POST',	//검색조건을 담아서 post 방식으로 보낸다
		        	data:{CONTRACT_DATE_INPUT:CONTRACT_DATE_INPUT, DEPT_CD:DEPT_CD, PJT_CD:PJT_CD, radioValue:radioValue},	//넘길 데이터
		            success:(data)=>{	//받은 데이터
		            	console.log(data);
		                $('#list').empty();	//리스트를 비우고	               
		                $(data).each((index,item)=>{
		                    $('#list').append('<tr onclick="mscall('+item.PJT_CD+')"><td style="background-color:#fff9df">'+item.PJT_CD+'</td><td>'+item.PJT_NM+'</td></tr>');               
		                });		                
		                //리스트의 길이
		                $('#listLength').empty();
		                $('#listLength').append(data.length);
		        	}
		    	});			    	
		    });			    
		});
		</script>
</th:block>

<th:block layout:fragment="customBody">
	<font color="black"> 
	
	<!-- 목차 상단에 추가 -->
		<div class="col-md-12 col-xs-12">
			<div class="page-title">
				<div class="title_left">
					<h2>
						<b>프로젝트예산 승인</b>
					</h2>
					<h5>
						<font color="gray"><b>2. 계약프로젝트 관리&nbsp;&gt; 2.2. 프로젝트예산 관리&nbsp;&gt; 2.2.2 프로젝트예산 승인&nbsp;&nbsp;</b></font>
					</h5>
				</div>
			</div>
			<div class="x_content" style="text-align: right">
				<div class="btn-group">
					<button class="btn btn-default" type="reset" id="list_btn">조회</button>					
					<button class="btn btn-default" type="reset" disabled="disabled">입력</button>
					<button class="btn btn-default" type="button" disabled="disabled">수정</button>
					<button class="btn btn-default" type="button" disabled="disabled">삭제</button>
					<button class="btn btn-default" type="button">저장</button>
					<button class="btn btn-default" type="button">출력</button>
				</div>
			</div>
		</div> 
		<!-- 목차 상단에 추가 end --> 
		
		<!-- 검색부분 start -->
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<label for="ex3">검색조건</label><br>
					<table>
						<tr>
							<td>년도</td>
							<td><input type="number" id="CONTRACT_DATE_INPUT" placeholder="____" value=""></td>
						</tr>
						<tr>
							<td>부서</td>
							<td>
								<select id="DEPT_CD">
										<option value="">전 사</option>
										<option value="1100">감사</option>
										<option value="3000">설계부문</option>
										<option value="3100">설계1본부</option>
										<option value="3101">설계1본부-남석우</option>
										<option value="3102">설계1본부-김광식</option>
										<option value="3103">설계1본부-박상현</option>
										<option value="3104">설계1본부-전창국</option>
										<option value="3105">설계1본부-김승국</option>
										<option value="3200">설계2본부</option>
										<option value="3201">설계2본부-장홍만</option>
										<option value="3202">설계2본부-장미진</option>
										<option value="3203">설계2본부-김재원</option>
										<option value="3204">설계2본부-우상훈</option>
										<option value="3205">설계2본부-윤호진</option>
										<option value="3300">PD전략부</option>
										<option value="3400">설계지원</option>
										<option value="5000">건설사업관리</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>코드명</td>
							<td><input type="number" placeholder="코드 5자리를 입력해 주세요." id="PJT_CD"></td>
						</tr>
						<table>
							<tr>
								<td><input type="radio" class="pjtRadio" name="pjtRadio" value="2">계약</td>
								<td><input type="radio" class="pjtRadio" name="pjtRadio" value="3">미승인</td>
								<td><input type="radio" class="pjtRadio" name="pjtRadio" value="4">승인</td>
								<td><input type="radio" class="pjtRadio" name="pjtRadio" value="5">종료</td>
								<td><input type="radio" class="pjtRadio" name="pjtRadio" value="" checked="checked">ALL</td>
							</tr>
						</table>
					</table>
					
					<!-- 검색부분 end -->
					<div class="x_title"></div>

					<!-- 결과부분 start -->
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th width="30%">PJT코드</th>
								<th>프로젝트명</th>
							</tr>
						</thead>
						<tbody id="list">
						</tbody>
						<tr>
							<td colspan="2" style="text-align: right"><span id="listLength"></span></td>
						</tr>
					</table>
					<!-- 결과부분 end -->
					
					<div class="x_title"></div>
				</div>
			</div>
		</div>

		<div class="col-md-9 col-sm-9 col-xs-12">
			<div class="x_panel">
				<div class="x_content">

					<!-- 프로젝트 개요 start -->
					<div class="col-md-10 col-sm-3 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2>
									프로젝트 개요 <small>Project Overview</small>
								</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i class="fa fa-chevron-up"></i>숨기기</a></li>
								</ul>
								<div class="clearfix"></div>
							</div>

							<div class="x_content">
								<table class="table table-bordered">
									<tr>
										<th>프로젝트</th>
										<td id="PJT_CD2"></td>
										<td id="PJT_NM2"></td>
										<th>출력횟수</th>
										<td id="PRINT_CNT"></td>
										<th colspan="2" id="PJT_YEA_YN"></th>
									</tr>
									<tr>
										<th>건축물유형</th>
										<td id="BUILD_NM"></td>
										<th>수행부서</th>
										<td colspan="4" id="DEPT_NM"></td>
									</tr>
									<tr>
										<th>계약일자</th>
										<td id="CONTRACT_DATE"></td>
										<th>계약서등록일</th>
										<td id="CRT_DATE"></td>
										<th>PM</th>
										<td id="PM_EMP_NO"></td>
										<td colspan="3" id="KOR_NM"></td>
									</tr>
									<tr>
										<th>계약기간</th>
										<td colspan="2" id="FROM_TO"></td>
										<td colspan="4" id="PJT_E_GBN"></td>
									</tr>
									<tr>
										<th>당사계약금액</th>
										<td colspan="6" id="TOT_CONTRACT_AMT"></td>
									</tr>
									<tr>
										<th>대지위치</th>
										<td id="ZIP_CD"></td>
										<td colspan="5" id="PJT_ADDR"></td>
									</tr>
									<tr>
										<th>대지면적</th>
										<td id="G_AREA_M"></td>
										<td id="G_AREA_P"></td>
										<th>연면적</th>
										<td id="G_YAREA_M"></td>
										<td colspan="2" id="G_YAREA_P"></td>
									</tr>
								</table>

							</div>
						</div>
					</div>

					<div class="col-md-2 col-sm-3 col-xs-12">
						<div class="x_panel">
							<div class="x_title"></div>

							<div class="x_content">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>발주처</th>
										</tr>
									</thead>
									<tbody id="CUST_NM">
									</tbody>
								</table>

							</div>
						</div>
					</div>
					<!-- 프로젝트 개요 end -->

					<!-- 프로젝트 예산 입력 start -->
					<div class="col-md-12 col-sm-6 col-xs-12">
						<div class="x_panel">
							<div class="x_content" style="text-align: right"><button class="btn" id="approval">승인</button><button class="btn" id="revocation">승인취소</button></div>
							<div class="x_content">					
								<div class="" role="tabpanel" data-example-id="togglable-tabs">
									<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
										<li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab"
											data-toggle="tab" aria-expanded="true">일정계획</a></li>
										<li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab"
											aria-expanded="false">M/H계획</a></li>
										<li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab"
											aria-expanded="false">제조경비I</a></li>
										<li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab"
											aria-expanded="false">제조경비II</a></li>
										<li role="presentation" class=""><a href="#tab_content5" role="tab" id="profile-tab4" data-toggle="tab"
											aria-expanded="false">기성단계</a></li>
										<li role="presentation" class=""><a href="#tab_content6" role="tab" id="profile-tab5" data-toggle="tab"
											aria-expanded="false">추정손익계산서</a></li>
									</ul>
									
									<div id="myTabContent" class="tab-content">
										<!-- 일정계획 start -->
											<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
												<p>
												<div class="col-md-12 col-sm-6 col-xs-12">
													<div class="x_panel">
														<div class="x_title">
															<ul class="nav navbar-right panel_toolbox">	
															</ul>
															<div class="clearfix"></div>
														</div>
										
														<div class="x_content">
															<table class="table table-bordered table-hover">
																<thead>
																	<tr>
																		<th>단계</th>
																		<th>변경</th>
																		<th>착수일</th>
																		<th>완료예정일</th>
																		<th>소요기간(Day)</th>
																		<th>종료일</th>
																		<th>사유입력</th>
																	</tr>
																</thead>
																<tbody id="workStep">															
																</tbody>																
																	<tr><th>소계</th><td></td><td></td><td></td><th id="needTermTotal"></th><td></td><td></td></tr>
															</table>
															
															<!-- 프로젝트일정로그 MODAL START -->
															<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;" id="workStepLogList">
																<div class="modal-dialog modal-lg">
																	<div class="modal-content">
																		<form class="form-horizontal">
																			<div class="modal-header">
																				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span>
																				</button>
																				<h4 class="modal-title" id="myModalLabel"><b>프로젝트 일정 로그</b></h4><br>
																			</div>
																			<div class="modal-body">
																				<div class="table-responsive" style="overflow: auto; height: 400px;">
																					<table class="table table-bordered table-hover jambo_table">
																						<thead>
																							<tr>
																								<th>단계</th>
																								<th>변경횟수</th>
																								<th>완료예정일</th>
																								<th>변경일자</th>
																								<th>변경사유</th>
																							</tr>
																						</thead>
																						<tbody id="workStepLogListDetail">																		
																						</tbody>																																	
																					</table>
																				</div>
																			</div>
																		</form>
																	</div>
																</div>
															</div>
															<!-- 프로젝트일정로그 MODAL END -->
																															
														</div>										
													</div>
												</div>
										</div>
										<!-- 일정계획 end -->

										<!-- M/H계획 start -->
										<div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
											<div class="col-md-12 col-sm-6 col-xs-12">
													<div class="x_panel">
											<div class="x_title">
												<ul class="nav navbar-right panel_toolbox">
												</ul>
												<div class="clearfix"></div>
											</div>
											<table class="table table-bordered table-hover">
												<thead>
													<tr>
														<th rowspan="11" width="20">주관부서</th>
														<th>직급</th>
														<th>인원</th>
														<th>A.기획</th>
														<th>B.심의</th>
														<th>C.허가</th>
														<th>D.착공</th>
														<th>E.실시</th>
														<th>F.A/S</th>
														<th>G.준공</th>
														<th>합계</th>
													</tr>	
												</thead>
												<tbody id="MHcompetent">
												</tbody>
													<tr>
														<td></td>
														<th>소계</th>
														<td id="INWON_1_TOTAL"></td>
														<td id="PLAN_A_1_TOTAL"></td>
														<td id="PLAN_B_1_TOTAL"></td>
														<td id="PLAN_C_1_TOTAL"></td>
														<td id="PLAN_D_1_TOTAL"></td>
														<td id="PLAN_E_1_TOTAL"></td>
														<td id="PLAN_F_1_TOTAL"></td>
														<td id="PLAN_G_1_TOTAL"></td>
														<td id="TOT_MD_1_TOTAL"></td>
													</tr>									
											</table>

											<table class="table table-bordered table-hover">
												<thead>
													<tr>
														<th rowspan="11" width="20">지원부서</th>
														<th>직급</th>
														<th>인원</th>
														<th>A.기획</th>
														<th>B.심의</th>
														<th>C.허가</th>
														<th>D.착공</th>
														<th>E.실시</th>
														<th>F.A/S</th>
														<th>G.준공</th>
														<th>합계</th>
													</tr>
												</thead>
												<tbody id="MHsupport">
												</tbody>
													<tr>
														<td></td>
														<th>소계</th>
														<td id="INWON_2_TOTAL"></td>
														<td id="PLAN_A_2_TOTAL"></td>
														<td id="PLAN_B_2_TOTAL"></td>
														<td id="PLAN_C_2_TOTAL"></td>
														<td id="PLAN_D_2_TOTAL"></td>
														<td id="PLAN_E_2_TOTAL"></td>
														<td id="PLAN_F_2_TOTAL"></td>
														<td id="PLAN_G_2_TOTAL"></td>
														<td id="TOT_MD_2_TOTAL"></td>
													</tr>
											</table>
											<table frame e="void">
												<tr>
													<td>M/H기준: 1일 8시간</td>
													<td>&emsp;&emsp;&emsp;</td>
													<td id="INGUN_AMT"></td>
													<td>&emsp;</td>
													<td id="JUMYU"></td>
												</tr>	
											</table>
											
											</div>
											</div>
										</div>
										<!-- M/H계획 end -->

										<!-- 제조경비1 start -->
										<div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
											<p>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<ul class="nav navbar-right panel_toolbox">		
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">

														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>계정과목</th>
																	<th>금액</th>
																	<th>%</th>
																	<th width="20">비고</th>
																</tr>
															</thead>
															<tbody id="jejo1Left">
															</tbody>
															<tr>
																<th>소계</th><td id="COST_AMT_TOT_L"></td><td id="COST_RATE_TOT_L"></td><td></td>
															</tr>
														</table>

													</div>
												</div>
											</div>

											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<ul class="nav navbar-right panel_toolbox">															
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">

														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>계정과목</th>
																	<th>금액</th>
																	<th>%</th>
																	<th width="20">비고</th>
																</tr>
															</thead>
															<tbody id="jejo1Right">																									
															</tbody>
															<tr>
																<th>소계</th><td id="COST_AMT_TOT_R"></td><td id="COST_RATE_TOT_R"></td><td></td>
															</tr>															
														</table>

													</div>
												</div>
											</div>

											<div class="clearfix"></div>
										</div>
										<!-- 제조경비1 end -->

										<!-- 제조경비2 start -->
										<div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
											<p>
											<div class="col-md-12 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<ul class="nav navbar-right panel_toolbox">
														</ul>
														<div class="clearfix"></div>
													</div>

													<div class="x_content">
														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>계정과목</th>
																	<th>금액</th>
																	<th>%</th>
																	<th>거래처</th>
																	<th>실행예산</th>
																</tr>
															</thead>
															<tbody id="jejo2">
															</tbody>
															<tr>
																<th>소  계</th><td id="EX_AMT_TOTAL"></td><td id="EX_RATE_TOTAL"></td><td></td><td id="EX_WORK_AMT_TOTAL"></td>
															</tr>
														</table>
													</div>
												</div>
											</div>
											</p>
										</div>
										<!-- 제조경비2 end -->

										<!-- 기성단계 start -->
										<div role="tabpanel" class="tab-pane fade" id="tab_content5"
											aria-labelledby="profile-tab">
											<p>
											<div class="col-md-12 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<ul class="nav navbar-right panel_toolbox">
														</ul>
														<div class="clearfix"></div>
													</div>

													<div class="x_content">
														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>기성단계</th>
																	<th>단계등급</th>
																	<th>금액</th>
																	<th>수금율(%)</th>
																</tr>
															</thead>
															<tbody id="giseongStep">
															</tbody>
															<tr>
																<th>소계</th><td></td><td id="RM_AMT_TOTAL"></td><td>100.00</td>
															</tr>
														</table>
														<table class="table table-bordered" id="BILL">
														</table>														
													</div>
												</div>
											</div>
											</p>
										</div>
										<!-- 기성단계 end -->

										<!-- 추정손익계산서 start -->
										<div role="tabpanel" class="tab-pane fade" id="tab_content6" aria-labelledby="profile-tab">
											<p>
											<div class="col-md-7 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<h2>
															합계내역 <small></small>
														</h2>
														<ul class="nav navbar-right panel_toolbox">
															<li><a class="collapse-link"><i	class="fa fa-chevron-up"></i>숨기기</a></li>
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">

														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th colspan="2">과목</th>
																	<th>금액</th>
																	<th>%</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td colspan="2">매출액</td>
																	<td id="TOT_CONTRACT_AMT_SONIK"></td>
																	<td>100.0</td>
																</tr>
																<tr>
																	<td rowspan="4">자체비용
																	<td>인건비</td>
																	<td id="COST_AMT1"></td>
																	<td id="COST_RATE1"></td>
																</tr>
																<tr>
																	<td>제조경비I</td>
																	<td id="COST_AMT2"></td>
																	<td id="COST_RATE2"></td>
																</tr>
																<tr>
																	<td>제조경비II</td>
																	<td id="COST_AMT3"></td>
																	<td id="COST_RATE3"></td>
																</tr>
																<tr>
																	<td>소계</td>
																	<td id="JACHE_TOT"></td>
																	<td id="JACHE_RATE"></td>
																</tr>
																<tr>
																	<td rowspan="5">배부비용</td>
																	<td>공통비I</td>
																	<td class="DIV_AMT40"></td>
																	<td class="DIV_RATE40"></td>
																</tr>
																<tr>
																	<td>간접비</td>
																	<td class="DIV_AMT10"></td>
																	<td class="DIV_RATE10"></td>
																</tr>
																<tr>
																	<td>공통비II</td>
																	<td id="DIV_AMT20"></td>
																	<td id="DIV_RATE20"></td>
																</tr>
																<tr>
																	<td>관리부문비</td>
																	<td id="DIV_AMT30"></td>
																	<td id="DIV_RATE30"></td>
																</tr>
																<tr>
																	<td>소계</td>
																	<td id="BAEBU_TOT"></td>
																	<td id="BAEBU_RATE"></td>
																</tr>
																<tr>
																	<td colspan="2">비용합계</td>
																	<td id="COST_TOT"></td>
																	<td id="COST_RATE"></td>
																</tr>
																<tr>
																	<td colspan="2">영업이익</td>
																	<td id="OPERATING_INCOME"></td>
																	<td id="OPERATING_INCOME_RATE"></td>
																</tr>
																<tr>
																	<td rowspan="5">사업성검토</td>
																	<td>인건비</td>
																	<td id="COST_AMT1_BIZ"></td>
																	<td id="COST_RATE1_BIZ"></td>
																</tr>
																<tr>
																	<td>제조경비I</td>
																	<td id="COST_AMT2_BIZ"></td>
																	<td id="COST_RATE2_BIZ"></td>
																</tr>
																<tr>
																	<td>제조경비II</td>
																	<td id="COST_AMT3_BIZ"></td>
																	<td id="COST_RATE3_BIZ"></td>
																</tr>
																<tr>
																	<td>간접비외</td>
																	<td id="DIV_AMT"></td>
																	<td id="DIV_RATE"></td>
																</tr>
																<tr>
																	<td>소계</td>
																	<td id="BIZ_TOTAL"></td>
																	<td id="BIZ_RATE"></td>
																</tr>
																<tr>
																	<td colspan="2">조정영업이익</td>
																	<td id="adjustedOperatingProfit"></td>
																	<td id="adjustedOperatingProfitRate"></td>
																</tr>


															</tbody>
														</table>

													</div>
												</div>
											</div>


											<div class="col-md-5 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<h2>
															간접비 <small></small>
														</h2>
														<ul class="nav navbar-right panel_toolbox">
															<li><a class="collapse-link"><i	class="fa fa-chevron-up"></i>숨기기</a></li>
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">

														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>항목</th>
																	<th>배부금액</th>
																	<th>배부율</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>빌딩</td>
																	<td id="DIV_AMT11"></td>
																	<td id="DIV_RATE11"></td>
																</tr>
																<tr>
																	<td>통신</td>
																	<td id="DIV_AMT12"></td>
																	<td id="DIV_RATE12"></td>
																</tr>
																<tr>
																	<td>전산</td>
																	<td id="DIV_AMT13"></td>
																	<td id="DIV_RATE13"></td>
																</tr>
																<tr>
																	<td>합계</td>
																	<td class="DIV_AMT10"></td>
																	<td class="DIV_RATE10"></td>
																</tr>
															</tbody>
														</table>

													</div>
												</div>
											</div>

											<div class="col-md-5 col-sm-6 col-xs-12">
												<div class="x_panel">
													<div class="x_title">
														<h2>
															공통비1 <small></small>
														</h2>
														<ul class="nav navbar-right panel_toolbox">
															<li><a class="collapse-link"><i	class="fa fa-chevron-up"></i>숨기기</a></li>
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">

														<table class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th>항목</th>
																	<th>배부금액</th>
																	<th>배부율</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>부문장</td>
																	<td id="DIV_AMT44"></td>
																	<td id="DIV_RATE44"></td>
																</tr>
																<tr>
																	<td>본부장</td>
																	<td id="DIV_AMT41"></td>
																	<td id="DIV_RATE41"></td>
																</tr>
																<tr>
																	<td>지원부서</td>
																	<td id="DIV_AMT43"></td>
																	<td id="DIV_RATE43"></td>
																</tr>
																<tr>
																	<td>기타</td>
																	<td id="DIV_AMT42"></td>
																	<td id="DIV_RATE42"></td>
																</tr>
																<tr>
																	<td>합계</td>
																	<td class="DIV_AMT40"></td>
																	<td class="DIV_RATE40"></td>
																</tr>
															</tbody>
														</table>

													</div>
												</div>
											</div>

											<div class="clearfix"></div>
										</div>

									</div>

								</div>
								<!-- 프로젝트 예산 입력 end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</font>
</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>

</html>