<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>2.3.4프로젝트손익관리_예산/실적대비표_제조경비2상세화면</title>
	<th:block th:include="layout/customHead"></th:block>
</th:block>
<th:block layout:fragment="customBody">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>



</script>


<font color="black">

	<!-- 프로젝트 개요 start -->
	<div class="col-md-9 col-sm-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					제조경비2 <small></small>
				</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false"><i
							class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Settings 1</a></li>
							<li><a href="#">Settings 2</a></li>
						</ul></li>

				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">

					<table class="table table-bordered">
						<tr>
							<th style="background-color: #fff9df">프로젝트</th>
							<td colspan="2">[[${data[0].PJT_CD}]] [[${data[0].PJT_NM}]]</td>
							<th style="background-color: #fff9df">건축물유형</th>
							<td colspan="3">[[${data[0].BUILD_NM}]]</td>				
						</tr>
						<tr>
							<th style="background-color: #fff9df">계약일자</th>
							<td colspan="2">[[${data[0].CONTRACT_DATE}]]</td>							
							<td style="background-color: #fff9df">계약기간</td>
							<td>[[${data[0].FROM_TO}]]</td>							
							<td colspan="2">[[${data[0].PJT_E_GBN}]]</td>
							
						</tr>
						<tr>
							<th style="background-color: #fff9df">당사계약액</th>
							<td colspan="2">[[${data[0].TOT_CONTRACT_AMT}]]</td>
							<th style="background-color: #fff9df">소재지</th>
							<td colspan="4">[[${data[0].PJT_ADDR}]]</td>
							
						</tr>
						<tr>
							<th style="background-color: #fff9df">대지면적</th>
							<td>[[${data[0].G_AREA_M}]]</td>
							<td>[[${data[0].G_AREA_P}]]</td>
							<th style="background-color: #fff9df">연면적</th>
							<td>[[${data[0].G_YAREA_M}]]</td>
							<td>[[${data[0].G_YAREA_P}]]</td>
						</tr>
					</table>

			</div>
		</div>
		<!-- 프로젝트 개요 end -->
		<!--  -->
		<div class="x_panel">
		<div class="x_content">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>기성단계</th>
												<th>단계등급</th>
												<th>금액</th>
												<th>수금율(%)</th>
											</tr>
										</thead>
										<tbody >
											<tr th:each="c:${data}">
												<td>[[${c.SCV_PART_NM}]]</td>
												<td>[[${c.EX_AMT}]]</td>
												<td>0</td>
												<td>0</td>
											</tr>
										</tbody>
									</table>
								</div>
					<!-- 기성단계 end -->
				</div>
				</div>

</font>
</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>