<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>프로젝트 예산 출력</title>
	<th:block th:include="layout/customHead"></th:block>
		<!-- jquery -->
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script>

	function startYearCall() {
		//날짜 초기화(적용하기)
		let today = new Date();
		let dd = today.getDate();
		let mm = today.getMonth()+1; //January is 0!
		let yyyy = today.getFullYear();
		if(dd<10) {//2자리수만들기
		    dd='0'+dd
		} 
		if(mm<10) {
		    mm='0'+mm
		} 
		today = yyyy+'-' + mm+'-'+dd;
		$('#END_DATE').val(today);
	}		
	
	//프로젝트예산리스트를 조회하는 함수
	function pjtListAll(){
		// 필드에 입력받은 값들을 변수에 저장
 		let START_DATE = $('#START_DATE').val();
		let END_DATE = $('#END_DATE').val();
		let DEPT_CD = $('#DEPT_CD').val(); 
		let PJT_CD = $('#PJT_CD').val(); 
		let radioValue = $('.pjtRadio:checked').val();
 		console.log(START_DATE);	
 		console.log(END_DATE);
		console.log(DEPT_CD); 
		console.log(PJT_CD); 
		console.log(radioValue); 
		$.ajax({
	        url:'/project/projectYesanOutputView',	//url을 요청하고
	        type:'POST',	//검색조건을 담아서 post 방식으로 보낸다
	    	data:{START_DATE:START_DATE, END_DATE:END_DATE, DEPT_CD:DEPT_CD, PJT_CD:PJT_CD, radioValue:radioValue},	//넘길 데이터
	        success:(data)=>{	//받은 데이터
	        	console.log(data);
	            $('#pjtList').empty();	//리스트를 비우고	               
	            $(data).each((index,item)=>{
	                $('#pjtList').append('<tr><td class="a-center"></td><td>'+item.PJT_CD+'</td><td>'+item.PJT_NM+'</td><td><input type="checkbox"></td></tr>');               
	            });
	            
	            //리스트의 길이
	            $('#listLength').empty();
	            $('#listLength').append(data.length); 
	    	}
		});	
	}
	
	//문서가 준비되면 프로젝트예산리스트를 모두 조회하고 검색 조건 중 마지막 날짜를 초기화한다
	$(document).ready(()=>{	
		pjtListAll(); 	
		startYearCall();
		
		//조회버튼(pjtListBtn)을 클릭하면 프로젝트예산리스트를 모두 조회
		$('#pjtListBtn').click(()=>{
			pjtListAll(); 
	    });	
		
		
		
		// 프로젝트코드와 프로젝트명 검색	
		$('#pjtCdSearchBtn').click(()=>{
			console.log('pjtCdSearchBtn 버튼확인');		
			let CONTRACT_DATE_YYMMDD = $('#CONTRACT_DATE_YY').val();
			let CONTRACT_DATE_YY = CONTRACT_DATE_YYMMDD.substr(0,4);
			let selectedOption = $('#selectedOption option:selected').val();
			let inputValue = $('#inputValue').val();
			console.log(CONTRACT_DATE_YY + ' :입력받은 검색연도');
			console.log(selectedOption + ' :입력받은 검색항목');
			console.log(inputValue + ' :입력받은 검색조건');

			$.ajax({
	            url:'/project/projectYesanOutputPjtSearch',
	            type:'POST',
	            data:{CONTRACT_DATE_YY:CONTRACT_DATE_YY, selectedOption:selectedOption, inputValue:inputValue},
	      
	            success:(list)=>{
	            	console.log(list);
	            	let tr='';
	            	$(list).each((index,item)=>{
	            		$('#projectList').empty();
	            		tr = tr + '<tr>';
						tr = tr + '<td>'+item.PJT_CD+'</td>';
						tr = tr + '<td>'+item.PJT_NM+'</td>';
						tr = tr + '</tr>';
	            	});
	            	$('#projectList').append(tr);
	            }    
	        });
		});
		$('#projectList').delegate('tr', 'dblclick', function(){
			let tr = $(this);
			let td = tr.children();
			$('#PJT_CD').val(td.eq(0).text());
			$('#PJT_NM').val(td.eq(1).text());
			$('#pjtCdModal').click();
		});		
	});
		
		



	
	
	</script>
</th:block>

<th:block layout:fragment="customBody">
	<font color="black"> 
	
	<!-- 목차 상단에 추가 -->
		<div class="col-md-12 col-xs-12">
			<div class="page-title">
				<div class="title_left">
					<h2>
						<b>프로젝트예산 출력</b>
					</h2>
					<h5>
						<font color="gray"><b>2. 계약프로젝트 관리&nbsp;>&nbsp;&nbsp;2.2. 프로젝트예산 관리&nbsp;>&nbsp;&nbsp;2.2.3. 프로젝트예산 출력</b></font>
					</h5>
				</div>
			</div>
			<div class="x_content" style="text-align: right">
				<div class="btn-group">
					<button class="btn btn-default" type="reset" id="pjtListBtn">조회</button>
					<button class="btn btn-default" type="reset" disabled="disabled">입력</button>
					<button class="btn btn-default" type="button" disabled="disabled">수정</button>
					<button class="btn btn-default" type="button" disabled="disabled">삭제</button>
					<button class="btn btn-default" type="button" disabled="disabled">저장</button>
					<button class="btn btn-default" type="button">출력</button>
				</div>
			</div>
		</div> 
		<!-- 목차 상단에 추가 end --> 
		
		<!-- 검색 폼 start -->
		<div class="x_panel">

			<div class="x_content">
				<br>
				<form class="form-horizontal form-label-left input_mask"
					method="post">
					<table id="datatable-responsive"
						class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
						role="grid" aria-describedby="datatable-responsive_info"
						style="width: 100%;">

						<thead>
							<tr role="row">
								<th class="sorting_asc" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="6" style="width: 100%;" aria-sort="ascending"
									aria-label="First name: activate to sort column descending">
									<label class="control-label">검색조건</label>
								</th>
							</tr>
						</thead>

						<tbody>
							<tr role="row">
								<td class="sorting_asc" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 3%;" aria-sort="ascending"
									aria-label="First name: activate to sort column descending">
									<label class="control-label">기간</label>
								</td>
								<td class="sorting_asc" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 20%;" aria-sort="ascending"
									aria-label="First name: activate to sort column descending">
									<input type="date" style="width: 40%" id="START_DATE"> ~ <input	type="date" style="width: 40%" id="END_DATE">
								</td>
								<td class="sorting_asc" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 3%;" aria-sort="ascending"
									aria-label="First name: activate to sort column descending">
									<label class="control-label">부서</label>
								</td>
								<td class="sorting_asc" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 7%;" aria-sort="ascending"
									aria-label="First name: activate to sort column descending">
										<select class="form-control" id="DEPT_CD">
											<option value="">전 사</option>
											<option value="75">설계1본부</option>
											<option value="76">설계2본부</option>
											<option value="77">설계3본부</option>
											<option value="78">설계4본부</option>
											<option value="79">설계5본부</option>
										</select>	
								</td>
								<td class="sorting_asc" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 3%;" aria-sort="ascending"
									aria-label="First name: activate to sort column descending">
									<label class="control-label">코드명</label>
								</td>
								<td class="sorting_asc" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" style="width: 20%;" aria-sort="ascending"
									aria-label="First name: activate to sort column descending">
									<input type="number" id="PJT_CD" style="width: 20%"> <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg1"><i class="fa fa-search"></i></button> <input type="text" id="PJT_NM" style="width: 70%">
									
									<!-- 프로젝트 코드 조회 modal 시작 -->																				
										<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<form class="form-horizontal">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" id="pjtCdModal"><span aria-hidden="true">X</span>
															</button>
															<h4 class="modal-title" id="myModalLabel"><b>프로젝트코드 조회</b></h4><br>
															<!-- <div class="table-responsive"> -->
																<table class="table table-bordered">
																	<tbody>
																		<tr>
																			<td><label class="control-label">계약연도</label></td>
																			<td>
																				<input type="number" id="CONTRACT_DATE_YY" placeholder="____">
																			</td>
																		</tr>																	
																		<tr>
																			<td><label class="control-label">검색항목</label></td>
																			<td>
																				<select class="form-control" style="width: 40%" id="selectedOption">
																					<option value="PJT_CD">프로젝트코드</option>
																					<option selected="selected" value="PJT_NM">프로젝트명</option>
																					<option value="DEPT_CD">부서코드</option>
																					<option value="DEPT_NM">부서명</option>
																				</select>
																			</td>
																		</tr>
																		<tr>
																			<td><label class="control-label">검색조건</label></td>
																			<td>
																				<input type="text" id="inputValue">
																				<button id="pjtCdSearchBtn" type="button"><i class="fa fa-search"></i></button>																	
																			</td>
																		</tr>
																	</tbody>																	
																</table>
															<!-- </div> -->
														</div>
														<div class="modal-body">
															<div class="table-responsive" style="overflow: auto; height: 400px;">
															<table class="table table-bordered table-hover jambo_table">
																<thead>
																	<tr>
																		<th>프로젝트코드</th>
																		<th>프로젝트명</th>
																	</tr>
																</thead>
																<tbody id="projectList">
																	<tr>
																		<td></td>
																		<td></td>
																	</tr>																	
																</tbody>																	
															</table>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									<!-- 프로젝트코드와 프로젝트명 조회 modal 끝 -->								
								</td>
							</tr>
							<tr>
								<td colspan="6">
									<div class="radio">
										<label style="padding-left: 50px;"><input type="radio" class="pjtRadio" name="pjtRadio" value="2">계약</label>
										<label style="padding-left: 50px;"><input type="radio" class="pjtRadio" name="pjtRadio" value="3">미승인</label>
										<label style="padding-left: 50px;"><input type="radio" class="pjtRadio" name="pjtRadio" value="4">승인</label>
										<label style="padding-left: 50px;"><input type="radio" class="pjtRadio" name="pjtRadio" value="5">종료</label>
										<label style="padding-left: 50px;"><input type="radio" class="pjtRadio" name="pjtRadio" value="" checked="checked">ALL</label>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</form>
			</div>
		</div> 
		<!-- 검색 폼 end -->
		
		<!-- 출력 리스트 검색 시작 -->
		<div class="x_panel">
			<div class="x_title">
				<h2>
					프로젝트예산 출력 <small></small>
				</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i>숨기기</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">

				<div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr class="headings">
								<th>
									<!-- <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" id="check-all" class="flat" style="position: absolute; visibility: hidden;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> -->
								</th>
								<th class="column-title">PJT코드</th>
								<th class="column-title">프로젝트명</th>
								<th class="column-title">출력</th>
								<!-- <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i> -->
							</tr>
						</thead>
						<tbody id="pjtList">
						</tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<th id="listLength"></th>
						<tr>
					</table>
					<!-- 출력 리스트 검색 끝 -->
				</div>
			</div>
		</div>
	</font>
</th:block>

<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>

</html>
