<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>2.3.4프로젝트손익관리_예산/실적대비표_상세화면</title>
	<th:block th:include="layout/customHead"></th:block>
</th:block>
<th:block layout:fragment="customBody">
	<font color="black">
<!-- 프로젝트 상세 시작 -->		
			<div class="x_panel">
				<div class="x_title">
					<h2>
						PJT_CD PJT_NM의 상세내용 <small></small>
					</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false"><i
								class="fa fa-wrench"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Settings 1</a></li>
								<li><a href="#">Settings 2</a></li>
							</ul></li>

					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">

					<table class="table table-bordered">
						<tr>
							<th style="background-color: #fff9df">프로젝트</th>
							<td>18021 창원시 상남동 74-3 오피스텔 신축공사
							<th style="background-color: #fff9df">발주처</th>
							<td>현대건설(주)</td>
							<th style="background-color: #fff9df">출력횟수</th>
							<td>2회</td>
							<th>미승인</th>
						</tr>
						<tr>
							<th style="background-color: #fff9df">프로젝트</th>
							<td>업무시설</td>
							<th style="background-color: #fff9df">수행부서</th>
							<td colspan="4">설계1본부 1소</td>
						</tr>
						<tr>
							<td style="background-color: #fff9df">계약일자</td>
							<td>2018/03/02 (2018/11/02)</td>
							<td style="background-color: #fff9df">PM</td>
							<td>20120015</td>
							<td colspan="3">김인규</td>
						</tr>
						<tr>
							<th style="background-color: #fff9df">계약기간</th>
							<td colspan="6">2018/03/02~____/__/__, 용역완료시까지</td>
						</tr>
						<tr>
							<th style="background-color: #fff9df">당사계약금액</th>
							<td colspan="6">770,000,000원</td>
						</tr>
						<tr>
							<th style="background-color: #fff9df">대지위치</th>
							<td>343-80</td>
							<td colspan="5">대전 대덕구 대오길 2(오정동)</td>
						</tr>
						<tr>
							<th style="background-color: #fff9df">대지면적</th>
							<td>2,963m²</td>
							<td>896.31평</td>
							<th style="background-color: #fff9df">연면적</th>
							<td>45,000m²</td>
							<td colspan="2">13,612.50평</td>
						</tr>
					</table>
<!-- 프로젝트 상세 end -->
					<br>

<!-- 상세내용 시작 -->
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="background-color: #D8D8D8" colspan="2" rowspan="2">과목</th>
								
								<th style="background-color: #D8D8D8" colspan="2">예산</th>							
								<th style="background-color: #D8D8D8" colspan="2">실적</th>
								<th style="background-color: #D8D8D8" rowspan="2">전기누계</th>
						</tr>
						<tr>		
								<th style="background-color: #D8D8D8">금액</th>							
								<th style="background-color: #D8D8D8">%</th>
								<th style="background-color: #D8D8D8">당기누계</th>
								<th style="background-color: #D8D8D8">%</th>								
						</tr>	
						</thead>
						<tbody>
							<tr>
								<td style="background-color: #fff9df" colspan="2">매출액</td>
								<td>770,000,000</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																						
							</tr>
							<tr>
								<td style="background-color: #fff9df" rowspan="4">자체비용
								<td style="background-color: #fff9df">인 건비</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">제조경비1</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">제조경비2</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
															
							</tr>
							<tr>
								<td style="background-color: #fff9df">소계</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df" rowspan="5">배부비용</td>
								<td style="background-color: #fff9df">공통비1</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
														
							</tr>
							<tr>
								<td style="background-color: #fff9df">간접비</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">공통비2</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
															
							</tr>
							<tr>
								<td style="background-color: #fff9df">관리부문비</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">소계</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df" colspan="2">비용합계</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
														
							</tr>
							<tr>
								<td style="background-color: #fff9df" colspan="2">영업이익</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
															
							</tr>
							<tr>
								<td style="background-color: #fff9df" rowspan="5">사업성검토</td>
								<td style="background-color: #fff9df">인건비</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">제조경비1</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
															
							</tr>
							<tr>
								<td style="background-color: #fff9df">공통비2</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
																
							</tr>
							<tr>
								<td style="background-color: #fff9df">관리부문비</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
															
							</tr>
							<tr>
								<td style="background-color: #fff9df">소계</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
								<td>100.0</td>
								<td>0</td>
															
							</tr>
						</tbody>
					</table>
				</div>
			</div>
<!-- 상세내용 end -->
	</font>

</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>