<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>발주처별 진행현황</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
	<div class="col-md-12 col-sm-6 col-xs-12" style="width:100%;color:black;">
    	<div class="x_panel">               
        	<div class="col-md-6 col-sm-6 col-xs-12">
		            <h1>발주처별 진행현황</h1>	                   	
		            <h5 style="color:gray;"><b>1.사업성검토 관리&nbsp;>&nbsp;&nbsp;1.3.사업성검토분석 현황&nbsp;>&nbsp;&nbsp;1.3.2.발주처별 진행현황</b></h5> 	                    
	        </div><br><br>
            <div class="col-md-6 col-sm-6 col-xs-12">    
            	<div class="x_content" style="text-align: right">
					<div class="btn-group" >
						<button class="btn btn-default" type="button" id="search">조회</button>
						<button class="btn btn-default" type="reset">입력</button>
						<button class="btn btn-default" type="button">수정</button>
						<button class="btn btn-default" type="button">삭제</button>
						<button class="btn btn-default" type="button">저장</button>
						<button class="btn btn-default" type="button">출력</button>
					</div>							
				</div>
			</div>	                                         
            <div class="x_content">
            	<table class="table table-bordered">
                  	<thead>
                     	<tr>
                         	<th>
	                          	◎검색조건　　
	                          	⊙기준일자
								<input type="date" name="date"> &nbsp;&nbsp;&nbsp;
								⊙거래처
								<input type="text" name="">
								<button><i class="fa fa-search"></i></button>
                         	</th>                          
                        </tr>
                   	</thead>                     
              	</table>					
           	</div>
        </div>
	</div>		
    <div class="col-md-12 col-sm-6 col-xs-12" style="width:100%;color:black">
    	<div class="x_panel">                
            <div class="x_content">
				<div style="overflow:scroll; width:100%; height:650px; padding:10px; background-color:;">
	            	<div class="col-md-6 col-sm-6 col-xs-12">   		                   
						<button class="btn" style="color:black">전체선택</button>
						<button class="btn" style="color:black">전체취소</button>						
	                </div>    
					<div class="col-md-6 col-sm-6 col-xs-12">
						⊙전표일자
						<input type="date" name="">
						⊙전표번호
						<input type="text" name="" size="5">
						<button><i class="fa fa-search"></i></button>
					</div>					
                    <table class="table table-bordered">
                      	<thead>
	                        <tr>                         
	                          <th bgcolor=#EAEAEA>지급예정일자</th>
	                          <th bgcolor=#EAEAEA>거래처</th>
	                          <th bgcolor=#EAEAEA>프로젝트</th>
	                          <th bgcolor=#EAEAEA>지급금액</th>
	                          <th bgcolor=#EAEAEA>전표이관</th>
	                          <th bgcolor=#EAEAEA>전표일자</th>
	                          <th bgcolor=#EAEAEA>전표번호</th>
	                          <th bgcolor=#EAEAEA>전표순번</th>              
	                        </tr>
                      	</thead>
                     	<tbody>
                                      
                      	</tbody>
                   </table>
             	</div>
         	</div>
       	</div>
	</div>                          
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
