<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">

<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
	<title>2.2.4 승인된 승인 사업성검토 검색 List</title>
	<th:block th:include="layout/customHead"></th:block>
	<link href="/build/css/selectCheck/fSelect.css" rel="stylesheet" type="text/css">
	<!-- <link href="/SRC2/selectcheckbox/fSelect.css" rel="stylesheet" type="text/css"> -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script>
	//사업성검토 검색1(부서별,프로젝트코드,프로젝트명,주소,발주처)
		$(document).keypress((e)=>{
			//엔터키방지!!
			if(e.keyCode == 13){
				r.preventDefault();
			}
			//엔터키방지끝
		}); 
		$(document).ready(()=>{			
			//셀렉트체크박스(수주구분)
			/* $('.demo').fSelect(); */
			
			$('#searchList').click(()=>{
				console.log('눌려라요오오오~');
				const DEPT_NM = $('#DEPT_NM').val();
				const pjCode = $('#pjCode').val();
			 	const pjName = $('#pjName').val();
			 	const ADDR = $('#ADDR').val();
			 	const CUST_CD = $('#custCd').val();
			 	const BIZ_GBN = $('#suju').val();
			 	const LEVEL2_CD = $('#selectGun').val();
			 	const LEVEL2_NM = $('#selectGubun').val();
			 	const END_GBN_NM = $('#END_GBN_NM').val();
			 	const FORECAST_AMT = $('#FORECAST_AMT').val();
			 	const FORECAST_AMT2 = $('#FORECAST_AMT2').val();
			 	const CLASS_GBN = $('#CLASS_GBN').val();
			 	/* const suju =[];
			 	
			 	$('#suju option:checked').each((index,item)=>{
			 		suju.push($(item).val());	
			 	}); */
			 	console.log(CLASS_GBN+' CLASS_GBN 나왔다요~~~!');
			 	console.log(FORECAST_AMT+' FORECAST_AMT 나왔다요~~~!');
			 	console.log(FORECAST_AMT2+' FORECAST_AMT2 나왔다요~~~!');
			 	console.log(END_GBN_NM+' END_GBN_NM 나왔다요~~~!');
			 	console.log(LEVEL2_NM+' LEVEL2_NM 나왔다요~~~!');
			 	console.log(LEVEL2_CD+' LEVEL2_CD 나왔다요~~~!');
			 	console.log(BIZ_GBN+' BIZ_GBN 나왔다요~~~!');
			 	console.log(CUST_CD+'CUST_CD 받아라요~');
			 	console.log(ADDR+'ADDR 받아라요~');
			 	console.log(DEPT_NM+'DEPT_NM 받아라요~');
			 	console.log(pjCode+'<--코드들어와라요~');
			 	console.log(pjName+'<--이름들어와라요~');
				$.ajax({
					url : '/businessYesanSearchView',
					type : 'GET',
					data : {DEPT_NM:DEPT_NM,PJT_CD:pjCode,PJT_NM:pjName,ADDR:ADDR,CUST_CD:CUST_CD,BIZ_GBN:BIZ_GBN,BUILD_TYPE_NM:LEVEL2_CD,CUST_GBN_NM:LEVEL2_NM,END_GBN_NM:END_GBN_NM,FORECAST_AMT:FORECAST_AMT,FORECAST_AMT2:FORECAST_AMT2,CLASS_GBN:CLASS_GBN},
					success : (list)=>{
						console.log(JSON.stringify(list));
						$('#myTable').DataTable({
							dom: 'Blfrtip',
							buttons: [
								{
								  extend: "copy",
								  className: "btn-sm"
								},
								{
								  extend: "csv",
								  className: "btn-sm"
								},
								{
								  extend: "excel",
								  className: "btn-sm"
								},
								{
								  extend: "pdfHtml5",
								  className: "btn-sm"
								},
								{
								  extend: "print",
								  className: "btn-sm"
								},
							  ],
							searching:false,
							lengthChange:false,
							responsive: true,
		    				destroy: true,
		    				data:list,
		    				columns: [
		    			        {data: 'pjt_NM'},
		    			        {data: 'pjt_END_S'},
		    			        {data: 'pjt_END_E'},
		    			        {data: 'pjt_END_G'},
		    			        {data: 'pjt_END_T'},
		    			        {data: 'addr'},
		    			        {data: 'pm_EMP_NM'},
		    			        {data: 'emp_NM'},
		    			        {data: 'pd_EMP_NM'},
		    			        {data: 'market_NM'},
		    			        {data: 'dept_NM'},
		    			        {data: 'cust_GBN_NM'},
		    			        {data: 'cust_NM'},
		    			        {data: 'biz_GBN'},
		    			        {data: 'forecast_AMT'},
		    			        {data: 'end_EXP_DATE'},
		    			        {data: 'end_GBN'},
		    			        {data: 'contract_AMT'},
		    			        {data: 'area_P'},
		    			        {data: 'yarea_P'},
		    			        {data: 'build_TYPE_NM'},
		    			        {data: 'product'}	        
		    			    ]
						});
					}
				});
			});
			//프로젝트코드 리스트조회
			$('#btnBusinessSearch').click(()=>{
				console.log('눌려라요~~');
				const PJT_CD = $('#PJT_CD').val();
				const businessSelect = $('#businessSelect').val();
				if(businessSelect == '프로젝트코드'){
					$.ajax({
						url : '/businessPjtCd',
	 					type : 'GET',
	 					data : {PJT_CD:PJT_CD},
						success:(businessList)=>{
							console.log(businessList);
							let tr='';
							$(businessList).each((index,item)=>{
								$('#businessList').empty();
								tr += '<tr>';
								tr += '<td>'+item.pjt_CD+'</td>';
								tr += '<td>'+item.pjt_NM+'</td>';
								tr += '</tr>';
							});
							$('#businessList').append(tr);
						}
					});
				}else if(businessSelect == '프로젝트명'){
					$.ajax({
						url : '/businessYesanOutputView',
	 					type : 'GET',
	 					data : {PJT_NM:PJT_CD},
						success:(businessList)=>{
							console.log(businessList);
							let tr='';
							$(businessList).each((index,item)=>{
								$('#businessList').empty();
								tr += '<tr>';
								tr += '<td>'+item.pjt_CD+'</td>';
								tr += '<td>'+item.pjt_NM+'</td>';
								tr += '</tr>';
							});
							$('#businessList').append(tr);
						}
					});
				}
				
			});
			$('#businessList').delegate('tr', 'dblclick', function(){
				let tr = $(this);
				let td = tr.children();
				$('#pjCode').val(td.eq(0).text());
				$('#pjName').val(td.eq(1).text());
				$('#PJT_CD').val('');
				$('#accountModal').click();
			});
			//발주처코드 리스트조회
			$('#btnBusinessSearchCust').click(()=>{
				console.log('눌려라요~~!!');
				const CUST_CD = $('#CUST_CD').val();
				const businessSelectCust = $('#businessSelectCust').val();
				if(businessSelectCust == '거래처코드'){
					$.ajax({
						url : '/businessCustCdList',
	 					type : 'GET',
	 					data : {CUST_CD:CUST_CD},
	 					success:(businessCustList)=>{
							console.log(businessCustList);
							let tr='';
							$(businessCustList).each((index,item)=>{
								$('#businessCustList').empty();
								tr += '<tr>';
								tr += '<td>'+item.cust_CD+'</td>';
								tr += '<td>'+item.cust_NM+'</td>';
								tr += '</tr>';
							});
							$('#businessCustList').append(tr);
						}
					});
				}else if(businessSelectCust == '거래처명'){
					$.ajax({
						url : '/businessCustCdList',
	 					type : 'GET',
	 					data : {CUST_NM:CUST_CD},
	 					success:(businessCustList)=>{
							console.log(businessCustList);
							let tr='';
							$(businessCustList).each((index,item)=>{
								$('#businessCustList').empty();
								tr += '<tr>';
								tr += '<td>'+item.cust_CD+'</td>';
								tr += '<td>'+item.cust_NM+'</td>';
								tr += '</tr>';
							});
							$('#businessCustList').append(tr);
						}
					});
				}
					
			});
			$('#businessCustList').delegate('tr', 'dblclick', function(){
				let tr = $(this);
				let td = tr.children();
				$('#custCd').val(td.eq(0).text());
				$('#custNM').val(td.eq(1).text());
				$('#CUST_CD').val('');
				$('#accountModal2').click();
			});
		});
	</script>
</th:block>
<th:block layout:fragment="customBody">
	<!-- 사업성검토검색1 시작 -->
	<div class="col-md-9 col-xs-12" style="color:black;">
		<div class="page-title">
			<div class="title_left">
				<h2><b>사업성검토 검색1</b></h2>
				<h5><b>1.사업성검토 관리&nbsp;>&nbsp;&nbsp;1.2사업성검토예산 관리&nbsp;>&nbsp;&nbsp;1.2.3사업성검토 검색</b></h5>	
			</div>
		</div>
	</div>
	<div class="x_content" style="text-align: right">
		<div class="btn-group" >
			<button class="btn btn-default" type="reset" id="searchList">조회</button>
			<button class="btn btn-default" type="button">입력</button>
			<button class="btn btn-default" type="button">수정</button>
			<button class="btn btn-default" type="button">삭제</button>
			<button class="btn btn-default" type="button">저장</button>
			<button class="btn btn-default" type="button" id="outPut" >출력</button>
		
		</div>
	</div>
	<div class="x_panel" style="color:black;">
		<h4>검색 조건</h4>
		<table class="table" border = "1">
			<tr>
				<td colspan="3">
				⊙ 부　서 :
					<select id="DEPT_NM">
						<option value="">전　　　사</option>
						<th:block th:each="d : ${selectDept}">
							<option>[[${d.DEPT_NM}]]</option>
						</th:block>
					</select>
				</td>
			</tr>
			<tr>					<!-- 프로젝트코드,명 조회 -->
				<td>
					⊙ 코드명 :
					<input type="text" name="test" id="pjCode" size="10">
					<button type="button" data-toggle="modal" data-target=".bs-example-modal-lg1"><i class="fa fa-search"></i></button>
					<input type="text" name="test" id="pjName" size="40">
				<!-- 프로젝트코드 조회내부 -->
					<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<form class="form-horizontal">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" id="accountModal"><span aria-hidden="true">×</span></button>
										<h4 class="modal-title" id="myModalLabel"><b>프로젝트코드조회</b></h4><br>
										<table class="table table-bordered">
											<tbody>
												<tr>
													<td>
														<label class="control-label">검색항목</label>
													</td>
													<td>
														<select class="form-control" style="width: 40%" id="businessSelect">
															<option>프로젝트코드</option>
															<option>프로젝트명</option>
													</select>
													</td>
												</tr>
												<tr>
													<td>
														<label class="control-label">검색조건</label>
													</td>
													<td>
													<input type="text" id="PJT_CD">
													<button id="btnBusinessSearch" type="button"><i class="fa fa-search"></i></button>																	
													</td>
												</tr>
											</tbody>																	
										</table>
									</div>
									<div class="modal-body">
										<div class="table-responsive" style="overflow: auto; height: 400px;">
											<table class="table table-striped table-bordered table-hover jambo_table">
												<thead>
													<tr>
														<th>
															코드
														</th>
														<th>
															프로젝트명
														</th>
													</tr>
												</thead>
												<tbody id="businessList">
													
												</tbody>																	
											</table>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</td>
				<td>
					⊙ 수주구분　:
					<select id="suju" ><!-- class="demo" multiple="multiple" -->
						<option value=""></option>
					<th:block th:each = "S : ${selectSuju}">
						<option th:value="${S.LEVEL2_CD}">[[${S.LEVEL2_NM}]]</option>
					</th:block>			
					</select>
				</td>
				<td>		
					⊙ 종료구분　　:
					<select id="END_GBN_NM">
						<option value=""></option>
						<option value="2">진행</option>
						<option value="4">무산</option>
						<option value="5">계약</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
				⊙ 지　번 :	
					<input type="text" name="" size="60" id="ADDR">
				</td>
				<td>
				⊙ 건축물용도 :
					<select id="selectGun">
						<option value =""></option>
						<th:block th:each="G : ${selectGun}">
						<option th:value="${G.LEVEL2_CD}">[[${G.LEVEL2_NM}]]</option>
						</th:block>
					</select>
				</td>
				<td>
				⊙ 추정계약금액 :
					<input type="text" name="test" id="FORECAST_AMT" >
					<input type="text" name="test" id="FORECAST_AMT2" >
				</td>
			</tr>
			<tr>			<!-- 발주처 검색 -->
				<td>
				⊙ 발주처 :
					<input type="text" name="test" size="10" id="custCd">
					<button type="button" data-toggle="modal" data-target=".bs-example-modal-lg2"><i class="fa fa-search"></i></button>
					<input type="text" name="test" size="40" id="custNM">
						<!-- 발주처 리스트 내부조회 -->
					<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<form class="form-horizontal">
									<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" id="accountModal2"><span aria-hidden="true">×</span></button>
									<h4 class="modal-title" id="myModalLabel"><b>거래처코드조회</b></h4><br>
										<table class="table table-bordered">
											<tbody>
												<tr>
													<td>
														<label class="control-label">검색항목</label>
													</td>
													<td>
														<select class="form-control" style="width: 40%" id="businessSelectCust">
														<option>거래처코드</option>
														<option>거래처명</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>
														<label class="control-label">검색조건</label>
													</td>
													<td>
														<input type="text" id="CUST_CD">
														<button id="btnBusinessSearchCust" type="button"><i class="fa fa-search"></i></button>																	
													</td>
												</tr>
											</tbody>																	
										</table>
									</div>
									<div class="modal-body">
										<div class="table-responsive" style="overflow: auto; height: 400px;">
											<table class="table table-striped table-bordered table-hover jambo_table">
												<thead>
													<tr>
														<th>
															거래처코드
														</th>
														<th>
															거래처명
														</th>
													</tr>
												</thead>
											<tbody id="businessCustList">
											</tbody>																	
											</table>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</td>
				<td>
				⊙ 발주처구분 :
					<select id="selectGubun">
						<option value=""></option>
						<th:block th:each="B : ${selectGubun}">
						<option th:value="${B.LEVEL2_CD}">[[${B.LEVEL2_NM}]]</option>
						</th:block>
					</select>
				</td>
				<td>
				⊙ 업무범위/수준 :
					<select id="CLASS_GBN">
						<option value=""></option>
						<option value="11">A</option>
						<option value="12">B</option>
						<option value="13">C</option>
						<option value="14">D</option>
						<option value="15">X</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	<div class="x_panel"  style="color:black;">
		<div class="x_content">
			<div class="table-responsive">
					<div style="overflow:scroll; width:2600px; height:600px; padding:10px; background-color:;">
					
					<table class="table table-striped jambo_table bulk_action" border="1" id="myTable">
						<thead>
							<tr class="headings" >							<td class="column-title" style="width:300px;">프로젝트명</td>
							<td class="column-title" style="width:50px;">당선</td>
							<td class="column-title" style="width:50px;">탈락</td>
							<td class="column-title" style="width:50px;">무산</td>
							<td class="column-title" style="width:50px;">실시</td>
							<td class="column-title" style="width:200px;">위치/지번</td>
							<td class="column-title" style="width:100px;">PM</td>
							<td class="column-title" style="width:100px;">관리임원</td>
							<td class="column-title" style="width:100px;">PD</td>
							<td class="column-title" style="width:100px;">수주책임자</td>
							<td class="column-title" style="width:150px;">부서</td>
							<td class="column-title" style="width:150px;">발주처구분</td>
							<td class="column-title" style="width:200px;">발주처</td>
							<td class="column-title" style="width:100px;">수주구분</td>
							<td class="column-title" style="width:100px;">추정계약금액</td>
							<td class="column-title" style="width:100px;">작품제출일</td>
							<td class="column-title" style="width:100px;">종료구분</td>
							<td class="column-title" style="width:100px;">계약금액</td>
							<td class="column-title" style="width:100px;">대지(평)</td>
							<td class="column-title" style="width:100px;">연면적(평)</td>
							<td class="column-title" style="width:100px;">건축물용도</td>
							<td class="column-title" style="width:100px;">납품성과물</td>
							<!-- <td class="column-title" style="width:100px;">결정서입력자</td> -->
							</tr>
						</thead>
						<tbody id="list">
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
	<!-- Datatables -->
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../vendors/jszip/dist/jszip.min.js"></script>
    <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
	<script src="/build/js/fSelect.js"></script>
</th:block>
</html>