<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>2.2.3 승인된 승인 사업수행 결정서 예산 출력</title>
	<th:block th:include="layout/customHead"></th:block>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script>
	//사업성검토 검색2
		$(document).ready(()=>{
			$('#searchList').click(()=>{
				console.log('검색리스트출발!');
				const PRE_PJT_CD = $('#PRE_PJT_CD').val();
				const AREA_P = $('#AREA_P').val();
				const AREA_P2 = $('#AREA_P2').val();
				const UP_SU = $('#UP_SU').val();
				const UP_SU2 = $('#UP_SU2').val();
				$.ajax({
					url : '/businessYesanSearch2View',
					type : 'GET',
					data : {PRE_PJT_CD:PRE_PJT_CD,AREA_P:AREA_P,AREA_P2:AREA_P2,UP_SU:UP_SU,UP_SU2:UP_SU2},
					success : (list)=>{
						console.log(list+'<--list');
						let tr = '';
						$(list).each((index,item)=>{
							$('#list').empty();
							tr += '<tr>';
							tr += '<td>'+item.pjt_CD+'</td>';
							tr += '<td>'+item.svc+'</td>';
							tr += '<td>'+item.cust_NM+'</td>';
							tr += '<td>'+item.area_P+'</td>';
							tr += '<td>'+item.yarea_P+'</td>';
							tr += '<td>'+item.up_SU+'</td>';
							tr += '<td>'+item.down_SU+'</td>';
							tr += '</tr>';
						});
						$('#list').append(tr);
					}
				});
			});
		});
		
	</script>
</th:block>
<th:block layout:fragment="customBody">
	<!-- 검색 폼 -->
	<div class="col-md-9 col-xs-12" style="color:black;">
		<div class="page-title">
			<div class="title_left">
				<h2><b>사업성검토 검색2</b></h2>
				<h5><b>1.사업성검토 관리&nbsp;>&nbsp;&nbsp;1.2사업성검토예산 관리&nbsp;>&nbsp;&nbsp;1.2.3사업성검토 검색2</b></h5>	
			</div>
		</div>
	</div>
	<div class="x_content" style="text-align: right">
		<div class="btn-group" >
			<button class="btn btn-default" type="reset" id="searchList">조회</button>
			<button class="btn btn-default" type="button">입력</button>
			<button class="btn btn-default" type="button">수정</button>
			<button class="btn btn-default" type="button">삭제</button>
			<button class="btn btn-default" type="button">저장</button>
			<button class="btn btn-default" type="button">출력</button>
		</div>
	</div>
	<div class="col-md-12 col-xs-12" style="color:black;">
		<form method="post">
			<div class="x_panel">
				<div class="table-responsive">
					⊙ 검색조건　　
					⊙년도
					<input type="number" value="2019" id="PRE_PJT_CD">
					⊙ 연면적(평) :
					<input type="text" name="" value="0" id="AREA_P">~
					<input type="text" name="" value="0" id="AREA_P2">
					⊙ 지상층 :
					<input type="text" name="test"style="width:50px;" value="0" id="UP_SU">
					<input type="text" name="test" style="width:50px;" value="0" id="UP_SU2">
				</div>
			</div>
		</form>
	</div>
	<!-- 검색폼 끝 -->
	
	<!-- 출력 리스트 검색 시작 -->
	<div class="x_panel">
		<div class="x_title">
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="table-responsive">
				<div style="overflow:scroll; width:100%; height:600px; padding:10px; background-color:;">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th class="column-title">코드명</th>
							<th class="column-title">프로젝트명</th>
							<th class="column-title">발주자</th>
							<th class="column-title">대지면적(평)</th>
							<th class="column-title">연면적(평)</th>
							<th class="column-title">지상층</th>
							<th class="column-title">지하층</th>
						</tr>
					</thead>
					<tbody id="list">
					
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>