<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>기업카드 등록</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
	<font color="black">
		<div class="col-md-12 col-sm-6 col-xs-12" style="width:100%">
                <div class="x_panel">
                  <div class="x_title">
                    <h1>기업카드 등록</h1>
                    <button>조회</button>
                    <button>입력</button>	
                    <button>삭제</button> 
                    <button>저장</button> 	
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                          	◎검색조건　　
                          	⊙사원번호
							<input type="text" name=""> 
							<button>ㅁ</button>
							◎카드번호
							<input type="text" name=""> 
                          </th>                          
                        </tr>
                      </thead>                     
                    </table>					
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-6 col-xs-12" style="width:100%">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					<div style="overflow:scroll; width:100%; height:650px; padding:10px; background-color:;">
                    <table class="table table-bordered">
                      <thead>
                        <tr>                         
                          <th bgcolor=#EAEAEA>카드번호</th>
                          <th bgcolor=#EAEAEA>사원번호</th>
                          <th bgcolor=#EAEAEA>사원명</th>
                          <th bgcolor=#EAEAEA colspan="2">사용유무</th>
                          <th bgcolor=#EAEAEA>적요</th>
                          <th bgcolor=#EAEAEA>유효기간</th>  
                          <th bgcolor=#EAEAEA>특이사항</th>                   
                        </tr>
                        <tr>
                        	<th>123456789</th>
                        	<th>200921167</th>
                        	<th></th>
                        	<th><input type="checkbox"></th>
                        	<th>y</th>
                        	<th>우리은행(단디)</th>
                        	<th>__/__</th>
                        	<th>한도대출</th>
                        </tr>
                      </thead>
                      <tbody>
                                      
                      </tbody>
                    </table>
					</div>
                  </div>
                </div>
              </div>
              </font>                       
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
